[2018-10-10 20:01] justinwilaby commented on #616
This package is available in myget but should probably be published to NPM as well for the 4.1 release.

[2018-10-10 20:50] tsuwandy opened #648 "Dispatch CLI -- make sure Dispatch name <> name of LUIS sources"
Otherwise, we might override the current LUIS model with the Dispatch.

[2018-10-11 20:02] sgellock commented on #643
@justinwilaby what version of dotnet is installed on your machine?

[2018-10-11 21:15] dfavretto opened #650 "Dispatch '--prefix' argument"
## Tool
Name: LuisGen

## Describe the problem
The code implementation in LUISGen has been modified, and so the current implementation of the `--prefix` argument is no longer possible as of #564, so this PR will be closed.

## Describe the solution you'd like
Implement the `--prefix` argument for C# using a proper library.

[enhancement]

[2018-10-11 21:44] wiazur commented on #643
I'm getting a similar error on Windows 10. I have .NET 2.1.402 installed.

![luisgen error](https://user-images.githubusercontent.com/38537084/46835828-2a020800-cd64-11e8-9ec6-20c29d660748.PNG)

[2018-10-11 22:34] dfavretto opened #651 "LUISGen build failure in Travis"
## Tool
Name: LuisGen
Version: *2.0.0*
OS: *Windows 10 Pro V1803*

## Describe the bug
When building BotBuilder-Tools project, the message from `lerna` has an error when displaying LUISGen name.
![image](https://user-images.githubusercontent.com/23645105/46835668-4d897a80-cd85-11e8-9217-6bbfab409605.png (7 kB))

This is because the `package.json` is missing the **name** property. We traced the fil

[2018-10-11 23:48] cleemullins opened #653 "LUIS Gen build (via AzureDevOps) is broken."
The LuisGen build/signing seems to be broken. It’s been broken for about a week.

[code]
There are 3 levels of things that are wrong:

1.	Bad Path to LuisGEN.csproj in the Azure DevOps build and pack steps
	[Existing] Bad Path: packages/LUISGen/src/LUISGen/LUISGen.csproj
	[Revised] Right Path:  packages/LUISGen/src/LUISGen.csproj

2.	Incorrect signing key path:
[code]

The SNK file is defined in

[2018-10-11 23:50] #653 closed

[2018-10-11 23:55] cleemullins commented on #651
@dfavretto I just filed (and fixed) #653, which was a broken build of the LuisGen Nuget package.

You can see that the LuisGen Nuget package is now publishing to our [daily build feed](https://botbuilder.myget.org/feed/botbuilder-tools-daily/package/nuget/LUISGen).

... although the version # is wrong. :(

[2018-10-11 23:58] cleemullins opened #654 "LuisGen Nuget package has incorrect versioning scheme"
The LuisGen nuget package, which is pushed to the [botbuilder-tools daily feed](https://botbuilder.myget.org/feed/botbuilder-tools-daily/package/nuget/LUISGen), has an incorrect version numbering scheme.

Currently it's building and publishing: LUISGen 2.0.1

Given that the [published version on nuget.org](https://www.nuget.org/packages/LUISGen/) has a version of 2.0.0, the *correct* semver versio

[2018-10-12 00:52] #234 closed

[2018-10-12 00:53] vishwacsena commented on #313
@JuanAr - I see several PRs that have been merged. Closing this as complete. Let's file a new ticket for any scoped work that remains.

[2018-10-12 00:53] #313 closed

[2018-10-12 01:09] cleemullins commented on #654
Fixed in #656  (and in a fair bit of work in the Azure DevOps pipeline)

[2018-10-12 01:10] #654 closed

[2018-10-12 14:37] darrenj opened #657 "Ludown translate - Incorrect culture returns an undefined message"
## Tool
Name: MsBot

## Describe the bug
When performing ludown parse operations you can provide the LUIS culture. Our tools/products are not aligned on locale naming - e.g. zh-hans (simplified Chinese) is the typical standard but LUIS uses zh-CN. Passing what a user might think is the right locale results in a undefined error rather than a message saying to use a correct locale.

## To Reproduce

[2018-10-12 17:58] sgellock commented on #643
on a clean Win 10, with .net core sdk 2.1.403 and node v8.12.0 luisgen installation runs without errors, but luisgen is not installed.

[2018-10-12 18:14] wiazur commented on #643
I actually found a workaround, you can install the library directly from here: https://www.nuget.org/packages/LUISGen. So when I went to reinstall the other packages, they install fine. The problem is the Newtonsoft.Json link is broken, it gives a 404 (as shown in my stack trace). So not sure how to reconfigure that with the right link, but that was the problem.

[2018-10-14 15:03] garypretty commented on #633
I believe that 'luis update application' is only for updating the name / description.  To update your models intents, entities etc, you can use 'luis update version' and specify a version number using --versionId.

[2018-10-14 15:30] vishwacsena commented on #539
@fbeauchemin - you can use the .bot file to create a dispatch model and update the .bot file with the dispatch service reference using this command -

[code]

@tsuwandy - the ask here is that dispatch create and dispatch refresh use this order of precedence when creating/ refreshing the dispatch model - 1. bot file 2. dispatchrc file. Are there strong reasons why refresh cannot be handled with the

[2018-10-14 15:37] vishwacsena commented on #633
@ikivanc - you can try the following -
To import a new application version -
[code]
To rename application version -
[code]
To delete an existing application version -
[code]

There isn't a LUIS replace version API. You can import a new version or use rename + import + delete old version.

[2018-10-14 18:34] garypretty opened #659 "msbot update luis doesn't update version number"
## Tool
Name: Msbot
Version: 4.0.6-84
OS: Windows

## Describe the bug
Attempting to update the version number for the luis service using msbot leaves the version number unchanged.

## To Reproduce
Steps to reproduce the behavior:
1. Calling the command msbot update luis --id "general" --secret [MY_SECRET] --name "newname"
2. Name is updated as expected.
3. Calling the command msbot update luis --

[2018-10-14 19:37] garypretty opened #661 "Dispatch refresh doesn't use correct luis version number"
## Tool
Name: Dispatch
Version: 1.1.2-41
OS: Windows

## Describe the bug
Calling dispatch refresh --bot MyBot.bot --secret [my-secret] should refresh my dispatch model using the details within my .bot file. This fails for me because it is trying to use v0.1 for my luis model, however, this version doesn't exist as I have deleted it.  Entry is bot file shows correct version, 0.16, but running the

[2018-10-15 10:51] darrenj opened #662 "ludown translate/parse generated JSON file doesn't import into LUIS"
## Tool
Name: ludown
Version: 1.0.35-69
OS: Windows

## Describe the bug

When using `ludown translate` to convert an en .LU file to zh-hans and then performing `ludown parse` the resulting file cannot be imported into LUIS:

Conversation with the LUIS team highlights the following

[code]

## Expected behavior
The generated LU file imports into LUIS

## Screenshots
If applicable, add screenshots

[2018-10-15 16:32] fbeauchemin commented on #539
@vishwacsena you're right about the command and that's what we're using now. Prior to it, we had a `.dispatchrc` and that was creating the same *issue* as @darrenj.

[2018-10-15 16:33] tsuwandy commented on #539
I'll use this to update Dispatch to automatically search for .bot file if there's any so no need to specify .bot file...

[2018-10-15 20:32] muges01 opened #663 "MSA provision failure in msbot clone services"
I have test by running the following code

on the nightly build but i'm still getting the following error

WARNING: The behavior of this command has been altered by the following extension: botservice
WARNING: To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code DH5S36JC9 to authenticate.
ERROR: Unable to provision MSA id automatically. Please pass th

[2018-10-16 15:52] #659 closed

[2018-10-16 17:11] #628 closed

[2018-10-16 21:29] yochay opened #666 "When canceling msbot clone services, there is a .bot file left over (should be deleted?)"
## Tool
Name: [Msbot|
Version: *4.0.6-86*
OS: *Win10*

## Describe the bug
ran msbot clone services <>
and then cancel the operation. Pressed _n_  to cancel the operation.

There is an 'empty' (see hereunder) bot file

[code]

## To Reproduce
Steps to reproduce the behavior:
1. run msbot clone services
2. see the list of services to create
3. cancel the operation
4. observe the empty bot file

##

[2018-10-16 23:25] daveta opened #667 "msbot needs new switch to not prepend bot name"
## Tool
Name: Msbot

## Describe the problem
When you deploy LUIS resources with msbot, the bot name (botname with underscore) gets pre-pended to the LUIS name in the generated configuration.
The LUIS name is referenced in the samples, this makes it difficult to get something running out of the box without code fixups.

## Describe the solution you'd like
A new command line switch that will alter

[2018-10-17 14:56] britishbadger commented on #585
I've just spent 2-3 hours trying to figure this one out. Had no idea about eu.luis.ai. Changed the authoring key and hey presto it worked

[2018-10-17 21:01] joseques opened #670 "MSBot new parameters not reflected in the documentation"
## Tool
Name: [Msbot]

## Describe the problem
After the addition of the new options `--appId` and `--appSecret` in #639, the documentation for the `clone services` and `export services` commands is outdated and doesn't reflect all the options that are accepted by the tool

## Describe the solution you'd like
Add the missing options to the [export-clone.md](https://github.com/southworkscom/botbuil

[2018-10-17 23:15] muges01 commented on #663
Hi any updates regarding this?

[2018-10-18 00:12] mekinney opened #671 "msbot clone services fails do to "undefined" group name."
Name: Msbot

## Describe the bug
msbot creates an incorrect resource group name when creating cloning services.

## To Reproduce

This command line is used when deploying the Virtual Assistant Bot.  It has been edited to included appID and appSecret do to other issues.

[code]

Notice is creates a "-g undefined" option for some reason.  This happens when I use the groupname option also.

## Expect

[2018-10-18 00:59] gabog opened #672 "Disptacher: An application version with the same version ID (Dispatch.1) already exists"
I am using dispatcher to process several LUIS models and it is very unstable, sometimes it works and sometimes it fails with a 400 error (bad request) say that either:
An application version with the same version ID (Dispatch.1) already exists

or
An application version with the same version ID (Dispatch) already exists

I then need to go and cleanup the versions, I try again and it sometimes work

[2018-10-18 02:22] gabog opened #673 "Dispatch tool is dropping labeled utteranaces"
I am trying to create a dispatch model out of 8 luis models, I have a model with a single intent that has 8 labeled utterance.
But in the generated model, seven of those eight utterances got dropped and the dispatch intent for the model has only 1 utterance.
I tried some of the dropped utterances against the dispatch model and they get resolved to another model with 0.0x confidence.
Why would the

[2018-10-18 07:19] darrenj commented on #673
Testing a theory - can you attach the LUIS model that's showing this behaviour? Wondering if it uses patterns

[2018-10-18 08:41] britishbadger commented on #585
@darrenj - I'm a sucker for not reading the docs and thinking I know best, until I don't.

I'm still just trying to work out how things fit together at the minute especially with Azure and Ubuntu. I've been trying to see how much I can get away with in VSCode (Ubuntu) vs VisualStudio. The best conclusion I've come to is to set everything up in Azure and download the code, deviating from this seems

[2018-10-18 08:54] darrenj commented on #585
Me too on the docs point :-)  That route of downloading the code is OK for the simpler scenarios but anything more complex requires LUIS, Dispatcher, QnA, etc. hence we've been pushing on the msbot clone services route to simplify creation of bots out of the box and provision of templates.

[2018-10-18 12:42] joseques commented on #671
Please make sure that you are logged in with your Azure account with the command `az login`. You can check running `az account show` in a command prompt.

Also a bit more information like what version of MSBot are you using and running the command with `--verbose` would be useful.

[2018-10-18 12:44] gabog commented on #673
Hi, there are no patterns on the model that is getting things dropped from but there is one phrase list and a couple of entities defined.
There are patterns in some of the other models involved in the process. I can share the set offline if you guys need to take a closer look.
In general, I think the dispatch should do a better job reporting and validating issues, for example:
1. In addition to re

[2018-10-18 12:49] gabog commented on #672
FYI, I looked at the models I am trying to use with the tool and I think the problem is that the generated dispatch model is too big for LUIS and the import fails.
I manually tried to import the generated json into LUIS and I get a similar problem.

The error message changes based on the state of the dispatch versions but I think it is definitely a size problem and I can share the set of models we

[2018-10-18 14:16] mekinney commented on #671
Thanks for the quick response.  Meant to post the verbose version, sorry about that.  Output below including version, az login information, and verbose output.  All UPPERCASE indicate placeholders for the actual values I entered into the command line (authoring id, appid, and appsecret).

[code]

[2018-10-18 15:03] MarekLani opened #674 "How to set encyrption key for Bot Service"
## Tool
Name: Msbot

There is stated how to encrypt bot file, however there is no mention how to upload encryption/decryption key to bot service?
https://github.com/Microsoft/botbuilder-tools/blob/master/packages/MSBot/docs/bot-file-encryption.md

[enhancement]

[2018-10-18 15:18] joseques commented on #663
Please, check your command syntax, you missed `--` before the parameter `appSecret`
The correct syntax would be
`msbot clone services --name "EnterpriseBotDemo" --luisAuthoringKey "[myLuisKey]" --folder "DeploymentScripts\msbotClone" --location "westeurope" --verbose --appId "[myAppId]" --appSecret "[myAppSecret]"`

Also, if I'm not mistaken you'll need to update `msbot` with the nightly build sin

[2018-10-18 19:11] joseques commented on #671
Judging by your `az account show` output, it seems that you have your output format configured as a table instead of `json` format.
Try configuring it as shown [here](https://docs.microsoft.com/en-us/cli/azure/format-output-azure-cli?view=azure-cli-latest#set-the-default-output-format) using `json` as the output format.

MSBot parses the data as a JSON string and seems to be having some trouble pa

[2018-10-18 19:35] mekinney commented on #671
Yes, I have the default output set to table because it's easier for me to read.

Switching back to JSON fixed it.

Seems you should specify the  output format within the tool so changing my default doesn't impact it.

Thanks!

[2018-10-18 20:25] joseques opened #675 "Add --ouput json to Azure CLI calls in MSBot"
## Tool
Name: [Msbot]

## Describe the problem
As seen in #671 MSBot when running `az account show` during a `msbot clone services` operation, has trouble parsing the subscription data if the output format of the Azure CLI is set to any other type that isn't `json`, resulting in the error `ERROR: Resource group 'undefined' could not be found.`. This could possibly apply to any other operation invo

[2018-10-18 20:46] carlosscastro commented on #671
We will address this soon, but since this is duplicate of https://github.com/Microsoft/botbuilder-tools/issues/671, we will use that one to track the issue.

[2018-10-18 20:46] #671 closed

[2018-10-18 20:46] #667 closed

[2018-10-18 20:50] sgellock commented on #663
We believe it's fixed in the version @joseques mentions.  If you still experience the issue, please open a new issue and we'll provide additional help.

[2018-10-18 20:50] #663 closed

[2018-10-18 20:53] sgellock commented on #651
Fixed in the currently daily builds.

[2018-10-18 20:53] #651 closed

[2018-10-18 20:58] sgellock commented on #632
fixed in latest nightly builds.

[2018-10-18 20:58] #632 closed

[2018-10-18 22:17] Mmdixon opened #676 "Dispatch eval doesn't create a summary report."
## Tool
Name: Dispatch
Version: 1.1.2
OS: Windows 10 1803

## Describe the bug
The Dispatch `eval` command creates and trains 5 cross-validation LUIS models (in the luis.ai portal), and each one has a test set under `data\_experiments\model_001\cv5\fold00*\`, but I do not see any evaluation report in any of the directories, and the luis.ai portal reports the endpoints were never hit and there is n

[2018-10-19 14:00] muges01 opened #677 "How to change the pricing tier for the services being deployed?"
Hi,

I'm not sure where to post my question, so i pick the bug section to post it. Please advice me if i have posted in the wrong section.

## Tool
Name: [Msbot]
Version: 4.0.7-88
OS: Windows 10

## Describe the question
I'm using the following code to provisioning the enterprise bot.
msbot clone services --name "EnterpriseBotDemo" --luisAuthoringKey "[myLuisKey]" --folder "DeploymentScripts\msbot

[2018-10-19 17:07] dfavretto opened #678 "Travis build successful with failed publish task"
## Tool
Name: LuisGen
Platform: Travis - Linux - bash
Build Failing: [# 1575.1](https://travis-ci.org/Microsoft/botbuilder-tools/jobs/440256241#L1061)

## Describe the bug
When the CRON job fails in at least one of the tools, the build doesn't fail (which is fine), and neither does it show a message adverting about the failure in the publishing.

## To Reproduce
Steps to reproduce the behavior:
1.

[2018-10-19 17:09] dfavretto opened #679 "LUISGen dotnet tool is always installed globally"
## Tool
Name: LuisGen
Version: 2.0.0
OS: Windows 10 Pro

## Describe the bug
When using `npm install luisgen` command for installing the tool, it automatically installs it globally, no matter if I especify it to be installed globally or not.

## To Reproduce
Steps to reproduce the behavior:
1. Run `npm install luisgen`
2. The output in the terminal will show the command `dotnet tool install -g lui

[2018-10-19 17:19] dfavretto opened #680 "LUISGen npm package daily publish fails"
## Tool
Name: LuisGen
Version: 2.0.0
OS: Windows 10 Pro

## Describe the bug
The LUISGen publish step is failing in the Build Server; looking at the log, there's an error when executing the command `npm version` due to the `package.json` file missing some information. After some research, we realized this is the incorrect `package.json` to use in the publish step.

## To Reproduce
Steps to reprodu

[2018-10-19 17:20] dfavretto opened #681 "LUISGenTestJS dependencies not installed automatically"
## Tool
Name: LuisGen
Version: 2.0.0
OS: Windows 10 Pro

## Describe the bug
When trying to execute the tests in LUISGen, there's an error due to dependencies not installed inside the test folder.

## To Reproduce
Steps to reproduce the behavior:
1. Run `npm install && npm run build && npm run test` in BotBuilder-Tools folder
2. An error shows up saying `Cannot find type definition file for 'node'

[2018-10-19 17:36] nyxsys commented on #677
This is a good question, but it would be best to post it in stackoverflow, we will address it there and I'll start looking into it for that.
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/issues) repo  is the preferred 

[2018-10-19 17:36] #677 closed

[2018-10-19 20:15] sgellock commented on #681
we're pushing out new bits that fix this.

[2018-10-19 20:15] #681 closed

[2018-10-19 20:20] sgellock commented on #678
agree we could do something about this, but we won't so closing for now

[2018-10-19 20:20] #678 closed

[2018-10-19 20:37] sgellock commented on #588
user error

[2018-10-19 20:40] #583 closed

[2018-10-19 20:45] tsuwandy commented on #676
Hi, eval command works fine for me.  @Mmdixon, would you mind emailing your .dispatch file to tiens@microsoft.com?  Thanks so much in advance!

[2018-10-19 20:52] #321 closed

[2018-10-22 02:41] danielvi1787 opened #694 "msbot clone services fails when appSecret has a "|" (pipe)"
## Information:
* Tools Libraries: msbot clone services
* Libraries' Versions: 4
* OS: Windows

## Issue Description:
When using msbot clone services with --appSecret option and the password has a "|" (pipe) the command fails with message: The syntax of the command is incorrect.

## Commands Example:
msbot clone services --name "xxx" --luisAuthoringKey "xxx" --folder "C:\Users\xxx\Source\repos\San

[2018-10-22 13:02] joseques commented on #694
I'll add to the issue that having `!` in a password using a Linux based CLI, makes the console throw the error `“-bash: !”: event not found`

[2018-10-22 13:50] Zerryth commented on #627
Update: repo'd the issue, and hunted down the bug. Working on a fix

[2018-10-22 18:48] darrenj opened #695 "ludown tool should batch calls to translator"
## Tool
Name: Ludown
OS: Windows

## Describe the bug
When using ludown translate each utterance requires a roundtrip to the translator resulting in long translation times for large files and failures in some instances blocking use.

## Expected behavior

https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-translate?tabs=curl outlines a batch translation option. A b

[2018-10-22 21:55] darrenj commented on #475
A dispatch model is a dynamic thing, a bit like a compiled binary. For deployment and update scenarios we should build the dispatch from the dispatchDefinition (containing QnA and LUIS) ideally using the dispatch tool. dispatch create for creation and dispatch refresh for refresh. Otherwise managing the dispatch JSON representation is very hard work, you have to make changes to an LU file, publish

[2018-10-22 22:07] tsuwandy commented on #673
Latest dispatch deployed to npmjs.

[2018-10-22 22:07] #673 closed

[2018-10-22 22:17] #648 closed

[2018-10-22 22:18] tsuwandy commented on #676
Deployed to npmjs.

[2018-10-22 22:18] #676 closed

[2018-10-22 22:51] #662 closed

[2018-10-22 22:52] #631 closed

[2018-10-22 22:55] #674 closed

[2018-10-22 23:14] Mmdixon commented on #676
Thanks! 1.1.3 fixed this.

[2018-10-23 02:15] tsuwandy commented on #672
This is on the LUIS server side, import returned an error but app is actually created.  I have put in a workaround in Dispatch to handle this.  Will make sure LUIS server side has permanent fix.

[2018-10-23 02:15] #672 closed

[2018-10-23 20:32] joseques opened #700 "[MSBot] Error when using Git Bash"
## Tool
Name: [Msbot]
Version: *4.0.7-92*
OS: *Windows 10 Pro*
NPM: *6.4.1*
Node: *v10.10.0*
GIT: *2.18.0.windows.1*

## Describe the bug
Using the Git Bash (MinGW), after running some operations like `msbot init` or `msbot clone services` the tool throws the error
[code]
Note that not all parameters are affected. The `help`, `-v` and `secret` parameters seems to be unaffected but an in-depth anal

[2018-10-24 03:31] Zerryth commented on #627
Update 2:

### Part I

**Short version: Looks like we need to find the right method from _ms-rest-js_ module to call when handling response type "`stream`" in the LUIS CLI source code**

As per Chris, I will connect with southworks team and see if they have any guidance

[2018-10-24 03:31] Zerryth commented on #627
### Part II

Detailing investigation here to update BF team and also not repeat myself when connecting with southworks via email to discuss further:

Cloning the LUIS CLI repo, then looking at the `luis.js` file, you can find the switch case where it handles the various "`luis list`" commands (e.g. `luis list entities`, `luis list intents`, etc.). There I think 17 or so `luis list` commands total.

[2018-10-24 03:38] Zerryth commented on #627
### Part III
Reconfirming what @yanick1 had mentioned earlier, the LUIS Programmatic API portion works just fine

Tested via Postman, browser, and using creating a small node project to make a call directly to LUIS API without MS Rest. CSV downloaded successfully

Issue is definitely in the LUIS CLI, specifically with using ms rest properly

[2018-10-24 12:46] ShawnXiao105 opened #702 "Cannot show transcript by Bot Framework Emulator(V4 PREVIEW)"
## Tool
Name: [Chatdown]
Version: *1.0.11*
OS: *win10 pro*

## Describe the bug
I follow the tutorial to generate scripts by chatdown, but I cannot open it in Bot Framework Emulator

## To Reproduce
Steps to reproduce the behavior:
1. CD to examples folder
2. `chatdown  WhoAreYou.chat>WhoAreYou.transcript`
3. double click to open it by Bot Framework Emulator (V4 PREVIEW)

## Expected behavior
The

[2018-10-24 17:01] samirshaik opened #703 "msbot init doesn't work"
## Tool
Name: Msbot
Version: 4.0.7
OS: Windows 10 Professional

## Describe the bug
Tried to create a new .bot file using the command 'msbot init', but it hangs forever without giving a clue what is happening

## To Reproduce
Steps to reproduce the behavior:
1. clone https://github.com/Microsoft/BotBuilder-Samples.git
2. cd BotBuilder-Samples\samples\javascript_nodejs\12.nlp-with-luis
3. msbot ini

[2018-10-24 17:48] ran2078 commented on #596
I found the issue (after fixing the AppId etc) was with --location,
Azure QnA Maker (also other resources) not avilable outside westus
Try change the location of all resources to westus (or hand code a valid combination)

[2018-10-24 17:53] joseques commented on #703
This could be potentially related to #700

[2018-10-24 18:32] samirshaik commented on #703
You are right joseques. Behavior described above is very specific to gitbash. Tried with command prompt and the msbot cli worked as expected.

[2018-10-24 20:17] sgellock commented on #703
support, can we get a consistent repo as we have some on the team who are able to run msbot init from git bash.  maybe git bash version issue?

[2018-10-24 20:20] sgellock commented on #700
Probably the same issue as #703

[2018-10-24 20:21] sgellock commented on #703
going to track this issue with #700

[2018-10-24 20:21] #703 closed

[2018-10-24 21:08] vishwacsena commented on #614
Installing AZ via homebrew per the AZ CLI documentation fixes this issue. https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos?view=azure-cli-latest

[2018-10-24 21:08] #614 closed

[2018-10-24 21:20] tsuwandy commented on #641
Latest Dispatch with the requested feature is published to npmjs.

[2018-10-24 21:20] #641 closed

[2018-10-24 22:58] #627 closed

[2018-10-25 01:46] ShawnXiao105 commented on #702
@tonyanziano Thanks you very much! I DO NOT solve it through the method posted [here](https://github.com/Microsoft/BotFramework-Emulator/issues/931)

[2018-10-25 15:59] mburleigh commented on #702
I ran into the same thing this morning. As a workaround I'm just pasting in those values from an old transcript and fixing the values appropriately.

[2018-10-25 16:30] tsuwandy commented on #661
@garypretty, did you pass the .bot file to the refresh command? ie dispatch refresh -b {botfile}

[2018-10-25 17:06] garypretty commented on #661
Hi. Apologies for the slow reply. Yes, I passed the bot file to the dispatch refresh which is why I assumed it would look at that version number.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tien Suwandy <notifications@github.com>
Sent: Thursday, October 25, 2018 5:30:49 PM
To: Microsoft/botbuilder-tools
Cc: Gary Pretty; Mention
Subject: Re: [Microsoft/bo

[2018-10-25 17:10] tsuwandy commented on #661
Thanks for the confirmation @garypretty!

[2018-10-25 17:53] SSanjeevi opened #705 "Dispatch not using latest url for qna"
<
## Information:
* Tools Libraries: Dispatch Tool.
* Libraries' Versions:
* OS:  Windows
## Issue Description:
Dipatch tool not working for QnA .
QnA is taking westus url instead of azure subsite url for QnA which I got created in azure qna subscription.

How to pass url to dispatch tool inside dispatch file or any commands available.

## Commands Example:
dispatch create --bot filename.bot
## Re

[2018-10-25 18:12] justinwilaby commented on #702
The Emulator support chat files natively. Converting them beforehand using the chatdown cli is not necessary if all you plan to do with them is replay them in the Emulator.

[2018-10-25 19:54] swagatmishra2007 opened #706 "bot created with v4 sdk vsix fails with internal server error when published to azure - Need better endpoints"
## Tool
Name: v4 vsix

## Describe the bug
A clear and concise description of what the bug is.
If i create a local bot from v4 vsix , and then publish to an appservice, i get an internal server error on start up. This is because, the .bot file does not contain a "production" endpoint.
Please update the vsix to have a more clear indication to the user that the endpoint is missing , instead of an in

[2018-10-25 19:57] darrenj opened #707 "Ludown translate fails with a LU file targeting QnA"
## Tool
Name: Ludown
OS: Windows 10

## Describe the bug
Ludown reports following error when performing translation on a LUdown file using markdown and targeting creation of a QnA file.

[code]

## To Reproduce
Steps to reproduce the behavior:
1. ... ludown translate --in en\faq.lu -t zh-hans,de,fr,es,it -o . -k YOUR_KEY

## Expected behavior
Translation to complete successfully.

[bug]
[faq.zip](

[2018-10-25 20:45] tsuwandy commented on #705
@SSanjeevi, could you share you unencrypted bot file to tiens@microsoft.com?  Dispatch CLI works with any QnaMaker kb, so would like to see what's the entry like in your bot file.   Thanks.

[2018-10-25 21:32] darrenj opened #708 "Dispatch create fails with BadFileName if LUIS files don't have .json extension"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: 1.1.5-53
OS: Windows

## Describe the bug

When creating a dispatch file using the CLI, I add a number of LUIS models that have a .luis extension
[code]

When executing `dispatch create` I get this error:

[code]

Trial and error revealed that renaming my files to a .json extension enabled dispatch to find the files.

##

[2018-10-25 21:32] jwiley84 opened #709 "[MSBOT] Two options in appinsight connector options list are flagged '-s'."
## Tool
Name: Msbot
Version: 4.0.7
OS: ?

## Describe the bug
Running the command 'msbot connect appinsights' shows a list of keys to be added. There are two keys flagged with -s (subscriptionId and serviceName), leading to a error about not having a serviceName if it is used twice accidentally.

## To Reproduce
![image](https://user-images.githubusercontent.com/17333688/47531410-6d7b6c80-d862-11e

[2018-10-25 22:27] vishwacsena opened #710 "Ludown does not de-dupe patterns"
## Tool
Name: Ludown
Version: 1.0.36
OS: Windows 10

## Describe the bug
Duplicate patterns in .lu files are not de-duped by ludown

## To Reproduce
Steps to reproduce the behavior:
1. Create a .lu file with duplicate patterns
2. Run ludown parse

## Expected behavior
Ludown automatically de-dupes patterns

[bug]

[2018-10-26 01:34] cleemullins commented on #706
I'll iterate on the VSIX just after the 4.1 packages go live and do the following:

1. Update the package references to 4.1.
2. Provide a better error message. Note that @daveta believes this code is already done and just needs to be packaged and deployed.

Until then, leaving the VSIX "as-is".

[2018-10-26 15:28] mplwork opened #712 "qnamaker ignores proxy settings"
## Tool
Name: QnAMaker
Version: 1.0.33
OS: Windows 10

## Describe the bug
qnamaker doesn't use any of the node/npm proxy settings:

[code]
[code]
Any valid ECONNREFUSED would list 127.0.0.1:8888 as the address.

## To Reproduce
See above, set the environment variables and run the qnamaker command.

## Expected behavior
It should connect using the proxy.

## Additional context
Settings in `.npmrc`

[2018-10-26 16:11] mburleigh commented on #702
@justinwilaby I see that it should but the emulator will not let me assign folders in the resource pane (I've tried several different versions including the latest nightly 4.0.42335) so transcripts are my only option. When I get some time I will see if it's a known issue in the emulator.

[2018-10-26 17:17] darrenj commented on #710
Ran into this today :)

[2018-10-26 17:22] darrenj opened #713 "Powershell not able to connect authentication connection to Bot FIle using msbot"
## Tool
Name: Msbot
OS: Windows

## Describe the bug

Developers cannot use `msbot connect generic` to set Authentication properties when using PowerShell.

We provided this command which works fine in CMD
[code]

First issue is around quotes, adding single quotes around the JSON helps

[code]

But then you get a `SyntaxError: Unexpected end of JSON input`

After trial and error it's the spaces in

[2018-10-26 20:40] Zerryth commented on #700
Using JJ (2.18.0) & I (2.19.1) were able to repro'd in #703, where

![image](https://user-images.githubusercontent.com/35248895/47590544-649da000-d921-11e8-8f1b-dd674d7713ea.png)

Dana, using a VM, used 2 older versions of git and got the following errors:
_git version 2.15.0.windows.1_
![image](https://user-images.githubusercontent.com/35248895/47591397-4d13e680-d924-11e8-88e6-03ec0b10079e.png)

[2018-10-26 20:47] dmvtech commented on #700
I also tried 2.17.1 on Ubuntu and it was successful
![unix_msbot_git](https://user-images.githubusercontent.com/43397658/47591734-8c8f0280-d925-11e8-92d4-689a5367f4b0.PNG)

[2018-10-26 21:02] jameslew opened #714 "Tools are not configured to adapt to different endpoints across sovereign clouds"
## Tool
Name: BotConfig
Version: *tool version*
OS: *os version*

## Describe the bug
Thread:

In gov my bot file has this in it for Luis:

{
      "appId": <secretz>,
      "authoringKey": <secretz>,
      "version": "0.1",
      "region": "virginia",
      "type": "luis",
      "name": "BasicBotLuisApplication",
      "id": "5"
    }

But Luis doesn’t seem to be working. Does this line in the SD

[2018-10-27 00:08] dmvtech commented on #712
I noticed your SSL proxy was not https. If you change that, does it work?

https-proxy = "http://localhost:8888/"

To:

https-proxy = "https://localhost:8888/"

[2018-10-27 02:04] digitaldias opened #715 "[MSBOT] --key parameter is ignored for CosmosDb"
## Tool
Name: Msbot
Version: 4.0.7
OS: Microsoft Windows [Version 10.0.17134.345]

## Describe the bug
Using MSBot to connect to CosmosDB, does not recognize -k or --key parameter.

## To Reproduce
Steps to reproduce the behavior:
1. Create a CosmosDB in the Azure Portal
2. Ensure you have an existing .Bot file to add CosmosDB Config to
3. Start by adding MSBot connect cosmosdb -n "MyCosmosDB", th

[2018-10-27 12:47] dividor commented on #641
Woah! Fantastic! Thanks.

[2018-10-27 21:27] #710 closed, assigned to vishwacsena

[2018-10-28 21:30] vishwacsena opened #720 "Azbot bot show command with --msbot fails"
## Tool
Name: AZ BOT
Version: AZ CLI: 2.0.46; botservice: 0.4.1
OS: *os version*

## Describe the bug
AZ bot show command optionally accepts a --msbot argument that can spit out the ABS configuration in a format that can be consumed by msbot.
az bot show --msbot fails ..

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Install the latest AZ CLI and botservice extension
2. az login
3. t

[2018-10-28 21:37] vishwacsena opened #721 "Cannot view MSA app password for a bot created through az cli"
## Tool
Name: AZ BOT
Version: AZ CLI: 2.0.46, botservice: 0.4.1
OS: Windows 10

## Describe the bug
Cannot view MSA app when I click on 'manage' in Ibiza bot settings page for a bot created using az bot create

## To Reproduce
Steps to reproduce the behavior:
1. Install the latest AZ CLI and bot extension
2. create a v4, nodejs bot - e.g. az bot create -k webapp -n cafebottest -g testCafeBot --lan

[2018-10-28 21:46] vishwacsena opened #722 "No bot file created for v4 node bot - az bot create"
## Tool
Name: az bot create
Version: Az cli 2.0.46, botservice: 0.4.1
OS: Wind10

## Describe the bug
Created a new v4 bot using az bot create. The new bot created does not run and does not include a .bot file (confirmed through online code editor as well as via az bot download).

## To Reproduce
Steps to reproduce the behavior:
1. Install the latest az CLI and botservice extension
2. az login
3.

[2018-10-29 01:32] yochay opened #723 "[DCR] - make --lang flag mandatory and not optional with C# as default"
## Tool
Name: [AZ bot create]
Version: Az cli 2.0.46
Win10

## Describe the problem
Az bot create defaults to Csharp (V4?). When creating a new bot it deploys C# webapp, which is a when deploying node.js code.

az bot create --verbose --resource-group YKtestRG --name testAZcliCreatebot --kind webapp

## Describe the solution you'd like
Make --lang flag as mandatory and not optional 'forcing' devel

[2018-10-29 20:49] gnoto96 commented on #641
Following up on issue

##Tool
Name: Dispatch
Version: 1.1.5
OS: Windows 10

##Describe the bug
Downloaded new version of **botdispatch** package (1.1.5) to try to incorporate patterns and entities, yet I continue to get the following error when attempting to import the dispatch model to LUIS:

ERROR: Failed importing <modelname> app

##To Reproduce
This came up both when trying to use 'dispatch **

[2018-10-29 20:54] yochay commented on #723
Only for Web App bots

[2018-10-29 20:56] gnoto96 commented on #641
@tsuwandy
Following up on issue

## Tool
Name: Dispatch
Version: 1.1.5
OS: Windows 10

## Describe the bug
Downloaded new version of **botdispatch** package (1.1.5) to try to incorporate patterns and entities, yet I continue to get the following error when attempting to import the dispatch model to LUIS:

**ERROR: Failed importing (modelname) app**

## To Reproduce
This came up both when trying to

[2018-10-29 21:06] tsuwandy commented on #641
@gnoto96, I'm guessing the patterns in one of the child models use ML entities? i'm working to merge the labeling at the utterance level at the moment.  If you could share your .dispatch file (email to tiens@microsoft.com) or the exported child models, I could make sure that the new fix will handle your sub models.  Thanks very much!

[2018-10-30 10:38] ShawnXiao105 commented on #183
I still cannot create the bot by adding the parameter appId and appSecret.

[2018-10-30 16:19] tsuwandy commented on #708
This has been fixed and will be deployed to npmjs today or tomorrow at the latest.

[2018-10-30 16:19] #708 closed

[2018-10-30 16:20] tsuwandy commented on #708
Forgot to add that file extension will no longer matter, it could be .json or .luis or .qna (or anything really).  We'll just try to deserialize it to the right type.  Thanks!

[2018-10-30 18:12] tsuwandy commented on #661
found the bug, will try to get the fix out by tomorrow.  Thanks @garypretty for reporting!

[2018-10-30 22:17] dmvtech commented on #700
Windows 10 'installed' Git for Windows Bash
====================================
MSBot version: 4.0.7
git version: 2.19.1.windows.1
npm version: 6.4.1
node version: v10.12.0
result: **success**

Windows 10 'installed' Git for Windows CMD
====================================
MSBot version: 4.0.7
git version: 2.19.1.windows.1
npm version: 6.4.1
node version: v10.12.0
result: **success**

Windows 10

[2018-10-30 22:46] ryanvolum commented on #723
FYI: this DCR should hopefully fix the downstream doc issue here: https://github.com/MicrosoftDocs/bot-docs/issues/466

[2018-10-30 22:53] ryanvolum opened #725 "No TypeScript support for bot creation"
## Tool
Name: [AZ bot create]
Version: Az cli 2.0.46
Win10

## Describe the problem

Related to #723, but addresses a different issue. The --lang flag takes "Node", but **Node is not a language**, it's a runtime. I don't mean to be pedantic here, but Node can be either JavaScript or TypeScript, which each have different build/deployment processes.

I've yet to successfully deploy a TypeScript bot

[2018-10-31 00:40] #707 closed

[2018-10-31 15:53] darrenj opened #727 "msbot clone services should check for bot name collision ahead of deployment"
## Tool
Name: MsBot
OS: Windows

## Describe the bug

The msbot CLI doesn't check to see if the provided Name for a bot already exists before attempting deployment. When it hits the error it reports the following confusing message, not clearly saying that the name already existed:

[code]

Running `az group deployment operation list --name MyBot -g MyBot --query "[*].properties.statusMessage"` ret

[2018-10-31 16:07] darrenj opened #728 "[DCR] msbot clone services should publish the Bot to the Azure resource"
## Tool
Name: Msbot

## Describe the bug
When executing msbot clone services it creates all the resources but doesn't publish the project (e.g. az bot publish) but instead leaves a "echo bot" sample which causes a lot of confusion when people connect to the production endpoint not realising they have to publish manually

## To Reproduce
Steps to reproduce the behavior:
1.Run msbot clone services
2

[2018-10-31 20:25] stevengum commented on #712
I set the environment variables:
[code]
And used the following command in the Node.js dispatch sample:
[code]

Which succeeded with no problems...

I couldn't get a repro; @Zerryth, @stevkan or @nyxsys can any of you get a repro on this?

[2018-11-01 00:12] tsuwandy commented on #539
Latest dispatch is deployed.

[2018-11-01 00:12] #539 closed

[2018-11-01 06:39] arafattehsin opened #732 "Chatdown for all the supported channels"
## Tool
Chatdown

It has been a great tool for prototyping but it lacks a cool (attractive) graphical look and feel to the clients. Not every client is in favor of WebChat control which is currently somewhat similar to our SDK 4 Emulator.

## Suggestion
Within the emulator, we should be able to switch to different channels (like Channel Inspector) and the respective UI for that channel will be dis

[2018-11-01 06:47] arafattehsin opened #733 "Chatdown Designer"
## Tool
Chatdown

Currently, we have to write down all the chatdown scripts manually.

## Suggestion
I think it would enhance the tool if we can have ChatDown Designer similar to what we have in AdaptiveCards now.

[2018-11-01 10:09] ravriel opened #735 "Emulator fails to open file with a "~{" in string value"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.1.0

## Describe the bug
Emulator fails to open a .bot file if the file contains a string value with "~{" (without quotes).
For example, this file fail

[2018-11-01 17:05] tsuwandy commented on #661
updated CLI with this fix was published to npm yesterday.

[2018-11-01 17:05] #661 closed

[2018-11-01 18:36] CoHealer commented on #712
@dmvtech set his https-proxy config to "**https**://localhost:8888/". @stevengum, it looks like you didn't:

`HTTPS_PROXY=http://localhost:8888`

Does this repro with that configuration set to https?

[2018-11-01 18:59] dmvtech commented on #712
I've ran a few more tests, just to make sure I had all my own ducks in a row.

I configured:
NODE_TLS_REJECT_UNAUTHORIZED=0
HTTP_PROXY=http://localhost:8888
HTTPS_PROXY=http://localhost:8888

Tested, no Fiddler running. Success.
Tested, with Fiddler running/capturing (port 8888). Success. But do not see traffic in Fiddler.

Changed configuration:
NODE_TLS_REJECT_UNAUTHORIZED=0
HTTP_PROXY=http://lo

[2018-11-02 18:52] vishwacsena commented on #735
Tracked via Microsoft/botbuilder-tools#735

[2018-11-02 19:01] vishwacsena commented on #735
The switch to read-txt-file was done via PR #169 - that switch was done since users can author input files - .chat/ .lu using any text editor and save them in non UTF-8 format.

We probably need to find a different library that does not expose the issue that's reported in this bug.

[2018-11-02 19:02] vishwacsena commented on #735
The switch to read-txt-file was done via PR #169 - that switch was done since users can author input files - .chat/ .lu using any text editor and save them in non UTF-8 format.

We probably need to find a different library that does not expose the issue that's reported in this bug.

[2018-11-02 19:11] carlosscastro commented on #715
@digitaldias I just tried this with the latest sources and works for me with a real cosmos db key. Did your key include any special characters that needed to be escaped?

[2018-11-02 20:01] vishwacsena commented on #732
Tracked via Microsoft/botframework-emulator#599

[2018-11-02 20:01] #732 closed

[2018-11-02 20:02] #695 closed

[2018-11-03 01:32] tomlm opened #736 "msbot clone ignores --subscriptionId paramter"
## Tool
Name: msbot
Version: latest
OS: all

## Describe the bug
msbot clone services --subscriptionId

## To Reproduce
Try to clone with a subscription but your az account set to a different subscription.  Resources will be created in the current **az account** subscription instead of in the one specifiedin the command line parameter.

## Expected behavior
It should create resources in the subscr

[2018-11-03 23:48] #642 closed

[2018-11-04 16:19] #670 closed

[2018-11-05 20:49] #736 closed

[2018-11-06 01:20] stevkan commented on #369
@brharr, are you still experiencing issues in exporting the kb?

[2018-11-06 04:29] svarcoe commented on #596
Found out that you must be authenticated with a Microsoft Live account, otherwise you will run into this error. AD accounts will not be able to create apps automatically or manually. @virajpangam's work around is good if you have a live id.

[2018-11-06 12:21] sorgina13 commented on #615
I am still getting the same error as per the first entry!

[2018-11-06 16:42] Joll59 opened #738 "[MSBOT] Dependent on latest AZ CLI."
## Tool
Name: [Msbot]
Version: 4.0.7
OS: Win 10

## Describe the bug
Msbot is dependant on the latest version of Azure CLI (AZ CLI), no mention in the documentation of this requirement, it is the cause of multiple errors/issues.

## Solution:
Document & Msbot checks and throws an error.

## To Reproduce
Steps to reproduce the behavior:
1. Have an outdated azure CLI, ( azure classic CLI)
2. run `ms

[2018-11-06 16:49] Joll59 commented on #511
@sgellock

a duplicate of which issue?

[2018-11-06 21:10] fbeauchemin opened #739 "Error when using dispatch refresh"
## Tool
Name: [Dispatch]
Version: *1.1.6*
OS: *Windows 10 Pro*

## Describe the bug
When trying to refresh my dispatch, I get the following:

[code]
Note: Actual services / app name were replaced by `...`

## To Reproduce
Steps to reproduce the behavior:
1. dispatch refresh -b .\my.bot --dataFolder .\.tmp

## Expected behavior
My dispatch LUIS app is refreshed correctly.

## Additional context
Is

[2018-11-06 21:29] sgellock commented on #728
@carlosscastro let's talk about the behavior and how we want customers to reason about az bot create, etc.

[2018-11-06 21:43] Kaiqb commented on #738
@carlosscastro - I've updated the readme, but the bug has additional items that need to be addressed. Assigning it to you per Scott.

[2018-11-06 21:44] stevkan commented on #712
@dmvtech, I noticed your using Node v8.12.0. I just tried to repro and it succeeded in creating the kb with no errors. I am using Node v10.3.0. Could you update and try again?

[2018-11-06 23:39] swagatmishra2007 commented on #615
@sorgina13  what is your core cli version? Can you run `az --version`?
See the topmost line of the output. It should be azure-cli (2.0.45) or greater.

[2018-11-07 00:15] justinwilaby opened #741 "Chatdown - Missing "from" property in first Activity"
The Chatdown CLI sometimes creates the first activity with null `from` properties which breaks the Emulator (and probably WebChat).

The left-hand transcript was created with Chatdown v1.0.9 while the right-hand transcript was created with v1.0.11:
![image](https://user-images.githubusercontent.com/2652885/48102270-1d47c700-e1df-11e8-96cb-5c8bb489483f.png)

[2018-11-07 00:19] tonyanziano commented on #741
Related issue: #702

[2018-11-07 00:38] justinwilaby commented on #741
I got background from @vishwacsena on this issue. This is per protocol and WAD. Emulator and WebChat need to adopt the changes.

[2018-11-07 05:49] carlosscastro commented on #738
Perfect @Kaiqb @sgellock I'll put a fix for this before EOW :)

[2018-11-07 10:18] sorgina13 commented on #615
@swagatmishra2007 , thanks for your reply. It is indeed azure-cli (2.0.35). How do I upgrade it?

[2018-11-07 10:52] mplwork commented on #712
I'd want to maybe clarify my report a little. If you don't see traffic in Fiddler then Fiddler isn't used and if you don't have a corporate proxy to block Internet access `qnamaker` will always succeed. So not seeing traffic in Fiddler proves my point.

[2018-11-07 10:59] sorgina13 commented on #615
sorted! just downloaded the latest msi and reinstalled!

[2018-11-07 17:21] tsuwandy commented on #739
@fbeauchemin, would you mind sharing your .bot/.dispatch file to tiens@microsoft.com so I could try to repro?  i'm guessing the child LUIS app(s) make use of patterns and there's something there causing issues.  thank you!

[2018-11-07 21:19] vishwacsena commented on #741
Dupe of #702. The right fix here is in webchat and so assigned that to @compulim

[2018-11-07 21:19] #741 closed

[2018-11-07 21:42] danuw commented on #702
Everything seems to point at the fact that 1.0.11 has an issue so I downgraded to 1.0.10 until I have a reason to upgrade if that is useful to anyone
[code]

[2018-11-07 21:48] vishwacsena commented on #702
@danuw - yes. that's the appropriate temporary workaround while we can address this E2E.

[2018-11-07 23:53] vishwacsena opened #742 "[LUIS CLI] Include tool and version identifier in User-Agent header on all calls to LUIS APIs"
LUIS-CLI

Is your feature request related to a problem? Please describe.
Today, we do not have any view into LUIS traffic that are driven by botbuilder. LUIS service instruments all calls to the service and can report on User-Agent to identify the specific client.

Describe the solution you'd like
On all calls to LUIS service, include User-Agent header with the following value -
botbuilder/cli/lui

[2018-11-08 00:00] vishwacsena opened #743 "[Dispatch CLI] Include tool and version identifier in User-Agent header on all calls to LUIS APIs"
Dispatch-CLI

Is your feature request related to a problem? Please describe.
Today, we do not have any view into LUIS traffic that are driven by botbuilder. LUIS service instruments all calls to the service and can report on User-Agent to identify the specific client.

Describe the solution you'd like
On all calls to LUIS service, include User-Agent header with the following value -
botbuilder/cli

[2018-11-08 00:06] lauren-mills opened #744 "Ludown: Ability to pull all utterances from all intents in a child file"
## Tool
Name: ludown

## Describe the problem
I would like to build a dispatch luis model using .lu files and have it automatically pull in all utterances from all intents so I only have to update my intents in one place.

## Describe the solution you'd like
I would like a command that can pull in all utterances regardless of intent from a .lu file. Something like this:

[code]

## Describe altern

[2018-11-08 00:15] lauren-mills opened #745 "Ludown: referencing intents from other files does not include patterns"
## Tool
Name: ludown
Version: 1.0.36

## Describe the bug
When referencing intents from other .lu files like this:
`- [my intent](model.lu#AddToDo)`

Any patterns using that intent are not included in the resulting .json file after running `ludown parse toluis`.

They are included when referencing utterances using patterns directly like this:
`- add a task to {task}`

## Expected behavior
When ref

[2018-11-08 05:37] dawwa opened #746 "Luisgen ERR! Exit status 2147516561- luisgen@2.0.2 install: `dotnet tool install -g LUISGen`"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: 2.0.2
OS: Windows 10
NPM: 6.4.1

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. prepare a package.json and include luisgen
2. run npm install
3. remove luisgen from the package.json
4. run npm install luisgen -g

## Expected behavior
properly i

[2018-11-08 06:54] luiscantero opened #747 "list/get explicitlistitems not available"
## Tool
Name: [LUIS]
Version: 2.0.13
OS: Windows 10.0.17763.55

luis CLI shows inconsistent command usage information. It is not possible to list all explicit list items for a Pattern.any entity.

## To Reproduce
Steps to reproduce the behavior:
Running `luis list`
Returns *explicitListItem**s*** as an available resource

Running `luis list explicitListItems`
Shows the usage *luis **get** explicit

[2018-11-08 17:35] carlosscastro commented on #715
Closing this as I could not repro. @digitaldias Feel free to asnwer my question above and reopen if you want to keep discussing. I gave this a try and worked without issues for me.

[2018-11-08 17:35] #715 closed

[2018-11-08 17:42] CoHealer commented on #743
Duplicate of issue #742

[2018-11-08 17:43] dmvtech commented on #713
Hi Darren,

I have found that the workaround needs some tweaking. It apparently needs to have some some linefeeds/carriage returns to the string. The easiest way in script is to convert it to a PSCustomObject and back to a string. That does work. Additionally, the escape character \ is not needed. Here's what I tried:

[code]

At this point $keys will output:

[code]

Then you can run:
`msbot conn

[2018-11-08 17:44] dmvtech commented on #713
The above workaround should be your solution. Unfortunately there are no more elegant ways of doing this at this time. I am closing the issue since this should unblock you. Feel free to reopen if this does not quite solve your scenario.

[2018-11-08 17:44] #713 closed

[2018-11-08 17:51] vishwacsena commented on #743
We need two separate tickets one for the LUIS CLI and another for Dispatch CLI. that distinction was in the issue description but please feel free to add to the title if needed.

[2018-11-08 18:17] CoHealer commented on #743
My bad Vishwac, I didn't see that distinction in the description. I've removed the duplicate tag. Dispatch-CLI in the label and description seems fine to me!

[2018-11-08 18:43] justinwilaby commented on #746
related to #643

[2018-11-08 19:16] gnoto96 commented on #641
@tsuwandy Hello,
Any updates on this? Haven't attempted to refresh the dispatcher w/ the new package since the error. We would still very much like to import our entities and patterns from the child models as our dispatch models are not as strong without these.
Thanks for the help!

[2018-11-08 21:13] tsuwandy commented on #739
Dispatch 1.1.8 is published with this fix.  Please let me know if you are still seeing the import error.  Thanks!

[2018-11-08 21:13] #739 closed

[2018-11-08 21:14] tsuwandy commented on #641
@gnoto96, the latest Dispatch is published to npmjs.  Please try it out and let me know if you are still seeing issues.  Thank you!

[2018-11-08 23:55] gnoto96 commented on #641
@tsuwandy
Hey! I updated the models with the new package (1.1.8) and all the entities and patterns from the child-models transferred flawlessly! Thank you so much for the help :D

[2018-11-09 12:48] mplwork commented on #700
FYI this also doesn't work in a cygwin shell. Powershell tries to get the answers from a console but cygwin only has ptys. I guess the same is true for gitbash.

[2018-11-09 16:47] fbeauchemin opened #751 "Error when deleting luis version using msbot get as input"
## Tool
Name: [LUIS]
Version: *2.0.13*
OS: *Windows 10 Pro*

## Describe the bug
When running `msbot get <SERVICE-ID-OR-NAME> | luis delete version --stdin` I get the following:

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Run `msbot get ServiceName | luis delete version --stdin`

## Expected behavior
The specified version in the .bot file is delete from the LUIS app.

## Additiona

[2018-11-09 17:22] Zerryth commented on #747
Found the issue in the CLI

So there should be 2 different commands:
1. to get the _entire_ list of Explicit List Items
2. To get only _1 single_ Explicit List item for the `Pattern.any` entity

Currently there's only 1 command coded (the one that gets only 1 Explicit List Item)

Working on fix

[2018-11-09 17:50] tomlm commented on #712
https://github.com/Azure/ms-rest-js/issues/169

[2018-11-09 23:39] sgellock opened #753 "Deployed bot created via File -> New project -> VSIX template fails to run in Azure"
## Tool
Name: VSIX
Version: 4.0.6.6
OS: Windows

## Describe the bug
Deployed bot created via File -> New project -> VSIX template fails to run when published to AppService due to missing "production" endpoint configuration in .bot file

## Additional context
Both the Echo and the Basic bot VSIX templates include a .bot file along with startup code that attempts to load this file and confirm prope

[2018-11-09 23:42] sgellock commented on #706
also tracked with #753

[2018-11-09 23:46] sgellock opened #754 "VSIX bots created with space in assembly name fail to deploy"
## Tool
Name: VSIX
Version: 4.0.6.6
OS: Windows

## Describe the bug
Deployed bot created via File -> New project -> VSIX template fails to run when published to AppService due to space in assembly name

## Additional context
If a developer simply creates a new bot using File -> New Project and selects the VSIX templates and does not change the name of the project it will ultimately fail to run wh

[2018-11-09 23:59] Zerryth commented on #747
Alright, I have the command `luis get explicitListItems --entityId <Entity GUID>` squared away, however need to fix the help documentation in the CLI before making PR

[2018-11-10 00:04] sgellock opened #755 "msbot clone does not provide a way to deploy code"
## Tool
Name: Msbot
Version: all versions
OS: all supported OS's

## Describe the bug
Using the msbot tools or the Azure CLI, nothing is actually deployed. Resources are "cloned", but code is not pushed.

## Additional context
If developers manage to make their way through scattered deployment documentation, they will then discover that the deployment process is actually not working. Using the msb

[2018-11-10 00:08] sgellock opened #756 "az bot create should make --lang required and support --code-dir flag"
## Tool
Name: Az bot create
OS: all supported OS's

## Describe the bug
If developers manage to make their way through scattered deployment documentation, they will then discover that the deployment process is actually not working. Using the msbot tools or the Azure CLI, nothing is actually deployed. Resources are "cloned", but code is not pushed. Instead a C# echobot is configured (even when depl

[2018-11-10 06:15] luiscantero commented on #747
Thanks, and is `luis list explicitListItems --entityId <Entity GUID>` going to be an alias of it?
The help and the (github) doc also need to be consistent on this.

[2018-11-10 15:10] sgellock opened #758 "VSIX template generated projects should not include StyleCop/Code Analysis rules"
## Tool
Name: VSIX
OS: Windows

## Describe the bug
As with the StyleCop bug, not every JavaScript developer uses the same rules or even uses a linter. It's important to use a linter in developing samples to achieve a consistent style, but including them in samples will throw developers off.

[bug]

[2018-11-10 15:49] sgellock opened #759 "Incorrect error thrown when we don't have the az botservice"
## Tool
Name: Msbot az botservice
OS: all supported OS's

## Describe the bug
When running msbot clone, users get an error that says "You need to upgrade your az botservice version". When you try to upgrade, you then learn that you don't have the az botservice, and have to download it.

## Additional context
I think we also need to make sure our docs are very clear on what the min-version of .net

[2018-11-11 03:58] AzureDataGeek opened #760 "Dispatch Refresh on Enterprise Template renames I_General to I_Botname_General (Breaks Bot)"
## Tool
Name: Dispatch
Version: 1.1.8

## Describe the bug
Dispatch renames the Intent listing from I_General to I_BotName_General.  This breaks the Enterprise Bot Template.

## To Reproduce
Steps to reproduce the behavior:
1. Deploy an Enterprise Bot Template
2. Test Bot and it works fine
3. Run Dispatch Refresh
4. Bot is broken

## Expected behavior
A clear and concise description of what you ex

[2018-11-11 04:00] AzureDataGeek commented on #760
When running dispatch refresh on a newly deployed Enterprise Bot Template, dispatch renames the intent from I_General to I_BotName_General.  This breaks the Enterprise Bot

[2018-11-12 21:01] vishwacsena opened #761 "[QnAMaker CLI] Include tool and version identifier in User-Agent header on all calls to QnA Maker APIs"
## Tool
Name: QnAMaker
Is your feature request related to a problem? Please describe.
Today, we do not have any view into QnA Maker traffic that are driven by botbuilder. QnA Maker service instruments all calls to the service and can report on User-Agent to identify the specific client.

Describe the solution you'd like
On all calls to QnA Maker service, include User-Agent header with the followin

[2018-11-12 22:39] tsuwandy commented on #760
I'm going to close this since Dispatch behaves as expected given entries in the bot file.  Will follow up with Darren/Lauren on enterprise bot side.

[2018-11-12 22:47] #738 closed

[2018-11-13 00:40] drub0y opened #762 "msbot connect bot fails when appPassword contains special characters"
## Tool
Name: MSBot
Version: 4.0.7
OS: Windows 10 (PowerShell Core CLI)

## Describe the bug
I received an appPassword of "`>;RANDOMWHATEVER`" when I created my bot and whenever I would run `msbot connect bot` with the `--appPassword ">;RANDOMWHATEVER" it would error out with:

[code]

## To Reproduce
Steps to reproduce the behavior:
Run `msbot connect bot` with an `--appPassword` that starts with

[2018-11-13 01:06] vishwacsena commented on #745
Closing since #752 has been merged to master. I've reached out separately to Lauren to validate that the fix meets her requirements.

[2018-11-13 01:06] vishwacsena commented on #744
Closing since #752 has been merged to master. I've reached out separately to Lauren to validate that the fix meets her requirements.

[2018-11-13 01:32] sgellock commented on #738
@carlosscastro if we have a fix that needs to go into master, are we tracking that work with a different Issue?  I guess I'm just trying to understand why we closed this ticket if there is remaining work

[2018-11-14 14:33] mickallen commented on #512
I am having the same issue @darrenj what did you do to resolve this?

[2018-11-14 14:40] darrenj commented on #512
You might have an old version do the emulator. Try the latest version from here: https://github.com/Microsoft/BotFramework-Emulator
________________________________
From: mickallen <notifications@github.com>
Sent: Wednesday, November 14, 2018 6:33:03 AM
To: Microsoft/botbuilder-tools
Cc: Darren Jefford; Mention
Subject: Re: [Microsoft/botbuilder-tools] Refresh access token failed with status: 401

[2018-11-14 15:16] mickallen commented on #512
Thanks @darrenj I'll give that a try and post back

[2018-11-14 16:53] damadei opened #766 "Unable to install luis-cli: error TS5057: Cannot find a tsconfig.json file at the specified directory: '.'."
## Tool
Name: LUIS
Version: ?
OS: windows 10

## Describe the bug
Unable to install LUIS-Cli, it results in the error attached.

## To Reproduce
Not sure

## Expected behavior
Install without error
[error_luis_cli.txt](https://github.com/Microsoft/botbuilder-tools/files/2581742/error_luis_cli.txt)
[bug]

[2018-11-14 19:44] dawwa commented on #746
Hi, @ahmedlhanafy , is there any workaround for this? this is breaking our CI/CD pipeline.

[2018-11-14 21:44] sgellock commented on #762
@drub0y I think this is a dup of #694

[2018-11-14 21:44] #762 closed

[2018-11-15 08:42] mickallen commented on #512
@darrenj, I downloaded the latest release (4.1.0)  from the releases page but still get the error, I am trying to run the NLP with Dispatch example from the samples repo  [https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/14.nlp-with-dispatch](url)

[2018-11-15 13:13] ahmedlhanafy commented on #746
I'm working on this today. Hopefully, I have a fix or a work around later today.

[2018-11-15 15:33] GraniteStateHacker opened #768 "msbot clone failed w/qnamaker create kb error"
## Tool
Name: msbot
Version: 4.0.7
OS: Windows 7

## Describe the bug

Using an exported recipe & services, trying to clone a bot fails on step "Creating QnA Maker KB [FAQ]" with

...
Creating QnA Maker KB [FAQ]
Command failed: qnamaker create kb --subscriptionKey [key redacted]
Failed...          Error { "operationState" : "Failed", }

## To Reproduce
Steps to reproduce the behavior:
1. msbot exp

[2018-11-15 15:57] ahmedlhanafy commented on #746
@dawwa I couldn't replicate your issue on a fresh Windows and Ubuntu installations with Node version 6.4.0. Have you tried installing [.NET Core](https://www.microsoft.com/net/download), run `npm install -g luisgen@2.0.2`, restart the computer (or logout from the current session) and run $ `luisgen` again.

There is a quirk in the installation process; if the tool is already installed on your comp

[2018-11-15 16:24] justinwilaby commented on #712
Careful here! QnAMaker does not use auto-rest and implementing Node specific proxy settings will break the library used on Web clients.

The approach here should take into account that both web and node compatibility should be preserved.

[2018-11-15 18:02] carlosscastro commented on #725
Hello @ryanvolum !

There was a lot of focus on C# and I know that some js paths were broken until this week. Great observation on the runtime vs language, agreed.

We cannot remove 'node' as it would be a breaking change, but we could deprecate it and call it js to be more accurate perhaps. Supporting typescript is a larger endeavor and I don't know how much work is involved there.

Should we for

[2018-11-15 19:08] cleemullins commented on #751
@ahmedaashour Please take a look, so we can get this resolved in the 4.2 timeframe.

[2018-11-15 20:01] vishwacsena opened #771 "Ludown: Add support for geographyV2 and personName prebuilt entity support in .lu file format and ludown parser"
## Tool
Name: Ludown

## Describe the problem
Ludown today supports PREBUILT entity types. However the newly added geographyV2 and the personName prebuilt entity types are not supported in the .lu file format and in the ludown parser.

## Describe the solution you'd like
Add support for geographyV2 and personName prebuilt entities

[enhancement]

[2018-11-15 20:39] #761 closed

[2018-11-15 20:39] #712 closed

[2018-11-15 22:31] Zerryth commented on #768
### @GraniteStateHacker I'm not able to repro it given the steps above.
____
* **What version of QnAMaker CLI are you using?**
* And you mention the **Enterprise template**--is this the VSIX template [here](https://marketplace.visualstudio.com/items?itemName=BotBuilder.botbuilderv4) that you used?
Or was it the Enterprise template that used to be in the samples, before the team removed it?

____

[2018-11-15 22:44] GraniteStateHacker commented on #768
It's the VSIX Enterprise template.
qnamaker --version reports 1.0.33.

[2018-11-15 23:08] GraniteStateHacker commented on #768
looks like it has something to do with the export files I'm using then.  Working on getting a copy of them so we can look at them together.

[2018-11-15 23:30] lauren-mills opened #772 "Ludown: Remove duplicate utterances/patterns on ludown translate"
## Tool
Name: LuDown

## Describe the problem
When running ludown translate on a file without duplicates, sometimes the result will contain duplicate utterances/patterns due to the translation. This causes issues when trying to publish the translated file. `--msbotInput paterns cannot contain duplicates.`
## Describe the solution you'd like
A clear and concise description of what you want to happe

[2018-11-15 23:39] lauren-mills opened #773 "Ludown: Automatically fix spacing issues for entities"
## Tool
Name: Ludown

## Describe the problem
When writing .lu files, sometimes the developer will not include spaces around the `{ }` for entities. This is particularly common when using non-English languages which do not rely on spaces, like Chinese. This causes issues in the resulting .json file because the entities cannot be parsed.

Ex .lu utterance:
`- controllare il mio {RelationshipName=Ma

[2018-11-15 23:55] GraniteStateHacker commented on #768
[export.zip](https://github.com/Microsoft/botbuilder-tools/files/2587453/export.zip)
I included the .bot file for reference (if it matters)… it's got a secret on it.

[2018-11-15 23:56] GraniteStateHacker commented on #768
I am able to reproduce this on my Windows 10 machine in addition to the Windows 7 machine I originally encountered it on.

[2018-11-16 00:35] dawwa commented on #746
@ahmedlhanafy , isn't the .NET Core installed already with vs 2017?

[2018-11-16 17:46] rob-derosa opened #774 "Adding a QnA Maker KB to .bot file via Emulator omits the subscription key"
## Tool
Name: Bot Emulator

## Describe the problem
When adding a QnA Maker KB to the .bot file using the Bot Emulator, it never adds in the QnA Maker subscription key found in Azure Portal. The subscription key is necessary when creating/updating a dispatch model that incorporates said QnA Maker KB.

## Describe the solution you'd like
Bot Emulator should also include the subscription key in the

[2018-11-16 17:53] rob-derosa opened #775 "Allow msbot to sign a .bot file using a secret provided by the developer"
## Tool
Name: msbot

## Describe the problem
If a developer needs to update the .bot file, say to add/modify a config section, it needs to be decrypted first so it can be edited in plain text. Then it needs to be re-encrypted before being committed. This forces a rotation of the secret which means every developer on the team working on the bot must update the secret in their .env/appsettings.json

[2018-11-16 18:05] mekinney opened #776 "MSBOT Clone Services - Specify SKU / Pricing Tier for each service created."
## Tool
Msbot

## Describe the problem
Is there a way to indicate the SKU (pricing tier) for the services being created using MSBOT Clone services?

## Describe the solution you'd like
Ability to specify pricing tier for services created in the recipe files.

## Additional context
This may be possible, and I just haven't found / seen the documentation.

[enhancement]

[2018-11-16 18:10] stevkan commented on #369
Closing issue due to lack of response.

[2018-11-16 18:10] #369 closed

[2018-11-16 18:43] robert4os opened #777 "msbot connect abs should not enforce optional creation of endpoint"
## Tool
Name:  Msbot
Version: *4.0.7*
OS: *windows 10*

## Describe the bug

The help command of msbot connect bot states that endpoint is optional.
  -e, --endpoint <endpoint>              (OPTIONAL) Registered endpoint url for the Azure Bot Service
  -p, --appPassword  <appPassword>       (OPTIONAL) Microsoft AppPassword for the Azure Bot Service

But the parameter is enforced AND and an endoint

[2018-11-16 18:49] robert4os opened #778 "msbot connect abs will lead to botfile json where abs has serviceName and name"
## Tool
Name:  Msbot
Version: *4.0.7*
OS: *windows 10*

## Describe the bug

When 'msbot connect abs' also creates an endpoint it will intermix the names of abs and endpoint services.

Both abs and endpoint will have the same name (from the -n parameter).

## To Reproduce
Steps to reproduce the behavior:

msbot connect bot --serviceName NAME1 -t XXX -s XXX -a XXX -p "XXX" --secret XXX -r XXX --end

[2018-11-16 21:31] drub0y commented on #762
Seems that way.

[2018-11-16 21:32] vishwacsena commented on #768
@Zerryth - we might want to try this with the VSIX from our myget feed. https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-sdk-quickstart?view=azure-bot-service-4.0

[2018-11-18 00:09] sgellock commented on #706
dup, using #753 to track the Issue

[2018-11-18 00:09] #706 closed

[2018-11-18 10:48] ahmedlhanafy commented on #746
Not quite sure if it comes by default or you have to pick an option to install it.

LUISGen is a CLI tool and it should be installed globally not from a `package.json` file.

[2018-11-19 15:16] thegoo opened #779 "az bot sms create HTTP 500"
## Tool
Name: az bot sms create
Version: Latest

## Describe the bug
Receiving a HTTP 500 error when attempting to create and enable the SMS channel within my Web App Bot via the Azure CLI.  It cycles thru the max retries and then advises to log a bug.

This issue occurs via Azure DevOps build pipeline with Azure CLI task or thru the Azure Cloud Shell within the Portal.

I've redacted my account d

[2018-11-19 17:01] ryanlengel opened #780 "MSBot clone can only be run once"
## Tool
Name: MsBot
Version: n/a
OS: n/a

## Describe the bug
Transferred from:
Microsoft/AI#231
Author: @digitaldias

Microsoft/AI#322
Author: @gabog

## To Reproduce
Run the deployment script successfully. Then run it again.

## Expected behavior
The deployment script should not re-create any azure resource, but instead leverage them.

[2018-11-19 22:34] carlosscastro commented on #723
Without breaking changes, we can only improve docs and help. The docs MicrosoftDocs/bot-docs#466 should help limit the confusion for now.

[2018-11-19 22:34] #723 closed

[2018-11-19 22:34] carlosscastro commented on #722
Fixed with server side change on intercom.

[2018-11-19 22:34] #722 closed

[2018-11-19 22:37] carlosscastro commented on #721
@vishwacsena We just tried this and got no repro. There was a recent server side issue for which a fix was deployed to production. Could you please verify again?

Closing, but feel free to reopen if you still see the error.

[2018-11-20 00:34] gabog opened #1006 "Use meaningful names for resouces created by msbot clone"
**Is your feature request related to a problem? Please describe.**
Right now, msbot creates random names for the app, storage and app insight services used by the bot, this is confusing, if you create other servicers required by your solution later.

**Describe the solution you'd like**
Allow the user to provide a base name for the resource being created rather than using random names.
Do a pre-fl

[2018-11-20 01:05] lauren-mills opened #782 "msbot clone: Ability to specify Search Service tier as parameter"
## Tool
Name: Msbot

## Describe the problem
From [Microsoft/AI/issues/323](https://github.com/Microsoft/AI/issues/323)
Author: @gabog

By default, msbot create a Standard Search Service which is kind of expensive for dev and local tests.
If I understand this correctly (https://docs.microsoft.com/en-us/azure/search/search-sku-tier) the search pricing tier can not be changed after its been created.

[2018-11-20 01:07] lauren-mills opened #783 "msbot clone: Use meaningful names for resouces created by msbot clone"
## Tool
Name: Msbot

## Describe the problem
Originally raised here: https://github.com/Microsoft/AI/issues/324
Author: @gabog

## Describe the solution you'd like

Do a pre-flight check before running the script to ensure the names for the app service, storage. cosmosDB and app insights are available before starting so the script doesn't fail midway (forcing the user to have to delete the RG and

[2018-11-20 01:28] lauren-mills opened #784 "msbot clone: Mismatched appId after deployment"
## Tool
Name: Msbot

## Describe the bug
A clear and concise description of what the bug is.

Raised here: https://github.com/Microsoft/AI/issues/300
Author: @ivlaevski

After providing the --appId and --appSecret arguments, the created bot has a different appId that does not exist when the "manage" link is clicked.

## To Reproduce
Difficult to repro, but here are the steps:
1. Run msbot clone
2.

[2018-11-20 01:29] lauren-mills commented on #780
Also, https://github.com/Microsoft/AI/issues/322

[2018-11-20 12:55] damaca commented on #779
Same error here with Facebook. I used the same http request that makes this addon and the error says:
[code]

[2018-11-20 14:06] JeffCordes commented on #205
There is now an API to do this. [https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5be32228e8473de116325515](url)

So it seems I can now do.
az login --service principal
az account get-access-token --subscription  (this token you need for the api)

then use Invoke-RestMethod to use the new api and that associates azure cs account to the luis account.

The

[2018-11-20 17:02] ahmedlhanafy commented on #746
@dawwa Can you confirm that your issue is resolved? And if so, please, close the issue.

[2018-11-20 19:00] lauren-mills opened #785 "AZ bot create/ msbot clone: Fails in Southeast Asia"
## Tool
Name: Msbot
Version: 4.0.7

## Describe the bug
Original issue: https://github.com/Microsoft/AI/issues/309
Author: @NobinJoseRad

## To Reproduce

## Expected behavior

## Screenshots
![](https://user-images.githubusercontent.com/29299856/48529957-8232a980-e8d0-11e8-9116-6d1fe0705a10.png)

[bug]

[2018-11-20 23:35] carlosscastro commented on #777
Thanks for reporting this. In this case, the right behavior is to make the endpoint mandatory which was the original intention. Updating the docs to reflect that.

[2018-11-20 23:35] #777 closed

[2018-11-20 23:57] vishwacsena commented on #205
@cahann - can you comment on this? Is there a plan to rev the LUIS CLI to reflect the new APIs added?
@sgellock, @tomlm FYI

[2018-11-21 00:05] cahann commented on #205
yes but the new API was just released a couple of days ago so it'll still take us sometime to rev the LUIS CLI

[2018-11-21 02:11] chrimc62 commented on #550
@cahann can you comment on the plans here?

[2018-11-21 09:45] danuw opened #787 "Chatdown: output transcript text in cards is lowercase"
## Tool
Name: Chatdown
Version: 1.10 (went back down from 1.11 not working with transcript conversion)
OS: Mac OS (both before after Mojave update)

## Describe the bug
When writing markdown scenario (.chat), the converted output (.transcript) is all lowercase in cards

## To Reproduce
Steps to reproduce the behavior:
1. Start a new test.chat file with text (see below)
2. convert it using `chatdow

[2018-11-21 20:04] lauren-mills commented on #760
@tsuwandy I ran into this today and have some more information about the flow:
1. Run msbot clone with a dispatch.luis file representing a prebuilt dispatch LUIS model
2. Have a .bot file with 1 LUIS, 1 QnA, and 1 Dispatch entry. (**At this point, no dispatch command has been run, and we do not have a .dispatch file)
3. Run dispatch refresh against the .bot file (dispatch refresh --bot <my file>.b

[2018-11-21 20:05] lauren-mills commented on #760
Tagging @tomlm since this could affect msbot clone as well 😊

[2018-11-21 20:11] cahann commented on #550
Its in our road-map to offer an API for retrieving/assigning/creating/deleting an authoring key, no clear ETA to share yet but tentatively sometime mid-next year.

[2018-11-22 11:46] rodrigorodriguez commented on #550
We automated the whole process but it's lacking this functionality. Here is how far we've come: https://www.youtube.com/watch?v=AfKTwljoMOs

[2018-11-22 18:47] sgellock opened #789 "msbot clone does not release shell input when run on macOS"
## Tool
Name: Msbot
Version: 4.0.7
OS: macOS (Mojave 10.14.1)

## Describe the bug
When msbot clone finishing, it displays a "Done cloning." message but does not display the shell prompt

## To Reproduce
Steps to reproduce the behavior:
1. open a terminal window on macOS
2. nav to a node project, echo bot from the samples will work
3. msbot clone services -n my-chat-bot --subscriptionId <subscript

[2018-11-23 00:15] omarsourour commented on #773
@lauren-mills This issue needs some thorough explanation from my part.

Now the way that LUIS works is that when an utterance is inputted, it passes by multiple phases of pre-processing before it is actually evaluated by the model. Some of these steps are:
- Validation (character length limit, special characters, etc.)
- Normalization (trimming white spaces, dealing with casing, etc.)
- Tokenizati

[2018-11-23 00:20] omarsourour commented on #773
@gabog Does the previous comment aid you with Microsoft/AI#321?

[2018-11-23 21:10] Zerryth commented on #768
@GraniteStateHacker which VSIX template version do you have installed for Enterprise Bot?

You can check by going to **Tools** menu => click on **Enterprise Bot Template** => see **Version** on right-hand side

[2018-11-23 21:50] carlosscastro commented on #725
We'll rename the option to javascript. Feel free to open a new item if you feel like we should prioritize typescript.

[2018-11-24 14:32] GraniteStateHacker commented on #768
Hi, Ashley, I used 4.0.6.6 to build out the bot initially.

[2018-11-26 07:36] carlosscastro commented on #751
@ahmedaashour Did you take a look? Carol assigned this to you and you bounced it back but I do not understand why. What was your analysis?

[2018-11-26 07:43] cahann commented on #751
I assigned to back cause it didn’t seem to be directly related to LUIS, if it’s not P0 our DRI can check it out later this week.

[2018-11-26 07:46] carlosscastro commented on #720
We are targeting this one for a fix on 11/26 to be released 12/4

[2018-11-26 08:32] cleemullins commented on #751
The LUIS tooling seems like something the team may want to consider more directly investing in.

________________________________
From: Carol Hanna <notifications@github.com>
Sent: Sunday, November 25, 2018 11:44 PM
To: Microsoft/botbuilder-tools
Cc: Chris Mullins; Comment
Subject: Re: [Microsoft/botbuilder-tools] Error when deleting luis version using msbot get as input (#751)

I assigned to back

[2018-11-26 08:39] carlosscastro commented on #725
After talking to the CLI folks, it's not so easy to change this parameter. Supporting javascript officially and node as a deprecated type is quite complicated, so we might add this to our breaking changes queue and plan for a set of deprecations. We are starting to work with the CLI team on how to do this correctly.

[2018-11-26 08:57] cahann commented on #751
Totally agree but given what we already had on our plate until end of calendar year, we are trying to squeeze this work in as much as possible but it’s not ideal cause most of the team are already heads down focusing on their Ti deliverables. Also, the team doesn’t have enough knowledge about the tools which makes the cycle slower than expected. I suggest that P0 issues continue to be handled by t

[2018-11-26 14:50] lauren-mills commented on #773
Thanks, Omar. I checked our scripts and we aren't using the -c option for any of our models except Dispatch so I'll add that in and followup. But it seems like we could still see issues with parsing .lu to .luis if a dev messes up when entering their utterances, so could we get an error message that tells us where the error occurs in the file, in addition to which indices are invalid?

[2018-11-26 15:48] justinwilaby commented on #789
This likely can be fixed by adding a \n to the end of the output.

[2018-11-26 15:48] omarsourour commented on #766
@carlosscastro I did in fact. From the error log attached, the `luis-cli` version that is being run is the first version to be created, which is `v1.0.1`. The build process has widely changed since then. I advise using a more recent version?

[2018-11-26 17:56] gabog opened #794 "Crear lu files from LUIS files"
## Information:
* Tools Libraries: ludown
* OS: All

## Issue Description:
As a developer, I would like to be able to create lu files out of an exported LUIS app json so I can develop and tune my apps on the LUIS portal first and then incorporate them as lu files in my source later.

This will also allow me to import other pre-existing Luis apps developed by others without having to rewrite them a

[2018-11-26 18:02] tsuwandy commented on #760
@lauren-mills , @tomlm, we should discuss in person?

[2018-11-26 18:30] vishwacsena commented on #794
@gabog - you can generate lu files from both LUIS application and or QnA maker KB using the refresh command. See [here](https://github.com/Microsoft/botbuilder-tools/blob/master/packages/Ludown/docs/refresh-command.md) for additional information.

Note that the .lu file format and ludown tool does not support hierarchical, composite and RegEx entities. refresh will fail if your source LUIS model h

[2018-11-26 18:30] #794 closed

[2018-11-26 18:52] GraniteStateHacker commented on #768
I was able to get past this today using a simple --name with no dashes or underscores.

[2018-11-26 19:02] GraniteStateHacker commented on #768
Unfortunately, I still have a problem.  My resource group name still has underscores, and it looks like the command to create blob storage pre-pends the resource group name to a generated identifier.  eg. where the resource group manem is "gtla_d_001", the command "az storage account create" fails because the -n parameter is something like "gtla_d_0018ab8sustorage"  and the error is "Storage accou

[2018-11-26 19:38] vishwacsena commented on #782
Tracked via #584

[2018-11-26 19:38] #782 closed

[2018-11-26 19:41] vishwacsena commented on #620
We can do this once LUIS is ARM configurable. @cahann FYI

[2018-11-26 19:45] #709 closed

[2018-11-26 19:51] vishwacsena commented on #728
Tracked via #755

[2018-11-26 19:51] #728 closed

[2018-11-26 20:00] vishwacsena commented on #775
We need a security review on this one before we implement.

[2018-11-26 20:32] vishwacsena commented on #783
Related to #727

[2018-11-26 20:36] omarsourour commented on #773
@lauren-mills Sure, I can look into that. Do you mind opening it as a feature request? Also, I assume that we can close this issue?

[2018-11-26 20:36] vishwacsena commented on #784
Tracked via #721

[2018-11-26 20:36] #784 closed

[2018-11-26 20:49] #771 closed

[2018-11-26 21:21] sgellock commented on #700
The above coverage of OS's and shells is sufficient for our usage scenarios.

[2018-11-26 21:21] #700 closed

[2018-11-26 21:30] GraniteStateHacker commented on #768
Any chance there's a workaround for the prepended resource group name on blob storage I mention above?   Should that be spun off into a different issue?

[2018-11-26 21:33] drub0y opened #795 "Bot Configuration file format could benefit from a JSON schema to light up intellisense and other tooling"
## Tool
Name: Msbot

## Describe the problem
While there is some light documentation/samples of the `.bot` file format, you still are pretty much editing raw JSON when it comes down to it unless you stick to using the `msbot` CLI.

## Describe the solution you'd like
Create a JSON schema for the .bot configuration file format to help developers who may prefer to hand edit the files in development

[2018-11-26 21:40] drub0y opened #796 "When creating a bot via the Azure CLI, related resource names are randomized"
## Tool
Name: Azure CLI Extension

## Describe the problem
There does not seem to be any way to control exactly what name is used for some related resources (Web App, App Insights, etc) that is created to host the bot and a random name is chosen based on the first _N_ characters of your bot name. I believe this leads to confusion because, for some steps, you need to actually know the name of the o

[2018-11-26 21:43] drub0y opened #797 "No way to opt out of creating an Application Insights resource (or point to an existing one) from the Azure CLI"
## Tool
Name: Azure CLI Extension

## Describe the problem
An Application Insights resource is always created when using the Azure CLI Extension and, AFAICT, there's no way to opt-out of this or tell the CLI to use a specific existing AI instance that I might have.

## Describe the solution you'd like
Some people might not want to utilize AI at all or they might already have an AI instance they wa

[2018-11-26 22:12] #773 closed

[2018-11-26 22:14] lauren-mills opened #798 "Luis: better error message for incorrect entity start, end"
## Tool
Name: LUIS

## Describe the problem
When there is an issue with the entity label in a .luis file, the error doesn't tell you which utterance/line the error occurs on so you have to search by the start and end pos of the entity
Example:
[code]

Error:
Indices 19,23 are not the start and end of a token

## Describe the solution you'd like
I'd like to know the line and/or utterance that cause

[2018-11-26 23:09] gabog commented on #794
thanks Vishwac, I didn't know about this option.

[2018-11-27 00:12] damadei commented on #766
Correct, Omar, it worked fine. Not sure where I took luis-cli from but with luis-apis it works.

[2018-11-27 00:15] omarsourour commented on #766
Excellent! Closing issue.

[2018-11-27 00:15] #766 closed

[2018-11-27 16:23] krajniak commented on #183
You can create suitable msapp with CLI command:
az ad app create --display-name [name] --identifier-uris [uri_in_tenant_domain --password [secret] --available-to-other-tenants true

[2018-11-27 19:46] Zerryth commented on #768
@GraniteStateHacker I think the ` 4.0.6.6` is the version of the `Bot Builder V4 SDK Template for Visual Studio` VSIX and not the `Enterprise Bot Template` VSIX, as Enterprise only goes up to 4.0.5.84 currently (see [myget](https://botbuilder.myget.org/feed/aitemplates/package/vsix/EnterpriseBotTemplate.82cb8299-0d0d-4299-a08d-83ef19b3a60b))

So I guess to clarify: are you using the `Enterprise Bo

[2018-11-27 19:51] GraniteStateHacker commented on #768
Sorry, definitely Enterprise, I just jumped at the wrong extension...  I created it with Enterprise Bot Template
4.0.5.29

[2018-11-27 23:35] Zerryth commented on #768
@GraniteStateHacker thank you

_Finally_ was able to repro the issue (sort of).

Using `msbot clone services` command in templates created from both `4.0.5.29` and the most recent `4.0.5.84` resulted in:
"`ERROR: At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.`"

Now trying to hunt down where i

[2018-11-28 00:41] GraniteStateHacker commented on #768
I ran into that error at one point, too... turned out I didn't type the --appid as a properly formed guid (found it in Azure Portal, under "Deployments" for the resource group I was creating the bot in.)

[2018-11-28 00:58] Zerryth commented on #768
So far it's unclear when it's failing and when it's succeeding (great...)

In a project created from Enterprise template `4.0.5.84` I ran the following commands--1. and 2. failed with the error I shared in previous post, while 3. succeeded.
Only difference was in the name between the 3 commands.

1. `msbot clone services --name "EnterpriseBot1" --luisAuthoringKey "MY_LUIS_AUTHORING_KEY" --folder "

[2018-11-28 01:13] GraniteStateHacker commented on #768
Thanks, Ashley!

[2018-11-28 09:19] DeepakDonde opened #800 "Luis api- create application which is public by default"
I am trying to create app on Luis which is accessible by non-contributors so that they can

 query this app with a valid key. I am able to create app with the following request body

`{
	"name": "MyFirstDummyApp",
	"description": "This is my first dummy application",
	"culture": "en-us",
	"usageScenario": "IoT",
	"domain": "Comics",
	"initialVersionId": "1.0"
}`

But i don't find any flag or key i

[2018-11-28 15:42] vishwacsena commented on #666
Tracked via #590

[2018-11-28 15:42] #666 closed

[2018-11-28 17:18] GraniteStateHacker commented on #768
Doing some digging and comparisons, I noticed something.  My bot.recipe was missing the "abs" entry.

Throw that in, and the whole thing cooks along nicely.

I suspect the fix for this might be either a validation step and/or remediate the missing entry with a default... ?

[2018-11-28 18:29] carlosscastro commented on #756
@sgellock @vishwacsena we'll move this to 4.3 and as a fix, as we discussed we'll provide a clear message stating that The resources are cloned, and as last step they need to publish their source to the bot, and provide the command they need to run.

For the record - When we implement this in 4.3, we will basically add a --code-dir argument to msbot clone and when clone calls `az bot create` we'll

[2018-11-28 18:31] sgellock commented on #756
Given the calendar, this seems like a reasonable trade-off.  Thanks @carloscastro

From: Carlos Castro <notifications@github.com>
Reply-To: Microsoft/botbuilder-tools <reply@reply.github.com>
Date: Wednesday, November 28, 2018 at 10:30 AM
To: Microsoft/botbuilder-tools <botbuilder-tools@noreply.github.com>
Cc: Scott Gellock <Scott.Gellock@microsoft.com>, Mention <mention@noreply.github.com>
Subjec

[2018-11-28 18:32] carlosscastro opened #799 "MsBotClone to clarify that bot is empty and provide command to publish"
As a temporary doc-only fix for #756, when we complete a bot clone we want to present a clear message that the bot code has NOT been cloned and the bot has a default template. We should also provide the users with the az command that they need to run in order to publish their source. Given that in clone we have the resource group and resource name, we can show them the full command except for --co

[2018-11-28 18:36] carlosscastro commented on #756
I created #799 to track the 4.2 fix. I don't want to mess the labels but I'd recommend moving this one for 4.3 and moving the DX and P0 labels to #799.

[2018-11-28 18:40] carlosscastro commented on #759
Other work took over my time. Discussing a new ETA for this one with Vishwac

[2018-11-29 00:01] Joll59 commented on #738
Hey @carlosscastro, Is there an open issue that addresses the other aspect of this issue ?
Or was it closed by this PR Azure/azure-cli#7924 ?

[2018-11-29 07:32] Jagan-rajan opened #809 "Not able to deploy to Azure web app"
I am not able to deploy my code to Azure web apps linked to my account eventhough my framework points to .net 4.6

Recieving the below error :

**Your hosting provider does not yet support ASP.NET 4.6, which your application is configured to use. To learn more about this please visit: http://go.microsoft.com/fwlink/?LinkID=615797&clcid=0x409**

My web app points to .Net framework 4.7 version.

Ple

[2018-11-29 17:52] tomlm commented on #800
You can do this via the Update Appication Settings API:
https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/58aeface39e2bb03dcd5909e

From the LUIS command line:
**luis update settings**

[2018-11-29 17:52] #800 closed

[2018-11-29 18:39] tsuwandy commented on #760
Dispatch deployment is ongoing.  Should be on npmjs soon.

[2018-11-29 18:39] #760 closed

[2018-11-29 19:03] lzc850612 opened #803 "Validation support for LUIS|Ludown|Dispatch tools"
## Tool
Name: [Ludown|LUIS|Dispatch]

## Describe the problem
When we import a luis model from .luis file, sometimes there's errors. ideally there should be tooling support to tell us the .luis file is problematic with the detailed information to fix the issues. This goes for .lu file as well as Dispatch tool.

## Describe the solution you'd like
Ludown|LUIS|Dispatch tool support with option for v

[2018-11-29 19:04] lzc850612 commented on #803
This is very useful when it comes to a team working on a bot with language models as part of the code. We need this support to put into the PR step to block the PR from being merged if there's some changes in the .lu file that'll break it.

[2018-11-29 19:20] vishwacsena commented on #751
@fbeauchemin - can you share your msbot and luis version information? You can try msbot -v and luis -v to get the version information.

I tried this on MSBot version 4.1.0 and LUIS CLI version 2.0.13 and cannot reproduce this.

[2018-11-29 19:56] vishwacsena commented on #787
@danuw I have a fix for this in #805. For now, since you are snapping to 1.0.10 and given you are on macos, you can take the fix by updating line 404 in /usr/local/lib/node_modules/chatdown to read like this -

[code]

[2018-11-29 20:54] #787 closed

[2018-11-29 21:17] vishwacsena commented on #579
Addressed via #804

[2018-11-29 21:17] #579 closed

[2018-11-29 21:18] vishwacsena commented on #590
Addressed via #804

[2018-11-29 21:18] #590 closed

[2018-11-29 21:19] vishwacsena commented on #694
Updated doc via #804

- For *Windows command prompt*, enclose the appSecret in double quotes. e.g.
msbot clone services --name xxxx --luisAuthoringKey xxxx --location xxxx --folder bot.recipt ***--appSecret "!|%gr%"***
- For *Windows PowerShell, try passing in appSecret after the --% argument. e.g.
msbot clone services --name xxxx --luisAuthoringKey xxxx --location xxxx --folder bot.recipt ***--%

[2018-11-29 21:19] #694 closed

[2018-11-29 21:23] Kaiqb opened #806 "az cli prepare-publish command not working"
## Tool
Name: **az cli**
Version: Using the **dev** branch and the instructions listed **[here](https://github.com/Azure/azure-cli/blob/dev/doc/configuring_your_machine.md)**.
OS: Windows 10

## Describe the bug
az cli prepare-publish command fails with error indicating resource was not found. See details below.

## To Reproduce
- Create a local EchoBot using the VSIX.
- Create a resource group in

[2018-11-29 21:38] moredvikas opened #807 "Dispatch - Unable to install/use dotnet framework"
## Tool
Name: Dispatch
Version: *tool version*
OS: *Windows 10 Education*

## Describe the bug
Unable to use Dispatch. Get error:
Unable to install/use dotnet framework

## To Reproduce
Steps to reproduce the behavior:
1. ...
2. ...
3. ...
4. ...

## Expected behavior
Dispatch to work

## Screenshots
If applicable, add screenshots to help explain your problem.

## Additional context
Add any other

[2018-11-30 02:36] vishwacsena commented on #778
@robert4os this is by design. See [here](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botframework-config/src/schema.ts) for the interface type definitions.

'name' is merely an identifier for the service type in the .bot file. This can be different from the actual name of the service itself. e.g. bot file can have name='luismodel1' while the service name of the luis applicatio

[2018-11-30 02:36] #778 closed

[2018-11-30 02:41] tsuwandy commented on #807
Could you try installing from a command prompt started with administrator privilege?

[2018-11-30 02:42] tsuwandy commented on #807
@Zerryth could you follow up on this?  Not sure what's going on here.  Thanks!

[2018-11-30 21:43] ryanvolum commented on #738
@carlosscastro, @sgellock It's still unclear whether or not this bug has been fixed/if there's another issue that illustrates it. Should this bug be reopened?

[2018-11-30 22:17] tomlm commented on #746
The NPM package is a simple script for running **dotnet tools install -g LUISGen**
You can do a local install of LUIS tools by using **dotnet tool install  LUISGen --tool-path tools**

This should unblock you.

[2018-11-30 22:17] #746 closed

[2018-11-30 22:47] vishwacsena commented on #803
@cahann it would be awesome if we can have a version of the LUIS validations as a library we can include in the CLI so users can validate a model definition without having to post it to the service through a create operation. Alternately we could expose a validate API call that can just validate a model definition file.

[2018-12-02 19:10] stevengum commented on #720
@vishwacsena, @carlosscastro, is this supposed to retrieve the MSA App password as well? Or is it expected that the user will go to apps.dev.microsoft.com to get/generate a password?

The bug here stems from that `create_bot_json()` does not receive the app_password arg so it attempts to retrieve it from the Web App's settings. This raises a problem for v4 bots (haven't tested yet with v3, but it

[2018-12-02 19:57] stevengum commented on #720
Observing this, it seems like the most correct thing to do would be to implement the botframework-config library in Python.

@carlosscastro, I know you're busy but we should discuss this item tonight/tomorrow.

[2018-12-03 06:33] stevengum commented on #720
@vishwacsena is there an "easy and viable" path for using `az bot show --msbot true` on a registration bot?

Otherwise we have a couple of paths to evaluate:

- Have them do the OAuth path for https://apps.dev.microsoft.com and then attempt to create a new password for them on their behalf
  - IIRC, a MSA App can only have two AppPws, if attempting to create a third AppPw this will fail
- Fail fas

[2018-12-03 12:31] Cocorina commented on #641
@tsuwandy
Hello
I installed the new version of botdispatch and got this error while trying to create the LUIS json model:

Any ideas why my pattern is invalid?
Thanks :)

[2018-12-03 13:42] gabog opened #813 "ERROR: Unable to provision MSA id automatically. Please pass them in as parameters and try again."
## Tool
Name: Msbot
Version: 4.0.7
OS: Windows

## Describe the bug
I am trying to create a bot using msbot clone in a new azure subscription and I am getting "ERROR: Unable to provision MSA id automatically. Please pass them in as parameters and try again.",

I'm not clear on what needs to be done to enable automatic creation of MSA on a tenant or how to specify them as parameters.

Is this docum

[2018-12-03 17:33] carlosscastro commented on #720
@stevengum the original bug from Vishwac was not implemented in az, we added this method last week and it seemed to work well.

The password part is a new requirement and I think we are a bit late, let's discuss today.

[2018-12-03 17:34] carlosscastro commented on #721
This is fixed in the next release 0.4.2 of the extension and / or spring 50 of the CLI

[2018-12-03 17:34] #721 closed

[2018-12-03 17:35] carlosscastro commented on #799
@tomlm you had a command documentation fix for this, right?

[2018-12-03 17:38] carlosscastro commented on #720
In registration bots we retrieve the password at creation time. In all cases including registration, we could get the password from the web app settings which we can query from az. Tom queries web app settings during msbot clone as well.

[2018-12-03 17:57] Kaiqb opened #814 "MSBot Clone command fails"
## Tool
Name: **MSBot**
Version: *4.0.7*
OS: *Windows 10*

## Describe the bug
MSBot clone command fails with the following error:
ERROR: At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.

## To Reproduce
Steps to reproduce the behavior:
1. Use sample: [12.nlp-with-luis](https://github.com/Micros

[2018-12-03 18:02] vishwacsena commented on #755
Any work in msbot clone is this is dependent on #756 which covers the work on az cli side.

Moving this to 4.3. For 4.2, we will fix #799 which should document the commands the user needs to run to push code up.

@carlosscastro; @sgellock FYI

[2018-12-03 21:11] carlosscastro commented on #759
@vishwacsena removing myself from this one to avoid double counting in bug count, since you are already adding it to your ongoing PR. Add me back if you need help from me.

[2018-12-03 21:13] carlosscastro commented on #751
@fbeauchemin could you update msbot to 4.1.0 and confirm whether this works for you? Since we cannot reproduce I'm closing it but feel free to reopen if you still repro after upgrading msbot.

[2018-12-03 21:13] #751 closed

[2018-12-03 21:16] carlosscastro commented on #799
We are waiting for the AZ extension release to put a change here, ETA 12/6

[2018-12-03 21:47] compulim commented on #702
@corinagum I am unassigning myself. If I am right, we have fixed it in Web Chat and waiting for a bump. Please correct me if I am wrong. Thanks!

[2018-12-04 00:00] jwiley84 opened #815 "msbot connect qna command fails if .bot file already contains a qna service with empty strings"
[EDIT: editted to reflect this only happening with qna command. LUIS, appinsights and dispatch work as expected]

Discovered using the nodejs sample from botbuilder-samples, #11. QnAMaker

## Describe the bug
I'm attempting to build one of the samples programmatically, without having to manually add in keys. This sample comes with an 'empty' qna maker service connection in the botfile, ready to be

[2018-12-04 06:06] carlosscastro commented on #591
Fixed when extension 0.4.2 goes out or the core cli release of 12/17.

[2018-12-04 06:06] #591 closed

[2018-12-04 17:57] CoHealer commented on #807
Targeting Thur to investigate

[2018-12-04 18:43] vishwacsena commented on #799
Leaving this assigned to @tomlm. the right fix here is to push #816 through with all the other AZ bot service extension fixes.

[2018-12-04 22:20] vishwacsena commented on #785
I can repro this with the latest az cli + bot service extension. The az bot create command is failing. Updating  labels.

@carlosscastro ; @stevengum

[2018-12-04 22:31] stevengum commented on #814
@Kaiqb have you tried "West US" for location? Looking at az cli, we expect location args in the format of "Central US"

[2018-12-04 22:43] stevengum commented on #814
Disregard, sat through a repro with Vishwac. Will investigate

[2018-12-04 22:46] #759 closed

[2018-12-05 05:43] carlosscastro opened #818 "AZ CLI [Extension 0.4.2] Vsix publish error in C#"
Tom ran `az bot publish --resource-group CloneBot106 -n CloneBot106 --subscription 9ad09adf-c85f-43a0-96fe-18b146d1f90e -v v4 --verbose --proj-file "Bot Builder Echo Bot V4.csproj"`

Using C#, the publish succeeds but the code changes are not reflected in the bot behavior. The project he published is an echobot from vsix template, except that he edited the text.

He didn't do any manual changes to

[2018-12-05 05:48] carlosscastro opened #819 "AZ CLI [Extension 0.4.2] Vsix publish error in Node"
Tom tried publishing a node.js bot and got this.

[code]

[2018-12-05 05:49] carlosscastro commented on #819
@stevengum to update after he tries to repro node. Otherwise, potentially Tom's environment may be missing the latest core cli.

[2018-12-05 05:51] carlosscastro opened #820 "AZ CLI [Extension 0.4.2] Publish fails with trailing spaces for code dir"
Repro steps: run any publish command with --code-dir and add a trailing space at the end, such as ". ". Result: the command fails.

Reported by @tomlm, I didn't try repro.

[2018-12-05 06:16] stevengum commented on #820
Reproduced, already have a fix in mind.

[2018-12-05 06:21] stevengum commented on #819
Reproduced, looking into fix

[2018-12-05 17:11] Zerryth commented on #807
**Unable to repro any errors.**

_Versions_
**Node**: v10.14.1
**npm**: 6.4.1
**Dispatch**: 1.1.10

Followed instructions provided [here](https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Dispatch) in botbuilder-tools repo on dispatch.

_Commands Ran_

Install dispatch:
`npm install -g botdispatch`

Initialize dispatch (i.e. create a .dispatch file)
`dispatch init`
Followed up by

[2018-12-05 19:17] johnataylor commented on #743
The HTTP call is actually made from a C# DLL and the source code to that isn't in this repo. So the user-agent needs to be added in that code. Assigning this to @tsuwandy

[2018-12-05 19:44] tsuwandy commented on #743
Dispatch code updated, to be merged in today.

[2018-12-05 19:44] #743 closed

[2018-12-05 19:47] carlosscastro commented on #738
@ryanvolum apologizes for missing this one! I added some documentation in msbot, however now we have a much better az version check, including the core cli check and extension version check. The changes for this are in msbot, they just got merged by @vishwacsena in his recent [PR](https://github.com/Microsoft/botbuilder-tools/pull/808) so they will be part of the 4.2 msbot release.

[2018-12-05 20:55] johnataylor opened #822 "LUIS Dispatch binary is checked in and source code built elsewhere"
## Tool
Name: Dispatch
Version: 4.1.2
OS: windows

## Describe the bug
LUIS Dispatch binary is checked in and source code built elsewhere.

See @tsuwandy for details.

## Expected behavior
- Add source code to github
- Add build and packaging process around source code

[2018-12-05 21:08] stevengum commented on #818
This turned out to be the same problem we encountered with the old VSIX templates, which means that Azure doesn't like `.csproj` files with spaces in their name. Once the `.csproj` name was changed to something without spaces, the bot deployed bot worked as expected.

[2018-12-05 21:08] #818 closed

[2018-12-05 21:10] stevengum commented on #819
Have a fix, will cut private bits for testing.

[2018-12-05 21:37] stevengum opened #823 "AZ CLI: publish return text is not user friendly"
## Tool
Name: az cli
Version: az cli core (2.0.52) and azext_botservice (0.4.2)

## Describe the bug
`az bot publish` prints out a JSON response that is hard to parse. Users need to know to look at `"active"` and see that the value is `"true"` to see that the deployment was successful.

## Expected behavior
A message indicating what the status is of the deployment, based off of the JSON response.

[2018-12-05 22:14] cleemullins commented on #754
We've improved this (somewhat) with the latest VSIX. Those no longer default to having a space in the name. A richer set of validations is coming in the 4.3 time frame.

Closing this out as a Dupe, as the master bug is here:
https://github.com/Microsoft/BotBuilder-Samples/issues/955

[2018-12-05 22:14] #754 closed

[2018-12-05 23:18] omarsourour commented on #772
@lauren-mills When you say "publish" the translated file, do you mean using the LuDown tool to parse the file to JSON?

[2018-12-06 00:58] vishwacsena commented on #785
That makes sense to me. Thanks.

[2018-12-06 01:35] omarsourour commented on #772
Funnily enough, after investigations, the bug has already been solved, but has never been pushed to the public NPM repo. @vishwacsena The npm package version needs to be bumped and pushed. What is the process that we follow? Will this happen with the release?

[2018-12-06 01:50] sgellock commented on #772
Close the issue. We’ll push out new bits with the 4.2 release.  @cleemullins fyi

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Omar E. Sourour <notifications@github.com>
Sent: Wednesday, December 5, 2018 5:47:36 PM
To: Microsoft/botbuilder-tools
Cc: Scott Gellock; Mention
Subject: Re: [Microsoft/botbuilder-tools] Ludown: Remove duplicate utterances/patterns on

[2018-12-06 01:51] #772 closed

[2018-12-06 06:14] Zerryth commented on #768
So, it turns out I was having errors earlier, because of something unrelated to what you're experiencing (I have access to multiple subscriptions in Azure Portal, and the one that my az cli was set to was one that recently locked out the ability for me to create bots in). Once I switched to a subscription that I could _actually_ write in, things were golden.
___
#### _Versions_
**az cli**: 2.0.51

[2018-12-06 06:18] Zerryth commented on #768
### `.recipe`
[code]
___
### .bot
[code]

[2018-12-06 06:18] #768 closed

[2018-12-06 16:33] lauren-mills opened #826 "msbot clone: Add new qna maker kb to existing qna service"
## Tool
Name: Msbot

## Describe the problem
I'm using msbot clone in an unconventional way to enable multiple language configurations for Dispatch, LUIS, and QnA. I run msbot clone against the same resource group for each language I want to add to my bot. Each time I run the command, it creates a new QnA Maker service with Azure Search, etc. in the resource group. This results in a lot of azure s

[2018-12-06 16:33] dmvtech commented on #809
@Jagan-rajan I'm not sure if you are still experiencing this issue or not. Please let me know if the above steps helped remedied or if you still have the problem.

[2018-12-06 18:39] sgellock commented on #606
Talked with @chrimc62, moving out to be a 4.3 deliverable

[2018-12-06 22:38] #799 closed

[2018-12-07 01:49] vishwacsena opened #830 "[Regression] luis import application fails (latest build off myget feed)"
## Tool
Name: LUIS
Version: 2.0.7 (myget feed)
OS: Win10

## Describe the bug
luis import application fails with the following -
[code]

## To Reproduce
Steps to reproduce the behavior:
1. uninstall luis cli
2. point to the botbuilder myget feed
3. install the luis cli
4. try luis import application command and pass in valid arguments

## Expected behavior
luis import application works. The versio

[2018-12-07 01:54] stevengum commented on #830
@vishwacsena the ms-rest-js dependency needs to be pinned to [1.0.455](https://github.com/Microsoft/botbuilder-tools/blob/master/packages/LUIS/package.json#L52) (see https://github.com/Azure/ms-rest-js/issues/276 for more info)

[2018-12-07 02:03] vishwacsena opened #831 "MSBOT: Do not prefix botname for LUIS app names"
## Tool
Name: MSBOT
Version: 4.2.0-103 (myget)
OS: Win10

## Describe the bug
msbot clone prefixes botname to any LUIS application created. This is inconsistent with the rest of the service names choosen by MSBOT and this also breaks any code that depends on loading a service configuration by name.

## To Reproduce
Steps to reproduce the behavior:
1. run msbot clone to clone a bot that includes a

[2018-12-07 02:45] stevengum commented on #823
Fixed via Azure/azure-cli-extensions#443

[2018-12-07 02:45] #823 closed

[2018-12-07 02:45] stevengum commented on #819
Fixed via Azure/azure-cli-extensions#443.

[2018-12-07 02:45] #819 closed

[2018-12-07 02:48] stevengum commented on #814
@Kaiqb I'm going to close this as it should be fixed with the latest bits; additionally, the warning:

Should not be occurring as `create` is not modified by the latest extension.

[2018-12-07 02:48] #814 closed

[2018-12-07 03:24] carlosscastro opened #833 "[AZ CLI] Errors in Converged app creation should get info from the http response"
We are printing a hardcoded error message when the converged app provisioning fails. We should extract error info from the http response of the app creation request.

[2018-12-07 03:37] Kaiqb opened #834 "MSBot: EchoBot created using VSIX fails to deploy"
## Tool
Name: Msbot
Version: 4.2.0-103 installed from [botbuilder.myget.org](https://botbuilder.myget.org/feed/botbuilder-tools-daily/package/npm/msbot).
OS: *Windows 10*

## MSBot clone command fails to deploy a bot created using VSIX

## To Reproduce
1. Create a bot using C# VSIX [download link](https://botbuilder.myget.org/F/aitemplates/vsix/BotBuilderV4.fbe0fc50-a6f1-4500-82a2-189314b7bea2-4.1

[2018-12-07 03:37] #831 closed

[2018-12-07 03:45] Kaiqb opened #835 "MSBot fails to deploy QnA sample"
## Tool
Name: Msbot
Version: 4.2.0-103 installed from [botbuilder.myget.org](https://botbuilder.myget.org/feed/botbuilder-tools-daily/package/npm/msbot).
OS: *Windows 10*

## Describe the bug
QnA sample fails to deploy using MSBot clone services command.

## To Reproduce
1. Download the [C# QnA sample](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/11.qnamake

[2018-12-07 14:38] lauren-mills opened #836 "msbot clone: --quiet does not suppress LUIS model training output"
## Tool
Name: Msbot

## Describe the problem
When running msbot clone with --quiet, there is a lot of output from the LUIS training that defeats the purpose.

## Describe the solution you'd like
When running in quiet mode, I would like to only see prompts that require input and errors.

[enhancement]

[2018-12-07 15:54] genbod opened #837 "Dispatch tool should allow publishing to staging"
## Tool
Name: Dispatch

## Describe the problem
Other tools like LUIS have support for publishing to staging. Dispatch refresh does not. This makes CI/CD with LUIS models and Dispatch difficult

## Describe the solution you'd like
A flag for dispatch refresh that lets you set staging status.

## Describe alternatives you've considered
A clear and concise description of any alternative solutions or

[2018-12-07 16:16] dmvtech commented on #809
I am closing this as I do not know if this issue is still happening for you. If this is something that can be consistently reproduced and is a blocking issue, please reopen.

[2018-12-07 16:16] #809 closed

[2018-12-07 17:10] tsuwandy commented on #647
Closing since we'll be doing this in LUIS natively.

[2018-12-07 17:10] #647 closed

[2018-12-07 17:15] stevengum commented on #785
Moved to 4.3 per conversation with Scott

[2018-12-07 17:15] stevengum commented on #720
Moved to 4.3 per conversation with Scott.

[2018-12-07 17:18] stevengum commented on #755
Adding Tom to this as well; @tomlm it sounds like most of the work here was fixed via #816, can we close this?

[2018-12-07 17:56] stevengum opened #838 "Add better HTTP tests for QnAMaker and LUIS CLI tools"
## Tool
Name: LUIS & QnAMaker

## Describe the bug
No tests for #829 and #828

Additionally, it's been brought to my attention that there is poor test coverage for these two modules, so more tests need to be written.

[bug]

[2018-12-07 17:58] Zerryth commented on #838
note: test runs leaves files in folders--certainly in the QnAMaker

[2018-12-07 18:10] carlosscastro commented on #813
Hello @gabog!

I'm looking into this.

As an alternative to auto-provisioning, `msbot clone` receives `appId` and `appSecret` arguments where you can pass your app id and password created at apps.dev.microsoft.com.

Also as additional information for you, the current method of provisioning an app id and password is less from ideal because it requires a second log in (after `az login`). We are work

[2018-12-07 18:16] tomlm commented on #835
this is probably bad data. Can you try to run the QnAMaker command and figure out if the 34.qna file is valid?

[2018-12-07 18:33] #830 closed

[2018-12-07 18:46] #742 closed

[2018-12-07 19:47] Kaiqb opened #841 "AZ CLI: Using hotmail account, the newly created bot fails to launch."
## Tool
Name: azure-cli (v 2.0.52)
Name: botservice (v 0.4.3)
OS: Windows 10

## Describe the bug
AZ CLI: Using Hotmail account, the newly created bot fails to launch when I am trying to test it in WebChat. The first message that shows up is, "waiting for the bot to ready" followed by "Something went wrong. Contact the administrator".

## To Reproduce
Steps to reproduce the behavior:
1. Login to A

[2018-12-07 19:52] #834 closed

[2018-12-07 20:52] tomlm commented on #835
Yes, it is bad data:
[code]

[2018-12-07 20:52] Kaiqb opened #842 "MSBot: Bot created using the latest VSIX fails to deploy"
## Tool
Name: MSBot
Version: 4.2.0-106
OS: Windows 10

## Describe the bug
A C# bot created using VSIX (v 4.1.7.59) fails to deploy.

## To Reproduce
1. Download the latest MSBot tool and VSIX
2. Create a C# bot
3. Notice that bot.recipe file is no longer created. Therefore, you can't use `msbot clone services` command.
4. To deploy the bot, you need to create a bot.recipe file using the .bot file

[2018-12-07 20:54] #702 closed

[2018-12-07 20:59] tsuwandy opened #843 "Dispatch should exclude utterances from None intent of child LUIS model"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Dispatch should not pull utterances from None intent of child LUIS model into Dispatch intent for that child model.  ie.  for child model A, with intents x, y, z, None.  When added to Dispatch model as intent l_A, all the utterances including those from None intent are added to l_A intent.  Dispatch should exclude utterances from

[2018-12-07 22:55] Kaiqb opened #844 "MSBot: Can't Deploy EchoBot-With-Counter Sample (JavaScript)"
Tools:
- msbot (4.2.0-107)
- azure-cli (2.0.52)
- botservice extension (0.4.3)

OS: *Windows 10*

## Describe the bug
Deploying [EchoBot-With-Counter (JS)](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/02.b.echobot-with-counter) fails with the following command:

Command failed: az group create -g CloneBot1234 -l westus2 --subscription xxxcce1eb97df9
ERROR:

[2018-12-07 23:38] genbod opened #845 "Dispatch refresh fails without any helpful output when using a new version id"
## Tool
Name: Dispatch
Version: 1.1.9
OS: Windows 10

## Describe the bug
I am running dispatch refresh with a versionId that already exists.  I get an error that says it failed but no helpful info:

Exporting services for dispatch...
Exporting artconDispatchModel LUIS application...
Exporting artconEventGridModel LUIS application...
Exporting artconFaqChitChat QnA kb...
Creating dispatch LUIS mod

[2018-12-08 00:22] vishwacsena commented on #755
This is fixed in 4.2 via #816 and related work.

[2018-12-08 00:22] #755 closed

[2018-12-08 03:31] gabog commented on #813
Hi Carlos, this issue happened on a customer environment and I don’t think I can try what you are asking there again. We were using Azure AD accounts to run the deployments. Manually creating the AppId and password (using the same Azure AD account but login directly to http://dev.apps.microsoft.com/ directly) and passing them as parameters worked for us.

Gabo

From: Carlos Castro <notifications@g

[2018-12-08 23:09] Kaiqb opened #848 "MSBot: Fails to deploy a C# bot with LUIS"
## Tool
Name: Msbot
Version: *4.2.0-108*
OS: *Windows 10*

## Describe the bug
A bot with LUIS service fails to deploy with the following error message:

`Command failed: dotnet user-secrets set botFileSecret 56h0q38LxMrNYOII=No executable found matching command "dotnet-user-secrets"`

The bot works fine locally. LUIS service reference is in the .bofile. Here is the bot file has:
{
    "name": "Lu

[2018-12-08 23:21] Kaiqb opened #849 "MSBot: Deploying C# sample 12.nlp-with-luis fails"
## Tool
Name: MSBot
Version: *4.0.2.-108*
OS: *Windows 10*

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
1. Download the sample.
2. Run the following command:
`msbot clone services --folder deploymentScripts\msbotClone --location "westus" --proj-file "LuisBot.csproj" --name "AzLuisBotKI02"  --verbose`

3. The following error message appears:
`missing --l

[2018-12-08 23:34] sgellock commented on #849
this is by design, no?  you can't provision LUIS resources unless you specify an authoring key

[2018-12-08 23:36] sgellock commented on #848
I think this is a dup of https://github.com/Microsoft/BotBuilder-Samples/issues/1010

[2018-12-08 23:37] tomlm commented on #849
This is by design, you have to provide the luisAuthoringKey to create luis resources.

I could clean up the error, and say "This recipe requires a luisAuthoringKey to provision LUIS resources"

[2018-12-08 23:40] tomlm commented on #848
Do you have dotnet installed?  I will add dotnet to prerequisties

[2018-12-08 23:45] Kaiqb commented on #848
@tomlm - I have VS 2017 installed. What other piece is needed? Can you provide a download/install link? Thx

[2018-12-09 00:17] Kaiqb commented on #849
So, if I am deploying a sample with LUIS, I have to provide luisAuhtoringKey, which means that I have to have a LUIS app in the luis.ai portal? Is that the behavior we want for samples? The behavior earlier was much simplers as I didn't have to do anything and the sample got deployed. It was much simlper, IMHO.

[2018-12-09 00:33] Kaiqb commented on #848
dotnet --version
2.1.104

[2018-12-09 01:35] tomlm commented on #848
Really really old version, and pre-release to boot.

[code]

[2018-12-09 01:36] tomlm commented on #849
I have no idea what you are talking about.  You have ALWAYS needed to provide a LuisAuthoringKey, this has not changed since we first created the tools.

[2018-12-09 01:41] Kaiqb commented on #848
Reinstalling a new version now...

[2018-12-09 01:55] Kaiqb commented on #848
The error went away after installing the new version. Closing the issue.

[2018-12-09 01:55] #848 closed

[2018-12-09 03:39] Kaiqb commented on #844
It woked with msbot v. 4.2.0-108. Closing the issue.

[2018-12-09 03:39] #844 closed

[2018-12-09 20:36] sgellock commented on #849
You don’t need a LUIS app. But like azure where you need an account and a subscription you need a LUIS account and an authoring key.

This has always been the case.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tom Laird-McConnell <notifications@github.com>
Sent: Saturday, December 8, 2018 5:36:20 PM
To: Microsoft/botbuilder-tools
Cc: Scott Gellock; Comment
Sub

[2018-12-09 21:46] Kaiqb commented on #849
Closing the issue.

[2018-12-09 21:46] #849 closed

[2018-12-10 03:31] sgellock commented on #842
updated VSIX with a fix for this issue was published.  see version 4.1.8 or higher

[2018-12-10 03:31] #842 closed

[2018-12-10 23:13] stevengum commented on #820
That commit does have the fix for it, reopening issue until a PR is merged against Azure/azure-cli.

[2018-12-10 23:40] stevengum commented on #785
Fixed via stevengum/Azure-cli@8bc1bba49955bbdbe69d2ec8ecad89c7f9b71d49, leaving open until PR is cut and merged against [Azure/Azure-cli](https://github.com/Azure/azure-cli/).

[2018-12-11 00:33] stevengum opened #853 "AZ CLI: on create appinsights isn't provisioned in provided region (e.g. "North Europe" or "Southeast Asia")"
## Tool
Name: azure-cli
Version: core cli 2.0.52, command module 0.1.2

## Describe the bug
passing in the --insights-location arg to `az bot create` does not have an impact on which region app insights is provisioned in.

## Context
Found while fixing #785

[bug]

[2018-12-11 03:08] stevengum commented on #853
Reopening pending merge into Azure/azure-cli.

[2018-12-12 16:52] lauren-mills opened #855 "Ludown: Does not create patternAny entities from child .lu patterns"
## Tool
Name: Ludown
Version: 1.1.0
OS: Windows

## Describe the bug
When pulling in intents containing patterns from a child .lu file, the patterns are pulled in, but the necessary patternAnyEntities are not created.

## To Reproduce
1. Create .lu file with intent with patterns
2. Create second .lu file that references the intent from the file in step 1
` - [l_ToDo](../../../../skills/todoskill/C

[2018-12-13 13:05] managedcoder opened #856 "LuisGen can't take input from stdin"
## Tool
Name: LuisGen
Version: 2.0.2.0
OS: Windows

## Describe the bug
LuisGen can't take export file from stdin as documented.  The usage doc says, "If the input is -, will get the export file from stdin." but that results in LuisGen only displaying command usage back to console.  I looked at the code and "-" is never going to result in anything other than producing command usage to the console.

[2018-12-13 15:52] lauren-mills opened #857 "msbot: no longer appends bot name to luis models"
## Tool
Name: Msbot
Version: 4.3.0
OS: Windows

## Describe the bug
Msbot clone no longer appends the bot name to the LUIS models which causes issues when running multiple deployments. If you deploy multiple bots from the same source, you will get errors for having multiple LUIS models with the same name. There used to be a "no-decorate" flag to allow you to control this behavior, but it looks lik

[2018-12-13 17:21] stevengum commented on #853
Closed via Azure/Azure-cli#8035.

[2018-12-13 17:21] #853 closed

[2018-12-13 17:21] stevengum commented on #785
Closed via Azure/Azure-cli#8035.

[2018-12-13 17:21] #785 closed

[2018-12-13 17:21] stevengum commented on #820
Closed via Azure/Azure-cli#8035.

[2018-12-13 17:21] #820 closed

[2018-12-13 17:21] stevengum commented on #720
Closed via Azure/Azure-cli#8035.

[2018-12-13 17:21] #720 closed

[2018-12-13 19:23] stevengum opened #858 "AZ CLI: az bot publish output is not user friendly"
## Tool
Name: Azure CLI
Version: 2.0.53

## Describe the bug
`az bot publish` output is not user friendly.

## To Reproduce
Use `az bot publish` to publish a bot, and get back JSON that is not user friendly and not immediately clear on if the publish succeeded or not.

## Expected behavior
A message on if the publish succeeded or failed should appear.

## Additional context
Code from azure-cli-ext

[2018-12-13 22:49] stevengum commented on #480
Given the recent feedback, I'm rescheduling this for 4.3 and will tentatively put it in Sprint 52.

[2018-12-14 00:44] stevengum opened #859 "AZ CLI: Update Auth flow in az bot"
## Tool
Name: `az bot`
Version: 2.0.52

## Describe the problem
When an MSA AppID and AppPW aren't passed in for the `az bot create` flow, the user has to use a magic code to login and have `az bot` create the AppID and AppPW. (Or they can generate the AppID and AppPW themselves and add them as arguments)

## Describe the solution you'd like
No copy-pasting of a magic code for auth flow.

[enhance

[2018-12-14 09:37] danuw commented on #596
All of the above seemed to unlock issues, but still got stuck further down the line with

az bot create -g dispatcher-bot --name dispatcher-bot --kind webapp --location westus --insights-location "West US 2" --subscription REDACTEDID --version v4 --lang CSharp exit code: 1
WARNING: To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code REDACTEDCODE to a

[2018-12-14 17:07] sgellock commented on #857
My understanding is as follows.  When we clone LUIS requires unique names.  That said, the model names are a combination of "id" + "name".  Using a .bot file or a recipe file that looks like:

  {
      "type": "luis",
      "id": "31",
      "name": "cafeDispatchModel"
    },
    {
      "type": "luis",
      "id": "86",
      "name": "cafeBotBookTableTurnN"
    },
the models for Dispatch would b

[2018-12-14 17:19] lauren-mills commented on #857
In practice, it uses the "name" field from the .luis file as the name of the LUIS model instead of prepending the id. This name is automated to the same name as the .lu file it is based on.

![image](https://user-images.githubusercontent.com/27976702/50017492-d42f2380-ff91-11e8-981c-fd7f902b91f6.png)

Even if it did prepend the id, that would not ensure that the name would be unique, since the sam

[2018-12-14 18:22] genbod commented on #843
I am not sure this is the right solution.  Because None is not an exact match using specific None utterances from a child model can really mess up the parent None intent.  I just had an issue where None on the Dispatch model was matching too aggressively for shorter utterances which should have matched children who had the shorter utterances etc.  The fix was to add explicit None utterances to the

[2018-12-14 20:04] JasonXuMSCSS opened #861 "Name: Azure CLI's Bot Extension fails in publishing SDK V4 Bot"
## Tool
Name: Azure CLI's Bot Extension fails in publishing SDK V4 Bot
Version:
{
  "extensionType": "whl",
  "name": "botservice",
  "version": "0.4.3"
}
OS: Client ran this command is Windows 2012 R2 server.

## Describe the bug
followed the doc at : https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-enterprise-template-deployment?view=azure-bot-service-4.0#deploy-to-azure

But that

[2018-12-15 02:56] #857 closed

[2018-12-15 16:31] santifdezmunoz opened #862 "Unable install dispatch on mac"
## Tool
Name: Dispatch
Version: latest
OS: macOS Mojave 10.14.2

## Describe the bug
Whenever I try to install dispatch I got an error. I followed instructions on this article: https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/14.nlp-with-dispatch/README.md

## To Reproduce
Steps to reproduce the behavior:
1. sudo npm install -g botdispatch

## Expected behavior

[2018-12-16 12:36] nitinpokharna commented on #183
@krajniak In my Case the bot is not working if I am giving a Random identifier uri for creation of msapp. But when I am deleting the identifier uri in the sdk it is working. Can you please help me how can I pass null identifier uri in az command.

[2018-12-16 13:11] andybeak commented on #862
This behaviour also happens on Linux (Linux it-00511 4.15.0-39-generic #42-Ubuntu SMP Tue Oct 23 15:48:01 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux)

[2018-12-16 14:36] andybeak commented on #862
I also encountered this problem on Ubuntu 18.04.

The problem is with the dotnet-2.1 dependency.  For some reason I can't install it globally.

So try this as a workaround until the global install is fixed:
[code]

https://github.com/fearthecowboy/dotnet/issues/2

[2018-12-17 09:45] krajniak commented on #183
I've tried this, whit different syntax, but was not able to pass a null identifier there. Probably this is a separated bug.

SDK does not work when you pass GUID, hover if you pass a valid uri (it does not have to point to any real address) in tenant domain of you subscription it should work.

I have used something like this: "http://RANDOMLYGENERATEDURI.MYTENANTNAME.onmicrosoft.com/

[2018-12-17 12:36] damadei opened #863 "Running msbot clone services results in "You need to upgrade your AZ CLI version to >= 2.0.52." but my version already is 2.0.52"
## Tool
Name: MsBot
Version: 4.3.0
OS: Windows 10

## Describe the bug
Running the following command

msbot clone services --name "NlpWithDispatch" --luisAuthoringKey "<Authoring key>" --folder "DeploymentScripts/MsbotClone" --location "westus" --appId "<app id>" --appSecret "<appSecret>"

Always results in
        You need to upgrade your AZ CLI version to >= 2.0.52.
        You can install the l

[2018-12-17 17:52] stevengum commented on #861
@JasonXuMSCSS have you tried using `--proj-name` and `--version`?

[2018-12-17 18:30] JasonXuMSCSS commented on #861
Thanks –version worked. It also requires --resource-group too.

az bot publish -g JasonBotV4Test --resource-group ASPNetCoreJasonTestRG -n JasonBotV4Test --proj-file BasicBot.csproj --version v4

The document at https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-enterprise-template-deployment?view=azure-bot-service-4.0#deploy-to-azure is wrong then.

Thanks,
Jason
From: Steven Gum <not

[2018-12-17 21:19] santifdezmunoz commented on #862
Thanks @andybeak, that worked perfectly.

Just an additional note. If you run the global installation after doing locally, it makes the installation globally also.

[2018-12-17 21:44] stevengum commented on #859
Cross linking #841, #813, #393

[2018-12-17 21:46] stevengum commented on #393
@carlosscastro, I think this is on track for 4.3, but correct me if I'm wrong. Will this also address #841 and #813? (Problems with provisioning MSA AppID/PWs when using non-AAD accounts)

I think the issue I filed, #859, is a dupe by virtue that the work for this issue will improve the Auth flow.

For now I'm going to put this for the Sprint 52 milestone.

[2018-12-18 14:15] darrenj opened #864 "ludown culture parameter is case sensitive"
## Tool
Name: Ludown
Version: 1.1.0-103 (myget)
OS: Windows 10

## Describe the bug

When passing the culture parameter (-c) to the ludown tool it fails with "undefined" if the casing of the culture isn't lowercase. e.g. en-US vs en-us.

en-US is a common way of expressing cultures and reporting undefined isn't very helpful when trying to debug an issue.

Related to #657 (not invalid culture now b

[2018-12-18 20:06] stevengum commented on #725
Adding that the samples and yeoman-generated TypeScript bots are deployable to Azure now, due to these PRs: Microsoft/BotBuilder-Samples#1071 + Microsoft/BotBuilder-Samples#1074

[2018-12-18 21:33] tsuwandy opened #865 "Add model explainability to Dispatch CLI"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]

## Describe the problem
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Describe alternatives you've considered
A clear and concise description of any alternative solutions or features

[2018-12-18 21:35] tsuwandy opened #866 "Dispatch CLI: Add an optional parameter to disable utterance normalization"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]

## Describe the problem
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Describe alternatives you've considered
A clear and concise description of any alternative solutions or features

[2018-12-18 23:01] ashoksamal6363 commented on #615
Hi, i have cli 2.0.53 and i am expecting bot service 0.4.3. But i only have botservice 0.4.1.
How can i get botservice 0.4.3?

[2018-12-18 23:08] carlosscastro commented on #615
You can run

[code]

[2018-12-18 23:53] ashoksamal6363 commented on #615
It ll still install bot service 0.4.1 but i am looking for 0.4.3 to run my virtual assistant

[2018-12-19 00:43] mhyon commented on #615
I have the same problem (az version 2.0.53).  Debug output shows this:
Skipping 'botservice-0.4.3-py2.py3-none-any.whl' as not compatible with this version of the CLI. Extension compatibility result: is_compatible=False cli_core_version=2.0.53 min_required=2.0.52 max_required=2.0.52

[2018-12-19 09:16] jonasnorlund opened #867 "az bot publish fails using enterprise template due to CLI error"
## Tool
Name: Azure CLI
Version: 2.0.53 (bot extension 0.4.3)
Python (Windows) 3.6.6 (v3.6.6:4cf1f54eb7, Jun 27 2018, 02:47:15) [MSC v.1900 32 bit (Intel)]
OS: Win 10

## Describe the bug
Unable to publish bot service using az bot publish

## To Reproduce
I have followed the installation instructions for enterprise template bot
1. Installed latest CLI, NPM, LUISGen etc accoring to this link
https:

[2018-12-19 11:59] darrenj opened #868 "msbot clone services defaults to publishing project even if not requested"
## Tool
Name: Msbot
Version: 4.3.0-119
OS: Windows 10

## Describe the bug
When running `msbot clone services` it insists on publishing the project to Azure despite this behaviour being described as optional and requires the user to provide a `proj-file` or `code-dir` parameter to enable.

Whilst a nice feature the project publishing doesn't work for all scenarios resulting in broken deployments.

[2018-12-19 19:51] stevengum commented on #867
@jonasnorlund Thanks for reporting this, we're looking into this now.

[2018-12-19 22:09] sgellock opened #871 "qnamaker --version displays a AssertionError [ERR_ASSERTION]: The subscriptionKey is missing from the configuration error"
## Tool
Name: QnAMaker
Version: *1.1.0*
OS: *macOS*

## Describe the bug
Attempt to get the version of qnamaker installed on a machine displays an error

## To Reproduce
Steps to reproduce the behavior:
1. Open a terminal window
2. Assuming QnAMaker CLI has been installed, run:  qnamaker --version

## Results
qnamaker displays the following error:

AssertionError [ERR_ASSERTION]: The subscriptionK

[2018-12-20 09:32] jonasnorlund commented on #867
FYI: Instead of publishing the bot using CLI I did it directly from within VS and it worked fine.

[2018-12-20 15:12] sgellock opened #873 "QnAMaker-cli fails with "stderr maxBuffer exceeded""
## Tool
Name: QnAMaker
Version: *1.1.0*
OS: *macOS*

## Describe the bug
When running an `Msbot clone services` on the samples `bot.recipe` file, QnA Maker will fail with the following error:

Creating QnA Maker KB [qnamaker-QnAMaker]
`qnamaker create kb --subscriptionKey "my subscription key was removed" --name "qnamaker-QnAMaker" --in deploymentScripts/msbotClone/34.qna --wait --msbot -q`
**stde

[2018-12-20 15:13] garypretty opened #874 "botservice 0.4.3 not available with cli version 2.0.53"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: *tool version*
OS: *os version*

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Install CLI 2.0.53
2. az extension add --name botservice
3. Version of botservice installed is 0.4.1 - but running msbot complains that it needs 0.4.3

## Expected

[2018-12-20 18:09] stevengum commented on #874
Hi @garypretty, can you try the daily build ([4.3.2-123](https://botbuilder.myget.org/feed/botbuilder-tools-daily/package/npm/msbot/4.3.2-123)) which can be found on MyGet?

To download it, you'll first need to change your npm registry to point to our MyGet gallery via this command

[code]

Then install msbot via `npm i msbot` for a local install or `npm i -g msbot`. To reset your registry back to

[2018-12-20 21:46] #807 closed

[2018-12-21 00:45] stevengum opened #875 "msbot: -f is the shortcut for --folder, not --force"
## Tool
Name: msbot
Version: 4.3.1

## Describe the bug
A shortcut for a param is shared by two parameters. `-f` is listed for `--folder` and `--force`. It only works for `--folder`.

[bug]

[2018-12-21 00:47] stevengum opened #876 "AZ CLI: Improve handling of npm install"
## Tool
Name: az cli
Version: 2.0.53 (0.1.3)

## Describe the bug
`KuduClient.install_npm_dependencies()` performs a request for Kudu to install the npm dependencies. However, `npm install` can take a long time and the client can timeout while waiting for the successful response from Kudu.

## Expected behavior
Not have the KuduClient timeout due to npm install taking a long time. KuduClient timin

[2018-12-21 00:49] stevengum opened #877 "msbot: Fix clone to use --proj-name instead of --proj-file"
## Tool
Name: Msbot
Version: 4.3.2-122 - 4.3.2-123

## Describe the bug
CSharp bots and `msbot clone services` currently fails due to clone still using --proj-file.

[bug]

[2018-12-21 08:30] AllanXu49 commented on #738
@carlosscastro I've just installed version 4.3.1 with the default npm command:

[code]

Also I have the latest version of az CLI:

[code]

However the problem still persissts

[code]

You should be able to easily reproduce this.

[2018-12-21 09:10] AllanXu49 commented on #615
@ashoksamal6363 how did you get the msi file? The google drive link has the source code only. MSI file is missing.

[2018-12-21 14:42] sgellock commented on #738
We are testing a fix for this.  Hope to get it published today

From: AllanXu49 <notifications@github.com>
Reply-To: Microsoft/botbuilder-tools <reply@reply.github.com>
Date: Friday, December 21, 2018 at 12:31 AM
To: Microsoft/botbuilder-tools <botbuilder-tools@noreply.github.com>
Cc: Scott Gellock <Scott.Gellock@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/botbuild

[2018-12-21 14:54] ashoksamal6363 commented on #615
Please check this.
https://drive.google.com/open?id=1OmGtfMkd5bEuz3hwqiLstJDGsshK6-AN

[2018-12-21 16:34] sgellock commented on #738
Msbot.  Working on getting 4.3.2 out

From: AllanXu49 <notifications@github.com>
Reply-To: Microsoft/botbuilder-tools <reply@reply.github.com>
Date: Friday, December 21, 2018 at 8:26 AM
To: Microsoft/botbuilder-tools <botbuilder-tools@noreply.github.com>
Cc: Scott Gellock <Scott.Gellock@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/botbuilder-tools] [MSBOT] Dependent

[2018-12-21 18:05] stevengum opened #881 "Ludown: Reenable "Intents and utterances are translated correctly" test"
## Tool
Name: Ludown

## Describe the bug
Due to transient failures for this test, the test is being skipped until better testing can be performed (we need recordings here if service calls are being performed for every build). The test was skipped in #880, and needs to be reenabled.

[bug]

[2018-12-21 18:17] armstrong-charles commented on #615
az --version ? shows azure-cli as 2.0.54, but botservice as 0.1.3, when i try to remove botservice thru this command, az extension remove -n botservice, it says The extension botservice is not installed. How to update botservice extension.
When i run my msbot clone services...., i keep getting You need to upgrade your az bot service version to >= 0.4.3... how to fix it?

[2018-12-21 18:20] stevengum commented on #615
@armstrong-charles, we’re planning on releasing a new version of msbot soon that will fix this problem. With the upcoming release you won’t need to add the extension in addition to having azure-cli installed to use msbot

[2018-12-21 18:34] armstrong-charles commented on #615
Is there any workaround now? it is a blocking issue, any help will be greatly appreciated.

[2018-12-21 18:52] armstrong-charles commented on #615
@stevengum, how about uninstalling and installing older version of Azure CLI? any suggestion?

[2018-12-21 19:32] armstrong-charles commented on #615
@stevengum, how to get binary release of azure CLI v2.0.52 without building it from https://github.com/Azure/azure-cli/releases source.

[2018-12-21 19:34] stevengum commented on #615
We haven’t done a release on NPM yet, but our daily feed does have the bits needed for msbot to work with azure-cli 2.0.53 and greater. It can be found here:

https://botbuilder.myget.org/feed/botbuilder-tools-daily/package/npm/msbot/4.3.2-125

[2018-12-21 20:42] stevengum commented on #615
@armstrong-charles, I've found a link that should work; this should get you azure-cli 2.0.52: https://azurecliprod.azureedge.net/msi/azure-cli-2.0.52.msi

[2018-12-25 18:30] tmsteem82dev opened #882 "LUIS: clone version using LUIS CLI gives error"
## Tool
Name: LUIS
Version: 2.2.0
OS: Windows 10

## Describe the bug
The luis clone command appears to be broken. I get an error `versionCloneObject cannot be null or undefined.` trying to calls `luis clone version...`. see steps to reproduce.

## To Reproduce
Steps to reproduce the behavior:
1. Have a luis app on luis.ai
2. Have a model version named 0.t
3. Have a .luisrc file containing relevan

[2018-12-26 16:17] damadei commented on #863
Hi @stevengum,

It worked with 4.3.2-129 and using Azure CLI 2.0.54

Thanks,
Daniel

[2018-12-26 16:21] damadei opened #883 "Msbot Clone calls az bot publish with wrong argument name (--proj-name)"
## Tool
Name: [Msbot]
Version: *4.3.2-129*
OS: *Windows 10*

## Describe the bug
When running msbot clone, the command for az publish called by

## To Reproduce
Steps to reproduce the behavior:
1. Create a new bot using the enterprise template
2. Try to deploy the bot using msbot clone

## Expected behavior
Deployment success, however the following is thrown:

az bot publish --resource-group Servi

[2018-12-26 17:07] damadei commented on #883
Found that it was being caused by old version of my bot service extension

[2018-12-26 17:07] #883 closed

[2018-12-26 22:33] MilanMej commented on #615
@armstrong-charles Have you solved your problem? I am facing the same issue as you did (need to upgrade my botservice).
Tried hints from this thread but doesnt work with me (I am totally new in programming so not sure if its my mistake or other issues)

[2018-12-27 03:46] AllanXu49 commented on #615
I solved it by downgrading to the older version of azure CLI. Two options:

Option1: use chocolatey
choco install azure-cli --version 2.0.52

Option 2: Get it from here:
https://azurecliprod.azureedge.net/msi/azure-cli-2.0.52.msi

A few hints:

When `MsBot ` fails, it shows you the `az bot` command failed.  you can run the command at the command line and get more detail by `az group deployment ope

[2018-12-27 04:32] vasavenk commented on #615
Hi @AllanXu49

I tried following your solution, however, I get the following error:

With msbot 4.3.2 and later, the only AZ CLI prerequisite is having an AZ CLI version >= 2.0.53. If you have the botservice extension installed as well, please remove this via "az extension remove --name botservice".
Checking az botservice version
az -v
You need to upgrade your AZ CLI version to >= 2.0.53.

[2018-12-27 10:46] MilanMej commented on #615
@AllanXu49 I tried the first option (not 100% sure how to use the other one) and proceeded like this:
1. install choco (0.10.11)
2. install azure - cli (2.0.52) using the command you sent
3. used command: 'az extension add -n botservice'
with error No matching extensions for 'botservice'.
my msbot is 4.3.1
Did I miss some step? Thanks.

[2018-12-27 17:00] chasemwilliams commented on #615
Any update here? I am getting the same error 'No extension found with name 'botservice''

[2018-12-27 18:39] AllanXu49 commented on #615
Hi Folks,

The setup I mentioned worked for me. Mind that I used  `msbot clone services` command only.

Please take a look at #738 as well. The product group supposed to fix this last Friday. You might want to follow up with them too. @sgellock explained that they are updating MSBOT tool.

[2018-12-27 19:06] chasemwilliams commented on #738
@sgellock Any update on 4.3.2? I having the same issue as Allan

[2018-12-28 19:56] stepknees opened #886 "[blocking] unable to deploy VA due to botservice compatibility errors"
**Project**
Virtual Assistant

**Description**
While working through initial VA deployment steps, I'm not able to add the botservice via Azure CLI. This then causes the deploy_bot.ps1 script to fail.

**To Reproduce**
az extension add -n botservice

**Expected behavior**

**Screenshots**

**Additional context**
Azure CLI version is azure-cli (2.0.54)

msbot -v
4.3.1

[2018-12-29 19:02] DennisdeRooAsapnet commented on #615
Here the same; I do have the same version but getting error No matching extensions for 'botservice'. while trying to add extention botservice using command az extension add -n botservice. @stevengum any idea when the release is ready. Is support for azure-cli 2.0.54 included?

[2018-12-31 17:50] sgellock commented on #615
Az CLI 2.0.54 has shipped.  It installs botservice 0.1.3.

Running: az extension add -n botservice errors out with:
No matching extensions for 'botservice'. Use --debug for more information.

From: Steven Gum <notifications@github.com>
Reply-To: Microsoft/botbuilder-tools <reply@reply.github.com>
Date: Monday, December 31, 2018 at 9:36 AM
To: Microsoft/botbuilder-tools <botbuilder-tools@noreply.gi

[2018-12-31 18:53] stevengum commented on #480
Closing via merge of **Azure/Azure-cli#8080**.

[2018-12-31 18:53] #480 closed

[2019-01-01 18:18] DennisdeRooAsapnet commented on #615
@stevengum , Thanks, that's working now!

[2019-01-02 10:34] garypretty commented on #584
Is there likely to be any movement on this soon?  We now have a live customer project where this is going to be an issue for us when automating our environment deployments.
Thanks.

[2019-01-02 11:26] garypretty opened #887 "msbot clone services failed with period in bot name with no explanation"
## Tool
Name: msbot
Version: 4.3.2
OS: Windows 10

## Describe the bug
When calling msbot clone services with a name that contains full stops / periods, the command fails after some time, but without a helpful error message.  This will fail for certain services that do not allow periods in the name, such as storage.

When the command eventually fails the error message is "ERROR: At least one resou

[2019-01-02 17:16] stevengum commented on #584
Pinging @sgellock and @yochay for a priority on this one.

[2019-01-03 19:51] #859 closed

[2019-01-03 19:56] stevengum commented on #874
Closing as this has been addressed with the latest public release of msbot, version [**4.3.2**](https://www.npmjs.com/package/msbot/v/4.3.2). This version of msbot does not use the botservice extension, so you are not required to call az extension add -n botservice.

If you still run into this issue, please **@mention** me in this issue or open up a new issue.

[2019-01-03 19:56] #874 closed

[2019-01-03 19:57] stevengum commented on #867
Closing due to inactivity as this has been addressed with the latest public release of msbot, version [**4.3.2**](https://www.npmjs.com/package/msbot/v/4.3.2). This version of msbot does not use the botservice extension, so you are not required to call az extension add -n botservice.

If you still run into this issue, please **@mention** me in this issue or open up a new issue.

[2019-01-03 19:57] #867 closed

[2019-01-03 20:01] stevengum commented on #886
Closing as this has been addressed with the latest msbot version [**4.3.2**](https://www.npmjs.com/package/msbot/v/4.3.2) as indicated in the above comment.

If you still run into this issue, please **@mention** me in this issue or open up a new issue.

[2019-01-03 20:01] #886 closed

[2019-01-03 20:01] stevengum commented on #863
Closing as this has been addressed with the latest public release of msbot, version [**4.3.2**](https://www.npmjs.com/package/msbot/v/4.3.2). This version of msbot does not use the botservice extension, so you are not required to call az extension add -n botservice.

If you still run into this issue, please **@mention** me in this issue or open up a new issue.

[2019-01-03 20:01] #863 closed

[2019-01-03 20:03] stepknees commented on #886
Thanks – trying this out right now and it seems to have unblocked me.

From: Steven Gum <notifications@github.com>
Sent: Thursday, January 3, 2019 12:02 PM
To: Microsoft/botbuilder-tools <botbuilder-tools@noreply.github.com>
Cc: Stefanie Tomko <steftom@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/botbuilder-tools] [blocking] unable to deploy VA due to botservice com

[2019-01-03 20:05] stevengum commented on #615
Closing as this has been addressed with the latest public release of msbot, version [**4.3.2**](https://www.npmjs.com/package/msbot/v/4.3.2). This version of msbot does not use the botservice extension, so you are not required to call az extension add -n botservice.

If you still run into this issue, please **@mention** me in this issue or open up a new issue.

[2019-01-03 20:05] #615 closed

[2019-01-04 13:45] luiscantero opened #888 "Msbot connect luis --region should be required --> KeyNotFoundException"
## Tool
Name: Msbot

## Describe the problem
When using msbot to add a LUIS connection, not specifying the --region argument defaults it to "westus". If the model is on eu.luis.ai a KeyNotFoundException is thrown, which is not very helpful.

## Describe the solution you'd like
--region should be required and ideally (this is for another team), the error should be more helpful.

[enhancement]

[2019-01-04 15:18] nitinpokharna opened #889 "Not Able to Update Bot Tags using AZ cli"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: *tool version*
OS: *os version*

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. ...
2. ...
3. ...
4. ...

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to hel

[2019-01-04 16:39] AskYous opened #890 "TypeScript Error 2345: Argument of Type TurnContext is not assignable to paramater of type TurnContext"
## Tool
Name: Msbot
Version: 4.1.5
OS: Windows 10

## Describe the bug
I hope I'm submitting this in the right place. While creating a bot in TypeScript, I receive multiple TypeScript errors saying:

## To Reproduce
Steps to reproduce the behavior:
1. Create a TS function that accepts a waterfall step context as the argument
2. Define its type using TS (`private someFunction(step: WaterfallStepCon

[2019-01-04 22:13] hailiu2586 opened #891 "msbot clone services doesn't update botFileSecret in app settings when appId and appSecrets are passed on CLI"
## Tool
Name: Msbot
Version: msbot@4.3.2
OS: Win10

## Describe the bug
when using msbot clone service to create an Azure Bot  Service, if I pass in the appId and appSecret on the CLI, then the newly generated botFileSecret is outputed to the stdout, but not updated to the web app's appsettings

## To Reproduce

[code]

[2019-01-05 22:05] luiscantero opened #892 "ludown-cli parse ToQna adds \r\n to answer"
## Tool
Name: ludown
Version: 1.1.0
OS: Windows 10

## Describe the bug
When an .lu like [this](https://github.com/Microsoft/botbuilder-tools/blob/master/packages/Ludown/ChitChat/Friendly/AboutBot.lu) is parsed, all answers end with \r\n. There is no way by manipulating the .lu file to avoid these unnecessary ending.

## To Reproduce
Steps to reproduce the behavior:
1. Download the above sample
2.

[2019-01-07 18:15] dawwa opened #893 "CLI on Linux: luis train - can't encode character '\u2026'"
## Tool
Name: LUIS
Version: *LTS*
OS: *Linux, Ubuntu 16.04*

## Describe the bug
We are seeing this error and hope to see if this is known and have workaround.
It runs properly on Windows.

2019-01-04 22:57:40.942600: Training Domain [general]
2019-01-04 22:57:43.352634: Model Type StatusId Status
2019-01-04 22:57:43.352719: Cancel Intent Classifier 9 Queued
2019-01-04 22:57:43.352733: Escalate In

[2019-01-07 23:00] tdurnford commented on #890
It looks like you have a `node_modules` directory nested inside of the `botbuilder-ai` package. Typically the compiler looks for dependencies in each of the package's directories and then works its way up. With your current dependency structure, the `botbuilder-ai` package is referencing the `botbuilder-core` dependency in its `node_modules` directory while the rest of the project is referencing t

[2019-01-07 23:06] AskYous commented on #890
That makes sense. Thanks @tdurnford . Unfortunately, I ran `npm dedupe` and I still received the same error.

[2019-01-07 23:10] stevengum commented on #890
Can you post your `"dependencies"` in the package.json?

[2019-01-07 23:13] AskYous commented on #890
"dependencies": {
        "@microsoft/microsoft-graph-client": "^1.3.0",
        "botbuilder": "^4.1.5",
        "botbuilder-ai": "^4.2.0",
        "botbuilder-azure": "^4.1.5",
        "botbuilder-dialogs": "^4.2.0",
        "botframework-config": "^4.1.5",
        "dotenv": "^6.1.0",
        "restify": "^7.2.2"
    },
    "devDependencies": {
        "@types/node": "^10.12.18",
        "eslint":

[2019-01-07 23:15] stevengum commented on #890
Try updating your dependencies to `"~4.2.0"` for the botbuilder/botframework packages. There were a couple of breaking changes between 4.1.0 and 4.2.0. From 4.2.0 forward we use `~` instead of `^` to lock packages to patch versions, not minor.

[2019-01-07 23:41] AskYous commented on #890
Wow! I changed all the packages to ~4.2.0 and the errors went away! Thank you! But I have 1 problem left that I'm not sure if it's related. Is this something similar?

![image](https://user-images.githubusercontent.com/791996/50799830-98d2fc80-1292-11e9-84f1-759c30ccc033.png)

[2019-01-07 23:50] stevengum commented on #890
Can you try casting the `context.adapter` to a `BotFrameworkAdapter`? I believe the following lines should work:

[code]

This isn't similar to the above fix regarding the versions, it's rather that `TurnContext.adapter` is a getter for the type `BotAdapter`, so casting it should fix the issue. ([BotFrameworkAdapter extends BotAdapter](https://github.com/Microsoft/botbuilder-js/blob/master/librari

[2019-01-07 23:51] drub0y commented on #890
The `adapter` property off of a `TurnContext` instance is of type `BotAdapter` and `signOutUser` is an API specific to `BotFrameworkAdapter` so you'd need to downcast to be able to access that more specific adapter implementation's API.

[2019-01-07 23:54] #890 closed

[2019-01-07 23:54] AskYous commented on #890
That solved it thanks.

[2019-01-08 14:38] Jhanbury opened #894 "Unexpected Token error for MSBot"
## Tool
Name: Msbot
Version: 4.3.2
OS:Windows 10

## Describe the bug
I have downloaded the tool however, every command i enter returns the following error message:

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Install npm package using npm install -g msbot
2. run any command
3. uninstall and reinstall
4. run command

## Expected behavior
the command should run as normal

## Screens

[2019-01-08 16:46] Jhanbury commented on #894
Found the error.

Update Nodejs version. 😑

Version 1.0.51 presented the update message while the newer versions just displayed the error messages.

[2019-01-08 16:46] #894 closed

[2019-01-08 17:34] raghukrishnamoorthy commented on #768
Hi,

I'm not sure what is the issue here. I downloaded the qnamaker sample, tested it locally, but when i publish it i get the exact same issue here as described by Jim.

[2019-01-08 18:27] stevengum opened #895 "AZ CLI: az bot publish with npm install timeout handling"
## Tool
Name: AZ CLI
Version: 2.0.54

## Describe the bug
When publishing a node bot, the npm install can take a long time to complete, which results in a timeout from Azure. This timeout causes the AZ CLI to blow up and users to think that the `az bot publish`/installation of npm packages failed. In personal testing while the timeout is received, the bot will work as expected indicating a success

[2019-01-09 01:24] swagatmishra2007 opened #896 "azure cli extension packages should be hosted in github"
Currently the cli extension whl packages are being hosted on an internal azure storage blob . Please move these to github (probably releases) . Also update the index.json on azure-cli-extensions repo to point to the new location.

[2019-01-09 16:06] justinwilaby opened #897 "[MSBot] Proxy Settings are Ignored"
The az-cli [appears to support proxies](https://github.com/Azure/azure-xplat-cli/issues/2882) but the msBot [runCommand](https://github.com/Microsoft/botbuilder-tools/blob/master/packages/MSBot/src/msbot-clone-services.ts#L999) function does not pass the necessary environment variables to the child process. This causes the az-cli to ignore proxy settings.

[2019-01-09 16:31] joetossell29 opened #898 "msbot clone can't create multiple blob storage accounts"
## Tool
Name: [Msbot]
Version: msbot@4.3.0
OS: Win10

## Describe the bug
Running msbot clone with a bot.recipe file containing multiple storage accounts will not create the additional storage account. The resulting bot file contains the same credentials for both specified storage accounts

## To Reproduce
[code]
On a bot containing the following recipe:
[code]

## Expected behavior
The additional

[2019-01-09 17:10] #898 closed

[2019-01-09 17:12] joetossell29 commented on #898
This is desired behaviour, the two blob storage references in the bot file can use the same account with differing containers as defined. The same credentials get copied in for both. Thanks @garypretty !

[2019-01-09 18:31] stevengum commented on #858
Code is done, but we're moving this to the next sprint due to time constraints.

[2019-01-09 18:35] BenjaminAP commented on #868
My team is Having the same issue. Is there any updates on this?

[2019-01-10 00:58] congysu commented on #893
Relates to/caused by external code seed.py's unicode encoding/dec handling logic.

[2019-01-10 14:05] tiagodenoronha commented on #584
Hey! I just blew up my monthly credits because I never read anything :) What is the procedure to "downgrade" (meaning delete and create) the Azure Search? I need to disconnect with msbot, delete the Azure Search, recreate and then connect?

[2019-01-11 01:01] #896 closed

[2019-01-11 13:49] TechyServe commented on #868
We are facing the same issue. Please let us know if you have any updates on this

[2019-01-11 21:38] daveta commented on #893
Documenting for other people.  @congysu investigated and the luis tool is sending console control characters to perform overwrites on text (fancy output) and that is causing the problem.

https://github.com/Microsoft/botbuilder-tools/blob/master/packages/LUIS/bin/luis.js#L737

The workaround is to use "quiet" mode.

[2019-01-11 21:38] #893 closed

[2019-01-14 05:35] dawwa opened #900 "Chatdown: Wouldn't that be great to allow conversation playback like botsociety?"
## Tool
Name: Chatdown/Bot Emulator
I was assuming an animated playback is allowed after open the transcript with Emulator, but it turns to be just static view.

I wish Chatdown would work with Emulator team to animate the conversation rather than static view.
Some playback like the https://botsociety.io would be nice. Thoughts?

[2019-01-14 08:32] joetossell29 opened #901 "Inconsistent ordering of exported patterns"
## Tool
Name: [LUIS]
Version: 2.0.13
OS: Windows 10

## Describe the bug
Patterns associated with an entity are exported in a random ordered making source control of patterns difficult

## To Reproduce
1. Create a bot using the template in azure
2. Export the default language model
3. Note the order of the patterns in the luis file associated with the greetings intent
4. Export again and compare f

[2019-01-14 17:12] mdrichardson commented on #900
Thank you for your interest in the Bot Framework Emulator. All emulator feature requests go in the the [Botframework Emulator Repo](https://github.com/Microsoft/BotFramework-Emulator/issues).

[2019-01-14 17:12] #900 closed

[2019-01-14 21:56] sgellock commented on #861
az cli version 2.0.54 or above addresses this issue, as the extension is no longer a requirement

[2019-01-14 21:56] #861 closed

[2019-01-14 23:55] CoHealer commented on #882
removing support as triage'd for 4.3

[2019-01-15 21:16] stevengum commented on #891
@hailiu2586 I tried to repro and compared the output secret from the CLI and the botFileSecret entry in Azure, but everything looks to be in order, and the bot works as expected.

#### CLI output secret:
![cli-output](https://user-images.githubusercontent.com/14935595/51210274-3350c280-18c7-11e9-89eb-3295908b79a7.jpg)

#### Blade settings:
![blade-settings](https://user-images.githubusercontent.co

[2019-01-15 23:05] stevengum commented on #897
The first link provided talks about the old v1 [azure cli](https://github.com/Azure/azure-xplat-cli) when it was still on Node.js.

Using `set HTTPS_PROXY <proxy-url>` should still work with `az` (v2, and what we're targeting now with the botservice module) per this [Stack Overflow answer](https://stackoverflow.com/questions/20500613/how-to-set-a-proxy-for-the-azure-cli-command-line-tool).

[2019-01-16 17:54] tsuwandy opened #905 "send dispatch child mapping to LUIS to enable combined prediction endpoint call"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]

## Describe the problem
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Describe alternatives you've considered
A clear and concise description of any alternative solutions or features

[2019-01-17 14:48] dfavretto opened #906 "[MSBOT] Clone services documentation outdated"
## Tool
Name: [Msbot]
Version: \-
OS: \-

## Describe the bug
The documentation for using `MSBOT` is outdated, there's no description on how to use the parameters `code-dir` or `proj-file`

## To Reproduce
Steps to reproduce the behavior:
1. Go to [msbot clone services' documentation](https://github.com/Microsoft/botbuilder-tools/blob/master/packages/MSBot/docs/export-clone.md#cloning-services)
1.

[2019-01-17 19:34] stevengum opened #907 "AZ CLI: az bot create should include publish command"
## Tool
Name: az bot

## Expected behavior
Add a key-value-pair to the returned JSON from `az bot create` which includes the publish command.

[bug]

[2019-01-18 05:57] tsuwandy commented on #866
Published with version 1.2.1

[2019-01-18 05:57] #866 closed

[2019-01-18 05:59] tsuwandy commented on #837
Add an optional param to create and refresh commands called "publishSlot".

[2019-01-18 16:40] chaolyang commented on #596
Just tried following the instructions [here](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/12.nlp-with-luis) and got this error about not being able to provision the app automatically. Tried go to https://apps.dev.microsoft.com/ and create a web app, clicked the setup guide but it also does not work.

Is this issue fixed yet? I installed all the prerequisite

[2019-01-18 16:56] darrenj commented on #596
Can you share the error you get when providing appid and secret as command line parameters? It should accept these and move forward. Also check the name of your bot is likely to be unique

[2019-01-18 17:46] stevengum opened #908 "AZ CLI: Remove extra deployment files"
## Tool
Name: `az bot`

## Describe the problem
iisnode.yml and web.config files that aren't normally a part of the bot's checked-in source code (at the very least, they do not exist in our samples) are left over in the local folder after a `az bot publish`.

## Describe the solution you'd like
Remove the files after the zipped up source code is uploaded to Kudu.

[enhancement]

[2019-01-18 17:57] Zerryth commented on #838
### Note #2
* holding off writing tests for these now myself
* as per Steven G., there's a discussion regarding which team should take ownership of which CLI tool

[2019-01-18 21:15] chaolyang commented on #596
@darrenj Thanks for the reply. Actually I got it to work after some tinkering. The issue was not the appid and secret, it was my LUIS configuration. Manual provision does work.

[2019-01-19 13:46] sorgina13 commented on #768
I think is a bug on the msclone. The subscription key is not in between "" .
If you run the above as:
qnamaker create kb --subscriptionKey "1ca6f1921ed14010bf7ffd6fe4faf515" --name "qnamaker-QNA"
it will work.

[2019-01-20 00:13] tsuwandy commented on #837
this should be available sometime today with version 1.2.2.

[2019-01-20 00:13] #837 closed

[2019-01-20 00:14] tsuwandy commented on #905
Available with DIspatch version 1.2.2

[2019-01-20 00:14] #905 closed

[2019-01-21 07:18] darrenj commented on #596
Thanks for letting us know, if you've got any feedback on docs/tools to make it easier for others let us know.

Sent from Outlook Mobile<https://aka.ms/sdimjr>
________________________________
From: chaolyang <notifications@github.com>
Sent: Friday, January 18, 2019 9:15:20 PM
To: Microsoft/botbuilder-tools
Cc: Darren Jefford; Mention
Subject: Re: [Microsoft/botbuilder-tools] msbot clone services

[2019-01-22 23:10] patlewis-MSFT opened #911 "Failure in tsc build script"
## Tool
Name: Msbot
Version: Downloaded Jan 22, 2019
OS: Windows 10 : Build 1809 17763.253

## Describe the bug
Failure when running npm run build

## To Reproduce
Steps to reproduce the behavior:
1. Copied the botbuilder-tools locally and change to the root of the folder
2. npm install -g chatdown msbot ludown luis-apis qnamaker botdispatch luisgen
3. npm install
4. npm run build

## Expected beh

[2019-01-22 23:11] stevengum commented on #876
Crosslink #895

[2019-01-22 23:11] #895 closed

[2019-01-23 11:18] nitinpokharna commented on #550
Hi, Is there any update on fetching LUIS authoring key Programmatically.
Any API call or something?

[2019-01-23 12:32] cahann commented on #550
Providing an API to fetch the LUIS authoring key is on our road-map but no ETA to share yet

[2019-01-23 15:26] martinoss opened #912 "LUIS CLI - Does not work behind corporate proxy - SSL23_GET_SERVER_HELLO:unknown protocol"
## Tool
Name: **LUIS**
Version: **2.2.2**
OS: **Windows 10**

## Describe the bug
While trying to setup the Virtual Assistant Solution (https://github.com/Microsoft/AI/), the deployment failed with this error:

[code]

I'm pretty sure it is a problem caused by having a corporate proxy server.
I have several settings and environment variables in place (for different applications like git, npm, azur

[2019-01-23 22:54] tsuwandy opened #913 "create/refresh should not fail when LUIS intent has no utterance (only use pattern)"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: *tool version*
OS: *os version*

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. ...
2. ...
3. ...
4. ...

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to hel

[2019-01-23 23:46] stevengum commented on #887
We're going to strip the periods in `az bot create` and log a warning to the user indicating the name change. Unfortunately for us the testing framework for Azure CLI doesn't support mid-command prompts, so this is our best testable option at this time.

[2019-01-24 00:46] stevengum commented on #725
So this issue should be split up into a couple of separate issues.

### Re: `--lang Node`
As Carlos indicated above this is a breaking change. We don't yet have a schedule for breaking changes, but there are at least a couple that we should release at one time, as opposed to folding them in as we get them. We're putting together a plan and will convey it with developers as soon as we have one.

##

[2019-01-24 14:23] KrisvanderMast opened #914 "Emulator 4.2.1 doesn't show transcript file generated with chatdown"
## Tool
Name: [Chatdown]
Version: *1.0.10*
OS: *Windows 10*

## Describe the bug
A couple of months ago transcripts didn't load when I used chatdown latest. Reverting to version 1.0.10 did the trick as described in https://github.com/Microsoft/botbuilder-tools/issues/702. However today I tried (with both versions of chatdown) to generate a transcript file but it doesn't open in the bot emulator (v

[2019-01-24 14:43] KrisvanderMast commented on #914
I tried again but now from a common cmd.exe box instead of the PowerShell one in the terminal window of Visual Studio Code. I noticed that both give different file sizes (cmd: 1472 bytes, PS: 3082 bytes). The one generated with the cmd.exe (or changing to cmd in the VS Code terminal window) generated the working transcript file.

I renamed the .transcript files to .txt as to be able to upload them

[2019-01-24 19:10] mike-morr opened #915 "No msbot commands work when installed globally via yarn"
## Tool
Name: Msbot
Version: 4.3.2
OS: MacOS Mojave 10.14.2

## Describe the bug
Commands fail to run when installed globally using Yarn

## To Reproduce
Steps to reproduce the behavior:
1. If you already have msbot installed remove it
2. Install yarn
3. yarn global add msbot
4. msbot help init

## Expected behavior
Help is displayed

## Screenshots

![image](https://user-images.githubusercontent.

[2019-01-24 19:35] Kaiqb commented on #906
Fix is in this [PR](https://github.com/Microsoft/botbuilder-tools/pull/916).

[2019-01-24 19:35] #906 closed

[2019-01-24 21:52] stevengum opened #917 "AZ CLI: Update iisnode.yml to target 10.14.1instead of 8.9.4."
## Tool
Name: az bot

## Describe the solution you'd like
Update the iisnode.yml to point to Node.js version 10.14.1 , which is now supported on Azure Webapps and Function apps, and that we're now targeting `^10` in the botbuilder-js SDK (Microsoft/botbuilder-js#709) in the 4.3 release going forward.

[enhancement]

[2019-01-25 01:10] Wilburre opened #918 "BotDispatch refresh tries to use version "Dispatch" instead of version specified in CLA using -v"
## Tool
Name: Dispatch (refresh command)
Version: 1.2.2 (node version 10.9.0)
OS: Windows 10 Enterprise Ver 1803 Build 17134.523

## Describe the bug
Refreshing a LUIS dispatch model/app using dispatch refresh -v <myver i.e. 1.7> using the only .dispatch file in the working directory. Instead of using the version number passed in it uses the version "Dispatch" which allows the model to be built an

[2019-01-25 21:49] sgellock commented on #918
@cahann you should make the call whether this is a 4.3 or a 4.4 issue for you

[2019-01-25 21:52] sgellock commented on #913
@cahann triage as you see fit

[2019-01-25 21:52] cahann commented on #918
will target 4.3

[2019-01-26 00:49] tsuwandy commented on #911
Error is actually coming from msbot.

src/msbot-connect-dispatch.ts(122,44

[2019-01-28 16:05] seank-com opened #919 "botdispatch fails to install in docker container"
## Tool
Name: Dispatch
Version: 1.2.2
OS: Debian 9 (stretch)

## Describe the bug

Trying to create a container for all the bot-tools because I hate littering all over my dev machine.

The following Dockerfile fails to build:

[code]

With the following error

[code]

I've tried installing dotnet-sdk-2.0, dotnet-sdk-2.1 & dotnet-sdk-2.2 all with the same result.

Thoe only work around I have found

[2019-01-28 20:09] stevengum commented on #891
Closing as a no repro on my end. If you run into the issue again please reopen the issue and post the output from your CLI.

[2019-01-28 20:09] #891 closed

[2019-01-28 21:40] benbrown commented on #780
We're not going to fix this, sorry!

[2019-01-28 21:40] #780 closed

[2019-01-28 22:32] stevengum commented on #675
Going to close this as a no repro; this I believe has already been fixed, and we're also not receiving additional reports about this problem. If it's still a problem, please @mention me or create a new issue.

[2019-01-28 22:32] #675 closed

[2019-01-28 22:32] sgellock commented on #643
LUISGen has a dependency on the .NET Core runtime.  Please install the .NET Core runtime first, then install Origen

[2019-01-28 22:32] #643 closed

[2019-01-28 22:42] sgellock commented on #862
@santifdezmunoz what version of nodejs are you running on the machine you are trying to install botdispatch

[2019-01-28 22:44] stevengum commented on #882
Spoke with @dmvtech today, and I _think_ I got him unblocked. He's going to manually test and then do a PR for the code-fix with a recorded test.

[2019-01-28 22:55] sgellock commented on #915
The following installs Msbot correctly using yarn.  I tested this using v1.13.0 of yarn.

# globally install msbot
yarn global add msbot

[2019-01-28 22:55] #915 closed

[2019-01-28 23:03] mydiemho opened #920 "`msbot clone services` verbose need to be more verbose"
## Tool
Name: Msbot

## Describe the problem
When I run `msbot clone services` with verbose flag, it is not clear to me whether the command is still running or hanged.

## Describe the solution you'd like
constant feedback to user that process is running, something like `...` every 5 seconds to show it's running.

## Describe alternatives you've considered
A clear and concise description of any al

[2019-01-29 00:33] stevengum commented on #756
@sgellock, @yochay and @carlosscastro are on board with the latest plans for _not_ supporting `az bot create --code-dir`.

We want to keep the responsibilities separate between `az bot create` and `az bot publish`. While users being able to create and publish with a single command would be very convenient, we think it better to avoid wrapping the two together which could lead to headaches if one p

[2019-01-29 00:40] sanjeevdwivedi opened #921 "msbot "clone" command should be renamed to msbot "new" as cloning seems like a publish operation rather than new"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]

## Describe the problem
the command msbot clone ... creates a new deployment but the word "clone" is confusing. It should instead be called msbot "new" to make it explicit.

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Describe alternatives you've considered
A clear and conc

[2019-01-29 01:43] sgellock commented on #921
@sanjeevdwivedi thank you for the feedback and suggestion for a clarifying name for the action.  We agree.  We will be rolling out updates to our command line tools over the 4.3 and 4.4 releases.  It's our expectation that these updates will clarify the confusion you've highlighted.

[2019-01-29 01:43] #921 closed

[2019-01-29 18:23] tsuwandy commented on #913
Fix is ready.  BMW folks are not blocked so will wait to batch this up with other fixes.

[2019-01-29 19:10] tsuwandy commented on #845
@genbod, did you use the command "dispatch refresh -v {new version}"?  thanks!

[2019-01-29 19:10] hattan opened #923 "Please update docs/export-clone.md with explicit details on what will be executed."
## Tool
msbot

## Describe the problem
The readme docs for clone services does not describe in detail which az commands will be executed.

## Describe the solution you'd like
Please update the file docs/export-clone.md to list out all the steps and az commands that will be executed as part of clone services.

## Describe alternatives you've considered
The msbot tool would list out all the commands

[2019-01-29 20:49] genbod commented on #845
yes.

[2019-01-29 21:43] stevengum commented on #756
Moving this out to 4.4 since we're not picking up the features in this sprint/release.

[2019-01-29 22:01] stevengum commented on #888
Unfortunately we cannot change the behavior without it being a breaking change. I agree that this is not great behavior on the part of the CLI and SDK, but in regards to the SDK that information (the invalid key for the region) is all that's returned from LUIS when the error is thrown.

 We are currently evaluating moving towards a more developer-familiar runtime configuration system so it is very

[2019-01-29 22:01] #888 closed

[2019-01-30 17:56] martinkearn commented on #775
Just for context, I think the idea is that all changes to the .bot file are intended to happen via the MSBOT CLI (or emulator which uses MSBOT I believe), not by editing the file in a text editor. MSBOT will not rotate the secret when you add sections, services etc I don't think.

So "_If a developer needs to update the .bot file_", they should use the MSBOT CLI.

Not saying that is right, just th

[2019-01-30 18:00] lynn-orrell commented on #775
To add another bit of information, the Bot Framework Emulator will allow you to change values in place and re-encrypt with the same key. This should be allowed from the CLI as well.

[2019-01-30 19:00] ahmedaashour commented on #881
The tests have Http requests to Translation Service which sometimes get throttled causing transient failures. In order to ensure a deterministic output for the tests, those API calls have to be mocked and replaced by unit tests. Disabled some more tests in #924

[2019-01-30 19:00] #881 closed

[2019-01-30 20:13] #892 closed

[2019-01-30 20:33] dkisselev opened #926 "`luis update version|application` silently ignores model changes other than rename"
## Tool
Name: LUIS

## Describe the problem
I'm using ludown to generate json models and trying to create a quick iterative flow such as: `ludown parse toluis... && luis update version --in...`

The `luis update version` command currently only supports updating the name or description of the version (as documented in the readme).

However, it accepts a complete json model file with `--in` and sile

[2019-01-30 20:48] dkisselev opened #927 "LUIS CLI tool is unintuitive to use with model generators (like ludown)"
## Tool
Name: LUIS|ludown

## Describe the problem
As a new LUIS/ludown user, I expect to be able to perform a flow such as `ludown parse toluis... && luis update application --in...` to quickly compile my ludown file and refresh the model I have defined in luis.

In practice, trying to accomplish this hit a number of roadblocks:
- ludown docs never explicitly state what its json files represent.

[2019-01-30 21:12] sgellock commented on #927
@Kaiqb we'll want to make sure the 4.3 CLI changes coming address the documentation issues raised here

[2019-01-30 21:15] sgellock commented on #923
@Kaiqb let's make sure the new CLI changes we will be releasing in 4.3 address this issue.

[2019-01-30 21:17] sgellock commented on #920
We have some enhancements coming to our CLI tooling in our upcoming 4.3 release which I believe will address your concerns.

[2019-01-30 21:17] #920 closed

[2019-01-30 22:04] dkisselev commented on #633
For anyone that lands here with a similar scenario, here's the complete chain of commands necessary to perform an "update" in one step (🚨with a big dangerous caveat 🚨):

`ludown parse toluis --in ./<yourfile>.lu && luis rename version --versionId 0.1 --newVersionId 0.1-bak && luis import version --in ./<yourfile>.json --versionId 0.1 && luis delete version  --versionId 0.1-bak --force`

The massiv

[2019-01-30 23:09] dkisselev opened #929 "[Ludown] Using a list entity in an utterance is not documented"
## Tool
Name: Ludown

## Describe the problem
The ludown file format documentation (https://github.com/Microsoft/botbuilder-tools/blob/master/packages/Ludown/docs/lu-file-format.md) does not demonstrate how List entities should be included in Utterances.

The correct format is to write an utterance that just uses one of the list entries directly in plain text (no curly braces or other syntax:
[cod

[2019-01-30 23:32] jackiebecker opened #930 "LuisGen NuGet package failing install"
## Tool
Name: LuisGen
Version: 2.0.2
OS: Windows 10 Ent., Version 1809, Build 17763.253

## Describe the bug
When installing LuisGen as nuget package, received this error in PM console:
[code]
Where <MY PROJECT> is of course replaced with the name of my project. Working on latest Visual Studio build (VS 2017, build 15.9.6).

## Expected behavior
Correct installation of LuisGen NuGet package in pro

[2019-01-31 00:40] ahmedaashour commented on #901
This is not a LUIS issue. A single LUIS app will keep the same ordering of exported patterns no matter how many times the user exports it. However, if the user re-imports the same app and re-exports it, the order of the exported patterns of the new app is not guaranteed to match that of the old app.
Adding logic to order the patterns and pattern entities by name in the exported app.

[2019-01-31 01:01] #901 closed

[2019-01-31 17:56] jackiebecker commented on #930
**Update:**  was able to successfully install from the command line; learned that I was unable to install in project from package console because LuisGen is a tool, not library.

**Ask:** would have been helpful to have an error message indicating this. The error message

`Package LUISGen 2.0.2 is not compatible with netcoreapp2.1 (.NETCoreApp,Version=v2.1). Package LUISGen 2.0.2 supports: netcore

[2019-01-31 19:36] jjgriff93 commented on #807
I'm getting this issue when trying to run dispatch refresh in Command Line on an Azure DevOps hosted build agent. There isn't any additional output apart from this same message. Steps to reproduce:
1. Add enterprise bot template into source control in Azure Repos
2. Create a build pipeline with two Command Line steps, using the 'Hosted' agent
3. First step, run `npm i -g botdispatch`
4. Second ste

[2019-01-31 20:33] cleemullins opened #933 "MSBot Update is broken"
Updating MS Bot does not result in the correct new version being picked up. The semver matching rules appear to be incorrect, and it's incorrectly pickup on preview versions.

I have the following version installed:
[code]

When I run MSBot I'm told to update:
[code]

I update MS Bot:
[code]

MSBot still needs to update.
[code]

[2019-01-31 21:17] cleemullins opened #934 "MSBot fails to Encrypt (missing --id parameter)"
## Tool
MSBot version 4.3.2-151
dotnet version 4.2.100

## Describe the bug
At the end of a clone operation for a C# project, MSBot errors out with encryption failure(s).

[code]

The "--id" parameter should be used, but was not specified.
`Ensure this property is set in the project or use the '--id' command line option.`

The alternative, is adding this element to the .csproj file:
[code]
... but

[2019-01-31 22:41] tsuwandy commented on #807
@jjgriff93 , no output (error or update) from "dispatch refresh" command?    How about "dispatch init"? or "dispatch -v"

[2019-01-31 23:05] tsuwandy commented on #918
@Wilburre , did you manually update the Dispatch app version in .dispatch file?  Then also pass in the version parameter for fresh?  "dispatch refresh -v {new version}" works fine for me.  I didn't do any update to the .dispatch file.

[2019-01-31 23:14] Wilburre commented on #918
@tsuwandy No, I only updated the version number for my 2 services and left the dispatch ver number alone as the dispatch refresh operation when done successfully seems to mutate the file to the version number passed in with -v.

TLDR - passed in desired new dispatch version number with -v and adjusted the service version numbers manually in the .dispatch.

I've looked into this further from my sid

[2019-01-31 23:17] tsuwandy commented on #918
oh, got it.  what version of dispatch do you have? "dispatch -v"

I was able to pass in whatever version to "dispatch refresh -v {new version}" but the new version is not published.  This is the bug, correct? Thanks!

[2019-01-31 23:20] stevengum commented on #876
We are planning on improving the robustness around with 4.4, but in the meantime we have added a message warning the user that the connection timed out and that this is a known issue (and provided additional instructions on manually installing the npm dependencies.

[2019-01-31 23:42] Wilburre commented on #918
@tsuwandy  my organisation maintains several dispatch apps in LUIS running different version numbers and have been seeing this issue for a couple of weeks. I get the issue on dispatch 1.2.2 and previously 1.2.1. The version numbers for my dispatch apps currently are 1.9 (the one we're discussing though all of them suffer this issue on refresh), 1.9, 0.2 and "Dispatch" - the one called dispatch wor

[2019-01-31 23:57] tsuwandy commented on #918
Yes, I think I get the bug, the new version is created, but not trained and published.  I'm working on the fix at the moment.  Thanks!

[2019-02-01 02:54] Wilburre commented on #918
@tsuwandy thanks mate

[2019-02-01 03:52] tsuwandy commented on #918
Fix is ready, will publish sometime tomorrow.  There is an optional to publish to staging slot too.  “-publishToStaging true”.  Thanks for reporting this!

[2019-02-01 04:35] navzam commented on #908
@stevengum az cli is version 2.0.55

But I just tried on a clean project and it did not leave behind the upload.zip. I think previously it was left behind on a publish that failed because one of the steps failed with something like "request took too long". So maybe it isn't cleaned up properly on a failed publish.

[2019-02-01 14:48] damadei opened #937 "appId with value "[object Object]" must be of type string and a valid uuid."
## Tool
Name: LUIS
Version: 2.2.0
OS: Windows 10

## Describe the bug
When I run luis add application --in password.luis i get the following error:

appId with value "[object Object]" must be of type string and a valid uuid.

## To Reproduce
Steps to reproduce the behavior:
1. Just run the command above

[2019-02-01 15:33] jcoenen opened #938 "Unable to run dispatch refresh against multiple bot files from same directory"
## Tool
Name: Dispatch
Version: *1.2.2*
OS: *Windows 10 Version 1803 (Build 17314.472*

## Describe the bug
If I run a dispatch refresh command against a bot file everything works great.   If I from that same directory call a dispatch refresh against a different bot file the dispatch model does not get updated.   I believe the reason for this is the first run creates some files (data folder, summa

[2019-02-01 18:33] #856 closed

[2019-02-01 18:44] martinkearn opened #939 "Make it a partial class"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
In the context of generating .net classes

## Describe the problem
LuisGen returns a .net class which needs to be routinely re-generated as the underlying Luis model changes.
In some scenarios, it may be necessary to change or extend the class for custom behaviours but the problem is that any changes get overwritten when you next

[2019-02-01 20:40] tsuwandy commented on #807
Thanks James!  Seems like something we need to add to the readme.

[2019-02-01 20:45] #882 closed

[2019-02-01 21:40] #584 closed

[2019-02-02 20:08] stevengum commented on #887
Closing via Azure/Azure-cli#8384

[2019-02-02 20:08] #887 closed

[2019-02-02 20:09] stevengum commented on #858
Closing via Azure/Azure-cli#8384

[2019-02-02 20:09] #858 closed

[2019-02-02 20:09] stevengum commented on #796
Closing via Azure/Azure-cli#8384

[2019-02-02 20:09] #796 closed

[2019-02-04 08:06] tsuwandy commented on #938
update published to npmjs.org.

[2019-02-04 08:06] #938 closed

[2019-02-04 08:06] tsuwandy commented on #845
update published to npmjs

[2019-02-04 08:06] #845 closed

[2019-02-04 08:10] tsuwandy commented on #918
update published to npmjs

[2019-02-04 08:10] #918 closed

[2019-02-04 08:11] #913 closed

[2019-02-04 12:40] hansmbakker opened #943 "msbot update endpoint creates CLI output garbage as json in bot file"
## Tool
Name: Msbot
Version: 4.3.2
OS: Windows 10 build 17763

## Describe the bug
The development endpoint object in the bot file gets a lot of properties containing garbage that originate from the CLI output

## To Reproduce
Steps to reproduce the behavior:
1. Create bot file using `msbot init --name "development" --endpoint "http://localhost:3978/api/messages" --secret`
2. Update bot endpoint w

[2019-02-04 12:50] hansmbakker commented on #694
This is not sufficient for some use cases in PowerShell.

Imagine you're writing a script where you want to capture the output (e.g. the generated secret) of msbot. Then you can't pipe the output into something else anymore.

`$output = msbot init [someotherparameters] --quiet --secret --% --appPassword | ConvertFrom-Json`
does not work

`$outputJson = msbot init [someotherparameters] --quiet --se

[2019-02-04 17:59] garypretty opened #944 "Exclude LUIS / QnA models when calling Dispatch create / update with bot file"
## Tool
Dispatch

## Describe the problem
It would be good to be able to specifically exclude or include LUIS / QnA apps when using 'dispatch create' or 'dispatch refresh' pointing to a bot file.  I have an extra LUIS model which I am going to require within my bot, but not one that should be evaluated at the top level when an activity comes in.

## Describe the solution you'd like
Additional para

[2019-02-04 19:02] stevengum commented on #917
We need to also update the ARM templates to configure WEBSITE_NODE_DEFAULT_VERSION to v10.14.1

[2019-02-04 19:06] sgellock commented on #862
I am not able to repo this using .net core 2.1, 2.2, nodejs 8.12.0

[2019-02-04 20:34] yochay commented on #783
Moving to 4.4 with the desier to use ARM templates to overcome this issue.

[2019-02-04 21:12] yochay commented on #923
@hattan if you use the --verbose flag on msbot clone services, it prints our all AZ CLI command that take place during the clone process.

[2019-02-04 21:36] hattan commented on #923
@yochay - thanks, I was more interested in knowing what it will do before I run the az cli command. Via the docs/readme.  With --verbose will the cli print out statements and confirm before starting? or simply list the commands as they are executing.

Even if no changes were made to cli, simply listing the steps in the docs would be useful to know what clone services actually does without running

[2019-02-04 21:50] sgellock commented on #923
--verbose does not cause prompt validation before every command.  It simply outputs every command it’s executing.

From: Hattan Shobokshi <notifications@github.com>
Reply-To: Microsoft/botbuilder-tools <reply@reply.github.com>
Date: Monday, February 4, 2019 at 1:36 PM
To: Microsoft/botbuilder-tools <botbuilder-tools@noreply.github.com>
Cc: Scott Gellock <Scott.Gellock@microsoft.com>, Comment <comm

[2019-02-04 21:50] navzam opened #945 "msbot clone services with a sample results in 2 .bot files"
## Tool
Name: Msbot
Version: 4.3.2
OS: Windows 10

## Describe the bug
According to [this doc for deploying sample bots](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-samples?view=azure-bot-service-4.0&tabs=js#deploy-javascript-and-c-bots-using-az-cli), the `--name` parameter can be the same name as your local bot. But if you have an existing bot and you use the same name,

[2019-02-04 21:52] ikivanc opened #946 "Azure deployments unreliable"
Multiple times while trying to deploy a Bot Registration, App Service, or Web App Bot in Azure I ran in to "failed to get deployment status" resulting in an incomplete deployment of resources, or times when deployment would seemingly complete but not everything would be there.

[2019-02-04 21:52] #946 closed

[2019-02-04 21:54] hattan commented on #923
Thanks @sgellock . That's what I had assumed.

The thinking behind this issue is to document which az cli commands will be executed so when researching msbot clone services. This way users would have a clear understanding of what resources it will created for them.

[2019-02-04 21:56] sgellock commented on #946
@ikivanc, what command line tool(s) are you running that exhibit this behavior?  are you running `msbot clone services` or are you running `az bot create`?  In either case, we are working on a couple of things that will help hear.  First off, we will be moving to using ARM templates to provision resources.  This will give us transactional support (no partial deployments).  Secondly, we have starte

[2019-02-04 22:05] sgellock commented on #923
That’s good feedback.  Our intention is to provide the Az CLI commands as part of our 4.3 and 4.4 work.  You should start to see us using Az CLI commands as our main recommendation for CLI interactions for things msbot clone services has done for us in the past

From: Hattan Shobokshi <notifications@github.com>
Reply-To: Microsoft/botbuilder-tools <reply@reply.github.com>
Date: Monday, February 4,

[2019-02-04 22:31] justinwilaby commented on #912
@sgellock - Looks like [ms-rest-js merged the fix](https://github.com/Azure/ms-rest-js/pull/315) for proxy support. We need to increment the ms-rest-js version on our tooling to pick this up once they release

[2019-02-04 22:55] sgellock commented on #912
Sounds like a 4.4 item. Yes?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Justin Wilaby <notifications@github.com>
Sent: Monday, February 4, 2019 2:31:45 PM
To: Microsoft/botbuilder-tools
Cc: Scott Gellock; Mention
Subject: Re: [Microsoft/botbuilder-tools] LUIS CLI - Does not work behind corporate proxy - SSL23_GET_SERVER_HELLO:unknown protocol (#912)

@sgello

[2019-02-04 23:12] sgellock commented on #945
We agree, though we won't fix this.  we will be investing in ARM templates and Az CLI as our recommended approach to provisioning and deployment

[2019-02-04 23:12] #945 closed

[2019-02-05 00:12] Wilburre commented on #918
@tsuwandy thanks for quick fix - tested it this morning and behaves as expected on 1.2.3.

[2019-02-05 00:54] mdrichardson commented on #873
I came across this while trying to fix https://github.com/Microsoft/BotBuilder-Samples/issues/1187.

A possible fix might be changing a line in `function runCommand()` from `msbot-clone-services.ts` from:

[code]

to:

[code]

As I explain in my other, linked issue, I haven't been able to replicate this particular error very well, but the idea came from [this SO question](https://stackoverflow.com

[2019-02-05 12:50] a-hohaze commented on #912
Hey thanks for the info, the label is pumped, QNAMaker CLI tool seems like doesn't use ms-rest, why is ms-rest used here?

[2019-02-05 13:33] hansmbakker opened #948 "Ludown commands break when ending with a trailing slash"
## Tool
Name: Ludown
Version: 1.1.0
OS: Windows 10 Build 17763
Environment: Node.js v10.15.1 in Powershell. The bug does not appear in CMD

## Describe the bug
Cannot specify output folder. Running the repro command below makes the tool crash and returns:
[code]
(I removed my username and project folder; they do **not** contain spaces, the project folder contains dots like `CompanyName.ProjectName

[2019-02-05 15:40] sgellock commented on #912
@a-hohaze not sure what you question is, so I'll take a shot at an answer.  For consistency across our toolchain we'd like our clients to standardize on ms-rest

[2019-02-05 20:09] pawett opened #950 "Tool fails to convert to Luis model when using colons in entities"
## Tool
Name: LUDown
Version: *1.1.0*
OS: *Windows 10*

## Describe the bug
It is not possible to use colons as part of the Entity name or value since this character is used in the definition of the markdown to separate the type/value. It seems that the tool is not able to separate correctly the values for the entity and therefore they are not recovered.

## To Reproduce
Steps to reproduce the beh