[2019-08-20 19:12] Batta32 commented on #1266
Hi @mbwatty!

This looks like a LUISGen's issue, however, reviewing the log that you attached we found the following:

- The error `Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.` is raised in [Typescript.cs:line  31](https://github.com/microsoft/botbuilder-tools/blob/master/packages/LUISGen/src/Typescript.cs#L31) which iterates by each in

[2019-08-20 22:02] Zerryth commented on #1265
@SreekanthOAuth so it turns out that the error is actually non-blocking, and the 3rd layer Dispatch app actually gets created.

For example if I created something that just had 1 path like you had done in your original post:
![image](https://user-images.githubusercontent.com/35248895/63387068-5cec3380-c359-11e9-8a41-b87cde0dcd0a.png)

Commands Ran:

[code]

1. `MommyDisp` is successfully created w

[2019-08-20 22:39] til10 commented on #1227
@darrenj too large and @stevengum too many, so it seems...

`$(Invoke-Expression "az account get-access-token --output json" | ConvertFrom-Json).accessToken.length`

A relatively unladen service principal could potentially be used as a workaround?

[2019-08-21 06:00] SreekanthOAuth commented on #1265
Hi Zerryth, Thanks for the detail explanation. But I have a query here, i.e., if the LUIS model of type dispatch then we are observing **BadArgument: Analytics are not supported for Dispatch applications**.

If you take my example, for **childDispatch** we can see the   **BadArgument: Analytics is not supported for Dispatch applications**. But whereas in **rootDispatch** we will not see the same e

[2019-08-21 07:00] tsuwandy commented on #1265
@SreekanthOAuth, the error on LUIS portal is benign, I have notified LUIS team a while back about this and I’ll ping them again.  For now, just ignore the error on the portal.  Thanks!

[2019-08-21 09:32] SreekanthOAuth commented on #1265
Thanks for the confirmation tsuwandy.

[2019-08-21 13:56] darrenj commented on #1227
Are there any other options for how we can provide the armToken to the luis CLI? Not sure it will make any difference but piping perhaps? Perhaps something the az cli team have seen and could offer some approaches?

[2019-08-21 15:54] stevengum commented on #1227
I'll create a dummy token over 8000 char in length and see where in the code it throws a fit. To me it's not 100% clear, but it seems plausible that the error is being thrown in the generated code, the service, or from PowerShell.

[2019-08-22 21:28] mattklup opened #1269 "Enable dispatch.json generation without publish"
## Tool
Name: Dispatch

## Describe the problem
`dispatch create` will generate the json file and also deploy to luis.ai in one command.  To better facilitate CI/CD pipelines, we would like the ability to generate the dispatch json file without publish (or any secret credentials like authoringKey).  This file will be used by us as part of the build process to generate code and possibly run some st

[2019-08-22 21:51] sgellock commented on #1269
@mattklup, thanks for logging the issue.

[2019-08-22 21:52] sgellock commented on #1269
This is an ask for the team working on the coke scenarios

[2019-08-22 21:53] sgellock commented on #1269
@cleemullins when Hung-chih gets a build, we'll need to push out updated bits to npm

[2019-08-23 17:07] cleemullins commented on #1269
The 1.5.2 build of dispatch is published to NPMJS.

https://www.npmjs.com/package/botdispatch/v/1.5.2

[2019-08-23 18:16] sgellock commented on #1269
@mattklup the team has published an updated version of botdispatch with the fix you requested.

[2019-08-23 18:31] stevengum commented on #1227
After testing the command in VS Code, it's not a problem in the code base. The dummy token wasn't rejected because of its length, just because it was an invalid token.

This requirement on length is actually due to Windows: https://support.microsoft.com/en-us/help/830473/command-prompt-cmd-exe-command-line-string-limitation

After searching for workarounds, it seems that using a relatively unladen

[2019-08-23 19:21] sgellock commented on #1269
Reopening as 1.5.2 was mistakenly assumed to contain the change.  the change will be in 1.5.3.

[2019-08-27 18:03] kabatmartin123 opened #1272 "QnA Maker follow-up prompts do not work in test WebChat"
## Tool
Name: QnAMaker|Azure WebChat test
Version:
OS: windows 10

I have been testing my KB in the QnA Maker Portal using the test chatbot and it doesn’t work as expected with follow-up prompts.
The test chatbot respond partially as configured in the KB. However there isnt any of the follow-up prompts.
Could you help and point me the right direction?

Thank you very much

## To Reproduce
Steps to

[2019-08-28 12:17] xieofxie opened #1273 "handle emoji when ludown parse toqna"
## Tool
Name: Ludown
Version: 1.3.3
OS: Windows 10

## Describe the bug
When lu file has emoji like 🤝, the converted qna file could not be used correctly with qnamaker replace kb.

## To Reproduce
Steps to reproduce the behavior:
1. add  🤝 to lu file
2. ludown parse toqna
3. qnamaker replace kb
4. see the updated kb in qnamaker.ai

## Expected behavior
Emoji is updated correctly.

## Additional co

[2019-08-28 12:37] kabatmartin123 commented on #1272
@Zerryth thank you very much,I really appreciate your help. I do not class my self as a developer, so I apology for the questions. In the files you are sharing, which files should I be editing? thanks

[2019-08-29 02:41] xieofxie commented on #1273
Not exist now. May due to previous non latest packages.

[2019-08-29 02:41] #1273 closed

[2019-08-29 03:02] DingmaomaoBJTU opened #1275 "[Ludown] Translate failed due to nested entity references"
## Tool
Name: Ludown
Version: 1.3.3
OS: *os version*

## Describe the bug
[Hospitality.txt](https://github.com/microsoft/botbuilder-tools/files/3553664/Hospitality.txt)
See attached. Failed to translate this by
ludown translate -k XXX --in Hospitality.lu -t zh

The error is :
![image](https://user-images.githubusercontent.com/16643193/63907023-6d349a80-ca4c-11e9-946d-888c63a753c4.png)

Other optio

[2019-08-29 17:41] CoHealer commented on #1203
Closing as answered. @tejasvinishelar, please let us know otherwise.

[2019-08-29 17:41] #1203 closed

[2019-08-30 05:04] vishwacsena commented on #1224
@ToddN is this resolved per our chat yesterday about import application .vs. import version? If so, can you please close this ticket?

[2019-08-31 23:13] kabatmartin123 opened #1277 "Prompts are displayed, but initial message is shortened."
Prompts are displayed, but initial message is shortened. How can we display multiple lines with the prompts?
Please see image below.

![image](https://user-images.githubusercontent.com/54250385/64069941-311c5800-cc4d-11e9-819d-c861bd76cdda.png)

[2019-09-01 04:41] hcyang commented on #1277
Hi @kabatmartin123,

I believe this is an Adaptive Card issue. For the initial message TextBlock component, you can add a setting to make long message wrap:

"wrap": "true"

[2019-09-01 04:52] hcyang commented on #1277
You can find more information about designing an TextBlock Adaptive Card from this link:
https://adaptivecards.io/explorer/TextBlock.html

[2019-09-01 15:20] kabatmartin123 commented on #1277
@hcyang could you point me towards the folder where I can adjust the structure?
thank you

[2019-09-01 17:08] hcyang commented on #1277
@kabatmartin123, where and how to adjust the adaptive card structure depends on how you constructed it. For example, in the Botframework 07.using-adaptive-cards sample (https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/07.using-adaptive-cards), one can add the setting to one of the examples defined, say,  in Resources/ImageGalleryCard.json. Adaptive Cards object

[2019-09-01 19:55] kabatmartin123 commented on #1277
@hcyang We re using prompts sample. there is  "GetHeroCard(string cardTitle, QnAPrompts[] prompts)"

[2019-09-01 21:51] hcyang commented on #1277
@kabatmartin123, so you are using HeroCard?
Similar issues have been raised and closed, please follow the suggestions in  https://github.com/microsoft/botframework-sdk/issues/1439.

[2019-09-02 00:00] kabatmartin123 commented on #1277
@hcyang my apologies, I do not see any suggestions working for my issue. could you please specify which advise should I be looking into.
what I need is the prompt working as well as having title text to wrap

[2019-09-02 00:03] hcyang commented on #1277
The suggestions in the link was to add \n\n to break up a long title text or use Adaptive Cards, which is more versatile.

[2019-09-02 06:32] kabatmartin123 commented on #1277
@hcyang is there a guide on how to change it? We have used qnamaker-prompt package which doesnt include adaptive cards, just the basic ones(heroCard)

[2019-09-02 09:51] xieofxie opened #1278 "ludown translate to zh-Hans using ，、 instead of , in phraselist"
## Tool
Name: Ludown
Version: 1.3.3
OS: Windows 10

## Describe the bug

 When traslating to zh-Hans, ',' in phraselist is translated to chinese '，', '、'.

## To Reproduce
Steps to reproduce the behavior:
1. add phraselist to lu file
2. ludown translate --to_lang zh-Hans

## Expected behavior

Still ','.

[bug]

[2019-09-02 18:09] tdurnford commented on #1277
Hero Card's title attribute has a character limit. I would recommend modifying the response to use the card's text attribute which does not have a character limit instead. Alternatively you can map the card to an Adaptive Card. For more details take a look at issue https://github.com/microsoft/BotFramework-WebChat/issues/2043#issuecomment-504038214

[2019-09-02 18:32] hcyang commented on #1277
@tdurnford, from @kabatmartin123's previous response, the customer is likely to use the experimental snippet (shown below) in https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/qnamaker-prompting/csharp_dotnetcore/Helpers/CardHelper.cs.

Not sure if the suggestion in #2043 help as the sample is using Text attribute already. Do you know who wrote the 'qnamaker-prompting' sampl

[2019-09-02 18:46] tdurnford commented on #1277
The customer would have to change the `Title` attribute to `Text` when they create the Hero Card. It doesn't look like that property is being used by the sample yet.

[code]
I believe @johnataylor wrote the sample, but I think its better to use a Hero Card since Adaptive Cards aren't support equally across all channels.

[2019-09-02 18:50] hcyang commented on #1277
@kabatmartin123, please see @tdurnford's suggestion and let us know how it goes.

[2019-09-02 19:06] stephanbisser commented on #1074
Hi you could just use our DispatchUpdater from the BB Community repo: https://github.com/BotBuilderCommunity/botbuilder-community-tools/blob/master/DispatchUpdater/README.md

[2019-09-03 09:32] kabatmartin123 commented on #1277
@hcyang and @tdurnford it is working in published bot, however when I test it in emulator none of the changes are not showing.

[2019-09-03 13:17] Batta32 opened #1279 "[LuisGen] Generating single model for multiple Dispatch files"
## Tool
Name: [LuisGen]

## Describe the problem
We deployed a **Virtual Assistant** and a **Skill** bots of [botframework-solutions](https://github.com/microsoft/botframework-solutions) in two different languages (`en-us`, `es-mx`).
Then, we connected each other using [Botskills CLI Tool](https://www.npmjs.com/package/botskills) which during the [refresh command](https://microsoft.github.io/botfr

[2019-09-03 13:35] kabatmartin123 opened #1280 "QnA using hyperlink text"
## Tool
Name: [|QnAMaker|]

## Describe the problem
i would like to add hyperlinks to the answers in qnamaker
At the moment we are using QnAprompting build with HeroCard

## Describe the solution you'd like
We need to use hyperlinks in answers to navigate students to courses etc

## Describe alternatives you've considered
don't have one

## Additional context
don't have one
[enhancement]

[2019-09-03 15:25] hcyang commented on #1280
Hi @kabatmartin123, you can revise the question and answer pairs in your qnamaker model at QnAMaker.ai. In short, you can add a URL in the answers.

[2019-09-03 15:32] hcyang commented on #1269
Hi, the said feature requests have been added in Dispatch CLI v1.5.3 and released. Also notified the user this new feature and there is no further complaint. Will close this bug.

[2019-09-03 15:32] #1269 closed

[2019-09-03 16:02] kabatmartin123 opened #1281 "QnAMaker editing prompt order"
## Tool
Name: [QnAMaker]

## Describe the problem
when editing prompts, the order of the prompts is changing
## Describe the solution you'd like
it would be briliant if we can organise the prompts into an order. drag and drop / moving up&down

## Describe alternatives you've considered
importing spreadsheet without any issues

[2019-09-03 16:37] jwiley84 commented on #1280
Hi @kabatmartin123!

As @hcyang said, it's possible to manually edit the answers in your knowledgebase to use URLs, using both text and images. You can see the guide for the markdown that QnAMaker uses [here](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/data-sources-supported#formatting-considerations), but the gist of it that QnAMaker uses simplified markdown, simil

[2019-09-03 16:37] #1280 closed

[2019-09-03 16:41] tdurnford commented on #1277
Can you be more explicit about your issue with the emulator? By published bot, I'm assuming you mean the Test in Web Chat blade on Azure. If it works on Azure, it should work in the Emulator.

[2019-09-03 18:19] hcyang commented on #1279
Hi @Batta32, we have assigned a developer to look into this issue.

[2019-09-03 20:48] kabatmartin123 commented on #1277
@tdurnford made amendments to the code e.g. "title" changed to "text"; saved all files and published; live version updated however the emulator keeps the older version.

[2019-09-03 20:57] tdurnford commented on #1277
I'm assuming you've restarted the bot and stopped IIS Express?

[2019-09-04 07:36] simer99 commented on #1281
@Kabatmartin123 Thanks for writing to us. While we work on ensuring that editing an existing prompt does not change the order. For a quick fix, could you please delete the prompts and add them in order that you want? Currently an edit in an existing prompt pushes it to the end. We will ensure that editing an existing one should not change the order

[2019-09-04 08:18] ooorndtski opened #1284 "Botdispatch: Handling of none intents"
## Tool
Name: [Dispatch]
Version: 1.5.3
OS: Windows 10

## Describe the bug
This bug report is nearly the same as [this one](https://github.com/Microsoft/botbuilder-tools/issues/190) from last year. We have several luis apps and created a dispatch model. Now, some of the luis apps contains utterances in their none intents which are also utterances in an intent of another luis app. Say luis app A c

[2019-09-04 08:57] kabatmartin123 commented on #1281
@simer99 there is too many of the prompts. also it isn't time effective to delete and re-establish the prompts. Would I have to delete all prompts whenever we want to change one?

[2019-09-04 13:28] simer99 commented on #1281
You need not to delete all. For example: If you want to edit prompt number 3 and you have in total 4 prompts then you need to delete only 3 and 4 and add 3( with new info) and 4.

 We have put it in our backlog. I will update you as soon as we get it fixed.

Also, just to get better clarity - you were just trying to change the display title and nothing else, right?

[2019-09-04 13:54] kabatmartin123 commented on #1281
@simer99 I have 8-10 options in few cases. If I have to rename first or second item then I have to delete them all. I was wondering if I can export the KB; edit the document and import it back. I have tried it but tsv file doesnt work well

[2019-09-04 15:37] hcyang commented on #1284
Hi @ooorndtski, Dispatch CLI did implement the described logic dedupping None utterances from actual intents. Can you take a look of the generated Dispatch LUIS JSON app and double check if utterance X is in "None" or "SomeIntent?" BTW, even if utterance has been correctly dedupped from the None intent, there is a very small chance it can still get misclassified into None. We have an internal diag

[2019-09-04 16:54] mdaffunchio opened #1285 "ludown parse toluis fails"
## Tool

Name: Ludown
Version: 1.3.3
OS: Windows 10

## Describe the bug

Ludown cannot parse utterance "[[this]is] a new form (a | b)"

## To Reproduce

1- Create lu file
2- Add Intention with utterance "[[this]is] a new form (a | b)"
3- Run command "ludown parse toluis ..."

## Expected behavior

The file is parsed and the json file is generated

## Screenshots
[code]

[bug]

[2019-09-04 18:24] hcyang commented on #1285
@mdaffunchio, thanks for reporting this issue. We have assigned a developer to look into it.

[2019-09-04 18:28] hcyang commented on #1284
Hi @ooorndtski, you can 'r' me at hunyang@microsoft.com

[2019-09-04 19:21] axelsrz commented on #1279
Hi @Batta32 , we're currently in the develop of a new tool that will replace LuisGen, we'll discuss the viability of the suggested feature for that new tool. Thank you

[2019-09-04 19:22] axelsrz commented on #1279
@hcyang and @tsuwandy I'm removing the Customer tags given that the person who opened the thread works for an internal supporting team (Southworks)

[2019-09-05 07:16] xieofxie opened #1286 "ludown translate should handle List entities specially"
## Tool
Name: Ludown

## Describe the problem
In lu file, list entities is defined as
[code]
However, only Synonyms are translated since Value must not be translated (or it will be confusing when using).
So in the other language, it does not detect Value.

## Describe the solution you'd like

Add Value automatically to Synonyms when translating.

## Describe alternatives you've considered

Output

[2019-09-05 17:56] vishwacsena commented on #1285
Will investigate and fix for 4.6 release.

[2019-09-06 07:43] ooorndtski commented on #1284
Hi hcynag, thank you for your answer. Utterance X is in the None intent only.

I've to confess that my explanations of the error are not quite right. I'm sorry. Think I confused myself. ...

The luis app A contains utterance X in SomeIntent and luis app B contains an utterance Y in its None intent that contains X as a substring.

For example luis app A contains "play music" in SomeIntent and B con

[2019-09-06 08:59] hcyang commented on #1284
@ooorndtski, thanks, so the issue is not logic, but quality. For a quality issue, we really need you to share with us the sub apps, so we can repro. One way is to add my email (see my previous post) as a collaborator to your LUIS sub-apps.

'None' is a special intent and the --includedIntents option has no effect over it.
I will discuss this issue with my colleagues.

[2019-09-06 18:27] hcyang commented on #1279
@axelsrz, any reason we should not close this issue?

[2019-09-06 18:31] axelsrz commented on #1279
Per talk with @vishwacsena we confirmed that some changes in Luis are necessary before considering taking this feature, I'm closing this issue

[2019-09-06 18:31] #1279 closed

[2019-09-06 18:34] hcyang commented on #1261
@stevengum, as you labelled it P0, can you update the status? Thanks.

[2019-09-07 00:58] #1224 closed

[2019-09-07 23:36] hcyang commented on #1266
Hi @mbwatty, we are going to close this issue. If necessary, please reopen it if the issue is still note addressed. Thanks.

[2019-09-07 23:36] #1266 closed

[2019-09-08 12:51] simer99 commented on #1281
@kabatmartin - That will work - export the KB, Change the display order, import it back. . You can export it as TSV. If you are not able to open TSV directly in excel. Right click and open the TSV in notepad. Do CTRL-A and copy. Open an empty excel and paste it in excel. Once you have made the changes you can save it as tab delimited file and later change the extension to TSV.

[2019-09-09 18:21] tsuwandy commented on #1198
@stevengum, are you planning to push with with Sprint 74?

[2019-09-09 21:39] kabatmartin123 commented on #1281
@simer99 it doesnt really work. prompts disappearing after import

[2019-09-10 11:38] ooorndtski commented on #1284
@hcyang Sorry, I can't share the sub apps because of data protection reasons. But I'm very interested in the results of the discussion.

[2019-09-10 18:17] chrimc62 commented on #1231
All entities in LUIS come back as arrays because a sentence can include more than one instance of an entity--that is why there is a separate entity for "shampoo" and "conditioner".  For list entities the second level is because the resolution can be ambiguous.  Imagine you have "green peppers" with a synonym of "peppers" and "red peppers" with a synonym of "peppers".  If someone says "peppers" the

[2019-09-10 18:37] stevengum commented on #838
Closing this as the code now lives in https://github.com/microsoft/botframework-cli/

[2019-09-10 18:37] #838 closed

[2019-09-10 18:47] stevengum opened #1287 "AZ CLI: Add name availability check to az bot create"
## Tool
Azure CLI

## Describe the bug
az bot create should use the [`get_check_name_availability`](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/botservice/azure-mgmt-botservice/azure/mgmt/botservice/operations/bots_operations.py#L440) API available for validating the az bot create name.

[bug]

[2019-09-10 21:28] tsuwandy commented on #1231
Thanks @chrimc62!  Closing.

[2019-09-10 21:28] #1231 closed

[2019-09-11 17:19] tsuwandy commented on #1284
@ooorndtski, we'll deploy latest version of Dispatch where it'll not treat None as special intent when --"includedIntents" parameter is specified and we could see if this fixes this issue?

[2019-09-12 17:07] yochail opened #1288 "Missing page information in facebook channel"
## Tool
Name: az CLI
OS: win10

## Describe the bug
I'm trying to read programmatically the pages id+token connected to a bot.
I tried:
using azure management API with:
`https://management.azure.com/subscriptions/<sub>/resourceGroups/<rg>/providers/Microsoft.BotService/botServices/<name>/Channels/FacebookChannel?api-version=2018-07-12`
or the cli command:

[code]
both are returning the channel dat

[2019-09-13 10:01] ooorndtski commented on #1284
@tsuwandy Thank you. I'll try again with the new version.

[2019-09-13 14:07] tsuwandy commented on #1284
@ooorndtski , will update this thread when it’s deployed.  Thanks!

[2019-09-13 17:47] scheyal opened #1309 "Add deprecation message to old LuisGen"
As soon as the new tools is live, GA add the following message to the old tool.

https://github.com/microsoft/botframework-cli/issues/127

[2019-09-16 04:37] stevengum commented on #1288
@swagatmishra2007 what's the expected behavior for this API?

[2019-09-16 06:18] stevengum commented on #1287
Pushing this out to [**Sprint 75**](https://github.com/microsoft/botbuilder-tools/milestone/16).

[2019-09-16 16:58] tsuwandy commented on #1284
@ooorndtski,  latest dispatch cli is now on npmjs, None should be treated as other intents when “includedIntents” parameter is used.  Let us know if you are seeing what’s expected or otherwise.  Thank you!

[2019-09-16 16:58] #1284 closed

[2019-09-16 23:20] #1220 closed

[2019-09-17 14:42] sunilbinghamton opened #1292 "Unable to install dispatch tool on Ubuntu 18"
Tools Libraries: botdispatch
Linux - Ubuntu 18 LTS

While trying to install botdispatch npm module as a part of bot framework 4 on Ubuntu 18 installation stops with this error.

[code]

[2019-09-17 17:51] tsuwandy commented on #1292
@sunilbinghamton, did you preinstall .NET Core runtime by following instructions on this page prior to running the npm install command?
https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x.

It's listed on readme as prerequisite for Linux installation.  Thanks!

[2019-09-17 17:58] sunilbinghamton commented on #1292
Yes. I have preinstalled .NET core runtime following the readme.
Sorry, I should have mentioned this before.

[2019-09-17 18:01] tsuwandy commented on #1292
Thanks @sunilbinghamton.  Trying to get a repro.

[2019-09-17 20:27] tsuwandy commented on #1292
I wasn't able to install .NET Core 2.1 on my Linux VM but could you try following this workaround?  He installed dotnet-2.1 locally and it worked.

https://github.com/fearthecowboy/dotnet/issues/2

[2019-09-17 21:16] sunilbinghamton commented on #1292
Yes, the work around worked. Thanks a lot.

[2019-09-17 21:16] #1292 closed

[2019-09-18 23:45] swagatmishra2007 commented on #1288
The CLI (and rest api) wouldnt give show you secrets by default (This is true for most azure api's), so that you dont inverently expose your passwords/tokens on a command line.
To see secrets like "appSecret" , use the --with-secrets flag -
az bot facebook --with-secrets

For the 2nd bot, where you are getting the pages as null, i am looking at it on the service side logs. i will update this threa

[2019-09-19 08:00] yochail commented on #1288
@swagatmishra2007  I tried az bot facebook --with-secrets, which resulted in error.
is there a way to add the "with-secrets" flag to the management.azure.com API call?

[2019-09-19 22:18] swagatmishra2007 commented on #1288
@yochail  i am able to repro this on my bot and see its a service side issue. I will investigate and check in a fix and update this thread when the fix is deployed.
Thanks for reporting it

[2019-09-19 23:39] stevengum commented on #1227
Spoke with @jspruance in person to brief him on this issue; he's going to work on it for the 4.6 timeframe.

Thanks @jspruance!

[2019-09-20 08:57] DingmaomaoBJTU opened #1295 "[ludown] Dup roles are founded for .json file generated by ludown"
## Tool
Ludown
Version: *tool version*
OS: *os version*

ludown version: 1.3.3

How to repro:
1.  ludown refresh Calendar.json
[Calendar.json.txt](https://github.com/microsoft/botframework-cli/files/3634488/Calendar.json.txt)
Calendar.json is a luis with role export from luis.ai.

2. ludown parse ToLuis --in Calendar.lu

Here is the generated lu file from step 1:
[Calendar1.lu.txt](https://github.

[2019-09-20 08:58] DingmaomaoBJTU commented on #1295
This is a blocking issue for composer to use luis with roles.

[2019-09-20 16:44] stevengum commented on #1176
Adding this to the [Sprint 77](https://github.com/microsoft/botbuilder-tools/milestone/18) milestone.

[2019-09-20 16:53] vishwacsena commented on #1295
Fixed via #1251

[2019-09-20 16:53] #1295 closed

[2019-09-20 17:50] daden-ms opened #1296 "Ludown should build valid subcommand to ensure the model output by parse toluis can be loaded by LUIS portal"
## Tool
Name:  Ludown

## Describe the problem
I have experience a model that's converted from lu file to json format which cannot be loaded by LUIS portal

## Describe the solution you'd like
a validity sub-command that can tell if the lu file/json file can be loaded as a valid LUIS app or not.

## Describe alternatives you've considered
NA

## Additional context
NA

[enhancement]

[2019-09-20 17:59] daden-ms opened #1297 "Ludown parse toluis should support hi-in culture"
## Tool
Name: Ludown

## Describe the problem
Ludown parse toluis  doesn't take in culture input hi-in

## Describe the solution you'd like
NA
## Describe alternatives you've considered
NA

## Additional context
Add any other context or screenshots about the feature request here.

[enhancement]

[2019-09-20 18:58] daden-ms opened #1299 "Ludown translate introduces errors in intent patterns"
## Tool
Name: Ludown
Version: 1.3.3
OS: *os version*

## Describe the bug
Ludown translate introduces errors in intent patterns when the source script is English and target script is Engli我很

## To Reproduce
Steps to reproduce the behavior:
1. Create lu file with the following format
## FindDoc
- find {DocType=word} doc in folder work
-  [((show|find)|open)] {DocType} doc in folder {FolderName}

$

[2019-09-20 20:21] stevengum commented on #1198
PR is out right now, but didn't make the date... It should land by Sprint 75 closes.

[2019-09-20 20:22] stevengum commented on #1261
The code has been added to https://github.com/stevengum/azure-cli/tree/Sprint75.

[2019-09-21 21:19] kabatmartin123 commented on #1281
anyone else have any solutions to this issue?

[2019-09-23 09:26] muminasaad opened #1300 "Dispatch refresh doesn't add the multi turn questions"
## Tool
Name: Dispatch
Version: 1.5.1
OS: Windows 10

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Create QNA Maker Cognitive model
2. Add question with multi turn
3. Create Luis Cognitive model
4. Run the dispatch refresh command
5. Test the multi turn question

## Expected behavior
To have multi turn question to retu

[2019-09-23 22:50] dmvtech commented on #1300
Able to reproduce behavior. My assumption is this is because multi turn is relatively new and hasn't been added to dispatch functionality (assuming it can).

I'll check for more info.

[2019-09-23 22:51] dmvtech commented on #1300
Also, doesn't add the questions in `dispatch create` either.

[2019-09-24 00:58] thegoo opened #1301 "ludown refresh Issue with QnA Maker multi-turn KB"
## Tool
Name: *ludown*
Version: *current*
OS: *Windows*

## Describe the bug
Issue when running *ludown refresh* against QnA Maker multi-turn KB.  Only the first node/grouping of the multi-turn KB is captured.  The remainder of the tree content is not captured.

## To Reproduce
Steps to reproduce the behavior:
1. Create QnA Maker KB w/multi-turn enabled
2. Populate KB with multi-turn-able content

[2019-09-24 10:02] EdwinOtten opened #1302 "ludown refresh mangles special characters"
## Tool
Name: Ludown
Version: 1.3.3
OS: Windows 10

## Describe the bug
This is possibly related to issue #1072 , so I double checked that I am on the latest version (I'm on 1.3.3).

When a LUIS application contains special characters, the `ludown refresh` command creates a LU file that mangles those characters. I am experiencing this when using the the `--RemoteToLocal` option of [update_cognitiv

[2019-09-24 10:20] EdwinOtten commented on #1302
Note: this bug seems to be amplifying itself with every iteration when you keep doing this:
1. Use the powershell script with `--RemoteToLocal` to pull the latest changes
2. Run the powershell script again (without args) to deploy

Resulting in a growing string of gibberish:
[code]

[2019-09-25 01:46] vishwacsena commented on #1301
Multi-turn conversations in QnA Maker is a [preview](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation) feature. We are actively working on maturing a solution for import/ export of multi-turn conversations defined in QnA maker.

[2019-09-25 05:51] SreekanthOAuth opened #1304 "Seeing Γö¼├í in .lu file while exporting QnA from Remote"
## qnamaker
Name: QnAMaker
Version: *1.3.1*
OS: *Windows 10*

## Describe the bug

Not sure why these are coming. Are these are replacing any char or symbols?
When we try to export the QnA from remote to local seeing Γö¼├í in .lu file.
qnamaker export kb `
                --environment Prod `
                --kbId $kb.kbId `
                --subscriptionKey $kb.subscriptionKey | ludown refresh `

[2019-09-25 08:13] tsuwandy commented on #1300
We have the update ready and planning on deploying today or tomorrow at the latest.

[2019-09-25 11:50] simer99 commented on #1281
@Kabatmartin - Did you try doing the import from the Settings page or through the createKB page? If you have the exported TSV and you are trying to add it as a file in the create KB page then it would not work. please create an empty KB, go to settings page and then do import. Let me know how it goes

and apologies for late response.

[2019-09-26 21:22] vishwacsena commented on #1300
We've added support for this via a --includePrompts flag that you can pass while adding QnA KB.

See `dispatch add -h` for more information.

[2019-09-26 21:22] #1300 closed

[2019-09-27 08:58] xieofxie opened #1306 "optional can't be used with grouping"
## Tool
Name: Ludown
Version: 1.3.3
OS: Windows 10

## Describe the bug

Reports
[code]

## To Reproduce
Steps to reproduce the behavior:

```  ludown parse toluis --in ``` the following:
[code]

## Expected behavior

Parse correctly to patterns.

## Screenshots
If applicable, add screenshots to help explain your problem.

## Additional context
Add any other context about the problem here.

[bug]

[2019-09-29 10:31] muminasaad commented on #1300
It is not working on Bot file, and working on Dispatch File

"includePrompts": true

please add support to bot file

[2019-09-29 10:49] muminasaad opened #1307 "Dispatch tool IncludePrompts doesn't work on bot file"
#1300  Tool
Name: Dispatch
Version: 1.5.5
OS: Windows 10

## Describe the bug
Dispatch command new option IncludePrompts is not working when refresh using bot file

## To Reproduce
Steps to reproduce the behavior:
Prerequisite:
Bot file.
QnA with multiturn

1- Add "IncludePrompts": true to bot file.
2- Run Dispatch command
3- Check the Dispatch Luis.

## Expected behavior
Prompts to be added to th

[2019-09-29 16:14] tsuwandy commented on #1300
@muminasaad, unfortunately we no longer support any changes msbot (and thus changes to its schema).  IncludePrompts is dispatch specific schema/option.  For refresh,  if you have .dispatch file, bot file is not required.   You could modify the qna maker kb element in the .dispatch file and add “includePrompts” : true.  The dispatch is now set for subsequent refreshes.

Let me know if you need more

[2019-09-29 16:33] muminasaad commented on #1300
@tsuwandy
Thanks for your response.
While working with bot framework the bot schema file is somewhat important to test the bot, save the configuration for other non-developer testing.
And having for each tool a file is too much to maintain, can you provide the reason to drop the bot file ?

[2019-09-29 18:02] tsuwandy commented on #1300
@muminasaad, it’s not dropped yet, Dispatch still supports it as of now.  Unfortunately, we no longer update the bot schema.  Once .dispatch file is created, there is really no reason to use .bot file with Dispatch cli.   Is there a way not use .bot file as it’s deprecated.  Thanks!

[2019-09-30 19:21] tsuwandy commented on #1307
@muminasaad, continuing our discussion from https://github.com/microsoft/botbuilder-tools/issues/1300, is there a way you use .dispatch file instead?

[2019-10-01 09:53] muminasaad commented on #1307
@tsuwandy yes there is a way to use the dispatch file.

I still prefer having the bot file supported as the Bot Emulator Accepts the Bot File and having a new file for each environment we have on each project we deliver is too much for us but again we well endure if you will not support it  for future usages

[2019-10-01 09:54] muminasaad commented on #1307
@tsuwandy as per our discussion I will close the bug due to your response that the bot file is obsolete and deprecated in dispatch utility.

[2019-10-01 09:54] #1307 closed

[2019-10-01 15:26] managedcoder opened #1311 "dispatch init fails when targeting usgovvirginia"
## Tool
Name: Dispatch
Version: 1.5.3
OS: Windows

## Describe the bug
I've been whitelisted into QnA Maker in Azure Government which now allows me to attempt to use the Virtual Assistant Template in Azure Government.  The deploy_congnitive_models.ps1 script from that template calls:

`dispatch init --name <dispatch name> --luisAuthoringKey <key> --luisAuthoringRegion <gov region> --dataFolder <fo

[2019-10-01 15:27] #1309 closed

[2019-10-01 16:56] stevengum commented on #1288
@swagatmishra2007 any updates on this issue?

[2019-10-01 17:16] stevengum commented on #1261
As indicated, there is a PR out and I'm working on getting that merged into Azure-CLI.

[2019-10-01 19:00] tsuwandy commented on #1311
@managedcoder, for gov, one would need to use "--gov true" parameter.  Let me know if you are still having troubles getting it to work with the gov parameter.

[2019-10-02 16:46] managedcoder commented on #1311
Thanks so much!  That did the trick and `dispatch init` now completes successfully

[2019-10-02 17:08] stevengum commented on #1288
@yochail the issue should be fixed as the bugfix went out in this week's deployment. Please test it again and let us know.

[2019-10-02 17:52] tsuwandy commented on #1311
@managedcoder, thanks!

[2019-10-02 17:52] #1311 closed

[2019-10-03 09:55] sealight commented on #345
Any update about this?

[2019-10-03 16:36] tsuwandy commented on #995
@hansmbakker, checking on this at the moment.  Will update as soon as we decide on the solution. Thanks!

[2019-10-03 17:12] hansmbakker commented on #995
@tsuwandy thank you for checking!

If we could get a nuget package (with a .net library) then we could use this in azure functions or build our own tools - this is also requested in #345. This is a solution that would be flexible to all of us.

[2019-10-04 07:37] SreekanthOAuth opened #1312 "Dispatch refresh for LUIS and QnA"
## Tool
Name: Dispatch
Version: *1.5.3*
OS: *Windows 10*

## Describe the bug
When I run this command **dispatch refresh --dispatch** it's not refreshing the QnA models. Based on document also it says the same. Seems we need to run the refresh with --bot to update both QnA and LUIS.

## To Reproduce
Steps to reproduce the behavior:
1. Create Dispatch LUIS model
2. Create LUIS model
3. Create QnA m

[2019-10-04 16:58] stevengum commented on #1311
@tsuwandy can you or someone familiar with the tool update dispatch's readme with the --gov flag and any other new flags?

[2019-10-04 19:26] cahann commented on #798
the backend work was done blocked on the frontend, will move it to 4.7

[2019-10-04 20:02] cahann commented on #1179
deprecating collaborators experience so closing this issue

[2019-10-04 20:02] #1179 closed

[2019-10-04 22:19] dmvtech commented on #1312
Hi @SreekanthOAuth

To be clear; are you saying that after running `dispatch refresh --dispatch <filename.dispatch>`, the QnA knowledgebase is not being updated? Or is it not updating the *.qna file?

It _should_ be updating the q_**kbname** LUIS intent in the LUIS dispatch app.

[2019-10-04 23:15] jspruance commented on #1227
Update: PR #1313 added for this issue. Working on adding some tests now.

[2019-10-07 05:04] SreekanthOAuth commented on #1312
Hi @dmvtech - Yes, the QnA KBs are not being updated.

Yes, q_[name]/l_[name] is getting added to the dispatcher when you try to create the QnA and LUIS apps first time.

Problem is when you have some updates in QnA KBs, and try to refresh the dispatch.

Thanks,
Sreekanth

[2019-10-07 10:32] sibbl opened #1314 "Dispatch create returns BadArgument: Import operation has failed"
## Tool
Name: [Dispatch]
Version: 1.5.5
OS: Windows 10 build 18362.356

## Describe the bug

Creating a dispatch application doesn't work anymore. The tool's output is

[code]

I created a dispatch application one week ago using a powershell script (see below).
Today I deleted it, and ran the same script again. The

## To Reproduce
Steps to reproduce the behavior:
1. Create at least one luis appli

[2019-10-07 10:33] sibbl commented on #1314
Perhaps this might also be related to https://github.com/MicrosoftDocs/bot-docs/issues/1373

[2019-10-07 14:41] tsuwandy commented on #995
@hansmbakker, we are working on this.  Will update this issue when package is ready, should be in a few days. Thanks!

[2019-10-07 17:51] hansmbakker commented on #995
Thank you!

[2019-10-07 18:10] chrimc62 commented on #1314
@tsuwandy can you verify this if this caused by the new version of dispatch?

[2019-10-07 18:16] chrimc62 commented on #1281
@kabatmartin123 closing this due to lack of activity.  Happy to help if you are still having issues.

[2019-10-07 18:16] #1281 closed

[2019-10-07 18:42] tsuwandy commented on #1314
@sibbl, contacted LUIS team over import failure.  Will update as soon as I received a response.

[2019-10-07 20:55] tsuwandy commented on #1314
@sibbl, issue has been identified and deployment is ongoing, it should be deployed before end of day tomorrow.

[2019-10-08 05:21] eyunzhang opened #1317 "az bot facebook show error when "--with-secrets true" option is turned on"
I have a facebook channel, and i'm using az bot facebook to manage it. It was working fine until a few days ago with below error:
az bot facebook show --subscription xxx --resource-group xx--name xxx --with-secrets true
Error occurred in sending request. Please file an issue on https://github.com/Microsoft/botbuilder-tools/issues

If I remove the "--with-secrets true", the command can successfully

[2019-10-08 20:39] tsuwandy commented on #1314
This issue has been fixed on LUIS side.  Please let me know if you are still seeing import failure on dispatch create.

[2019-10-08 20:39] #1314 closed

[2019-10-08 22:45] dmvtech commented on #1317
Hmm, I thought I was able to reproduce it (also with other channels msteams, slack, kik, telegram), but it seems that it is failing even if I remove `--with-secrets true`

Can you let us know what version of az cli you are using by running `az -v`?

[2019-10-08 23:00] dmvtech commented on #1317
@eyunzhang

Also, did you upgrade az cli recently?

[2019-10-08 23:01] dmvtech commented on #1317
Note: Confirmed working in 2.0.70

[2019-10-08 23:19] dmvtech commented on #1317
Confirmed failure (--with-secrets true) [--with-secrets false is success] on version 2.0.74

[2019-10-09 01:57] eyunzhang commented on #1317
Thanks for looking into the issue. Here is the output of my az -v. And I didn't do any update, it's whatever version I installed several weeks ago. It was working fine until sometime recently (around later of last week).

azure-cli                         2.0.73 *

command-modules-nspkg               2.0.3
core                              2.0.73 *
nspkg                              3.0.4
telemetr

[2019-10-09 13:06] ThomasPe opened #1320 "Using LUISGen with dispatch result fails"
## Information:
* Tools Libraries: LUISGen, qnamaker, botdispatch
* Libraries' Versions: latest
* OS: Windows

## Issue Description:
I have a botframework v4 bot using dispatch to consolidate a LUIS app & a QnA Maker app.
When the request is being handeld by LUIS i'd like to convert the contents of the connectedServiceResult to my LUISGen generated class. However the Convert() method of my generat

[2019-10-09 15:41] dmvtech commented on #1317
thanks @eyunzhang

Can you try running it with the --debug flag and then sharing the output here?

`az bot facebook show --subscription xxx --resource-group xx--name xxx --with-secrets true --debug`

[2019-10-09 16:15] eyunzhang commented on #1317
Here is the output. Please note that I have replaced my real subscription, resource-group and name with place holders.

Command arguments: ['bot', 'facebook', 'show', '--subscription', 'subscriptionId', '--resource-group', 'resource-group', '--name', 'resource-name', '--with-secrets', 'true', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_

[2019-10-09 23:19] dmvtech commented on #1312
I'm unable to reproduce the issue. I have it successfully refreshing the dispatch model when adding a qna pair to qna KB.

I am running version 1.5.4. Can you update your version and try again?

[2019-10-10 09:23] Hatzman91 opened #1321 "Add Application information in LuDown as Library"
## Tool
Name: Ludown as Library
Version: 1.3.3

## Describe the bug
I created an Azure Function for generating a json for Luis with ludown, now I wanted to upload that Json as new Version but then I noticed that I still needed some Application information.
I just might be to stupid, but i didn't find a way to add the same variables as with the normal command tool.

so in order to really use it I n

[2019-10-10 12:41] NC2408 opened #1322 "Dispatch - Some phrase lists aren't being imported during dispatch creation"
## Tool
Name: Dispatch
Version: 1.5.5
OS: Windows Server 2019 Datacenter - Version 10.0.17763

## Describe the bug
We have two LUIS models that each have distinct phrase lists (model 1 has 3 phrase lists, model 2 has 6) and a QnA KB that we want to use in a dispatch model. When running this dispatch creation process, 3 of the phrase lists from model 2 do not get imported as part of that process. I

[2019-10-10 18:16] cleemullins commented on #1321
@Hatzman91, thanks for reporting this.

The *new* version of this library, found in the [bf-cli](https://github.com/microsoft/botframework-cli/tree/master/packages/luis) repo, supports this. That version will be released as part of the 4.6 cycle (Oct 31).

That version has evolved quite a bit from this one, and one of the core design tenants of the new library is that it's suitable for use as a st

[2019-10-10 18:16] #1321 closed

[2019-10-10 20:13] dmvtech commented on #1317
@eyunzhang My issue was related to an old token. Looks like yours _might_ be as well.

Can you try:

[code]

and if needed:

`az account set --subscription <SUBSCRIPTION>`

[2019-10-10 22:53] dmvtech commented on #1322
I'm going to attempt to reproduce this. I'll let you know if I have any questions. Thanks @NC2408

[2019-10-11 19:45] dmvtech commented on #1322
I'm able to reproduce similarly.

I have:
model1: 3 phrase lists, all interchangeable
model2: 6 phrase lists, 3 interchangeable, 3 not interchangeable

In my dispatch model I have 7 (as opposed to your 6). 2 of my interchangeable ones are missing.

I don't think it has to do with the interchangeable property, but would you let me know what you have set for your 9 phrase lists? (just a total. inter

[2019-10-11 20:19] dmvtech commented on #1320
I'm looking into this. It will take me a bit of time to reproduce and troubleshoot. I'll update as I have results.

[2019-10-11 21:06] dmvtech commented on #1320
Did you happen to get a null reference when running luisgen?

[code]

[2019-10-11 23:14] hcyang commented on #1322
Hi,

During creating a dispatch LUIS model, Dispatch CLI will try to merge phrase lists from sub apps in order to avoid hitting LUIS's 10-phrase-lists limit. In the scenario, Dispatch will merge the 3 non-interchangeable phrase lists into 1 (before splitting it again if its size is over LUIS' phrase list size limit). The interchangeable phrases might get merged if they share the same name.

Please

[2019-10-12 03:36] eyunzhang commented on #1317
no, it tried logout and re-login, same issue.

[2019-10-12 04:52] tsuwandy commented on #1322
@NC2408, if possible could you share your exported LUIS files to hunyang@microsoft.com so he could take a look at the issue?  Thanks!

[2019-10-14 16:34] stevengum commented on #1287
Moving this out to [S162/ Sprint 80](https://github.com/Azure/azure-cli/milestone/79) to make sure the teams work lands.

[2019-10-14 17:29] hcyang commented on #1322
Dana shared 2 LUIS apps and their Dispatch app for repro. As Dana indicated, there are, in total, 9 phrase lists from two the sub models, 6 of them are interchangeable, and 3 non-interchangeable. The 3 non-interchangeable lists were merged into one called “ni_0” in the dispatch model. The other 6 are copied over and processed into “i_0” to “i_5.” Thus the 9 original phrase lists have become 7, as

[2019-10-14 17:41] CoHealer commented on #1312
@SreekanthOAuth, do you still require assistance?

[2019-10-14 18:23] cwhitten commented on #1288
Closing due to inactivity. @yochail we believe this issue is addressed. Please re-open if this issue is not fixed for you.

[2019-10-14 18:23] #1288 closed

[2019-10-14 18:42] christopheranderson opened #1323 "Separate libraries from clis"
## Tool
Name: Ludown|LUIS|QnAMaker|Chatdown|

## Describe the problem

All our CLI based tools have a library component and a cli based component. The challenge this creates is that the cli tool tends to have a ton of depenendencies that aren't required when using just the library (chalk, cli stuff, glob, etc.).

## Describe the solution you'd like
Ideally, we'd keep library and cli separate. Othe

[2019-10-14 18:45] christopheranderson commented on #1323
Additionally, if we separate out the libraries, we can remove the `package-lock.json` from the libraries. It is not recommended to ship package-lock.json in libraries.

[2019-10-14 19:49] tsuwandy commented on #995
Hello, private package is here:
https://botbuilder.myget.org/feed/botbuilder-tools-daily/package/nuget/Dispatch

We are working to publish it to nuget.org.  Thanks for your patience!

[2019-10-14 21:17] tsuwandy commented on #1187
This is done.

[2019-10-14 21:17] #1187 closed

[2019-10-14 23:30] NC2408 commented on #1322
Hi,

I'll recreate our Dispatch model from our LUIS sources and test to see if any of our missing keywords appear in any of the lists in the way you describe and I'll let you know the outcome

[2019-10-15 01:16] jkolonko commented on #550
I believe this issue is solved - now LUIS does not have to be authored using a personal key, but the one from LUIS Authoring resource. [More details](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-concept-keys?tabs=V2).

[2019-10-15 18:30] christopheranderson commented on #1323
https://github.com/microsoft/botframework-cli is solving this problem.

[2019-10-15 18:30] #1323 closed

[2019-10-16 15:38] dmvtech commented on #1312
Closing as haven't heard back. If this issue persists on version 1.5.4, please let me know and reopen the issue.

[2019-10-16 15:38] #1312 closed

[2019-10-17 00:32] tsuwandy commented on #995
@hansmbakker, thanks so much for your patience!  Unfortunately, after further discussion with the rest of the team, we have decided that we won't be releasing dispatch as a nuget package.   The rest of our tooling is NodeJS based and the next version of Dispatch (targeted for BUILD 2020) will also be in NodeJS.  The nuget package won't be maintained/supported post BUILD 2020 so it doesn't seem wor

[2019-10-17 06:30] marinaannak opened #1327 "marina-ana2011@mail.ru"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: *tool version*
OS: *os version*

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. ...
2. ...
3. ...
4. ...

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to hel

[2019-10-17 11:31] hansmbakker commented on #995
Ok, that's clear. Thank you for your efforts, though!

[2019-10-17 11:31] #995 closed

[2019-10-17 14:15] jwiley84 commented on #1327
Closing this issue, as there are 0 details as to what may be a problem and is possibly an accidental posting. If you are having issues with any of the botbuilder tools, please reopen and fill out the template with the appropriate details.

[2019-10-17 14:15] #1327 closed

[2019-10-21 17:04] dmvtech commented on #1317
Does it fail with other channels as well (if applicable), or only Facebook?

[2019-10-21 19:11] jspruance commented on #1227
Requested review from Steven Gum
https://github.com/microsoft/botbuilder-tools/pull/1313

[2019-10-23 17:20] sgellock commented on #1227
PR #1313 was merged.

[2019-10-23 17:20] #1227 closed

[2019-10-25 17:13] chrimc62 opened #1332 "Handling custom functions in visual studio code lg extension"
## Tool
Name: LGVScodeExt

## Describe the problem
The tool doesn't work very well when you have added custom functions in that they are always treated as an error.

## Describe the solution you'd like
It would be great if the options for the extension let you register custom functions.

## Describe alternatives you've considered
At the very least coloring a missing function definition in a differ

[2019-10-25 18:14] congysu commented on #1322
@NC2408 does the solution work for you?  let us know.  Thanks.

[2019-10-25 19:01] congysu commented on #1320
@dmvtech can you please kindly update, when you've a repo.  Thanks.

[2019-10-25 19:13] RenanCarso opened #1333 "Ignoring QnA Maker multi-turn child utterances"
## Tool
Name: Dispatch
Version: 1.5.6
OS: Win

## Describe the bug
It is only generating utterances for QnA Maker multi-turn parent utterances and ignoring the child ones.

## To Reproduce
Steps to reproduce the behavior:
1. Create a QnA KB with multiturn utterances.
2. Publish KB
3. run the command 'dispatch create' with the KB related
4. check the *.json file over utterances and will see that on

[2019-10-25 21:22] dmvtech commented on #1320
@ThomasPe Can you share the exception you are getting? I was able to get something to fail by making one of the intents to be named differently (_my assumption is that you did no renaming of intents, but can you confirm?)._

Other than that, I'm not sure. If you share the exception, that might help determine what is happening.

[2019-10-28 18:23] bradrlaw opened #1334 "Error installing botdispatch"
## Tool
Name: botdispatch
Version: *2.0.2*
OS: *Win 10*

## Describe the bug
The installation instructions from the tutorial fail when attempting to install LUISgen.  It has not been consistent with some machines succeeding and others failing.
Tried installing the botdispatch package with "npm I -g botdispatch" and the error is generated.

## To Reproduce
Steps to reproduce the behavior:
1. Open c

[2019-10-28 18:31] johnataylor commented on #1333
@trojengui can you take a look at this

[2019-10-29 00:18] stevkan commented on #1333
@RenanCarso, a couple questions for you:

1) Are you training and publishing your KB?
2) Are you running `dispatch add` before `dispatch create`?
3) Are you looking at the right .json file?

When I test this (with regards to QnA), I use the following commands and parameters. I then end up with a `_Q_distribution.json` file (based on my QnA kb of the same name) and an `nlp-dispatch.json` file. The

[2019-10-29 16:59] jwiley84 commented on #1334
By installing one by one, you've been able to verify it's botdispatch causing this?

[2019-10-30 10:27] DingmaomaoBJTU opened #1335 "[LuisGen] Add strong typed class support for new luis feature like sentiment"
## Tool
Name: LuisGen
Version: 2.2.0.0
OS: *os version*

## Describe the bug
Add strong typed class support for new luis feature like sentiment. This information also contains luis result, format like this:
"sentimentAnalysis": {
    "label": "positive",
    "score": 0.9863797
  }
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-quickstart-intent-and-sentiment-analysis

[2019-10-30 13:51] dkonyayev opened #1336 "Dispatch Eval terminates with Object Reference error"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: 1.5.7
OS: Win 10 PRO

## Describe the bug
Running dispatch eval terminates with error.

## To Reproduce
Steps to reproduce the behavior:
call dispatch eval --luisSubscriptionKey "<mykey>" --luisSubscriptionRegion westus

## Expected behavior
Eval report

## Screenshots

call dispatch eval --luisSubscriptionKey "<mykey>"

[2019-10-30 15:16] rozele opened #1337 "[Ludown] Support prebuilt intents in Ludown"
## Tool
Name: Ludown

## Describe the problem
I have a model that includes some user trained intents as well as prebuilt intents. Is there a way to represent prebuilt intents in .lu files?

## Describe the solution you'd like
E.g., `## $PREBUILT:Utilities.Confirm`

## Describe alternatives you've considered
I attempted to roundtrip from LUIS JSON -> Ludown -> LUIS JSON to see if Ludown does have s

[2019-10-30 17:55] dmvtech commented on #1336
I can reproduce in dispatch version `1.5.4`

[2019-10-30 18:06] dmvtech commented on #1317
hi @eyunzhang Can you confirm this is still happening? Does it fail on other channels other than Facebook?

[2019-10-30 18:07] dmvtech commented on #1320
Hi @thomaspe Can you share the exception?

[2019-10-30 22:45] jameslew opened #1339 "[Docs] Given recent changes, LU files dont' represent both QnA & LUIS"
The readme for .LU files indicates that it supports both LUIS & QNA via LuDown.  That may need to be updated as I understand it for recent changes.

[2019-10-31 03:56] DingmaomaoBJTU opened #1340 "Luis tool does not support Get/Set publish settings"
## Tool
Name: LUIS
Version: 2.6.2
OS: *os version*

## Describe the bug
Luis tool does not support Get/Set publishsettings, which declared here:
https://github.com/microsoft/botbuilder-tools/blob/278155eb71a58c8367b912593feacc60387d5395/packages/LUIS/src/operations/apps.ts
Line 439

References should be added here also:
https://github.com/microsoft/botbuilder-tools/blob/c74b7e210e06d166a042ad04c2a

[2019-10-31 18:25] cleemullins commented on #1340
We are rewriting the LUIS API tool in our R7 release. This will be done as part of the [BF CLI](https://github.com/Microsoft/botframework-cli).

This work is being done against the following spec:
https://github.com/microsoft/botframework-cli/blob/master/specs/LUIS-CLI-IN-BF.md

*INCLUDED* in that spec is the get publish settings. Suggestions for additional scenarios should be created as issues in

[2019-10-31 20:42] tsuwandy commented on #1336
@dkonyayv, @dmvtech, we have a new version coming to fix the throttling from LUIS prediction during evaluation.

[2019-10-31 22:08] tsuwandy commented on #1336
@dkonyayev , botdispatch 1.5.8 is just published.  Please let us know if you are still running into this issue.  Thanks!

[2019-11-04 13:16] EdwinOtten opened #1352 "dispatch-cli: Unable to install/use dotnet framework"
## Tool
Name: *Dispatch*
Version: *1.5.8*
OS: *Windows 10 Enterprise (10.0.18362 Build 18362)*
Installed .NET Core SDKs: `2.1.505`, `2.1.508`, `2.1.802`

## Describe the bug
When running any dispatch command (e.g. `dispatch refresh`, `dispatch add` or `dispatch --help`) the tool outputs: **Unable to install/use dotnet framework**.

The only command that works is `dispatch --version` which returns

[2019-11-04 14:20] EdwinOtten commented on #1352
## Update
 This might be an issue with the [**dotnet-2.1** npm package](https://www.npmjs.com/package/dotnet-2.1) because I ran into a related error when trying to do a fresh install of botdispatch and .NET Core.

I did the following:
1. Uninstalled the dispatch-cli via `npm uninstall -g botdispatch`
2. Uninstalled all versions of .NET Core SDK via *Programs and Features*
3. Rebooted my PC
4. Inst

[2019-11-04 18:12] dmvtech commented on #1352
Unfortuntely, I am not able to reproduce.

@tsuwandy Any thoughts?

[2019-11-04 18:31] dmvtech commented on #1317
I'm going to close this one assuming the issue no longer happens. Please let me know if that is not the case.

[2019-11-04 18:31] #1317 closed

[2019-11-04 19:04] stevkan commented on #1333
Closing due to a lack of activity. Please feel free to reopen if the issue persists. Review the above responses and post any new information.

[2019-11-04 19:16] tsuwandy commented on #1352
@EdwinOtten, there was an issue with the install script for dotnet-2.1 package with node version 12 and latest package has been republished to npm.  Which version of nodejs do you have?

In any case, try the following after unintalling botdispatch:
If you are using a machine you have already installed .net npm packages previously, from powershell run :
# clean the package cache
npm cache clean --f

[2019-11-04 20:58] CoHealer commented on #1334
@bradrlaw, do you still require assistance?

[2019-11-05 07:33] EdwinOtten commented on #1352
@tsuwandy I'm running node 12.13.0 (latest LTS version). I tried uninstalling and running the commanda you mentioned in powershell (version 6, in admin mode)
[code]

It still throws the ELIFECYCLE error: *Failed at the dotnet-2.1@2.1.1005 postinstall script*

I could try downgrading to a LTS version of node 10, may that make a difference?

[2019-11-05 07:59] tsuwandy commented on #1352
@EdwinOtten, please try node 10.  I’ll try to get a repro with node 12 and will inform dotnet team of the errors again.  Thanks!

[2019-11-05 10:07] EdwinOtten commented on #1352
@tsuwandy I uninstalled node, rebooted my pc. Then I installed node 10 and downgraded npm to the corresponding version. After this I tried to install botdispatch, but still the same error 😞

[code]
The complete log file:
[code]

[2019-11-05 10:21] EdwinOtten commented on #1352
<details>
<summary>I could use some help...</summary>
<p>

[code]

</p>
</details>

[2019-11-05 10:22] EdwinOtten commented on #1352
Oops, accidentally closed the issue but I didn't mean to..

[2019-11-05 17:49] tsuwandy commented on #1352
@fearthecowboy, any ideas?  I tried installing on node 12 and worked fine for me.  @EdwinOtten copied the entries from the log above.  Thanks!

[2019-11-05 18:08] fearthecowboy commented on #1352
This is a different issue -- I think it's failing for some other reason.

let's try just the .net framework package:

In an powershell prompt:

[code]

and it should dump out a bunch of debugging data.

[2019-11-05 19:55] RenanCarso commented on #1333
@stevkan, I'm really sorry for late response. Now I'll have proper time for caring this subject.

I've double checked all steps you suggested and no child multiturn utterances.

Actually, I tried the @tsuwandy suggestion and didn't worked as well.

If I check the data\_Q_*.json, it is exactly as you related, with all the multiturn utterances, parent and child.

But if I check json file on the root

[2019-11-06 00:41] CoHealer commented on #1320
@ThomasPe do you still require assistance or shall we consider the issue resolved?

[2019-11-06 14:41] EdwinOtten commented on #1352
Thanks! I solved the issue 😄
By setting `$env:debug=1` and `$env:debug=1` I've got some more info on the issue:
[code]

Based on the error above I discovered that dotnet-2.1 uses yarn to install some other packages, which runs into issues with our corporate firewall/proxy setup.

I've had the *unable to get local issuer certificate* error before, when using NPM. I already had a .npmrc file (inside

[2019-11-06 16:17] dmvtech commented on #1320
Closing due to no activity.

[2019-11-06 16:17] #1320 closed

[2019-11-06 17:09] fearthecowboy commented on #1352
Ah.  Good to know.

Yeah, I can add that to the readme.

FWIW, I had to use Yarn -- using NPM programatically is fraught with pain and suffering.

[2019-11-06 17:25] tsuwandy commented on #1352
@EdwinOtten, @fearthecowboy, thank you!!  @EdwinOtten, closing this issue. 👍

[2019-11-06 17:25] #1352 closed

[2019-11-06 17:59] EdwinOtten commented on #1352
It's not that I'm against using Yarn. I just didn't look for a solution in that direction.. until I noticed  *yarn* in the debug logs :wink:

Thanks to both of you for spending time on this and helping me out! :+1:  :tada:

[2019-11-06 19:14] compulim commented on #1334
@bradrlaw we are closing this due to inactivity. If you are still hitting this issue, please open a new issue and reference this one. Thanks!

[2019-11-06 19:14] #1334 closed

[2019-11-06 19:15] compulim commented on #1322
@NC2408 we are closing this due to inactivity. If you are still having similar issues, please open a new issue and reference to this one.

[2019-11-06 19:15] #1322 closed

[2019-11-06 21:47] scheyal commented on #1339
I believe bf qnamaker does support .LU file format conversion. @vishwacsena should confirm.

[2019-11-07 07:12] vishwacsena commented on #1339
@jameslew - I presume you are looking for a doc update for LU format deep-link from composer? Can you confirm?

[2019-11-07 11:07] singzzz opened #1354 "Dispatch Refresh terminates with Object Reference not set error"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: 1.5.8
OS: macOS Mojave

## Describe the bug
dispatch refresh command does not complete, terminates at the republish stage with Object Reference error

## To Reproduce
run the dispatch refresh command

## Expected behavior
Refresh completes and dispatch models update

## Screenshots
dispatch refresh --luisSubscriptionKey

[2019-11-07 11:12] singzzz commented on #1336
@tsuwandy It looks like I am getting the same issue when running the refresh command in 1.5.8, have raised a new ticket #3154

[2019-11-07 14:54] EdwinOtten commented on #1354
I am having the same issue on botdispatch `1.5.8`. When it starts publishing the first child model, the error is thrown.

[2019-11-07 15:51] RenanCarso commented on #1333
@stevkan could you please reopen this issue?

[2019-11-07 16:23] tsuwandy commented on #1333
@RenanCarso, would you mind sharing your .dispatch file to tien.suwandy@microsoft.com so I could investigate?  Thanks!

[2019-11-07 16:37] RenanCarso commented on #1333
Just sent it.

[2019-11-07 16:49] tsuwandy commented on #1333
Thanks Renan, taking a look.

[2019-11-07 17:28] aishwaryaumachandran commented on #1354
I'm facing the same issue as well. When it tries publishing the first child model

[2019-11-07 18:20] anusharavindrar commented on #1354
Assigning the issue to @tsuwandy. The issue is similar to the dispatch eval error.

[2019-11-07 19:02] tsuwandy commented on #1354
@EdwinOtten, @aishwaryaumachandran, something changed with LUIS publishing API.  I'm not sure yet why but publish now starts throwing error.  However, LUIS dispatch app is created and published to LUIS so please ignore the error for now.  Investigating the error at the moment, thanks!

[2019-11-07 20:25] tsuwandy commented on #1354
Quick update.  I contacted LUIS team and they are working on mitigating the issue at the moment.

[2019-11-07 20:46] tsuwandy commented on #1333
@RenanCarso, try starting a clean dispatch (in a different folder), and run these commands again:

dispatch init -n DispatchKBPT --luisAuthoringKey "8892XXXXXXXXXXXXXXXXX836c" --luisAuthoringRegion westus
dispatch add -t qna -i 4ddbXXXXXXXXXXXXXXXXXXXXXXXXXXXX66e0 -n QnaPT -k 0cf7XXXXXXXXXXXXXXXXXXXX67cd --includePrompts true

Check the updated .dispatch file.  Make sure the services element looks

[2019-11-07 20:49] tsuwandy commented on #1354
@EdwinOtten, @aishwaryaumachandran, I have confirmed that this issue is now mitigated.  Please let me know otherwise.

[2019-11-07 20:49] #1354 closed

[2019-11-11 16:53] Kaiqb commented on #1339
@jameslew - can you confirm?

[2019-11-11 19:23] axelsrz commented on #1340
This is coming soon in the new version of the tool, if you feel there is an issue with the spec please open an issue in the respecting repository.

[2019-11-11 19:23] #1340 closed

[2019-11-12 16:35] mr-sandy opened #1358 "dispatch test - usage limits and costs"
## Tool
Name: Dispatch

## Query
Do calls made using `dispatch test`:
 - count towards usage limits
 - incur costs?

Thanks

[2019-11-12 18:59] tsuwandy commented on #1358
@mr-sandy, the "test" command should not count toward usage limits/incur costs.

[2019-11-12 18:59] #1358 closed

[2019-11-12 19:52] danielt113 commented on #1333
I am having a very similar issue. When I use "includePrompts", it includes ones with **context-only** enabled. We have many prompts that are simply "Yes" or "No" and dispatch can't detect the intent for those.

Is there an option to ignore prompts with the **context-only** flag?

[2019-11-12 21:48] tsuwandy commented on #1333
@danielt113, we were not aware of **context-only** flag, thanks for bringing this up.  It makes complete sense to update Dispatch to ignore these prompts.  Will update this thread once I take a look and update the cli.

[2019-11-13 17:10] tsuwandy commented on #1336
@singzzz, @dkonyayev, I haven't been able to repro, is this still happening?

[2019-11-13 17:12] tsuwandy commented on #944
@garypretty, closing this as bot file/msbot is deprecated and we are working on the next gen dispatch solution.  "dispatch remove" would be the right mitigation. :-)

[2019-11-13 17:12] #944 closed

[2019-11-13 22:58] tsuwandy commented on #1333
@danielt113, latest dispatch is published.  It’ll now ignore prompts with isContextOnly for QnA kb added with “—includePrompts true”

[2019-11-14 00:31] scheyal opened #1367 "Add deprecation message to LuDown, QnAMaker, and LuisGen (similar to Chatdown)"
## Tool
ToolName: [Ludown|QnAMaker||LuisGen]

`WARNING:  {ToolName} is deprecated.  For more information refer to https://aka.ms/bfcli.`

[2019-11-14 00:32] scheyal opened #1368 "Chatdown: Fix deprecation message"
Old Message:
`WARNING:  chatdown is deprecated.  For more information refer to https://aka.ms/botframework-cli.`

New Message:
`WARNING:  chatdown is deprecated.  For more information refer to https://aka.ms/bfcli`

[2019-11-14 10:19] henryjenkins opened #1369 "Dispatch `test` TSV file problems"
## Tool
Name: [Dispatch]
Version: 1.5.8
OS: MacOS 10.14.6 (Mojave)

## Describe the bug
The [Dispatch documentation](https://github.com/microsoft/botbuilder-tools/tree/master/packages/Dispatch#testing-your-dispatch-model) states that the `test` command expects a TSV file with headings of "expected intent", "weight" (optional) and "utterance". I'm seeing inconsistent and unexpected bahavior with th

[2019-11-14 10:40] henryjenkins opened #1370 "Question: Dispatch CLI Usage Allowance"
Do calls to `dispatch predict` count towards usage/costs?

[2019-11-14 10:49] henryjenkins opened #1371 "Dispatch Batch Testing with Entities"
## Tool
Name: Dispatch

## Describe the problem
Batch testing is very valuable, and I can see there's two options available.

Firsty, there's testing via the LUIS portal. Batch testing there allows you to upload a [JSON file](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-batch-test#batch-syntax-template-for-intents-with-entities) of up to 1000 utterances. You provide

[2019-11-14 12:33] henryjenkins opened #1372 "Dispatch Test Report Linking to Wrong Version"
## Tool
Name: Dispatch
Version: 1.5.8
OS: MacOS 10.14.6 (Mojave)

## Describe the bug
We use a build pipeline to manage LUIS and Dispatch. This includes generating a new version of the Dispatch model. When we run batch tests against the model, the resulting report (`Summary.html`) always contains a link to `.../versions/Dispatch...` rather than the actual version e.g. `.../versions/39...`

## To R

[2019-11-14 13:07] henryjenkins opened #1373 "Dispatch Batch Testing Inconsistency"
## Tool
Name: Dispatch
Version: 1.5.8
OS: MacOS 10.14.6 (Mojave)

## Describe the bug
There's two available methods of batch testing. Via the UI in the LUIS portal, and via the Dispatch CLI tool.

When batch testing a Dispatch model on the LUIS portal, the expected intent is asserted against the actual intent from the Dispatch model.

When batch testing a Dispatch model using the Dispatch CLI tool

[2019-11-14 13:39] henryjenkins commented on #1373
Apologies, I just realised that the `--doTopLevelPredictionOnly` covers this.

[2019-11-14 13:39] #1373 closed

[2019-11-14 13:56] henryjenkins opened #1374 "Batch Testing Publishes Models"
## Tool
Name: Dispatch
Version: 1.5.8
OS: MacOS 10.14.6 (Mojave)

## Describe the bug
When running a batch test, it has unintented consequences - it always publishes the Dispatch model and any connected services to their production slots.

## To Reproduce
Steps to reproduce the behavior:

1. Create 2 or more LUIS models
2. Create a dispatch model using the LUIS models
3. Update and publish new ver

[2019-11-14 17:38] anusharavindrar commented on #1370
@henryjenkins Yes, calls to dispatch predict dispatch will count towards usage limit.

[2019-11-14 17:41] anusharavindrar commented on #1370
@henryjenkins Yes, calls to dispatch predict dispatch will count towards usage limit.

[2019-11-14 17:41] #1370 closed

[2019-11-14 17:52] dmvtech commented on #1369
@henryjenkins I will attempt to see if I can reproduce. I see that dispatch v`1.5.9` is out. Is it possible for you to see if you can reproduce with that version?

[2019-11-14 17:52] dmvtech commented on #1372
@henryjenkins I will attempt to see if I can reproduce. I see that dispatch v`1.5.9` is out. Is it possible for you to see if you can reproduce with that version?

[2019-11-14 17:52] dmvtech commented on #1374
@henryjenkins I will attempt to see if I can reproduce. I see that dispatch v`1.5.9` is out. Is it possible for you to see if you can reproduce with that version?

[2019-11-14 18:42] dmvtech commented on #1372
I am able to reproduce this.

@tsuwandy I'm guessing this is just a small bug in the tool that creates the html/link.

[2019-11-14 19:06] tsuwandy commented on #1336
@singzzz, @dkonyayev, closing this as I couldn't repro.  Please reopen if it's still happening on your side.

[2019-11-14 19:06] #1336 closed

[2019-11-14 19:06] tsuwandy commented on #1333
closing th

[2019-11-14 19:06] #1333 closed

[2019-11-14 19:16] axelsrz commented on #1371
hey @tsuwandy could you take a look at this feature request? Thanks

[2019-11-14 19:54] dmvtech commented on #1374
I'm not able to reproduce this yet. Having issues running the `dispatch test` command. I'm getting an error `LabelIndexMap does not contain the key 'expected intent'`

@tsuwandy Any thoughts on this one?

[2019-11-14 21:26] tsuwandy commented on #1371
@henryjenkins , any reason why you don't use the batch test on LUIS portal for entities?  Dispatch CLI by design doesn't work with entities as it concerns only with intent classification to correctly route user's utterance to the right sub modules (ie one or more LUIS app, one or more QnA kbs).

I'm closing this as this is not Dispatch area.  Please let us know if you'd like to create a feature re

[2019-11-14 21:26] #1371 closed

[2019-11-14 21:46] tsuwandy commented on #1372
@henryjenkins, nice catch!  I have fixed this and will try to publish latest version by tomorrow (v 1.6.0).  Thanks.

[2019-11-15 08:46] henryjenkins commented on #1371
Ah, ok. We have a build pipeline, which also takes care of managing our Dispatch and LUIS models. We have set up batch testing to run during this build to ensure the quality of our models. While we can also manually test via the LUIS portal, that's not something we can automate during our builds. We will have a very large and complex model so we want to automate as much as possible. If that's not

[2019-11-15 13:44] henryjenkins commented on #1369
Thanks, unfortunately somthings come up so I won't be able to look into it today but I'll try the new version as soon as I can.

[2019-11-15 13:44] henryjenkins commented on #1374
Thanks, unfortunately somthings come up so I won't be able to look into it today but I'll try the new version as soon as I can.

[2019-11-15 18:05] tsuwandy commented on #1372
@henryjenkins, dispatch 1.6.0 is published to npm.  Closing this, please reopen if issue persists.  Thanks!

[2019-11-15 18:05] #1372 closed

[2019-11-15 18:21] tsuwandy commented on #1374
@henryjenkins, dispatch 1.6.0 is published to npm with this fixes.  Let us know if you are still seeing issues.

[2019-11-15 18:21] #1374 closed

[2019-11-15 18:44] tsuwandy commented on #1369
@henryjenkins, there's actually undocumented argument which controls this.  Add "--linesToSkip 1" parameter to skip heading.  We'll fix the documentation, thanks!

[2019-11-18 14:12] henryjenkins commented on #1372
Hi. I'm just catching up on things. When I run tests now, with v1.6.0, I see no version at all in the URL.

`.../versions//dashboard`

[2019-11-18 14:27] henryjenkins commented on #1369
Thanks for the update. When I try using that option with Dispatch v1.6.0, it doesn't seem to do much. With the same test file as in the screenshot in the post above, I still get the same error.

Additionally, regardless of what you set it to (0, 4, 10) it always skips a single row. That means if I take the heading row out, the first test is always skipped. Therefore the same workaround still appli

[2019-11-18 15:33] henryjenkins commented on #1374
I can confirm that running a test no longer publishes anything.

I'm not sure if it's related to this but now when I run a test, it now always expects the test to run against version "Dispatch" regardless of what other versions you have, what versions are published to either staging or production, or even if you have a "Dispatch" version. If you don't, it just errors with "Failed batch predicting"

[2019-11-18 21:10] jameslew commented on #1339
I was told that there were now two files, an LU file and a QnA file of some sort, and that they were different.  I may be misinformed on that point, but if I'm not, this document indicated the one file format was supporting both services.

[2019-11-18 21:19] tsuwandy commented on #1369
@henryjenkins, thanks.  We found the issue with reading of linesToSkip param.  It has been fixed and will get out sometime today with Dispatch 1.6.1.

[2019-11-18 21:19] #1369 closed

[2019-11-18 21:31] tsuwandy commented on #1372
@henryjenkins, great catch again, thanks!  This will be fixed with v 1.6.1 to be published later today.

[2019-11-19 08:03] xhr0804 opened #1377 "dispatch test not work"
## Tool
Name: Dispatch
Version: 1.6.1
OS: win10

## Describe the bug
A clear and concise description of what the bug is.
Can't run the test successfully, while the Dispatch eval works ok.
![image](https://user-images.githubusercontent.com/44257569/69127839-03291000-0ae6-11ea-9bb6-e4c68ed6f0a1.png)

## To Reproduce
Steps to reproduce the behavior:
1. ...
2. ...
3. ...
4. ...

## Expected behavior
A

[2019-11-19 18:59] tsuwandy commented on #1377
@xhr0804, what version of Dispatch do you have?  I just ran the test command and it was working fine for me.  Thanks!

[2019-11-19 20:41] tsuwandy commented on #1377
@xhr0804, would you mind sharing your .dispatch and the test files to tien.suwandy@microsoft.com/hunyang@microsoft.com?  Thanks!

[2019-11-20 02:23] xhr0804 commented on #1377
@tsuwandy , I've tried this again this morning without any changes, It turns to be OK now. Didn't know which part went wrong yesterday.  Anyway, Thanks for reply.

[2019-11-20 02:23] #1377 closed

[2019-11-20 03:54] tsuwandy commented on #1377
@xhr0804, thanks for the update.  LUIS server could have been down at the time.

[2019-11-20 09:48] henryjenkins commented on #1372
This still seems to be a problem with Dispatch v1.6.1

[2019-11-20 22:12] tsuwandy commented on #1372
@henryjenkins, got it.  It's the summary file in the test folder and also after running "eval" command if the version is specified (non Dispatch version).  I have updated the code and will deploy with the next batches of improvements/other bug fixes.  Thanks!

[2019-11-21 08:54] henryjenkins commented on #1372
Ah! Of course! I was so busy focusing on the report in the test folder that I forgot about the summary file at root level. I'd had been more specific if I'd realised. Thanks.

[2019-11-21 18:26] tsuwandy commented on #1372
@henryjenkins, Dispatch 1.6.2 is published to npmjs and should fix this issue.  Thanks!

[2019-11-22 19:41] Stevenic commented on #1367
done

[2019-11-22 19:41] #1367 closed

[2019-11-26 15:26] xtianus79 opened #1383 "Dispatch Luis Model is erroring out with an "the operation has timed out" message when trying to add in a luis model to the dispatch"
## Tool
Name: Dispatch
Version: botdispatch@1.6.2
OS: MacOs

## Describe the bug
When trying to import in a luis model upon exporting a particular luis app model it gives a time out error.

[code]

## To Reproduce
Steps to reproduce the behavior:
1. dispatch create

## Expected behavior
to work

## Screenshots
If applicable, add screenshots to help explain your problem.

## Additional context
Add

[2019-11-26 15:35] danielt113 opened #1384 "Dispatch test won't recognize "canadacentral" region"
## Tool
Name: Dispatch
Version: 1.6.2
OS: Windows 10

## Describe the bug
After running "dispatch test", I am prompted for a region. When I type canadacentral it says "Invalid region".

## To Reproduce
Steps to reproduce the behavior:
1. Run dispatch test on a LUIS model on a canadacentral prediction endpoint
2. When prompted for a region type canadacentral

## Expected behavior
canadacentral shou

[2019-11-26 18:44] xtianus79 commented on #1383
I've done a testing where I scaled back the limit on the amount of intents which right now is 386 intents with underlying entities to 5 intents and that works.  So I am wondering what the limitations are exactly on the dispatcher.

[2019-11-26 23:53] dmvtech commented on #1384
@danielt113 In this case, you need to use `westus `as the authoring region. The authoring region for LUIS isn't available in `canadacentral` (although the publishing/query region is).

See here for more info:
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-regions#other-publishing-regions

[2019-11-27 15:07] mohandivraniya opened #1386 "Virtual Assistant Template deployment script stuck at "Initializing Dispatch model""
## Tool
Name: [Dispatch]
Version: 0.6
OS: Windows Server 2016 Data center

## Describe the bug
Virtual Assistant Template deployment script stuck at "Initializing Dispatch model"

## To Reproduce
Steps to reproduce the behavior:
1. Download and install all [prerequisites](https://microsoft.github.io/botframework-solutions/virtual-assistant/tutorials/create-assistant/csharp/2-download-and-install/)

[2019-11-27 18:57] tsuwandy commented on #1383
@xtianus79, the as dispatch app is a LUIS app, the limit is the same as LUIS limit here:  https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-boundaries#model-boundaries

Did you try to create a dispatch with 386 child LUIS apps?  Or a dispatch with one child LUIS app with 386 intents (and other LUIS app and/or QnA kb)?  If the 2nd, it should work.

Could you share your .dispatch f

[2019-11-27 19:24] stevengum commented on #1176
I've been unable to reproduce this problem, I'm going to close the issue.

Azure-CLI has live tests that run nightly, and they haven't failed...

[2019-11-27 19:24] #1176 closed

[2019-11-27 19:25] danielt113 commented on #1384
I can't retest it just yet however I'm confused, doesn't dispatch test use the prediction endpoint? Our authoring is on westus but prediction is canadacentral.

[2019-11-29 17:12] xtianus79 commented on #1383
Hi @tsuwandy I am going to try this for your but to be honest I think the very error is the fact that you can't create those json files.  that is the point where it times out if that helps.

[2019-11-29 17:13] xtianus79 commented on #1383
in fact what i will do is email you the split and then I will email you what the full one is if I can get that json

[2019-11-29 17:29] xtianus79 commented on #1383
@tsuwandy Hi! So I sent you an email giving you the split model of the 3 luis files and sent another follow up email with the dispatch file.

When i try and run the single model those files don't even create... only the first original model creates and the other combined luis model we have that is not split doesn't even create anything else in that data directory.  this is where the error occurs a

[2019-12-02 14:38] henryjenkins opened #1387 "Dispatch Connected Service Result"
## Tool
Name: Dispatch
Version: 1.6.2
OS: MacOS 10.14.6 (Mojave)

## Describe the bug
This isn't necessarily a bug, but a behaviour we noticed that we didn't really expect so if it isn't a bug it would be good to understand why.

We have a few LUIS models and a Dispatch model. We noticed that when the Dispatch model runs prediction, the connected service result always returns a responce from the v

[2019-12-02 19:47] vishwacsena commented on #1339
There now are two separate documents that cover the [LU](https://github.com/microsoft/botframework-cli/blob/master/packages/lu/docs/lu-file-format.md) and [QnA](https://github.com/microsoft/botframework-cli/blob/master/packages/lu/docs/qna-file-format.md) file formats.

[2019-12-02 19:47] #1339 closed

[2019-12-02 19:57] dmvtech commented on #1384
I'm not quite sure. I'll see if I can confirm. Test might go against authoring as well. When you run dispatch add for LUIS resources, you specify the authoring key/region.

Does your .dispatch file have entries for _all three_ of these (westus is my .dispatch example):

[code]

What are they set to?

[2019-12-02 21:20] tsuwandy commented on #1387
@AmirGeorge, could you check if the prediction API query for child model on staging slot if the dispatch is queried at staging slot?  Thanks!

[2019-12-03 12:19] AmirGeorge commented on #1387
Hi,

Dispatch is not supported for staging slot. In order to test the behavior of the dispatch without having to publish on the production slot, there is actually an alternative way using the direct version publishing functionality.

Direct version publishing is a feature that enables publishing the application with the identifier not as the slot (PRODUCTION/STAGING), but rather as the versioin Id

[2019-12-04 08:51] henryjenkins commented on #1387
Thanks for the reply. I'll try this approach as soon as I can.

[2019-12-04 10:23] SreekanthOAuth opened #1388 "Getting error while exporting from remote to local"
## Tool
Name: QnAMaker
Version: *1.3.2*
OS: *Windows 10*

## Describe the bug
Today, while trying export command getting below error,

`Sorry, unable to parse stdin as JSON!

 {}

Stopping further processing.`

## To Reproduce
Steps to reproduce the behavior:
1. Create QnA Model
2. Export Sample Assistant from [here](https://github.com/microsoft/botframework-solutions/tree/master/templates/Virtual

[2019-12-04 13:05] SreekanthOAuth opened #1389 "[LUIS] Getting error while exporting from remote to local"
## Tool
Name: LUIS & LUISDOWN
Version: *tool version*
OS: *os version*

## Describe the bug
Getting below exception while exporting from remote,

The versions - Export application version Operation under LUIS Programmatic APIs v2.0 API is not supported with the current subscription key and pricing tier LUIS.S0.

LUIS Command Line Interface - © 2018 Microsoft Corporation

Exports a LUIS application

[2019-12-04 19:12] gabog commented on #1368
Hi @scheyal, are you driving this one to closure? Any updates

[2019-12-04 21:56] KinleyP commented on #937
Problem still exists. The tool seems generally not to work very well. Importing an app or a version is simply impossible.

[2019-12-04 22:37] tsuwandy commented on #1383
@xtianus, I was able to create a dispatch with the 3 LUIS files and a modified dispatch file (from what you sent).   I attached the final dispatch json file in the email.

If you have similar output as the following, that'll be helpful for me to diagnose where it errors out on your side.  Thanks!

Exporting services for dispatch...
Creating dispatch LUIS model json...
Creating training data...
WAR

[2019-12-05 20:32] scheyal commented on #1368
@munozemilio - Can you please update chatdown asap for R7?

[2019-12-06 08:42] tsuwandy commented on #1384
@danielt113, looks like Dispatch cli is not yet aware of the canada central region for runtime.  Workaround for this would be updating cli settings file where botdispatch is installed. If installed globally, it's in %appdata%\npm\node_modules\botdispatch\bin\netcoreapp2.1\appsettings.json.

Add canadacentral to SubscriptionRegions property in the file and save.

"SubscriptionRegions": [
    "westu

[2019-12-06 14:56] xtianus79 commented on #1383
@tsuwandy Hi, I believe you sent an email you had recreated the issue.  Just following up here

[2019-12-06 16:07] tsuwandy commented on #1383
@xtianus79, it’ll be published today.

[2019-12-06 17:04] Stikemanley opened #1391 "Issues Refreshing / Setting up Dispatcher"
## Information:
* botdispatch@1.6.2
* npm@6.13.2

## Issue Description:
I'm unable to refresh a dispatcher. I'm able to export all models as json files and import, train, publish them with no issues. Yet I always fail to refresh the dispatcher  with the message "Failed importing latest version of Dispatch-UAT-Model app"

When I go to recreate the dispatcher with ```dispatch init -n XXX --luisAutho

[2019-12-06 17:22] dmvtech commented on #1389
I'm seeing if I can reproduce this issue. I'll let you know if I have any questions.

[2019-12-06 17:22] dmvtech commented on #1388
I'm seeing if I can reproduce this issue. I'll let you know if I have any questions.

[2019-12-06 19:29] #1383 closed

[2019-12-06 19:31] tsuwandy commented on #1384
@danielt113, latest dispatch is published and it should now recognize the latest regions.

[2019-12-06 19:31] #1384 closed

[2019-12-06 20:51] tsuwandy commented on #1391
@stikemanley, are you using bot file with dispatch cli?  It should only prompt for bot secret if used with an encrypted bot file.   Would you mind sharing your .dispatch file to tiens@microsoft.com so I could investigate the import failure?

[2019-12-06 23:31] dmvtech commented on #1388
I believe this is related to https://github.com/microsoft/botframework-solutions/issues/2689

[2019-12-07 17:15] a-hohaze commented on #937
@KinleyP I was able to import a JSON app by that command. I am currently using package version 2.6.2.

I have a couple of questions.

Is the app in JSON format or LU format?

are you on the latest version?

Can you share a sample app JSON that you are failing to import to be able to reproduce?

[2019-12-09 04:49] SreekanthOAuth commented on #1388
@dmvtech , Tried based on the above link and now getting below exception,

Sorry, error parsing file as QnA JSON: D:\Test-Chatbot\test-new\test\src\virtualAssistant\deployment\scripts\..\resources\QnA\en\myskill.qna
Stopping further processing.

Could you please look into it.

Thanks,
Sreekanth

[2019-12-09 16:15] KinleyP commented on #937
Hi,

The app is in JSON format and I am using version 2.6.2
I exported the JSON file from the LUIS (preview) portal and did not touch the file (no contamination from my side)

I am using this command:
luis import application --in ".\<FILENAME>.json" --authoringKey "<MYAUTHORINGKEY>" --endpoint "https://<MYCUSTOMERDEMONAME>-authoring.cognitiveservices.azure.com/" --name "<NEWAPPNAME>"

And I am alw

[2019-12-09 18:18] a-hohaze commented on #937
Issue resolved for @KinleyP .
Edzard was getting a different error on import which is "BadArgument: Missing phraselist features field. "
It seems Edzard was exporting the app using the preview portal which uses V3-Preview authoring APIs while the current LUIS tool uses V2 APIs so the import operation was failing due to incompatibility of the API versions.

[2019-12-09 19:29] #1368 closed

[2019-12-10 00:02] saroup opened #1392 "Ludown After upgrading to 1.4 parse ToLuis errors on apostrophe (' and ’) and other characters"
## Tool
Name: LuDown
Version: 1.4
OS: Windows10

## Describe the bug
After upgrading to 1.4 and running  > ludown parse ToLuis command errors out on apostrophe.

## To Reproduce
Steps to reproduce the behavior:
1. have a client_info.lu that has
# fetch_client_info
-Is Macy's Inc a public company?.
2. run ludown parse ToLuis

result : token recognition error at: '’'

## Expected behavior
I would ex

[2019-12-10 19:16] xtianus79 commented on #1383
@tsuwandy Works perfect!!! thank you

[2019-12-11 06:27] stevengum commented on #1198
Closed via Azure/azure-cli#11318.

[2019-12-11 06:27] #1198 closed

[2019-12-11 06:28] stevengum commented on #1287
Closed via Azure/azure-cli#11318. @mgbennet FYI 👍

[2019-12-11 06:28] #1287 closed

[2019-12-11 19:21] darrenj commented on #1388
I believe this might be related to a recent change in qnamaker CLI around the deprecated message. To prove this could you install 1.3.1 directly and see if you can repro please?

`npm install qnamaker@1.3.1`

[2019-12-11 21:10] tsuwandy commented on #1392
@saroup, could you use BF instead as LuDown has been deprecated?  More info here: https://github.com/microsoft/botframework-cli/blob/master/PortingMap.md

[2019-12-11 21:10] #1392 closed

[2019-12-12 09:18] darrenj commented on #1388
I have reproed the issue with qnamaker@1.3.2, regressing to @1.3.1 resolved the issue for me.

[2019-12-14 00:20] ryanlengel opened #1393 "az bot authsetting list fails in pipelines build"
## Tool
Name: az bot
Version: latest
OS: Windows

## Describe the bug
I'm running an Azure Pipelines build using the botskills CLI, which calls `az bot` commands.
The command `az bot authsetting list -n {botName} -g {botName} --output json` (this is to add authentication providers from Skills connected to the VA)

This fails with:
![image](https://user-images.githubusercontent.com/43043272/7083987

[2019-12-16 19:29] a-b-r-o-w-n commented on #1388
@SreekanthOAuth `qnamaker@1.3.3` was released on Friday which we believe fixes this issue. Can you please try that version and let us know if the issue is fixed? If not, please re-open this issue.

[2019-12-16 19:29] #1388 closed

[2019-12-16 19:30] a-b-r-o-w-n commented on #1387
Closing due to inactivity. Feel free to open a new issue if you are still experiencing any issues.

[2019-12-16 19:30] #1387 closed

[2019-12-17 00:10] dmvtech commented on #1389
Hi @SreekanthOAuth What versions of luis and ludown are you using that reproduces this issue with?

I'm wondering if this is related indirectly related to the other issue with qnamaker tool. i.e. The tool is creating bad JSON and therefore fails on a later step.

Can you confirm that you can still reproduce this issue and if so, let me know what versions of the tools you are using.

[2019-12-17 05:32] SreekanthOAuth commented on #1389
@dmvtech , the versions of

1. Ludown - 1.4.0
2. Luis - 2.6.2

I'm still seeing the same exception even after updating the qnamaker to 1.3.3.

Thanks,
Sreekanth

[2019-12-17 12:22] SreekanthOAuth commented on #1388
@a-b-r-o-w-n , thanks for the update and will let you know if we see any issues.

[2019-12-18 00:02] dmvtech commented on #1389
Looks like ludown has that same deprecation message. I'm wondering if maybe that got added to the .json file somehow. Can you check your .json files in your `Deployment\Resources\LU\<language> `folder and see if there is the following message in them (or anything that seems to be invalid JSON):

Possibly also try uninstalling ludown and using the previous version (at least as a test for now):
`npm

[2019-12-18 10:02] SreekanthOAuth commented on #1389
@dmvtech , There is no same deprecation message in files

I have updated the ludown with 1.3.4, but still seeing the same error and also suggesting to update it to 1.4.0. Below is the total log

useLuisGen False...and RemoteToLocal True

The apps - Get application info Operation under LUIS Programmatic APIs v2.0 is not supported with the current subscription key and pricing tier LUIS.S0.

LUIS Com

[2019-12-18 19:08] dmvtech commented on #1389
Thanks @SreekanthOAuth

Are you using the prediction key or the authoring key (often labled starter) for LUIS? You should be using a authoring one. Below you can see how I have one predction only key, one that is both (first image) and one authoring only (second image). You can see how both keys for the starting/authoring are the same (green).

![image](https://user-images.githubusercontent.com/43

[2019-12-19 04:05] SreekanthOAuth commented on #1389
Hi @dmvtech , I don't see two tabs in my account.

![image](https://user-images.githubusercontent.com/24246902/71144106-db42de80-2242-11ea-8cd9-7ae3d62c4267.png)

Thanks,
Sreekanth

[2019-12-19 16:19] dmvtech commented on #1389
It might be.

I think that is the problem; you are using the prediction key, but you need to use the starter/authoring key for _making changes_ (anything making LUIS api calls).

The assistant or skill can of course use the prediction key from configuration for normal prediction execution.

[2019-12-20 18:46] a-b-r-o-w-n commented on #1391
Closing due to inactivity.

[2019-12-20 18:46] #1391 closed

[2019-12-23 19:15] dmvtech commented on #1389
Hi @SreekanthOAuth any luck using the auth/starter key?

[2019-12-26 09:23] edwardtsbaum commented on #1352
Sorry, but I still do not understand how to solve this. I have the same issue. In my case, the botdispatch does not install at all
![errorInDispatchInstall](https://user-images.githubusercontent.com/44621130/71469516-6b2ede00-2797-11ea-95bd-d684677d1891.PNG)

[2019-12-26 09:32] tsuwandy commented on #1352
@edwardtsbaum, could you try this from @EdwinOtten comment above?

“I've had the unable to get local issuer certificate error before, when using NPM. I already had a .npmrc file to make NPM work with our proxy. So after finding out about the use of yarn, I also added a .yarnrc file with strict-ssl false. This solved the issue for me.”

[2019-12-27 01:22] edwardtsbaum commented on #1352
I saw that comment, but I do not understand how to add a .yarnrc file to NPM.

[2019-12-28 10:40] tsuwandy commented on #1352
@EdwinOtten, could you help @edwardtsbaum? Where should .yarnrc be created and what should be in there?  Thank you!

[2019-12-31 01:51] edwardtsbaum commented on #1334
I am having the same issue, my botdispatch will not work, please help me solve this issue.
![saveasDispatch](https://user-images.githubusercontent.com/44621130/71607305-2237aa80-2b46-11ea-917b-a6af47d78e3f.PNG)

[2020-01-01 18:14] dmvtech commented on #1389
Closing this as idle. Please reopen if further assistance is needed.

[2020-01-01 18:14] #1389 closed

[2020-01-02 08:55] edwardtsbaum commented on #1352
I added a .yarnrc file and it still does not work. It installs globally but it does not allow me to use any dispatch commands except for dispatch --version. it fails to install locally because it is unable to install/use dotnet framework. here is another screenshot of what it looks like
![githubErrorPic](https://user-images.githubusercontent.com/44621130/71658787-4a283900-2d13-11ea-8d4e-7bb507f146

[2020-01-06 22:39] tsuwandy commented on #1352
@edwardtsbaum, what's in your .yarnrc and where you put it?   @fearthecowboy, any ideas?

[2020-01-06 22:47] fearthecowboy commented on #1352
I haven't gotten back to this quite yet, but maybe we can do a quick workaround:

[code]

[2020-01-06 23:37] edwardtsbaum commented on #1352
Thanks guys for the help. I could not figure out what my problem was but I
figured there was a dependency issue with the dot net cli I had installed.
I backed up my system and cleaned my drives and reinstalled dot net and
node.js and reinstalled botdispatch and finally got it working.

On Mon, Jan 6, 2020, 5:47 PM Garrett Serack <notifications@github.com>
wrote:

[2020-01-07 18:06] tsuwandy commented on #1352
@fearthecowboy, thanks for the instructions!  @edwardtsbaum, glad to hear you got it working.  Thanks!

[2020-01-07 20:03] dkonyayev opened #1395 "Dispatch Refresh created"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: Latest
OS: Windows 10

## Describe the bug
WE have been using dispatch refresh to keep our dispatch app up to date. In the last few  days we observed that every time we run dispatch refresh the applicaton is dropped and recreated with new App ID. It also drops our Azure prediction resource.

The only thing that changed i

[2020-01-08 19:19] srinaath commented on #1395
@tsuwandy Can you take a look at this ticket?

[2020-01-08 22:26] tsuwandy commented on #1395
@dkonyayev, I couldn't repro with dispatch -v 1.6.3.   After refresh, the dispatch app still have the same app id.

Could you try accessing the app page (something like https://www.luis.ai/applications/33cb82a3-6778-4fba-a737-430e8ed2b88c/versions/Dispatch/dashboard), run "dispatch refresh", then back to the browser and refresh the page.  Does it show the same app with updated published date?

[2020-01-09 14:01] dkonyayev commented on #1395
@tsuwandy See attached screenshots with my script and script output.
[dispatch process.docx](https://github.com/microsoft/botbuilder-tools/files/4040696/dispatch.process.docx)

[2020-01-09 18:37] tsuwandy commented on #1395
@dkonyayev, thanks for the screenshot!  I see what the problem is.  If you only want to refresh, you shouldn't need to do "dispatch init" command as everything is already in the .dispatch file in the working folder.   In your specific case, you simply want to add another intent to the Dispatch app by (by adding sub LUIS model), so just do "dispatch add", then "dispatch refresh".  "dispatch init" r

[2020-01-09 18:37] #1395 closed

[2020-01-09 18:44] dkonyayev commented on #1395
@tsuwandy So if sub-Luis has changed do I still need to do "dispatch add" to extract most recent changes from sub-luis?

Which actually brings me to another question - once dispatch is created should we maintain the intents in teh dispatch itself or should we continue to maintain the sub-luis, and run dispatch refresh to update the dispatch app?

[2020-01-09 18:52] tsuwandy commented on #1395
@dkonyayev, if only the sub LUIS apps are changed (no new intents for Dispatch app), there is no need to do "dispatch add", only "dispatch refresh" as the dispatch configuration in .dispatch file has all the info.

Best practice is to never update the dispatch app on LUIS at all.  Update only the sub LUIS apps (and/or QnA kb if you use one) and run "dispatch refresh" to update.   If you'd like to

[2020-01-13 13:49] rvallireply opened #1396 "Ludown parse syntax error"
## Tool
Name: Ludown
Version: 1.4.0
OS: Windows10

I get these errors while parsing lu file

[code]
and

[code]

here is the command giving the error:

[code]

for lines like the following in the ITSM.lu file

[code]

Note: I didn't manually add the "@" or "-" so they must come from LUIS or somewhere else...

[2020-01-13 17:16] rvallireply commented on #1396
solved: relaunched ludown refresh.

[2020-01-13 17:16] #1396 closed

[2020-01-15 23:16] kayousef opened #1398 "LUIS Gen does not support apps using LUIS APIs v3.0"
App created using LUIS APIs v3.0 does not work with LUIS Gen tool to convert json file to cs code.

It looks like the syntax generated by apps from APIs v3.0 is not compatible LUIS Gen.

[2020-01-16 19:27] scheyal commented on #1398
Hi @kayousef
LUISGen tool has been deprecated. Instead, please use the the latest [BF CLI](https://github.com/microsoft/botframework-cli).
Thanks.

[2020-01-16 19:27] #1398 closed

[2020-01-19 21:55] martinlarosa opened #1401 "Luis Staging behaving as production and now I cant train not even in the portal"
## Tool
Name: Dispatch
Version: 1.5.6
OS: MacOS 10.15.2

## Describe the bug
Yesterday I was trying to refresh dispatch, with version 1.5.2 I believe, to staging and then I was getting different results than from the portal. I guess that they were dirty with production data? Just a guess.
Then just to circumvent that issue, today I updated the dispatch tool, created a new resource for authoring, i

[2020-01-20 18:43] jwiley84 commented on #1401
Good morning, Martin!

I am unable to repro the LUIS issue (I noticed the Stack Overflow issues with it as well). Before we dig down into the dispatch problem, can you test training your LUIS model for me this morning, and let me know if it is still unavailable/Training Failed for you?

[2020-01-20 21:30] martinlarosa commented on #1401
I got fixed late last night. Lets say 22hs ago

[2020-01-20 21:53] jwiley84 commented on #1401
Good to know the training is working. Are you still having an issue with dispatch refresh?

[2020-01-20 23:06] martinlarosa commented on #1401
dispatch is working as the error was the same as in the portal I guess.
Regarding the original error of staging endpoint behaving as the production one, I'm not sure now as we published to both environments just to avoid the problem. But I believe that we solved it at some point by publishing to production, then Staging was working correctly but can't say at the moment if it is because it fixed so

[2020-01-21 15:45] jwiley84 commented on #1401
Alright. I'm going to close this ticket with a tenative 'solved?'. If it happens again, please reopen!

[2020-01-21 15:45] #1401 closed

[2020-01-23 13:22] frarin opened #1402 "QnA Maker compares user input with question and answer samples in the KB"
## QnAMaker

## Describe the bug
QnA Maker echoes user input if it is matched with answer samples in the KB.
QnA Maker should compare user input only with **question** samples and **not** with **answer** ones.

## To Reproduce
Steps to reproduce the behavior:
1. Add QnA pair
2. Add "Who are you?" as a question
3. Add "I'm a bug!" as an answer
4. Test "I'm a bug" as user input

## Expected behavior

[2020-01-23 21:45] diberry opened #1403 "Dispatch docs need to include patterns with entities limits"
## Tool
Name: Dispatch

Please add information to dispatch readme regarding this public doc issue, [#46706](https://github.com/MicrosoftDocs/azure-docs/issues/46706).

dispatch follows all LUIS limits as it creates a LUIS app.   Dispatch doesn’t normally transfer over entities from child LUIS apps unless they are used in patterns

[2020-01-24 07:23] simer99 commented on #1402
Hi,

QnA Maker's default behavior is to look at both question and answer fields to get the most relevant answer. For users, who want only questions to be matched with the user query can use the 'rankerType:QuestionOnly' parameter in the Generate Answer call.

The documentation is covered here: https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamakerruntime/runtime/generateanswer

[2020-01-24 11:23] frarin commented on #1402
Hi,
thanks for your reply! We'll modify our Generate Answer call.

As a suggestion, it would be amazing to edit this settings from the QnA Maker website, in order to test the different behavior (rankerType:QuestionOnly **true** vs **false**) directly from there.

[2020-01-24 11:23] #1402 closed

[2020-01-24 13:56] damaca opened #1404 "Directline sites has to be a list"
## Tool
Name: [Msbot]
Version: *az cli*
OS: *all*

## Describe the bug
The azure cli create option for directline channel (az bot directline create ) just allow one site. In the web portal several can be added and the response object from the az bot directline show is even an array.
Running the command multiple times override the previous one.

## To Reproduce
Steps to reproduce the behavior:
`az

[2020-01-24 17:25] mdrichardson opened #1405 "Westeurope redirection to Dispatch luis app"
Opening [this](https://github.com/MicrosoftDocs/bot-docs/issues/1529) here on behalf of @BillLeBoquet (I don't have permissions to transfer):

[2020-01-24 17:26] mdrichardson commented on #1405
@BillLeBoquet What version of `botdispatch` are your running? `botdispatch -v`

[2020-01-24 19:09] mdrichardson commented on #1405
@BillLeBoquet `www.luis.ai` is currently statically set in the `Summar.html` file. We're working on a fix now that can change it dynamically based on the authoring region.

[2020-01-27 17:01] csteelatgburg opened #1406 "[Dispatch] LUIS json files with closed lists entities do not import properly"
## Tool
Name: Dispatch
Version: 1.6.5
OS: macOS 10.15.2

## Describe the bug
After creating a LUIS app that contains list entities and exporting to json, the resulting file contains the appropriate closedLists entries. Adding the json file to a dispatch model is successful and the intents and utterances are added as expected. Closed lists, however, are not in the resulting json file and do not get

[2020-01-27 17:17] csteelatgburg commented on #1406
I just tested adding my LUIS apps with closed lists directly to my dispatch model (instead of downloading the json files) and the same behavior is observed.

[2020-01-27 17:38] tsuwandy commented on #1405
@BillLeBoquet, @mdrichardson, we'll publish a new dispatch package (v 1.6.6) today.

[2020-01-27 19:21] tsuwandy commented on #1406
@csteelatgburg, Dispatch does not transfer any entities (closed list is a type of entity in LUIS), except when they are used in patterns.  Dispatch deals only with intent classification (not entities) and thus does not transfer any entities from child LUIS apps to Dispatch.

[2020-01-27 19:21] #1406 closed

[2020-01-27 19:22] tonyanziano commented on #1404
@stevengum can you please take a look at this?

[2020-01-27 20:50] tsuwandy commented on #1405
botdispatch v 1.6.6 is deployed to npm with fix to this issue.  Let me know if you are seeing problems with it.  Thanks!

[2020-01-27 20:50] #1405 closed

[2020-01-29 23:05] stevengum commented on #1404
Ouch, this isn't good... It looks like `az bot directline` will need to be refactored:

`az bot directline sites list --name <bot-name> -g <resource-group> --subscription <subscription-name-or-guid>`

I'll take a look and have an update after I plan out some changes.

@scheyal FYI

[2020-02-04 17:54] #1403 closed

[2020-02-06 17:51] stevengum commented on #1404
I'm going to tentatively plan this for just after R8 release. the [S167 milestone](https://github.com/Azure/azure-cli/milestone/84).

[2020-02-11 17:41] Nickybuk opened #1409 "Teams displaying output from QnA Maker Bot differently to QnA maker test screen and Azure 'Test in Web Chat'"
## Tool
Name: QnAMaker & Teams
Version: current qna maker & Microsoft Teams Version 1.3.00.2164
OS: macOs Catalina version 10.15.1

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behaviour:
1. ...Add URL to QNA KB and save and train (https://support.office.com/en-gb/article/hide-mute-or-pin-a-chat-in-teams-9aee02ef-713d-495b-8a73-976

[2020-02-11 20:05] TheYnor opened #1410 "Luis Dispatch Refresh- returning Error "Object reference not set to an instance of an object.""
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: 1.6.3

## Describe the bug
Hello, I am attempting to refresh my dispatch service and it is giving me this error: "Object reference not set to an instance of an object."

I haven't changed any settings from the last time I refreshed my dispatcher. All I did was add some intents and utterances to one of my luis apps.

I am

[2020-02-11 20:16] TheYnor commented on #1410
I updated the dispatch tool to version 1.6.7 and it is working again.

[2020-02-11 20:16] #1410 closed

[2020-02-11 23:05] clearab commented on #1409
Hi - I believe the issue is that inline images using Markdown formatting isn't supported in Teams. I believe you'll need to use the <img src=\"https://picsum.photos/200/300" alt=\"alt text\"></img> format.

[2020-02-12 17:02] Nickybuk commented on #1409
Hi Andrew, Thank you very much for the quick reply. It seems as though inline HTML tags are unsupported in Teams too. Your suggestion of using the HTML img tag results in the plaintext html being displayed in the Teams client.
<img width="439" alt="Screenshot 2020-02-12 at 16 46 19" src="https://user-images.githubusercontent.com/3956917/74357044-37476080-4db7-11ea-8517-5e7d225162d7.png">

Are imag

[2020-02-12 20:25] clearab commented on #1409
We were able to test this with a regular chatbot and it worked ok - does your payload contain the closing </img> tag?

[2020-02-14 16:19] xtianus79 opened #1412 "QNA Maker with Sharepoint excel file is not able to refresh content or add url's for ohter team members"
## Tool
Name: QnAMaker
Version: Current web portal
OS: MacOS, and Chrome Browsers

## Describe the bug
When I first created the spreadsheets to use within the QNA Maker settings it did give me a warning of a BADURL for the resulting Sharepoint excel share URL. However, a popup asking me to sign into my Microsoft account allowed me to associate or link the share-point account/url to the qnamaker in

[2020-02-14 18:15] #798 closed

[2020-02-19 00:55] Kaiqb commented on #581
Closing as msbot is deprecated. For deployment, we recommend you use the ARM templates. For an example, see the samples repo.

[2020-02-19 00:55] #581 closed

[2020-02-19 00:57] Kaiqb commented on #346
@swagatmishra2007 - any update on this one?

[2020-02-19 00:58] Kaiqb commented on #815
We are no longer using .bot file. Please use ARM templates that ship with the samples.

[2020-02-19 00:58] #815 closed

[2020-02-19 01:04] Kaiqb commented on #578
Closing as `msbot` is deprecated.

[2020-02-19 01:04] #578 closed

[2020-02-19 18:48] carlosscastro commented on #1412
@simer99 could you please take a look?

[2020-02-19 18:57] simer99 commented on #1412
@xtianus79 Thank you for reporting it. Let me get back to you on this.

[2020-02-20 14:50] xtianus79 commented on #1412
@simer99 ok thanks

[2020-02-20 15:56] singzzz opened #1413 "Unable to create a dispatch model from Staging version of Luis App's"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version:
OS: Mojave

## Describe the bug
I am unable to re-train a Dispatch model using Staging versions of Luis Apps. Given that the underlying production models have changed, I want to be able to test them and the resulting dispatch model prior to publishing them live.

## To Reproduce
Steps to reproduce:
1. Create a set of LUI

[2020-02-20 19:24] anusharavindrar commented on #1413
@singzzz just to clarify that you are having issues to re-train your app or publish your app? You are testing this on which browser? Do you get any error on the portal or in the Debug Console?

[2020-02-20 21:26] singzzz commented on #1413
I am retraining the dispatch after making changes to the underpinning Luis **Staging** models.

This works fine if I publish the reference models and retrain the dispatch on production, but I want to test my changes in staging first. I can't find any documentation on this, so maybe this is a feature gap with the dispatch tool?

The issue is with the Dispatch command line tool, so not running in a

[2020-02-21 07:12] vipeketi commented on #1412
@xtianus79  Could you provide HAR logs of browser for the scenario mentioned.

[2020-02-21 10:47] simer99 commented on #1412
@xtianus79 -  We tried to repro the scenario but we could not. The refresh for a sharepoint URL works for two users.

Can you confirm if you can still refresh the same excel but your colleague cannot? Also, can you share the structure( the coloumn names) of the excel? As you mentioned that badURL error was appearing before as well.

We might need to exchange more information. Can you please open a

[2020-02-24 17:37] xtianus79 commented on #1412
Yes, this is still an issue. So put in a ticket through the Azure portal for what category?

[2020-02-24 17:40] xtianus79 commented on #1412
one thing to consider is what about AD or Azure endpoint connectivity issues? I did have the issue myself but when I signed in to the popup to sign in with my corp ad credentials I didn't have any issues after that.  My colleagues did the same but still always have the issue. So I think the error is in that same vein.

[2020-02-24 18:55] xtianus79 opened #1414 "QNAMaker sharepoint URL links, file links and files should have bidirectionally between updates in the QNA portal and the file source"
## Tool
QNAMaker

## Describe the problem
As of now, there is an almost awkward user experience when trying to manage and maintain spreadsheets and sources of truth files, mainly excel, even through sharepoint links.   Specifically, there is only a single direction, from file to QNAMaker, that exists in updating a QNAMaker model.

Because of this when you go back to the portal to do an update ther

[2020-02-25 00:30] simer99 commented on #1412
For SharePoint docs, you have to sign in. If you dont signin to you AAD through the pop-up, then QnA Maker cannot read the file. It depends on the file permissions too ( but you have mentioned that your colleague has the file permission same as yours)
You can use this link : https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request for creating the tick

[2020-02-25 09:06] simer99 commented on #1412
Also if it takes too much time, Send the HAR logs to QnAmakerteam@microsoft.com. For HAR logs, you can follow these steps:

On your browser, open developer tools (F12) -> go to Network ->Keep it open
In QnA Maker portal - do the refresh of the KB again
GO back to developer tools
If on Edge - Click save button
If on Chrome- Right click on Network logs -> Save as HAR with content

[2020-02-25 18:10] tsuwandy commented on #1409
@Nickybuk, could you try adding the closing </img> tag per @clearab  suggestion above?  Thanks!

[2020-02-25 19:06] cleemullins commented on #1393
Spoke with @stevengum and he is looking into this today.

[2020-02-25 22:08] stevengum commented on #1393
[comment](https://github.com/microsoft/botframework-solutions/issues/2801#issuecomment-591095212) in  https://github.com/microsoft/botframework-solutions/issues/2801

[2020-02-25 23:07] anusharavindrar commented on #1413
@singzzz just to make sure I am following what you have reproduced till now:

- Created your dispatch model.
![image](https://user-images.githubusercontent.com/48731427/75294453-52659780-57dd-11ea-854d-482d35256ec5.png)
 where
--publishToStaging | (optional) Default to false. Publish to LUIS staging instead of production platform

- Made changes to your model and now want to train and publish the

[2020-02-25 23:19] singzzz commented on #1413
Hi @anusharavindrar, thanks for your reply.

Steps to recreate are as you describe, with a slight clarification (point 3):

1. Create LUIS App's
2. Create Dispatch model from App's
3. Make changes to source App's and publish changes to **Staging** slot
4. Refresh dispatch model to Staging, **but using the source app staging slot, not production**

Does that clarify my problem? Is there any way to

[2020-02-25 23:44] anusharavindrar commented on #1413
@singzzz based on a similar issue in #1387 ,

**Dispatch is not supported for staging slot.** In order to test the behavior of the dispatch without having to publish on the production slot, there is actually an alternative way using the direct version publishing functionality.

Direct version publishing is a feature that enables publishing the application with the identifier not as the slot (PRODU

[2020-02-26 05:09] simer99 commented on #1414
Thanks @xtianus79  for the feedback. We have a part of it covered in our backlog. We add your feedback to it.

[2020-02-26 05:15] simer99 commented on #1414
Closing it as i have acknowledged the feedback and added in our backlog

[2020-02-26 05:15] #1414 closed

[2020-02-26 22:05] xtianus79 commented on #1412
@simer99 I am going to work on sending those in the next couple days.

[2020-02-26 22:30] mabu-dev opened #1415 "Error Deploying Python Dispatch App to Azure"
Hi community!

I followed the below tutorials to create a Python Bot via Dispacth with multiple LUIS models and QnA Maker. The Bot runs smoothly on local env via the Bot Emulator. I can also deploy the Bot to Azure without any errors. However, I can't reach the Bot via Web Bot in the Channel Registration Service. When I lookup the logs in the App Service, I see an import error - aiohttp not found,

[2020-02-27 17:31] Nickybuk commented on #1409
Hi, sorry for the delay in replying. The <img> element is a self closing tag requiring no closing tag. I eventually after a little trial and error discovered that the only way to load an image correctly from QnA Maker bot in the Teams Channel is to include the size and width attributes in the html img element. Im in the process of rewriting my bot to convert markdown to html to include this. This

[2020-02-27 17:33] jwiley84 commented on #1415
was aiohttp in your requirements.txt when you deployed your bot?

[2020-02-27 18:00] tsuwandy commented on #1409
@nickybuk, i found that's what i have to do in most browsers with regard to getting an image to display properly.

[2020-02-27 18:00] #1409 closed

[2020-02-28 17:25] tsuwandy commented on #1415
@mabu-dev , could you check if aiohttp is in requirements.txt when deploying bot? Thanks!

[2020-02-28 19:06] anusharavindrar commented on #1413
@singzzz does this answer your query?

[2020-03-03 15:56] stevengum commented on #1393
Changing tags to investigate, p1, and R9.

- The underlying mechanism for the warning message is a feature of the base Azure CLI, not of `az bot`
- If this was a recurring problem, we would have received more customer reports
- The Solutions team has moved away from using `az bot authsetting` due to design choices in their offerings

[2020-03-03 19:19] anusharavindrar commented on #1413
Closing the issue as resolved.

[2020-03-03 19:19] #1413 closed

[2020-03-03 20:02] singzzz commented on #1413
@anusharavindrar thanks, I'm not familiar with the directVersionPublish flag or how it works, so not sure if this does fix my problem, but your response did help. The steps we to achieve a staging dispatch are as follows:

1. Add new intent to Luis app and publish to Staging and unit test
2. Clone app as 'temp' then update reference to temp in the dispatch CLI
3. Publish dispatch to Staging and Te

[2020-03-05 12:24] mabu-dev commented on #1415
Thanks for responding, I found that I wasn't zipping the requirements file as part of the deployment! Thanks a lot!

[2020-03-05 12:24] #1415 closed

[2020-03-09 18:13] chrimc62 commented on #1412
@xtianus79 have you sent the logs or resolved your issue?

[2020-03-11 09:33] Saleem-Syed commented on #264
@swagatmishra2007 we have the same issue, but in my case we need to use specific application id.. Is there an alternate approach we can use to clear the records and use this appid?

[2020-03-20 18:07] CezaryMarcjan commented on #1412
Closing due to inactivity.

[2020-03-20 18:07] #1412 closed

[2020-03-25 21:49] frarin opened #1418 "QnA Maker does not support Emoji or Emoticons | No good match found in KB"
## QnAMaker

### Describe the bug
QnA Maker does not take in consideration or support emoji / emoticons even if it accepts them in the KB and shows no error during training. If I try to test it, it says "No good match found in KB."

### To Reproduce
Steps to reproduce the behavior:
1. Add QnA pair
2. Add "<3" and "❤" as a question
3. Add an answer

![image](https://user-images.githubusercontent.co

[2020-03-26 18:37] congysu commented on #1418
@simer99 can you please take a look on this?  thanks.

[2020-03-27 06:53] simer99 commented on #1418
Was able to repro this. will get back on the fix and root cause.

[2020-03-27 10:51] simer99 commented on #1418
We have to whitelist this unicode ❤ (U+2764). the current unicode range whitelisted is U+D800 && U+DFFF. Could you try using an emoji from the whitelisted range that works for you?

Have added to our action list to expand our unicode range.

[2020-03-31 20:40] stevengum commented on #1393
Closing due to inactivity and lack of customer reports.

[2020-03-31 20:40] #1393 closed

[2020-04-07 04:56] xtianus79 opened #1423 "LUIS v3 is Severely lagged in its resolution of a dispatch create or refresh via a restful API call"
I don't know if this is the right place to report this but LUIS Dispatch refresh and or create has a severe lag of what is trained and published vs what can be resolved in the botframework itself.

Here is a screen shot of the LUIS train vs even the LUIS Rest api call
correct but still technically lagged
<img width="195" alt="luisChildappCorrect" src="https://user-images.githubusercontent.com/8476

[2020-04-08 06:53] sibbl opened #1424 "Publishing child apps from other authoring resources than dispatch app shows error"
## Tool
Name: Dispatch
Version: 1.6.8
OS: Win 10 build 18363.720

## Describe the bug and reproduction steps

I have 2 LUIS child apps in different authoring resources. I want to create a dispatch app in authoring resource 1 (AR1), using an app from AR1 and using another app from AR2.

The script runs through and I can use the dispatch app afterwars. However I get the following error in the logs a

[2020-04-08 08:43] pchoudhari commented on #1418
Hi @frarin, we will all support for this particular emoji ❤ in our next sprint. You can expect a fix by next month.

[2020-04-09 18:13] cleemullins commented on #1423
Hi @xtianus79, the tooling in this repo is largely deprecated. Please use the CLI Tooling found in https://github.com/Microsoft/botframework-cli

The newer "bf" CLI tools are the currently supported and maintained set of tooling.

[2020-04-09 18:13] #1423 closed

[2020-04-09 18:32] tsuwandy commented on #1424
@sibbl, are AR1/AR2 owned by the same user?  How about subscription key?  Trying to get a repro...

[2020-04-09 18:50] sibbl commented on #1424
@tsuwandy yes, both ARs were created by me. What could be specific is that the apps were all in AR2 beforehand. App1 created by me, app2 imported by a colleague. I then moved app1 into AR1 and created the dispatch app there.

[2020-04-09 18:53] tsuwandy commented on #1424
And Dispatch is created using AR1 (which also has prediction resource)?

[2020-04-09 19:00] sibbl commented on #1424
@tsuwandy yes, indeed. Dispatch and app1 are in AR2, app1 was kept in AR1.

[2020-04-09 20:55] tsuwandy commented on #1424
@sibbl I got a repro. Still investigating, will update this thread as soon I figure out how to fix.

[2020-04-10 05:58] tsuwandy commented on #1424
@sibbl , will have to consult with LUIS team what to do in this case.

Is there specific reason they have to be in different apps?

[2020-04-10 06:41] sibbl commented on #1424
@tsuwandy you mean in different authoring resources? The background is mostly organizational so that we have a better separation of concern.

We have reusable Luis apps (AR2) and project specific Luis apps (AR1). Both kind of apps are combined into dispatch applications which we use for MS bot framework based chatbots for example.

[2020-04-10 21:29] tsuwandy commented on #1424
@sibbl, we just published an update to dispatch (version 1.6.9).    Ignore the child publishing error as long as the whole dispatch app is created, trained and published.    We still have to support both apps not yet migrated to Azure and also those already on Azure LUIS resource.   Let me know if you are seeing issues using the newly created Dispatch app.  Please reactivate this issue if you are

[2020-04-10 21:29] #1424 closed

[2020-04-11 19:33] xtianus79 opened #1426 "Deploying a bot to azure with luis functionality is completely broken and I believe it is the LUISRecognizer class"
From 9pm last night until 7am this morning I could not get the bot to deploy to Azure through any means. Either sending a zip file package or through continuous deployment.  Since this is such an emergency issue for us and I don't know where to else to post this report to I will try a couple different places.

As a mitigation step to see what was going on I tried to upload samples to Azure to see

[2020-04-13 10:36] rajeeshmenoth opened #1427 "Dispatch tool is not working as autojob"
## Tool
Name: **LUIS Dispatch**
Version: *1.6.6*
OS: *Windows 10 Enterprise*

## Describe the bug
Need to run dispatch manual process ( dispatch refresh ) as a web job in azure app service. The manual process is working in our machine as expected but auto job is not running.

## To Reproduce
Steps to reproduce the behavior:
1. Created dispatch job
2. Created app service with .Net Core 3.0 as Targe

[2020-04-13 14:19] ianjof opened #1428 "Dispatch is using West US Cognitive Endpoint rather than West Europe"
## Tool
Name: [Dispatch]
Version: 1.6.9
OS: Windows 10 (1909 Build 18363.720 )

## Describe the bug
When trying to run 'dispatch refresh' when adding skills to a bot, dispatch fails as it is trying to use westus.api.cognitive.microsoft.com when it should be using westeurope.api.cognitive.microsoft.com as the endpoint, as all services are EU based

## To Reproduce
Steps to reproduce the behavior:
1

[2020-04-13 14:41] #1428 closed

[2020-04-13 15:31] frarin commented on #1418
Thank you all! Are you also thinking to whitelist other emoji? Our customers will interact with QnA by means of their smartphones (both iOS and Android), and it's very likely they will use a lot of them!

[2020-04-13 15:31] #1418 closed

[2020-04-13 15:44] jwiley84 commented on #1426
Hi @xtianus79 !

I see you've opened this issue [here](https://github.com/microsoft/BotBuilder-Samples/issues/2310) as well. I'm going to go ahead and close this one so that we can assist you in just one location.

[2020-04-13 15:44] #1426 closed

[2020-04-13 18:12] axelsrz commented on #1427
Hey @tsuwandy could you take a look at this?

[2020-04-13 18:51] tsuwandy commented on #1427
@rajeeshmenoth, when using the refresh command, could you add the parameter "--remote true", something like "dispatch refresh --remote true"

Let me know if this helps.

[2020-04-14 02:33] rajeeshmenoth commented on #1427
@tsuwandy

The time delay issue is resolved but now installed package is not recognizing in app service. I tried to reinstall "npm i -g botdispatch" but no use.

![image](https://user-images.githubusercontent.com/8437883/79179877-3ddd6d00-7e26-11ea-81e1-d23065e4479e.png)

[2020-04-14 05:26] tsuwandy commented on #1427
@rajeeshmenoth , not sure if I understand.  So steps #2 & #3 in original repro are no longer working?  Doesn’t look like you have gotten to using the command “dispatch refresh --remote true”?  What changed?

[2020-04-14 15:08] rajeeshmenoth opened #1429 "How to update existing dispatch file ?"
## Tool
Name: LUIS Dispatch
Version: 1.6.6
OS: Windows 10 Enterprise

## Describe the bug
I want to update new qna information into already created dispatch file.

## To Reproduce
Steps to reproduce the behavior:
1. Created dispatch file using the help of [microsoft docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-dispatch?view=azure-bot-service-4.0&tabs=cs#create-the-

[2020-04-14 15:08] rajeeshmenoth commented on #1427
Thank you @tsuwandy , The given command is working in app service as expected. I never seen this  #2 & #3 that you have mentioned and currently I am following the microsoft document [dispatch](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-dispatch?view=azure-bot-service-4.0&tabs=cs#create-the-dispatch-model)

[2020-04-14 15:49] sibbl commented on #1424
The error above is still happening with 1.6.9

Tricky question as I can obviously use the Dispatch app.

So as far as I understand this issue should be closed, although it's not fixed (even though it's just a UI thing) but I can safely ignore the error for now and should not report any issue again? Well, okay then. 🤷‍♂️

[2020-04-14 15:51] tsuwandy commented on #1427
@rajeeshmenoth, great!

With regard to #2&#3, I was referring to these steps in the your repro steps (wasn’t sure why dispatch wasn’t installed):
2. Created app service with .Net Core 3.0 as Target framework in windows.
3. Installed "npm i -g botdispatch" command in app service console ( "dispatch --help" command is working)

But all seems to be working well now?  Thanks!

[2020-04-14 16:03] tsuwandy commented on #1424
@sibbl , the child publishing error could be safely ignored as long as the dispatch app is created, trained and published.  Make sure you could use it at run time and that you could get back the child result as well.  create command failed for me before v 1.6.9.

The tool still needs to support LUIS apps that have not yet been converted to use Azure LUIS resource, unfortunately there is no way for

[2020-04-14 16:14] Zerryth commented on #1429
@rajeeshmenoth the command is `dispatch add [options]`
You can find a whole list of the dispatch commands in the botbuilder-tools repo [here](https://github.com/microsoft/botbuilder-tools/tree/master/packages/Dispatch#adding-source-to-dispatch).

I will make note to the docs team regarding the documentation you linked--specifically how it doesn't make mention of the list of dispatch commands avail

[2020-04-14 16:14] #1429 closed

[2020-04-14 17:15] rajeeshmenoth commented on #1429
@Zerryth as of now this command `dispatch add [options]` is only support for initial adding of LUIS intent and Qna maker kb integration. Once I run this command `dispatch create` then you can't able to add newly created LUIS intent and Qna maker kbs integration into the existing dispatch file. I saw one update command in the document but that is going to update the main LUIS secret key.

Eg. In fu

[2020-04-14 17:53] Zerryth commented on #1429
I see.

Use`dispatch add` and `dispatch refresh` commands depending on what you're trying to do.

* `dispatch add` if you "In the future add a new KB", since it's not a part of the dispatch model yet
*`dispatch refresh` ([ms docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-dispatch?view=azure-bot-service-4.0&tabs=cs#to-update-or-create-a-new-luis-model), [bb-tools](htt

[2020-04-15 05:24] rajeeshmenoth commented on #1427
@tsuwandy  Still I am facing this issue,

1. Remove all questions and answers from KB and try to run the dispatch command.
2. dispatch command will fail because we are trying to push empty KB.
3. That time app service removing the dispatch package.
4. If I trying to reinstall I am able to see the below output. So this is a blocker for my side.

![image](https://user-images.githubusercontent.com/84

[2020-04-15 05:35] tsuwandy commented on #1427
@rajeeshmenoth , not sure what this one is:

3. That time app service removing the dispatch package.

[2020-04-15 05:42] rajeeshmenoth commented on #1427
@tsuwandy , just skip out the step 3 and see step 4, why it's showing as

Already we have installed and application successfully run 14 hours back but why now it showing this error ?

[2020-04-15 05:51] rajeeshmenoth commented on #1429
@Zerryth, Thanks it's working and please update in the document as well.

[2020-04-15 05:57] #1427 closed

[2020-04-15 06:00] tsuwandy commented on #1427
@rajeeshmenoth, I’m not sure if you could install a package in app service?

Could the “dispatch refresh —remote true” be done in a VSO ci/cd step instead?

[2020-04-15 07:05] rajeeshmenoth commented on #1427
@tsuwandy, I think CI / CD will work based on the each check-in or deployment but our business requirement is different. Daily the qna updates is happening so that time we are triggering the dispatch web job and the respective kb information update in the dispatch model.

[2020-04-15 13:06] narulasrinivas opened #1432 "Refresh dispatch model without losing entity mapping"
#### What project is affected?
Dispatch model refresh losing all the changes to `Intents ` and `Entities`.

#### What language is this in?
C#

#### What happens?
I'm understanding the concepts of BOT Framework by following [documentation](https://microsoft.github.io/botframework-solutions/virtual-assistant/tutorials/customize-assistant/csharp/4-edit-your-cognitive-models/).

Entities and Intents a

[2020-04-15 14:24] TylerOdenthal commented on #1059
I'm also experiencing the same issue. I was following the tutorial to deploy a skill, but this bug is preventing me from continuing. [https://microsoft.github.io/botframework-solutions/skills/tutorials/create-skill/typescript/1-intro/](url)

![Bug](https://user-images.githubusercontent.com/63730511/79348558-00daae80-7eea-11ea-86da-c3bfa5254d45.JPG)

[2020-04-15 15:37] tsuwandy commented on #1427
@rajeeshmenoth, since you noticed that the package couldn’t be installed on app service, perhaps do it as a scheduled task on a VM or simply a local machine?

[2020-04-15 17:28] rajeeshmenoth commented on #1427
@tsuwandy , Customer is using azure environment for their business purpose and for this dispatch generated file which is small in size, maintaining seperate VM is worthless. Currently I am running this dispatch in my local machine as manual process and it is working fine. Do u know why this installed packages are not recognizing in azure app service ?. I heard about all the applications that are r

[2020-04-16 01:43] tsuwandy commented on #1427
@rajeeshmenoth, I don’t think app service is the right azure service for this task, as you could see, it didn’t seem to allow package install.  It’s simpler to have the customer run a scheduled task in the on premise machine like the way you have it now (with “remote true” parameter.

[2020-04-17 15:21] narulasrinivas commented on #1432
Thanks @lauren-mills.  @sidmore - Can you throw some light on how to manage `Intents` and `Entities`  when deployed via CLI?

[2020-04-19 16:34] narulasrinivas commented on #1432
@tsuwandy - Please help me with this.

[2020-04-19 19:03] tsuwandy commented on #1432
@narulasrinivas, where did you add the intents/entities?  To the dispatch LUIS app via LUIS portal?  Any changes done to the dispatch app on portal won’t be persisted next time dispatch app is refreshed from cli.  Could you clarify your scenarios?  Why do you need to add intents to the dispatch app directly?  Can the intent be added to the sub LUIS app instead?  Also entities in sub LUIS app are n

[2020-04-22 14:29] rajeeshmenoth commented on #1427
@tsuwandy , I have troubleshoot and found out that the packages are removed from Appdata folder once app service restart is happen. Is this a restriction of App service?

[2020-04-22 16:11] tsuwandy commented on #1427
@rajeeshmenoth , I’m not an expert in app service but I’m believe so.  Perhaps you could install the package locally within the project deployed with app service so you won’t have to install it on the service after deployment.

Another thing you could do is to create a VSO release pipeline (triggered to run daily), which simply has a power shell command to run “dispatch refresh —remote true”.

[2020-04-23 12:37] rajeeshmenoth commented on #1427
@tsuwandy , This issue is resolved, package moved into application level and added few scripts .

[2020-04-23 19:00] somigithub commented on #1418
QnA Maker team investigation complete.

No changes required in the product. Here is the guidance / recommendation

emoji reference list: https://unicode.org/emoji/charts/full-emoji-list.html

Any emoji unicode of 5 chars works in QnA Maker. i.e unicodes like U+1FXXX works. Or If the overall UTF-8 encoded bytes >=4, its working

[2020-04-23 20:30] frarin commented on #1418
@somigithub unfortunately the red heart emoji ❤ is U+2764...

What about the emoji unicode of **4** chars? Will they be supported too in the future?

[2020-04-28 17:26] cleemullins commented on #1404
"Started working on this last week, planning for R9". from Steven.

[2020-04-30 06:21] chrimc62 commented on #585
I believe this is obsolete with the bf cli work.

[2020-04-30 06:21] #585 closed

[2020-04-30 06:23] chrimc62 commented on #205
This has been implemented in bf cli.

[2020-04-30 06:23] #205 closed

[2020-04-30 18:21] hcyang commented on #1432
hi @narulasrinivas, below are some common Dispatch use-cases:

1) A user already has one or more LUIS, QnA Maker apps/models, or even some flat files of intent-utterances and the user would like to create a meta-app to dispatch bot traffics to those child apps. In this scenario, entities should be (manually) added to the child LUIS apps instead of to the Dispatch parent app, so that the entity def

[2020-04-30 18:21] #1432 closed

[2020-05-04 18:58] sgellock commented on #1404
@stevengum This goes out on the Az-CLI release train, not mapped to ours, yes?

[2020-05-04 19:59] stevengum commented on #1404
That's correct, code complete for the Azure CLI release train is next week; so it doesn't map completely to our train... Post R9 Release is more accurate in this case.

[2020-05-07 17:44] stevengum commented on #1404
This is still expected to land next week, just doing some label management.

[2020-05-21 21:26] srajanpm commented on #1352
Hello - I am still getting this issue.
I am on mac, with npm 6.14.4 and dotnet 3.1.300.

Should I remove dotnet sdk 3.1.3 and install 2.1?

thanks!

[2020-05-22 10:28] srajanpm opened #1438 "Install fails for botdispatch and botskills"
#### What project is affected?
microsoft/botframework-solutions

#### What language is this in?
npm

### What happens?
Install fails for botdispatch while executing these commands:

npm install -g botdispatch @microsoft/botframework-cli

npm install -g botskills@latest

#### What are the steps to reproduce this issue?

Environment: macOS Darwin 10.13 , npm: 6.14.4 and dotnet SDK 3.1.300
1. install

[2020-05-22 20:51] tsuwandy commented on #1352
@srajanpm, try removing dotnet 3.1.3.  Dispatch CLI is using dotnet 2.1.

Try turning on debugging to get more messages in the log (see above thread):
# turn on debug mode so we get more messages.
set debug=1

# let's install yarn so we can easily configure it.
npm install -g yarn

# set strict-ssl to false
yarn config set strict-ssl false

# try to install the dotnet package
npm install -g dotnet

[2020-05-23 21:58] srajanpm commented on #1352
thanks @tsuwandy

I uninstalled dotnet 3.1.3 and followed your steps above to install dotnet 2.1 and dotnet 2.1 install failed in the postinstall script.

Here is the log file:

0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   '/usr/local/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'install',
1 verbose cli   '-g',
1 verbose cli   'dotnet-2.1'
1 verbose cli ]

[2020-05-25 09:16] maartenba opened #1436 "`dotnet new` project templates"
Right now, there are project templates available for Visual Studio (https://marketplace.visualstudio.com/items?itemName=BotBuilder.botbuilderv4).

While nice, these only work for Visual Studio and on Windows. To support macOS and Linux users, having `dotnet new` templates instead would be much appreciated.

[2020-05-25 09:32] SamVanhoutte commented on #1436
I also need this, as I'm using macOS and really want to leverage the bot framework templates for my development.  In the world of Data & A.I. where cross platform thrives, this would really make so much sense.

[2020-05-25 11:59] danieldangler opened #1437 "Dispatch refresh isnt working in Azure Pipelines for me"
## Tool
Name: Dispatch
Version: latest

## Describe the bug
I want to refresh my Dispatch model using the "Dispatch refresh" command inside azure Pipelines.
But when i use this method i always get the Output "Please use init to initiliaze the dispatch first". But why do i need to generate another .dispatch file if i already have one? Im pretty new to the dispatch tool and pipelines so maybe its my

[2020-05-26 19:30] Zerryth commented on #1437
Hi @danieldangler. This doesn't seem like the appropriate place to inquire about help regarding your issue. The Bot Framework Team uses GitHub as a means for the community to raise issues that are bugs in the framework/CLI tool itself. For how-to questions, please create a post on [StackOverflow](https://stackoverflow.com/search?q=%23botframework) to leverage the help of our support engineers and

[2020-05-26 19:30] #1437 closed

[2020-05-26 20:33] munozemilio commented on #1438
@tsuwandy could you please take a look at this one?

[2020-05-27 07:22] tsuwandy commented on #1438
@srajanpm, you tried uninstalled dotnet 3.1 and retry the install?

[2020-05-27 14:23] srajanpm commented on #1438
@tsuwandy yes I uninstalled dotnet 3.1 and retried the dotnet-2.1 install.

[2020-05-27 20:09] tsuwandy commented on #1438
@srajanpm, did you check out these related issues (installing on MacOS) added by @Batta32 in earlier thread:

https://github.com/microsoft/botbuilder-tools/issues/862
https://github.com/microsoft/botbuilder-tools/issues/176

.NET Core install instructionfor MacOS:
https://docs.microsoft.com/en-us/dotnet/core/install/dependencies?pivots=os-macos&tabs=netcore31

[2020-05-27 20:48] srajanpm commented on #1438
@tsuwandy

I followed #862 and it looks like it helped but not sure.

I tried installing dotnet 2.1 locally instead of globally, seems like dotnet2.1 is installed - i see the following message:

_+ dotnet-2.1@2.1.1005
added 1 package and audited 1 package in 1.098s_

and an error:

_> node -e "/*PostInstall: Installs platform-specific .NET framework */try{require('./dist/app.js')}catch(e){}"

npm

[2020-05-29 17:16] mchuck opened #1440 "Run dispatch from code"
## Tool
Name: Dispatch

## Describe the problem
I'd like to provision new bots automatically and be able to call dispatch from e.g. Azure Function.

## Describe the solution you'd like
Have access to .NET part of `dispatch` via a NuGet package or another way to call `dispatch` from code.

## Describe alternatives you've considered
Currently we're running dockerized powershell Azure Function which

[2020-05-29 19:51] tsuwandy commented on #1440
@mchuck, unfortunately there is currently no plan to publish Dispatch as NuGet package.  I have seen folks deploy it with Azure app service (run it as scheduled task in the app service) or from Azure DevOps CI/CD pipeline.

[2020-06-01 15:20] andy952 opened #1441 "System.Management.Automation.RemoteException Missing phraselist features field"
## Information:
Tools Libraries:
 - @luis-apis@2.6.2
 - @microsoft/botframework-cli@4.7.0

Platform:
 - Azure DevOps

## Issue Description:
I have a script workflow that takes a .lu file, uses the command `bf luis:convert` to create a new luis.json out of it and then imports the new version into an existing LUIS app using the command `luis import version`. When I run luis import on my local machin

[2020-06-01 16:38] tsuwandy commented on #1438
#862 actually has quite different instructions.  Did you pre-install dotnet first (per the prerequisite instructions https://github.com/microsoft/botbuilder-tools/tree/master/packages/Dispatch#prerequisite):

https://docs.microsoft.com/en-us/dotnet/core/install/dependencies?pivots=os-macos&tabs=netcore31

[2020-06-01 23:56] vishwacsena commented on #1441
@andy952 the full suite of luis authoring APIs are now available via BF-CLI. Is there a specific reason why you still are using the old luis command line tool? If none, can you re-try the new bf-CLI luis import command and let us know if you run into any issues with it?

https://github.com/microsoft/botframework-cli/tree/master/packages/luis#bf-luisversionimport

[2020-06-02 09:55] andy952 commented on #1441
Thanks @vishwacsena I will take a look at the BF-CLI tools and get back to you

[2020-06-02 18:13] tracyboehrer commented on #1441
Closing since botbuilder-tools is no longer supported.

[2020-06-02 18:13] #1441 closed

[2020-06-09 07:28] deena211 opened #1443 "Unable to convert the ML entity into serialized format after adding a new ML entity containing sub entities."
I have added a new ML entity to my Luis app containing sub-entities. While invoking an utterance having ML entity label. It breaks at the "Convert" method in the Luis generated class while serializing the result from the Luis.
I suspect that the Luisgen is not generating the class properly.
The error is as below:

"Exception Message: Unexpected character encountered while parsing value: {. Path 'e

[2020-06-09 18:15] a-b-r-o-w-n commented on #1440
Closing this issue because we currently do not have any plans to publish Dispatch as a nuget package.

[2020-06-09 18:15] #1440 closed

[2020-06-12 18:16] a-b-r-o-w-n commented on #1438
Closing due to inactivity. Feel free to re-open this.

[2020-06-12 18:16] #1438 closed

[2020-06-15 11:17] garypretty opened #1445 "Update repository community profile documents to meet community standards"
Related to SDK tracking issue microsoft/botframework-sdk#5911

As per the community profile checklist for this repository (https://github.com/microsoft/botbuilder-tools/community), the following additional readmes are required.

- [x] Contributing guidance (aligned with https://github.com/microsoft/botframework-sdk/blob/master/Contributing.md)
- [x] Code of conduct

[2020-06-15 12:45] bksnel opened #1446 "Cannot delete an intent using the LUIS CLI"
## Tool
Name: LUIS
Version: LUIS CLI 2.6.2
OS: Windows 10
PowerShell: 5.1 (Build 19041)

## Describe the bug
Cannot delete an intent using the Azure LUIS CLI.  When I delete an intent using the following statement, I get the error message "Unknown resource: intent".
`luis delete intent --intentId $intentId --deleteUtterances $true`

To proof that I'm using the correct identifier: when I execute th

[2020-06-15 18:26] vishwacsena commented on #1446
@bksnel `LUIS CLI` is deprecated and replaced by [`BF CLI`](https://github.com/microsoft/botframework-cli). Can you outline your need to manipulate the intent directly? E.g. could you do this via updates made to [.lu file](https://aka.ms/lu-file-format)

@munozemilio we should add `deprecated` message to relevant CLI groups in `botbuilder-tools`.

[2020-06-15 21:03] #1445 closed

[2020-06-16 07:23] bksnel commented on #1446
@vishwacsena Thanks for your reply.

We are building a DevOps pipeline that migrates content from different sources and uploads this to a single LUIS application. We want to control this per environment in the DTAP-environment.
Being able to manage a single intent with examples allows us to import from each individual source. We've looked at the LUIS dispatch tool, but that does not satisify our n

[2020-06-16 14:15] devedse opened #1448 "Dispatch create fails with Cannot find the feature with the Id (SalePrice) in the specified application version."
## Tool
Name: Dispatch
Version: 1.7.0
OS: Windows 10 - 18363

## Describe the bug
We've created both a General model and a QnA maker. Creating a Dispatch model worked fine up untill the point that we did some changes to the LUIS model. Now I keep getting the following error:

[code]

The issue also happens when I manually export a .LU file in LUIS and then try to import that .LU file again. I crea

[2020-06-16 17:40] vishwacsena commented on #1446
@bksnel have you considered the [.lu file format][1] to describe your LUIS application? Depending on your scenario, you can also define your application via individual .lu files that describe specific intents and entities and combine them to make a single application using [import references][2].

If you are able to use the .lu format, then you can use [`bf luis:convert`][3] to convert .lu to LUIS

[2020-06-16 18:09] vishwacsena commented on #1448
This appears to be an issue with the LUIS portal and their implementation of the LU file format support if not, is an issue in BF-LU library itself. Best to track this via microsoft/botframework-cli#789

[2020-06-16 18:09] #1448 closed

[2020-06-17 06:50] bksnel commented on #1446
@vishwacsena. I was not aware of the external references. Based on the documentation, I think this should work.

Thanks, I'll close the issue now.

[2020-06-17 06:50] #1446 closed

[2020-06-17 07:09] devedse commented on #1448
@vishwacsena, I saw you added a workaround for the export --> import. However is there also a workaround available for the dispatch tool? If not, I can't generate the dispatch model to be used by my bot.

[2020-06-17 17:31] vishwacsena commented on #1448
@devedse can you verify and confirm that you continue to see issue with the latest dispatch? The latest should be 1.7.1. We shipped a patch to address various issues and I expect this issue to be addressed as well. Please leave a comment here if it isn't.

https://www.npmjs.com/package/botdispatch

[2020-06-18 15:36] devedse commented on #1448
@vishwacsena, version 1.7.1 indeed addressed this issue as I can now create the dispatch model again.

[2020-06-23 13:25] saikumaru opened #1449 "Chatdown- converting .transcript to .chat file"
## Tool
Name: [Chatdown]

## Describe the problem
we need a clean method of converting of transcript logs to a human readable format, and chtdown is one possible way, however it currently just does the reverse, i.e. converting .chat to .transcript. This is necessary when we want to analyse the transcripts visually.

## Describe the solution you'd like
Can we have a tool like "Chatup" which can con

[2020-06-23 18:17] srinaath commented on #1449
@saikumaru Chatdown in this repo is deprecated. We suggest you use bf-cli tools to do the same. This is the link to the README
https://github.com/microsoft/botframework-cli/blob/master/packages/chatdown/README.md

@vishwacsena Can you engage this ticket.

[2020-06-23 22:07] vishwacsena commented on #1449
@saikumaru there are no plans to support transcript to chat conversion at the moment. We will keep this in the backlog but we welcome any and all [contributions][1] if you would like to work on this command.

[1]:https://github.com/microsoft/botframework-cli/blob/master/CONTRIBUTING.md

[2020-07-03 15:20] Vigneshramkumar opened #1451 "QnA Maker images are not loaded in MS Teams correctly"
## Tool
Name: QnAMaker, MS Teams
Version: latest
OS:

## Describe the bug
QnA Maker images are not getting loaded properly in MS Teams. Tried with both Inline markdown image and adding through <img> HTML tag.

## To Reproduce
Steps to reproduce the behavior:
1. Train QnA Maker KB with QnA pair which contains images. Train two pairs one with inline markdown present in QnA Maker and other with <img>

[2020-07-03 18:25] v-kydela commented on #1451
Thanks for the report, @Vigneshramkumar. I have a few questions.

1. Are you saying Markdown is rendering the image correctly while HTML isn't, or are you saying you're unsatisfied with the way the image in rendered using Markdown?
1. Can you show us a sample of the Markdown and the HTML you're using?
1. What happens when you send these messages to Teams without calling QnAMaker?

[2020-07-04 08:42] Vigneshramkumar opened #1452 "Security issue since QnA Maker image URLs needs to be public."
## Tool
Name: QnA Maker and MS Teams
Version: latest
OS: all

## Describe the bug
QnA Maker images needs to be public and this will cause security issue since that is accessible from outside. Also images are not getting rendered in MS Teams

## To Reproduce
Steps to reproduce the behavior:
1. Create a QnA Maker and add public image URL

## Expected behavior
QnA Maker image URLs should not be publi

[2020-07-04 08:51] Vigneshramkumar commented on #1451
@v-kydela : Thanks for the quick response. PFB the response.

**Are you saying Markdown is rendering the image correctly while HTML isn't, or are you saying you're unsatisfied with the way the image in rendered using Markdown?**
Yes, Markdown is rendering the image but the size taken in Teams for showing that image is huge. You can see in the top that dog image is rendered through Markdown but the

[2020-07-04 08:53] Vigneshramkumar commented on #1451
Markdown tag

`Testing\n\n![Test](https://cdn.pixabay.com/photo/2018/03/11/20/42/mammals-3218028__340.jpg)`

HTML Img tag:

`<img src="https://cdn.pixabay.com/photo/2018/03/11/20/42/mammals-3218028__340.jpg" alt="Open chat button" width="20" height="20">`

[2020-07-06 18:31] cleemullins commented on #1452
The tools in this repo have all been deprecated. Please use the repo:
https://github.com/microsoft/botframework-cli

I don't believe we support private URL's at this point. Please ask this on Stack Overflow using the #botframework tag.

[2020-07-06 18:31] #1452 closed

[2020-07-07 00:11] v-kydela commented on #1451
All right, here's what I think is going on. Some text editors only support plain text (like Notepad) while others support rich text or hypertext. Also, some text editors that support rich text or hypertext will automatically recognize web addresses and convert them to hyperlinks. When copying text to the clipboard, you sometimes copy more than just the raw text and so any special markup will end u

[2020-07-08 07:57] GitDruid opened #1453 "[Ludown][LUIS] Prebuilt entities for Italian causes parsing issues"
Same error of #1007 appears also for it-it locale.

(Note: I reproduced the bug in calendar skill by first commenting-out the personName prebuild reference from the it-it Calendar.lu file, to bypass the bug https://github.com/microsoft/botframework-cli/issues/876, not yet closed).

_Originally posted by @GitDruid in https://github.com/microsoft/botbuilder-tools/pull/1024#issuecomment-655353307_

[2020-07-09 17:57] munozemilio commented on #1453
Hello @GitDruid ludown is deprecated. Please track the botframework-cli only

[2020-07-09 17:57] #1453 closed

[2020-07-09 19:56] v-kydela commented on #1451
@Vigneshramkumar - Are you still working on this?

[2020-07-10 17:36] Vigneshramkumar commented on #1451
@v-kydela - Sorry for the late reply.
I tried with the above mentioned steps. But the format got changed automatically once we save the qna maker by clicking on save and train button.
Before clicking button:
![image](https://user-images.githubusercontent.com/17233137/87182451-c6728900-c301-11ea-9cc4-9d9f2c402edf.png)
After clicking save:
![image](https://user-images.githubusercontent.com/17233137/

[2020-07-10 19:30] dawwa opened #1454 "Unknown error during execution: az bot authsetting show"
## Tool
Name: az bot
Version: *2.8.0*
OS: *Windows 10*

## Describe the bug
[code]

**_Unknown error during execution. Please file an issue on https://github.com/microsoft/botframework-sdk_**

## Additional context
az bot authsetting list is working fine for the same resources.

[bug]

[2020-07-10 21:17] #1454 closed

[2020-07-10 21:17] dawwa commented on #1454
due of https://github.com/microsoft/botframework-cli/issues/570

[2020-07-10 22:18] v-kydela commented on #1451
@Vigneshramkumar - In the screenshots, it looks like you're in Markdown view. Is that correct? And did you paste the HTML while in Markdown view?

[2020-07-15 00:10] v-kydela commented on #1451
@Vigneshramkumar - Are you still working on this?

[2020-07-15 11:15] Vigneshramkumar commented on #1451
@v-kydela - Thanks. I disabled the rich editor and tried loading the image with HTML img tag. It is working for some images and not working for some other images. I can understand the mistake is from image side, could you please let me know the maximum image size and dimensions (width*height) that are allowed in qna maker and also let me know is there any specific image type is there (like png, jp

[2020-07-15 15:47] v-kydela commented on #1451
@Vigneshramkumar - I need you to understand that QnA Maker just manages your knowledge base and has nothing to do with rendering images, so it doesn't make sense to ask what the image limitations are in QnA Maker. You will have a lot more success if you take QnA Maker out of the equation when troubleshooting your problems. Try testing your images by sending them to Teams directly to make sure they

[2020-07-16 10:44] devedse opened #1457 "dispatch init throws error only on Azure DevOps"
## Tool
Name: Dispatch
Version: 1.7.1
OS: Windows server 2019

## Describe the bug
I'm currently creating an Azure DevOps pipeline to automatically create the dispatch model. However when I run the following PowerShell script I keep running into an error that I don't get when I run it locally:

[code]

This script shows the following logging:
[code]

Everything seems to work, however this is only

[2020-07-16 16:41] Zerryth commented on #1457
@devedse I noticed that you're using PowerShell commands, but in your YAML you specify `script`

[code]
(^ wow spacing is weird copying and pasting 😅 )

Anyways, I think you should switch `script` to be a `powershell`/`pwsh` task, because per [Azure DevOps Services documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema%2Cparameter-schema#sc

[2020-07-16 17:22] devedse commented on #1457
Hi @Zerryth, I am using that :), you might have overlooked it, but this is infact a PowerShell task:
[code]

[2020-07-16 17:29] Zerryth commented on #1457
ha! so you are. hmm...we'll dig into this further then

[2020-07-16 17:34] devedse commented on #1457
The strange thing is that if I'm simply setting the powershell task to continue on error everything works fine, even though some errors are printed out.

I've ran into something similar before where docker tasks write logs to the STD-ERR log which causes Azure DevOps to detect an external command as failing. A discussion started then whether or not 'non failing logging' should be written to the ST

[2020-07-16 20:40] dkonyayev opened #1459 "Failed importing latest version"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: Latest
OS: Window Server 2016

## Describe the bug
When refreshing the domain getting error "Failed importing latest version..." It also takes VERY LONG time after it says "Importing Demo mode" until it displays an error. This is a very small sample domain. There is also no option to actually see what is the error.

Expo

[2020-07-17 18:09] compulim commented on #1459
@tsuwandy Please take a look at this issue. 😉

[2020-07-17 18:23] tsuwandy commented on #1459
@dkonyayev, is it possible to get a copy of your dispatch json so we could get a repro of the import failure?   From where you run your dispatch command, it's  \data\_experiments\model_001\train_luis_model_augmented.json.  Could you email it to tien.suwandy@microsoft.com?  Thank you!

[2020-07-18 00:17] v-kydela commented on #1451
@Vigneshramkumar  - Do you still need help?

[2020-07-18 03:59] #1451 closed

[2020-07-20 15:15] dkonyayev commented on #1459
Emailed the JSON.

[2020-07-22 20:52] tsuwandy commented on #1459
@dkonyayev, closing this per our conversations in email.  Let me know if you are seeing other issues.  Thank you!

[2020-07-22 20:52] #1459 closed

[2020-07-23 18:05] jwiley84 commented on #1457
Hi @devedse

Does this mean the dispatch is successful, even though errors are show?

[2020-07-24 14:20] devedse commented on #1457
Yep

[2020-07-27 17:46] JonathanFingold opened #1461 "Add a Health Check feature to msbot"
## Tool
Name: [Msbot]

## Describe the problem
"Best practice" when creating a skill consumer is perform a health check on the skill before adding it to your bot. There is currently no straight forward way to do so.

## Describe the solution you'd like
I'd like to be able to perform a bot health check from the command line.

## Describe alternatives you've considered
Add a Health Check feature to

[2020-07-28 18:16] EricDahlvang commented on #1461
MSBot is obsolete.  Please use bfcli tooling.  If this should be a feature of bfcli, please add this issue there.

[2020-07-28 18:16] #1461 closed

[2020-08-03 13:17] InfoZone opened #1463 "Dispatch tool version 1.7 create works 100%, but if i say refresh it fails"
## Tool
Name: Dispatch and LUIS and Qna
Version: 1.7.1
OS: Windows 10

## Describe the bug
When i run dispatch create, it works and creates it all in LUIS. Then without changing anything to test I am running dispatch refresh .I get an error that says it failed but no helpful info. I have run refresh a few times a couple of weeks ago and it worked when we added new stuff to our qna services. it was

[2020-08-03 18:18] daveta commented on #1457
@tsuwandy : Can you take a look?

[2020-08-03 18:27] tsuwandy commented on #1457
@devedse , did you include the optional parameter "--remote true"?

[2020-08-04 11:19] devedse commented on #1457
@tsuwandy , I did not do that yet. It's a bit hard for me to test now because I won't be on the customer project this week. What does `--remote true` do?

[2020-08-04 14:28] tsuwandy commented on #1457
@devedse, dispatch cli takes stdin input and for some reason running it remotely from powershell has a similar effect of calling it with stdin.  Passing “—remote true” tells the cli to ignore stdin.

[2020-08-04 16:59] tsuwandy commented on #1463
@InfoZone, could you check what versions the dispatch app has on luis portal?  When was the last time create runs successfully?   Could you try using the same .dispatch file, rename the dispatch app name, set appId to "" and then run dispatch create and see if it could finish successfully?

[2020-08-04 17:21] InfoZone commented on #1463
Hello,

So i deleted the dispatch app in luis, ran the create it worked, then an update and it worked

Same dispatch file so not sure if there was something funny in the luis app?

Anyways thanks

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tien Suwandy <notifications@github.com>
Sent: Tuesday, August 4, 2020 7:00:00 PM
To: microsoft/botbuilder-tools <botbuild

[2020-08-04 17:42] tsuwandy commented on #1463
@InfoZone , thanks for the update.  I’m guessing there was some dispatch versions preventing the refresh (previous failures).  I’ll close this issue but let me know if you run into this issue again.  Thanks!

[2020-08-04 17:42] #1463 closed

[2020-08-05 15:22] dkonyayev opened #1464 "Intents and Scores in ChildApp do not match the actual LUIS App referenced"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: Latest
OS: Windows Server

## Describe the bug
We are getting incorrect scores for the ChildApp results. For example look at below response. First is the response from LUIS Dispatch, while second is a LUIS query directly against the LUIS App.

Dispatch is correctly identifying the intent with 94% confidence for the utter

[2020-08-05 18:05] tsuwandy commented on #1464
@dkonyayev , how do you set the "childApp" attribute?  I thought in combined queries, it's called "connectedServiceResult"

[2020-08-06 01:24] dkonyayev commented on #1464
@tsuwandy  I didn't set it up. I think it started to appear after Luis v3 was introduced. There was nothing that we did to "enable" it.

[2020-08-06 01:30] tsuwandy commented on #1464
Could you check the app settings on both dispatch and child LUIS apps?  I’ve seen this happened before and the difference in settings between dispatch and child
LUIS app were to blame.  You could use the luis API console to get app settings if they are not displayed in luis portal.

Let me know if you see differences in settings.  Otherwise this would be something LUIS support should  investigate.

[2020-08-06 13:07] dkonyayev commented on #1464
I don’t see anything different in the portal. What is LUIS API Console? I am not familiar with this tool and not sure where to get it.

Thanks,

Dmitriy Konyayev
+1 813-682-9607
dkonyayev@hotmail.com<mailto:dkonyayev@hotmail.com>
https://www.linkedin.com/in/dmitriy-konyayev

From: Tien Suwandy <notifications@github.com>
Sent: Wednesday, August 5, 2020 9:31 PM
To: microsoft/botbuilder-tools <botbui

[2020-08-06 17:32] tsuwandy commented on #1464
@dkonyayev , here's the console.   Let me know if you see differences in the settings of Dispatch app version and child LUIS app version.  If you do, we'll need to raise this issue to LUIS support.  Thanks!

https://westus.dev.cognitive.microsoft.com/docs/services/luis-programmatic-apis-v3-0-preview/operations/versions-get-application-version-settings

[2020-08-06 18:16] daveta commented on #1404
@stevengum : What's the current status on this one?

[2020-08-14 18:26] peterinnesmsft commented on #1457
@devedse any updates on this? Wanted to see if this has helped resolved your issue, or if further support is needed from us.

[2020-08-15 05:46] devedse commented on #1457
I'll ask my colleague @rufus1123 to chip in.

[2020-08-17 18:21] peterinnesmsft commented on #1464
Closing due to further inactivity. Feel free to reactivate if further assistance is required.

[2020-08-17 18:21] #1464 closed

[2020-08-17 18:21] peterinnesmsft commented on #1404
@stevengum are you able to take a look and respond to @daveta's question here?

[2020-08-18 14:40] Rufus1123 commented on #1457
@tsuwandy I have added the "--remote true" flag to both the `dispatch init` command and the `dispatch create` command. (According to the documentation, only `dispatch create` and `dispatch refresh` support this flag.) The error now shows up at both the init and create commands:
![image](https://user-images.githubusercontent.com/32542901/90526860-2f56e780-e171-11ea-8b07-320d152a4c09.png)

[2020-08-18 22:02] tsuwandy commented on #1457
@Rufus1123/@devedse, does the dispatch app is created?

[2020-08-19 00:40] Rufus1123 commented on #1457
Yes, a functioning dispatch model is created.

[2020-08-19 00:58] tsuwandy commented on #1457
@Rufus1123 , thanks.  So the command "init" and "create" actually finished and created a functioning dispatch app, correct?  I'm guessing the "error" is because the CLI writes to std error so that it could write a LUIS json of the dispatch app at the end of "create" command so that it could be piped in to a msbot/luis CLI (now deprecated in favor of BF CLI).

Sounds to me that you could use the di

[2020-08-19 01:03] dawwa opened #1465 "dispatch init detects Region case sensitively"
## Tool
Name: [Dispatch]
Version: *1.6.9*
OS: *Windows 10*

## Describe the bug
![image](https://user-images.githubusercontent.com/44714043/90580169-105e5280-e17d-11ea-9301-347f10ef7821.png)

[bug]

[2020-08-19 14:41] Rufus1123 commented on #1457
@tsuwandy The dispatch app is created yes, but it's still a bug in the tool. We only got it to work by setting the `errorActionPreference: 'continue'` setting for the whole script. There might be other commands in the script that should stop the execution of the script when there is an error. Fortunately for us, that's not the case at the moment, so we can use this as a work-around.
Also, the mess

[2020-08-19 16:45] tsuwandy commented on #1457
@Rufus1123, thanks for the update.  "RemoteException" / "NativeCommandError" is not coming from the CLI, so I'm guessing it's due to CLI writing to std error and this is powershell behavior.

[2020-08-19 16:45] #1457 closed

[2020-09-01 17:15] stevengum commented on #1404
Sorry for the delay, I'm targeting https://github.com/Azure/azure-cli/milestone/93 for this feature.

[2020-09-15 17:35] stevengum commented on #1404
I am syncing with @munozemilio who will have the final date

[2020-09-24 13:17] Salzberger opened #1471 "Dispatch-App doesn't use features or seems to use ten random features"
## Issue Description:
We have several LUIS Dispatch Apps which share some child apps and usually have a custom app with client-specific answers. When looking at "Features" in the "Intents" Tab (under "Build") of the Dispatch Apps, some models use ten features, others use none.

The child apps use ML entities and phrase lists. The Dispatch Apps only use a maximum of ten features. Since we have more

[2020-09-24 18:32] tsuwandy commented on #1471
@Salzberger, Dispatch CLI doesn't move entities from sub LUIS apps unless they are used in patterns.  Are the entities used in patterns?  Dispatch will move phrase lists from sub LUIS apps to Dispatch app.

[2020-09-24 18:45] tsuwandy commented on #1471
Closing this issue.  Let me know if you have other issues outside this.  Thanks!

[2020-09-24 18:45] #1471 closed

[2020-09-25 13:31] Salzberger commented on #1471
Hi tsuwandy,

thank you for your quick reply.

Not all of our entities are used in patterns, so I get that point.
But I don't understand your point, that "Dispatch will move phrase lists from sub LUIS apps to Dispatch App"

Where can I see them? Do you mean the following part? With a maximum of 10 features?
![image](https://user-images.githubusercontent.com/71824624/94272578-86579580-ff43-11ea-9d1

[2020-09-25 13:41] datarocker974 opened #1472 "Dispatch create fails with Cannot find model expert in the specified application version"
## Tool
Name: [Dispatch]
Version: 1.7.1
OS: Windows 10

## Describe the bug
I'm trying to generate a dispatch model from my .dispatch file. Just before, I added several LUIS apps and one QnA Maker knowledge base to the .dispatch file.

All the previous steps went without any problems:
- Exporting services for dispatch...,
- Exporting the different LUIS applications
- Creating dispatch LUIS model j

[2020-09-25 16:32] tsuwandy commented on #1471
@Salzberger, Dispatch will combine the phrase lists not used in entities (I think it’s now called features) so it could get around LUIS limits.  You might not see the same name but you’ll see the words from sub LUIS apps in the lists.

[2020-09-25 18:17] ninggao commented on #1472
@tsuwandy Can you take a look at this please?

[2020-09-25 22:37] tsuwandy commented on #1472
@datarocker974, is it possible for you to email .dispatch file and the json files in the dispatch folder (ie _L_<luis name>.json/_Q_<qna kb name>.json?  Feel free to remove the authoring/subscription keys from .dispatch file.    Please email to tien.suwandy@microsoft.com.  Thanks!

[2020-09-27 10:33] datarocker974 commented on #1472
Hi guys, thanks a lot for your help !!!
@tsuwandy, I just sent you an email with the .dispatch file and the json files in my dispatch folder. Let me know if you need anything else.

[2020-09-29 08:43] tsuwandy commented on #1472
@datarocker974, the issue is with DtnlsLuis sub LUIS app.  There are a few complex entities used in pattern.  Dispatch transferred entities used in pattern.  However, with LUIS latest schema/feature, these entities could have child entities, which are not transferred to dispatch app.

I tried removing the entities with child entities and dispatch create is succesful..  See a few of these entities

[2020-09-30 12:52] datarocker974 commented on #1472
Hi @tsuwandy,

Thanks a lot for your advice !
It's ok, I managed to generate my dispatch model by removing the patterns which contained complex entities.

However, I noticed that the patterns present in the None entity of the DtnlsLuis sub LUIS app were imported as the pattern of l_DtnlsLuis instead of None intent in the dispatch model.

For now I can move the patterns manually from the LUIS web U

[2020-09-30 15:23] tsuwandy commented on #1472
@datarocker974, Thanks for the update.   As long as the changes are made to the sub LUIS app (not dispatch app), dispatch refresh should pick up the changes.

The none pattern seems like a bug, people don’t use pattern for None.  I would remove it and instead set a confidence threshold for actual intents, ie don’t use it if confidence is less than 0.4 (try to find some number which will work for y

[2020-09-30 15:23] #1472 closed

[2020-10-02 08:52] neerajsagar commented on #263
Guys.. This is really good tool to add synonyms on qnamaker service..
http://query-me.com/qnamaker/SynonymEditor.aspx

[2020-10-02 19:46] FedericoBernal opened #1474 "[Dispatch] Dispatch refresh fails using ErrorActionPreference set as Stop"
## Tool
Name: [botdispatch](https://www.npmjs.com/package/botdispatch)
Version: [1.7.1](https://www.npmjs.com/package/botdispatch/v/1.7.1)
OS: Windows

## Describe the bug
Dispatch refresh fails using $ErrorActionPreference set as Stop executed in PowerShell.

## To Reproduce
Steps to reproduce the behavior:
1. Have a deployed dispatch
1. Open a new instance of PowerShell
1. Configure $ErrorAction

[2020-10-05 20:41] tsuwandy commented on #1474
@FedericoBernal, when running in PowerShell or remotely from ci/cd pipeline, use "--remote true" for dispatch create/refresh command.   This is because dispatch allows std in (piped in output of another the old msbot cli to dispatch cli) -- this behavior is not compatible in powershell.   You might still need $ErrorActionPreference to Continue if running from PowerShell.

I'll close this issue and

[2020-10-05 20:41] #1474 closed

[2020-10-06 14:35] FedericoBernal commented on #1474
Thanks @tsuwandy for your quick reply. As you mentioned, we still need `$ErrorActionPreference` to `Continue` as it's executed from PowerShell after adding the `--remote true` for the dispatch refresh command.

This issue is solved changing the ErrorActionPreference to Continue :blush:.

[2020-10-16 20:48] ericchansen opened #1475 "botskills refresh can't be run in PowerShell task of Azure DevOps release pipelines"
## Tool
Name: Dispatch
Version: Latest
Agent pool: Azure pipelines
Agent Specification: vs2017-win2016

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Create a template Bot Framework Virtual Assistant
2. In the release pipeline, install the pre-requisite npm tools and attempt to use `botskills refresh --cs ./path/to/cogn

[2020-10-19 18:38] stevengum commented on #1475
@lzc850612 can investigate this? Thanks!

[2020-10-19 19:48] ericchansen commented on #1475
I'm also happy to provide any details or documentation that you ask for.

[2020-10-22 10:00] amoyalan20 opened #1476 "Hyperlink issue from QnA in Teams"
When we get a QnA response with hyperlink the whole link gets displayed with hyperlink text in teams as attached in the screenshot.
![image](https://user-images.githubusercontent.com/73281779/96856326-67352080-147b-11eb-931c-457069111804.png)
is there any solution for the whole link not getting displayed?

[2020-10-22 16:43] v-kydela commented on #1476
Thanks for the question, @amoyalan20

It looks like you're saying you've put a Markdown link in a QnA Maker answer and the Markdown link is not getting resolved into a normal hyperlink when the bot sends it to Teams. Is that correct?

Please go ahead and show us the answer you've entered into QnA Maker, and the bot code you're using to get the answer and send it to Teams.

[2020-10-23 11:15] amoyalan20 commented on #1476
![image](https://user-images.githubusercontent.com/73281779/96997100-bb5d0500-154e-11eb-98d8-45dad9137c24.png)
This how the response which we entered in the qnamaker and not made any changes to bot code while sending to teams.

[2020-10-23 17:27] v-kydela commented on #1476
@amoyalan20 - You haven't made any changes to what bot code? Should we assume you've created the bot using the QnA Maker template?

[2020-10-23 19:05] stevengum commented on #1475
@Batta32 can you investigate this issue? @lzc850612 I've reassigned you to the issue as @Batta32 is not a member of the repository.

[2020-10-23 19:10] Batta32 commented on #1475
Sure @stevengum! We will review it and add any update as soon as possible. Is it possible to transfer the issue to [botframework-solutions](https://github.com/microsoft/botframework-solutions) repository?

[2020-10-26 07:28] edemehmetcan opened #1477 "Dispatch refresh / create normalizing properties doesn't work"
What project is affected?
Dispatch refresh/create command

What language is this in?

Powershell

What happens?
When adding the properties in the dispatcher file:
"normalizePunctuation": true/false
"normalizeDiacritics": true/false

Commands are not working after launching the command. After checking on the LUIS portal, I don't see that the option is turn on/off. Please take a look on this.

What

[2020-10-26 16:16] jrpavoncello opened #1478 "dispatch create includes prompts when includePrompts is set to false"
## Tool
Name: Dispatch
Version: botdispatch@1.7.1
OS: Windows 10 Pro, Version 10.0.17763 Build 17763

## Describe the bug
When we set the flag "includePrompts" to false when adding qna resources to a dispatch model, the LUIS dispatch model is generated with context-only prompts from multi-turn, QnA pairs as utterances.

Or am I misunderstanding what includePrompts actually does?

## To Reproduce
S

[2020-10-26 18:23] chrimc62 commented on #1404
Closing as repo is obsolete.

[2020-10-26 18:23] #1404 closed

[2020-10-28 20:03] Zerryth commented on #1478
@jrpavoncello I can confirm that I got the same results as you, running:

* `dispatch init`
* `dispatch add -t qna -i 7b13xxxx-xxxx-xxxx-xxxx-xxxxxxxx511e -n Faq -k 94cxxxxxxxxxxxxxxxxxxxxxxxxxxa27 --includePrompts false`
* `dispatch create`

In QnA Maker portal, I have a model that includes multi-turn prompt:
![image](https://user-images.githubusercontent.com/35248895/97489890-612cbd00-191d-11eb-

[2020-10-28 20:29] jrpavoncello commented on #1478
Thanks so much!

[2020-10-28 21:00] Zerryth commented on #1478
Alright, so the engineer who specializes with this particular tool is out until next week, but she let me know she'll take a look at this to confirm one way or another when she's back!

Spoke to another engineer who said 3 flags are related (from [dispatch readme](https://github.com/microsoft/botbuilder-tools/tree/master/packages/Dispatch)):

Option | Description
-- | --
--includeAnswersForTrainin

[2020-10-28 21:52] tsuwandy commented on #1477
@Zerryth, could you try to repro?  Thanks!

[2020-10-28 22:21] Zerryth commented on #1477
@edemehmetcan did you find documentation indicating that Dispatch accepts flags `normalizePunctuation` and `normalizeDiacritic`? This [Dispatch README](https://github.com/microsoft/botbuilder-tools/tree/master/packages/Dispatch) doesn't seem to indicate that it does accept those commands currently 🤔.

___

The documentation that I could find around this flag were specific to the LUIS API, which yo

[2020-10-28 22:31] edemehmetcan commented on #1477
Dear

After creating the dispatch file, it’s automatically putting this line in the .dispatch file :

"normalizeDiacritics": true

I didn’t found the documentation as well indicating that the dispatcher can have that type of configuration but logically it should be possible to activate or not these configuration ? Dispatcher is a LUIS app so why I can’t put it in the config ? After each refresh I

[2020-10-28 23:09] Zerryth commented on #1477
@edemehmetcan could you please specify what commands you're running to create the dispatch file?
For example, `dispatch init...`, dispatch add...`. Want to know what kinds of apps you're putting into your dispatch app, so I could repro and understand the issue better. (For example, are you adding child LUIS models to your app? Or QnA Maker apps? etc.)

I suppose there's the misconception there. Di

[2020-10-29 00:05] jrpavoncello commented on #1478
Well, I'm glad I'm not crazy at least lol. Thank you for the followups. I can also confirm I have set those flags explicitly to false and it will produce the unexpected behavior.

Also just a side note, since the documentation says the default for --includePrompts is **false**  -  I'm seeing in Dispatch.dll, QnAMakerSource.CreateFromNamedArgs, includePrompts defaults to **true**. I see that the de

[2020-10-29 01:03] Zerryth commented on #1478
@jrpavoncello Alright, got more insight as to what's happening with the flags.

Reference the example multi-turn conversation that I have in my QnA model in [my earlier comment](https://github.com/microsoft/botbuilder-tools/issues/1478#issuecomment-718177125) for context.

So in my model I have the first question of:
* How do I set my favorite color? (question)
   * green (prompt)
   * red (prompt

[2020-10-29 01:03] #1478 closed

[2020-10-29 01:04] Zerryth commented on #1478
To clarify, Dispatch was a tool that was created before the newer QnA Maker feature of multi-turn questions came about--just FYI, as to how this discrepancy occurred in the first place

[2020-10-29 02:25] jrpavoncello commented on #1478
@Zerryth That makes sense, thanks for the extra clarification. Does the orchestrator cli current have the capabilities to exclude context-only questions?

[2020-10-29 02:29] jrpavoncello commented on #1478
If so, we'll switch over to it even if it's in preview. But we'll do the workaround if not :)

[2020-10-29 08:40] edemehmetcan commented on #1477
@Zerryth I am creating the dispatch file firsly by init and add (LUIS and QnA apps).

In order to focus to the problem, I have a bunch of question in QnA and when adding them into the dispatch, when I ask a question with and without the question mark I got different score. The question marks from KBs are deleted by default after adding to dispatcher.

So when I ask a question:

-  when adding the

[2020-10-29 16:46] Zerryth commented on #1478
I'm afraid Orchestrator doesn't have such flag currently right now either 😞

[2020-10-29 18:45] Zerryth commented on #1477
@edemehmetcan, so I did some poking around.

### The Workaround

It looks like you can make dispatch create a LUIS model with your desired values for `normalizeDiacritics` and `normalizePunctuation`. There isn't a built-in command-line commandlet, however just edit your `.dispatch` file directly to have the desired values.

For example, here I set both `normalizeDiacritics` and `normalizePunctuati

[2020-10-29 18:45] #1477 closed

[2020-10-30 21:27] bartbilliet opened #1479 "LUIS CLI: client.model.getIntentSuggestions is not a function"
## Tool
Name: LUIS
Version: 2.6.2
OS: Windows 10 1809

## Describe the bug
Running following luis suggest command to get the list of utterances listed under "review endpoint utterances" section fails:
`luis suggest intents --intentId "<IntentId>"`

Following error is produced after running this command:
**client.model.getIntentSuggestions is not a function**

## To Reproduce
Steps to reproduce the

[2020-10-30 22:49] v-kydela commented on #1476
@amoyalan20 - Are you still working on this?

[2020-11-03 00:26] v-kydela commented on #1476
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-11-03 00:26] #1476 closed

[2020-11-03 18:52] taicchoumsft commented on #1479
Hi @bartbilliet, thanks for reporting this issue. I can indeed repro this issue, and confirm that the function `getIntentSuggestions` has been renamed to `listIntentSuggestions`.

To unblock you right now, if you're on windows you can go to your global npm cache and modify the `luis.js` file :
1) On windows, it'll be found here `\AppData\Roaming\npm\node_modules\luis-apis\bin\luis.js`
2) search fo

[2020-11-03 19:00] bartbilliet commented on #1479
@taicchoumsft Thanks, I confirm that your proposed temporary workaround is successful!

[2020-11-03 21:51] bartbilliet commented on #1479
@CezaryMarcjan was this fixed? I seem to still see the wrong name in code?

[2020-11-03 22:10] CezaryMarcjan commented on #1479
@bartbilliet, indeed, lets wait for @taicchoumsft  to address this.

[2020-11-04 20:53] taicchoumsft commented on #1479
Hi @bartbilliet , there was some internal discussion on this, and the recommendation was not to take this change in this repo. Apologies.

Instead, we are encouraging our customers to use the [BotFramework-CLI](https://github.com/microsoft/botframework-cli), which should have this functionality in the LUIS packages, or if it doesn't, we should provide it for you there.

Hi @munozemilio, per our in

[2020-11-06 09:07] SSanjeevi opened #1481 "Dispatch tool support for arabic"
## Information:
* Tools Libraries: botdispatch
* Libraries' Versions: latest
* OS: Windows

## Issue Description:
Bot dispatch tool support Arabic?

## Commands Example:
dispatch refresh
[code]

[2020-11-09 17:05] amoyalan20 opened #1482 "In Microsoft Teams, what is the maximum number of adaptive cards that can be stacked on a carousel using Bot Framework?"
Could you please suggest the maximum number of carousal attachments for Microsoft teams?

[2020-11-09 17:08] amoyalan20 opened #1483 "ActionType.Call not working in Microsoft Teams application"
Is this call feature is available in Microsoft teams?

[2020-11-09 19:24] cwhitten commented on #1481
@tsuwandy can you glance at this please? Thanks.

[2020-11-09 19:43] tsuwandy commented on #1481
@SSanjeevi, Dispatch CLI supports whatever language supported by LUIS/QnAMaker.

Arabic is not yet supported by LUIS, as shown here:
 https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-language-support#multi-language-luis-apps

[2020-11-09 19:43] #1481 closed

[2020-11-09 22:33] SSanjeevi commented on #1481
@tsuwandy  - we are planning to use arabic preview version, so is it supported?

[2020-11-09 22:36] tsuwandy commented on #1481
Dispatch CLI doesn't work with preview version unfortunately (different endpoints) and we would have to wait until that preview is GA-ed.  Thanks!

[2020-11-10 04:41] SSanjeevi commented on #1481
Is there any preview version of dispatch available which will work for arabic Luis preview?

[2020-11-10 16:55] mrivera-ms commented on #1482
@amoyalan20, thank you for opening this issue. For product behavior, how-to, or general understanding questions, please use [StackOverflow.](https://stackoverflow.com/search?q=bot+framework)

[2020-11-10 16:55] #1482 closed

[2020-11-10 16:56] mrivera-ms commented on #1483
@amoyalan20, thank you for opening this issue. For product behavior, how-to, or general understanding questions, please use [StackOverflow.](https://stackoverflow.com/search?q=bot+framework)

[2020-11-10 16:56] #1483 closed

[2020-11-11 01:43] munozemilio commented on #1479
Hello @bartbilliet currently we don't support this operation in the botframework cli, but please go ahead and open an issue in the [repo](https://github.com/microsoft/botframework-cli) explaining how this functionality is used on your end so we can understand your needs and provide the best experience using our tools.

[2020-11-11 01:43] #1479 closed

[2020-11-11 05:24] amoyalan20 opened #1484 "Second Loop of OnTeamsMembersAddedAsync in VA bot builder is showing empty"
In foreach loop of OnTeamsMembersAddedAsync, the team member is empty for the second time. Is there any solution for this above mentioned issue?
![image](https://user-images.githubusercontent.com/73281779/98772970-eb8d1a80-240d-11eb-838f-ddf6c663746c.png)

[2020-11-11 19:05] mrivera-ms commented on #1484
@jwiley84, please respond to the customer. Thank you.

[2020-11-12 17:01] jwiley84 commented on #1484
@amoyalan20 The bot framework team prefers that **How-To** questions be ask on Stack Overflow using the [Bot Framework tag](https://stackoverflow.com/questions/tagged/botframework).

The missing information is dependant on how your for loop is structured to pull the information on Teams. If it's looking at the bot, the bot doesn't have graph information to populate. When you post your question on

[2020-11-12 17:51] #1484 closed

[2020-11-17 20:07] jane-bolton opened #1485 "Dispatch Refresh and Eval Remove Prediction Resource from Application"
## Tool
Name: Dispatch
Version: 1.7.1
OS: Windows 10

## Describe the bug
Running `dispatch refresh` and `dispatch eval` remove the prediction resource from all LUIS applications associated with the dispatch file.

## To Reproduce
Steps to reproduce the behavior:
For each of the three LUIS apps (General, Maya, Dispatch):

1. Go to Manage > Azure Resource and add the WIC-Maya-Dev-luisruntime-6wbwpw

[2020-11-18 11:22] amoyalan20 opened #1486 "Teams Command Lists not working"
As i implemented teams command list ,but its only working in the desktop view not in mobile.
![image](https://user-images.githubusercontent.com/73281779/99524261-3256b380-29be-11eb-84cf-dc526144af6b.png)
The desktop view is attached in screenshot. Could you please provide the changes to be updated for working in mobile view?

[2020-11-18 16:51] jwiley84 commented on #1486
@amoyalan20 The bot framework team prefers that How-To questions be ask on Stack Overflow using the Bot Framework tag.

This repo is for reporting bugs with the Bot Framework CLI tools: Chatdown, LUDown, Dispatch, etc. It is not for reporting issues with the Teams UI. Please take this to Stack Overflow so members of the Teams community can assist you with it.

[2020-11-18 17:00] #1486 closed

[2020-11-18 22:07] tsuwandy commented on #1485
@jane-bolton, did you see the prediction resource on the Dispatch LUIS app when running "dispatch create" command?  Then it disappear after "dispatch refresh"?

[2020-11-18 22:10] jane-bolton commented on #1485
The dispatch file is about six months old; I haven't use `dispatch create` since May. There was originally an F0 tier resource, but was removed automatically (?) recently.

[2020-11-18 22:21] tsuwandy commented on #1485
@jane-bolton, there were changes on LUIS cognitive service resources side.

Dispatch CLI doesn't have any permission to remove a resource, it only *adds* if provided subscription key.    Could you update the subscription key in the .dispatch file to the newer LUIS CS resource with Prediction option (or both Authoring and Prediction)?   I believe the subscription key in the .dispatch file was the o

[2020-11-18 22:30] jane-bolton commented on #1485
I'll try this now -- Is there an advantage to have two separate versions over a single "Both" resource?

[2020-11-18 22:35] tsuwandy commented on #1485
@jane-bolton, I suppose using one with both simplifies management/billing?  Doesn't matter from CLI point of view.

[2020-11-18 22:42] jane-bolton commented on #1485
hmm... so the resource I added was removed; but now there's this mysterious message:
![image](https://user-images.githubusercontent.com/69269995/99597071-0ab31b80-29bd-11eb-8a23-ce21d3c74295.png)

[2020-11-18 22:45] tsuwandy commented on #1485
@jane-bolton, did you try to add a prediction resource from LUIS portal?  Or you updated subscriptionKey in .dispatch file with the key from the new LUIS Cognitive Service resource (with Prediction option or both), then ran "dispatch refresh" again?

[2020-11-18 22:48] jane-bolton commented on #1485
both -- I added it through the LUIS portal first, then to the dispatch file. Ran refresh + eval and now it's missing on all three resources.

[2020-11-18 22:57] tsuwandy commented on #1485
let me try creating a new LUIS CS resource on Azure (both authoring/prediction) and will run dispatch create then dispatch refresh...

[2020-11-18 23:30] tsuwandy commented on #1485
@jane-bolton , I see what you are seeing.  Investigating and see which API calls causing this...

[2020-11-19 01:43] tsuwandy commented on #1485
Quick update: I figured out which LUIS API call causing the prediction resource to get removed from the Dispatch LUIS app.  I'm following up with folks on LUIS side....

[2020-11-20 17:05] jane-bolton commented on #1485
I created new all-in-one resources for my development and staging and moved them over last night. I'm still seeing the issue; and at one point i had *three* hidden collaborator resources attached to a brand new LUIS app.

[2020-11-20 17:23] tsuwandy commented on #1485
@jane-bolton , LUIS team is looking into this issue at the moment.  In the meanwhile, please re-add the subscription key via the portal or via bf luis CLI.  I'll update this thread as soon as I hear back from LUIS team.  Thanks!

[2020-11-21 14:59] dawwa opened #1487 "Urgent: dispatch refresh incorrectly forces the dispatched luis app use the same authoring resource as the dispatch App itself"
## Tool
Name: Dispatch
Version: 1.7.1
OS: Repros on both Windows and Linux

## Describe the bug
**Impact:** This is blocking us from enabled CICD automation E2E as we need to allocate separate authoring resources for Dispatch itself and the Apps to dispatch.

**Issue:**
Dispatch refresh failed with the specified authoring key for the luis app listed in the *.dispatch file, but succeeded after swit

[2020-11-24 20:08] tsuwandy commented on #1487
@dawwa, dispatch refresh should still succeed/finished regardless of the error.  You could safely ignore the message.  That step tries to add the key as subscription keys to the child LUIS app(s), since the key has no access to the child LUIS app(s), the error message is printed.  However the refresh command should still finish.

Let me know if refresh doesn’t actually finish, thanks!

[2020-11-24 20:08] #1487 closed

[2020-11-25 18:03] tsuwandy commented on #1485
@jane-bolton, quick update.  Debugged this with someone from LUIS team and we'll put in a fix.  Will update when fix is out, thanks!

[2020-12-01 19:11] tsuwandy commented on #1485
@jane-bolton, we are working on a new deployment so existing prediction resource won't be removed.  With this change, there'll be a one time manual step needed on portal to add a prediction resource to a dispatch app, but subsequent refresh will no longer remove the resource.

[2020-12-03 12:33] TringaYmeraga commented on #37
hi @vishwacsena do you perhaps know how to fix this issue with importing the .lu file directly in LUIS without using the LUIS CLI tool? Thanks in advance!

[2020-12-08 07:43] ObsidianDelta opened #1488 ""dispatch create" gets 401 permission denied when adding qna db b/c of invalid endpoint"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: *tool version*
OS: *os version*

## Describe the bug

When I try to add the newly created qna db using the correct id and subscription key I get the following error message:

Request url: https://westus.api.cognitive.microsoft.com/qnamaker/v4.0/knowledgebases/xxxx-xxx-xxx-xxxx/Test/qna?getFlattened=true
Response: {"error

[2020-12-08 18:47] stevkan commented on #1488
@ObsidianDelta, can you tell me the version of dispatch that you are using? In the mean time, I will begin attempting a repro of this.

[2020-12-08 18:59] ObsidianDelta commented on #1488
1.7.2

[2020-12-10 04:53] ObsidianDelta commented on #1488
Hey @stevkan do you think its  just how I am invoking dispatch or do you think there is something going on in terms of a bug?

[2020-12-10 16:59] VanesaMartin commented on #1488
I have the same problem and I think its because I am using qna managed in preview version. Is there a way to change the endpoint Request url: https://westus.api.cognitive.microsoft.com/qnamaker/v4.0/knowledgebases/xxxxx-xxxx-xxxx-xxxxx/Test/qna?getFlattened=true? My cognitive service is in north europe not westus and publish on https://xxxxxxx.cognitiveservices.azure.com/qnamaker/v5.0-preview.1

[2020-12-13 06:47] ObsidianDelta commented on #1488
I tried both ... I still get the same result! It's because the base URL is custom I believe is that right @stevkan @v-kydela @ckkashyap

[2020-12-17 08:37] JorJames1 opened #1495 "Entity limit dispatch tool"
## Information:
* botdispatch

## Issue Description:
I have an issue if I want to create the dispatch tool. I want to create a dispatch tool with three LUIS applications.
I thought I can use the dispatch tool if I want to use more entities. Do I have to use a LUIS container instead of the Dispatch tool? How can I solve the issue?

## Reproduction Steps:
1. npm install -g bot dispatch
2. dispatch i

[2020-12-18 18:55] stevkan commented on #1495
I'm presently researching this and will keep you updated. In the mean time, can you tell me if this error occurred with previous version of the tool? Is this something you tried previously and worked but is now failing?

[2020-12-20 14:57] JorJames1 commented on #1495
No, I didn´t try and work with previous versions of the tool. The tool works with two LUIS apps (less than 100 entites) but doesn´t work with all LUIS apps (more than 100 entities).

[2020-12-21 19:02] stevkan commented on #1495
@JorJames1, I'm not experiencing an issue with attaching multiple LUIS apps. Can you list the specific commands you are passing thru just to double check they are correct?

[2020-12-22 07:12] #1488 closed

[2020-12-22 07:13] ObsidianDelta commented on #1488
It works ... I used the subscription id instead of the subscription key!

[2020-12-22 07:40] JorJames1 commented on #1495
I have done it like there: https://github.com/microsoft/botbuilder-tools/tree/master/packages/Dispatch
1. npm install -g bot dispatch
2. dispatch init -n TestDispatch --luisAuthoringKey "[...]" --luisAuthoringRegion westeurope
3. dispatch add -t luis -i [...] -n "LUIS01" -v 0.1 -k [...]
4. dispatch add -t luis -i [...] -n "LUIS02" -v 0.1 -k [...]
5. dispatch add -t luis -i [...] -n "LUIS03" -v 0.1

[2020-12-22 15:05] sschutten commented on #1488
@ObsidianDelta can you please elaborate? I can't seem to find a way to tell the dispatch tool to use a different endpoint for the v5.0 managed preview QnAMaker knowledgebases.

[2020-12-22 15:09] ObsidianDelta commented on #1488
I got it to work with the un managed version. Not the preview version. However I don't think it matters. Just make sure you use the subscription key for the qna service ... not the subscription id.

[2020-12-23 06:25] SSanjeevi opened #1496 "Dispatch Tool fails to train the luis based on preview version of qnamaker"
## Tool
Name: Dispatch
Version: 1.7.2
OS: Windows 10

## Describe the bug
Unable to use dispatch to train the LUIS using QnaMaker preview version from north Europe, its referring to old endpoint and getting permission denied or invalid key.
It has to look for the new preview URL to get the qna.
Error:
[code]

## To Reproduce
Steps to reproduce the behavior:
1. create a qnamaker in preview version