[2019-02-05 20:21] stevengum commented on #908
Closing via Azure/Azure-cli#8420

[2019-02-05 20:21] #908 closed

[2019-02-05 20:21] stevengum commented on #907
Closing via Azure/Azure-cli#8420

[2019-02-05 20:21] #907 closed

[2019-02-05 20:49] Zerryth commented on #948
@hansmbakker I'm not able to reproduce the error you got.

However I did notice in my tests that when using the `--out` option, in order to convert it to a `.json` file, I **needed to include `.json` at the end of the name**.
* so if you did `--out general.luis`, it would actually create the contents inside as it would in a `JSON` file, but it would be of type `.luis` file, which is not what we wa

[2019-02-05 20:57] Zerryth commented on #948
The `ludown` file I used can be found in the examples in the botbuilder-tools repo [here](https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Ludown/examples).

[2019-02-05 21:31] hansmbakker commented on #948
- I did `.luis` instead of `.json` to follow the structure of the Enterprise Bot Template. The content is still json if the filename ends with `.luis`. **It is just a naming convention, nothing functionally different.**
- did you specify `"myfolder"` or `".\myfolder"` or `".\myfolder\mysubfolder"`? I used `".\myfolder\mysubfolder"`.

[2019-02-05 21:47] Zerryth commented on #948
I used `myFolder` without `.\`

Tested in Enterprise Bot Template:

_Command Ran_
`ludown parse toluis --in CognitiveModels/LUIS/en/general.lu --out_folder DeploymentScripts/myFolder --out anotherTest.withdot.json`

![image](https://user-images.githubusercontent.com/35248895/52306328-7d6c1780-294c-11e9-9503-f98abc55f56b.png)

[2019-02-05 22:35] Zerryth commented on #948
Used both **powershell** and **cmd**:  **both succeeded**

However I just tried in **bash** and finally **it failed**

_Command Ran in Bash_
`ludown parse toluis --in CognitiveModels/LUIS/en/general.lu --out_folder DeploymentScripts/myFolder --out test3.json`

Result:
`Sorry unable to open [CognitiveModels/LUIS/en/general.lu]
Stopping further processing.`

[2019-02-05 22:37] hansmbakker commented on #948
Also note that I used backslashes (`\`) instead of slashes (`/`) in my path

[2019-02-05 22:44] seank-com opened #951 "Force flag does not work to force removal of LUIS application."
## Tool
Name: LUIS
Version: 2.2.0
OS: Debian stretch

## Describe the bug
Trying to delete my LUIS applications and restart the ```botbuilder-samples/samples/csharp_dotnetcore/14.nlp-with-dispatch``` sample from scratch. I delete the Dispatch application from [luis.ai/applications](https://www.luis.ai/applications) without problems. When I try to delete Weather or Home Automation application from

[2019-02-05 23:04] stevengum opened #953 "AZ CLI: Implement zipdeploy API for az bot publish"
## Tool
Name: AZ CLI

[enhancement]

[2019-02-05 23:11] Zerryth commented on #948
* the use of either forward or back slashes worked in powershell (`5.1.17763.134`) and cmd (`Microsoft Windows Version 10.0.17763.253`)
* it appears it was already discovered that the botbuilder-tools coverage is limited in some scenarios, however it was determined its current coverage of OS's and shells is sufficient: #700

[2019-02-05 23:34] Zerryth commented on #948
Still unable to repro your error in cmd.

I tried running the command all the way from `C:` and also created a folder with a `.` in its name, just in case length or punctuation would affect the `ludown parse` command.

_Command Ran_
`ludown parse toluis --in Users\v-asho\source\repos\EnterpriseBot2\EnterpriseBot2\CognitiveModels\LUIS\en\general.lu --out_folder Users\v-asho\source\repos\EnterpriseB

[2019-02-05 23:35] hansmbakker commented on #948
My issue with ludown was in powershell (I can still try whether it occurs in cmd), and specifically occurs with the output folder parameter. The issue you’re linking does not seem related to me.

[2019-02-05 23:37] hansmbakker commented on #948
Ok, I’ll try to make the reproduction scenario more precise

[2019-02-05 23:39] tsuwandy commented on #930
Unfortunately, we can't control the first error message.  The package is marked as 'DotnetTool' and thus it won't allow it to be installed via package manager console.

[2019-02-05 23:39] #930 closed

[2019-02-06 02:36] #933 closed

[2019-02-06 02:37] #939 closed

[2019-02-06 10:14] hansmbakker commented on #948
Both on node version v10.10.0 and v10.15.1 the bug appeared.
The bug only appears in PowerShell for me, cmd works fine.

[2019-02-06 11:20] hansmbakker opened #955 "dispatch create resets collaborators list"
## Tool
Name: Dispatch
Version: 1.2.3
OS: Windows 10 Build 17763

## Describe the bug
`dispatch create` creates a LUIS Dispatch application or updates an existing LUIS Dispatch application

I am collaborating with a colleague on LUIS apps. He added me as a collaborator. When I call `dispatch create` on an existing Dispatch application, I am removed from the collaborators list.

## To Reproduce
Ste

[2019-02-06 11:34] hansmbakker commented on #955
It turns out that the whole app is replaced and therefore the settings are removed as well.

`dispatch refresh` is the command that should be used.

[2019-02-06 11:34] #955 closed

[2019-02-06 15:44] seank-com commented on #951
FYI, looking at the code in `/usr/local/lib/node_modules/luis-apis/bin/luis.js`

It appears that all the `--force` flag does is bypass the

[code]

I tried also setting `args.force=true` since the `client.apps.deleteMethod` labels this as the options parameter but that didn't work either.

[2019-02-06 16:25] Sophichatbot opened #956 "MSBot CLI: Custom encryption"
## Tool
Name: Msbot

## Describe the problem
If I had custom generic section to store sensitive data (like key for spellcheck) the MSBot doesn't encrypt it.

## Describe the solution you'd like
I think maybe it should encrypt any item with Key or Password keyword suffix (example: myAuthKey or myCustomPassword etc.)

## Describe alternatives you've considered
Maybe to allow user configure what shou

[2019-02-06 17:48] #937 closed

[2019-02-06 19:13] Zerryth commented on #948
OK!!!! So, after some messing around with commands in powershell vs. cmd, figured out something:
### ludown breaks when you end a folder with a trailing slash

___
So your original command was this:
 `ludown parse ToLuis --in ".\CognitiveModels\LUIS\nl\general.lu" --out_folder ".\DeploymentScripts\nl\" --out "general.luis"`

It broke with the `--out_folder` because of the trailing `\` after your `

[2019-02-06 19:20] hansmbakker commented on #948
Well done! As the saying goes "the devil is in the details" --> in this case in a trailing backslash...

[2019-02-07 01:01] Kaiqb commented on #929
Add info in the file format document. PR is [here](https://github.com/Microsoft/botbuilder-tools/pull/957).

[2019-02-07 01:01] #929 closed

[2019-02-07 01:16] Zerryth commented on #948
As per Steven Gum, labeling to indicate bug and ludown-cli.
Removed Support label.
___
@cahann Handing over to LUIS team to set priority of when to fix bug

**Summary**: trailing slashes break ludown commands

[2019-02-07 01:48] tomlm commented on #934
The code already detects this condition and adds the UserSecretsId.  I was not able to repo this

[2019-02-07 01:48] #934 closed

[2019-02-07 04:44] sgellock commented on #956
we're moving away from this mechanism.  we want to get out of the encryption business and allow customers to use more standardized mechanisms, e.g. key vault or equivalent.

[2019-02-07 04:44] #956 closed

[2019-02-07 18:49] mdrichardson opened #958 "QnAMaker/MSBot needs retry criteria when creating kb"
## Tool
Name: QnAMaker/MSBot
Version: 1.1.0/4.3.2
OS: Win 10 Build 17763

## Describe the bug
See https://github.com/Microsoft/BotBuilder-Samples/issues/1187 for more details.

#### Summary

MSBot frequently (up to 70%) of the time runs `qnamaker create kb ...` before QnAMaker Cognitive Service is finished being set up on the backend. This will most frequently result in an "invalid subscription ke

[2019-02-08 00:14] mdrichardson commented on #958
@rokulka Regarding your comment, "Create KB is called immediately after creating QnAMaker Cognitive Service resource, it fails because the backed updates are not complete yet."

Would any of the below API requests allow for checking when the backend is complete (and ready to run `qnamaker create kb...`)?

![image](https://user-images.githubusercontent.com/40401643/52451343-66b3f500-2af3-11e9-9a21-

[2019-02-08 11:32] rokulka commented on #873
I've been using msclone for quite a number of times since I was debugging the other 'create kb' issue, I couldn't repro this issue.

As per node [docs](https://github.com/nodejs/node/blob/master/doc/api/child_process.md), default maxBuffer is 200KB. We can increase it as @mdrichardson  suggested.

@sgellock  Please let me know, i'll raise a PR.

[2019-02-08 16:36] sgellock commented on #873
currently I use msbot clone services for all my deployment activities.  I run into the issue frequently enough that I'd like us to take a change.  thanks guys.

[2019-02-11 15:44] hansmbakker commented on #951
I'm experiencing this bug too. I also reported it on https://stackoverflow.com/questions/54551571/how-to-delete-luis-application-that-was-referenced-by-dispatch-application since the LUIS team seems to prefer that channel, but they didn't reply yet. Anyway it should be fixed in the web UI as well.

[2019-02-11 15:51] hansmbakker commented on #951
Workaround is to use the [`DELETE` REST request](requesthttps://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c39) manually.

[2019-02-11 17:51] kayousef commented on #951
Hello @seank-com

Thank you for using Bot builder tools and LUIS. We have noticed the reported issue earlier, and already have a permanent fix in the pipeline. This fix handles the case when you can't delete a dispatch child app, when the parent app is already deleted. That should be available within the week.

Unfortunately, for the **force** flag, you will need to use the DELETE REST request man

[2019-02-11 20:27] #855 closed

[2019-02-12 03:55] sgellock commented on #911
@patlewis-MSFT are you trying to clone and build the repo?  if so, you'll need to make sure you have TypeScript installed, and you'll also need .NET Core SDK installed.

@mdrichardson if this is the case, the a PR to update https://github.com/Microsoft/botbuilder-tools/blob/master/README.md to include the full list of dependencies would be awesome.

[2019-02-12 14:31] hansmbakker opened #961 "PowerShell build step in Azure DevOps fails when piping the JSON output from e.g. LUIS to Msbot"
## Tool
Name: Msbot, LUIS, QnAMaker, Dispatch
Version: latest
OS: Azure DevOps VS 2017 agent - Windows 10.0.14393

## Describe the bug
I set up automated steps in Azure DevOps to configure LUIS, QnA Maker and connect them to a bot file. This is done in a PowerShell build step.

Since recently, the commands fail when piping the JSON output from e.g. LUIS to Msbot.

The error message is `[msbot] Syn

[2019-02-12 15:03] hansmbakker commented on #961
Also reported at https://developercommunity.visualstudio.com/content/problem/451239/powershell-build-step-in-azure-devops-fails-when-p.html

[2019-02-12 15:24] hansmbakker commented on #961
The reason I do this in powershell is because I want to use some logic (check if there is an existing application first, and if there is, add it to the bot file) because I want to be able to run the provisioning from Azure DevOps multiple times without breaking the script.

[2019-02-12 15:54] mdrichardson commented on #911
@sgellock 	On it. Pat hasn't responded in awhile, but I can update the dependencies, regardless.

[2019-02-12 17:07] patlewis-MSFT commented on #911
I’ll send update later today after I test.

From: Michael Richardson <notifications@github.com>
Sent: Tuesday, February 12, 2019 10:54 AM
To: Microsoft/botbuilder-tools <botbuilder-tools@noreply.github.com>
Cc: Patrick Lewis <patlewis@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/botbuilder-tools] Failure in tsc build script (#911)

@sgellock<https://nam06.safelinks.

[2019-02-12 20:01] mdrichardson commented on #911
I was able to successfully build. I even uninstalled *all* of my global npm packages.

@patlewis-MSFT 	Maybe there's been a change in the `botbuilder-tools` repo that makes this work. Additionally, you may need to update your npm packages. Use:

`npm install -g npm lerna chatdown msbot ludown luis-apis qnamaker botdispatch`

Success screenshot:

![image](https://user-images.githubusercontent.com/4

[2019-02-12 23:54] #873 closed

[2019-02-13 04:24] JasonPGiordano opened #962 "You need to upgrade your AZ CLI version to >= 2.0.53"
## Information:
* Tools Libraries: msbot
* Libraries' Versions: 4.3.2 and daily build 4.3.2-152
* OS: Windows

## Issue Description:
Error incorrectly states AZ CLI version is the issue when a newer version is installed

## Commands Example:
msbot clone services --name "[NAME]" --luisAuthoringKey "[KEY]" --folder ".\DeploymentScripts\en" --location "westus"

## Reproduction Steps:
1. Install AZ CL

[2019-02-13 11:38] JasonPGiordano commented on #962
As I suspected, the expected behavior occurs when 2.0.53 is installed.  The "greater than" version check is not working but the "equal to" 2.0.53 check is working.

[2019-02-14 00:38] nurih commented on #962
Encountering same issue.

[2019-02-14 01:20] nurih commented on #962
Looks like the extension for **AZ** listed under [current extensions](https://azurecliextensionsync.blob.core.windows.net/index1/index.json) is stated as being _exactly_ 2.0.52,  not allowing the extension for the latest revision AZ cli.
[code]
Does this extension require such strict version matching that a patch-level increment is not allowed?

[2019-02-14 06:27] tdurnford commented on #862
@santifdezmunoz's, I followed your steps on my Mac and encountered the same error.

<img width="691" alt="screen shot 2019-02-13 at 10 02 55 pm" src="https://user-images.githubusercontent.com/17039790/52767021-f703a580-2fdd-11e9-9630-1bc80a80cd72.png">

However, I upgraded npm from 6.5.0 to 6.8.0 and was able to install botdispatch without an issue.

<img width="691" alt="screen shot 2019-02-13 at

[2019-02-14 15:26] #958 closed

[2019-02-14 16:04] patlewis-MSFT commented on #911
I completely uninstalled node.js, visual studio, npm, etc. After reinstalling everything appears to work now. tThanks!

[2019-02-14 16:19] sramayanam commented on #937
I am still getting the error. Does this change go live yet? if so what are the steps

[2019-02-14 16:41] mdrichardson commented on #911
Weird. Glad it works, though!

[2019-02-14 16:41] #911 closed

[2019-02-14 18:03] seank-com commented on #951
Thanks it appears they have fixed the https://luis.ai web ui and I can now delete those applications.

[2019-02-14 21:44] v-kydela commented on #962
I just had a look at the source code, and my guess is that MSBot isn't able to correctly parse the currently-installed version of the Azure CLI. It determines the currently-installed version by running [`az -v `](https://github.com/Microsoft/botbuilder-tools/blob/master/packages/MSBot/src/msbot-clone-services.ts#L1074) and then detecting a version number in the output with the regex [`/([0-9]+)\.(

[2019-02-15 00:17] omarsourour commented on #950
@pawett Since changing the syntax is a breaking change, we want to avoid that unless extremely necessary. So the other option you are mentioning is to add the reserved characters as an entry in the documentation, am I correct?

[2019-02-15 03:12] nurih commented on #962
@v-kydela see [PR](https://github.com/Microsoft/botbuilder-tools/pull/963). I think there's also a version comparison glitch.

[2019-02-15 04:43] olufemig commented on #615
@stevengum, i have version 4.3.2 of msbot and come up with the same error

`C:\Users\olgeorg\Documents\Visual Studio 2017\Projects\SovereignBot\SovereignBot>msbot clone services --name "SovereignBot" --luisAuthoringKey "2c92b0812f6b47cfa5d4da293f2bbaa3" --folder "DeploymentScripts\en" --location "westus"
With msbot 4.3.2 and later, the only AZ CLI prerequisite is having an AZ CLI version >= 2.0.53

[2019-02-15 17:57] sgellock commented on #615
@olufemig what version of Azure CLI to you have, also, if you've installed a version of Azure CLI prior to 2.0.53, can you check if the bot extension is installed?  The error message you've supplied would imply that an old extension is installed and needs to be removed:

_If you have the botservice extension installed as well, please remove this via "az extension remove --name botservice"._

[2019-02-15 18:22] mdrichardson opened #965 ".bot file not being published to Azure App Service"
## Tool
Name: msbot / AZ CLI (mostly AZ CLI)
Version: 4.3.2 / 2.0.57
OS: Win 10 Build 17763

## Describe the bug
After running `az bot publish ...` the .bot file doesn't get uploaded to the Azure App Service. I've only experienced this in C# Sample 51 - CafeBot, but can reproduce it every time. I'll test other samples, as well.

upload.zip gets created successfully:
![image](https://user-images.gi

[2019-02-15 18:28] joalmeid commented on #912
Hello Fuse team.
Any updates on this?

After the [ms-rest-js fix](https://github.com/Azure/ms-rest-js/pull/315) merged, can we have an ETA for LUIS CLI?

[2019-02-15 18:40] LuNest commented on #615
@stevengum  @sgellock I'm having the same issue.
    msbot version 4.3.2
    Azure CLI version: 2.0.58
    Bot extension has not been previously installed.

[2019-02-15 18:57] stevengum commented on #615
@LuNest and @olufemig please use Azure CLI 2.0.57 while we investigate this issue. This specific version of Azure CLI can be installed via this link: https://azurecliprod.azureedge.net/msi/azure-cli-2.0.57.msi

[2019-02-15 19:40] mdrichardson commented on #965
@EricDahlvang 	Pointed me to this: https://github.com/Microsoft/BotBuilder-Samples/pull/555

Implementing this on the Cafe bot, which was made after the pull request, worked just fine.

Spinning up a PR for this bot and any others I find...

[2019-02-15 20:46] sgellock commented on #912
@cahann is the correct person to speak to this.  Carol?

[2019-02-16 00:30] omarsourour commented on #950
@pawett Kind reminder :)

[2019-02-16 00:42] pawett commented on #950
Sorry to not answer earlier, I was on vacation.. You are right, I am aware that a syntax change would be a major change, so a mention of the "reserved" characters in the documentation should be good enough to avoid the problems I have experienced for future users.

[2019-02-16 15:26] #962 closed

[2019-02-16 23:55] lukaesch commented on #615
I am having the same issue on macOS High Sierra 10.13.6.
msbot: 4.3.2
Azure CLI: 2.0.58
Command `az extension add -n botservice --debug` results in :
...
Skipping 'botservice-0.4.3-py2.py3-none-any.whl' as not compatible with this version of the CLI. Extension compatibility result: is_compatible=False cli_core_version=2.0.58 min_required=2.0.52 max_required=2.0.52
..
At the moment most of the offi

[2019-02-18 15:04] #871 closed

[2019-02-18 17:32] sgellock opened #967 "MSBot can not recognize Az CLI version 2.0.56 or higher"
## Tool
Name: Msbot
Version: 4.3.2
OS: any

## Describe the bug
MSBot reports an error that the version of Az CLI needs to be 2.0.53 or greater when Az CLI version 2.0.56 or higher is installed

## To Reproduce
1.  Install 2.0.56 of Az CLI or greater
2. run msbot clone services

## Expected behavior
msbot recognize version

## Additional context
The format of the version string has changed.  Prior

[2019-02-18 17:46] sgellock commented on #967
Fixed with PR #963

[2019-02-18 18:22] sgellock commented on #967
need to publish 4.3.3 in order to pick up this fix

[2019-02-18 20:37] GasparAcevedoZainSouthworks opened #970 "[Azure Pipelines] BotBuilder-Tools Integration"
**Describe the solution you'd like**
I would like to be able to create, update, deploy and publish my bots and all the associated tools (Luis and QnA) using Azure Pipelines.

**Describe alternatives you've considered**
If users want to use Azure Pipelines to manage their bots, they will have to either use manual commands, create a custom task or use external tools to deploy and update their bot an

[2019-02-18 22:23] #967 closed

[2019-02-19 00:15] sgellock commented on #615
We're working to get 4.3.3 of msbot out that contains a fix for this.

[2019-02-19 00:18] sgellock opened #972 "msbot has no-longer-used MSBot.njsproj file"
## Tool
Name: Msbot

## Describe the bug
msbot is built using npm.  the vs project files are no longer used and no longer maintained.  they should be removed from the project.

[bug]

[2019-02-19 21:33] ctstone commented on #862
Seeing the same error on npm 6.8.0 and macOS 10.14.3.

Installing the dotnet-2.1 package locally first unblocked the install of botdispatch globally.

[2019-02-19 22:27] #965 closed

[2019-02-20 00:05] lauren-mills opened #976 "LUIS models not being published from msbot clone services"
## Tool
Name: msbot & LUIS
Version: msbot 4.3.2, luis 2.2.0
OS: Windows

## Describe the bug
When running a new deployment from msbot, it deploys, trains, and apparently publishes the included LUIS models, but when testing the new models in the LUIS portal, it shows this error `Model not published. Please publish your model before hitting the Endpoint.`

When I try to publish manually in the LUIS

[2019-02-20 17:10] lauren-mills commented on #976
Update: It appears the models are eventually published. No exact time frame, but overnight they have are all working.

[2019-02-20 17:11] jwiley84 opened #977 "msbot connect dispatch help menu incorrect"
## Tool
Name: msbot
Version: 4.3.3
OS: Windows

Running msbot connect dispatch -h shows that '-r, --region <region>' defaults to westus:

![image](https://user-images.githubusercontent.com/17333688/53109827-8fbe8780-34ee-11e9-8be5-119951986234.png)

But it doesn't actually. Running the command without specifying a region does exactly what one would think it does, and doesn't actually put a region

[2019-02-20 20:50] Zerryth commented on #976
To add to Lauren's issue, other users in the community are reporting this issue recently as well, like on Stack Overflow [here](https://stackoverflow.com/questions/54784615/luis-app-created-using-msbot-clone-services-not-getting-published-to-producti).

I've redirected the original poster to watch this GH issue here to track the progress of its resolution

[2019-02-20 21:48] Zerryth commented on #976
Spoke with Steven Gum, and looping in the LUIS team to investigate: @cahann @omarsourour

[2019-02-20 21:50] lauren-mills commented on #976
@zerryth Last I heard the LUIS team has figured it out and will be deploying a hot fix. I'll update this when it's ready.

[2019-02-20 21:53] cahann commented on #976
Yes, will roll out  a hotfix tomorrow EOD.

[2019-02-20 22:47] yochay opened #978 "bugbash - az bot create throws on first run"
## Tool
Name: Az Bot
Version: 2.0.58
OS: *Win 10*

## Describe the bug
Ran the following command and got exception

PS C:\temp> az bot create --kind webapp --name bagbush02202019-testbot --location westus --version v4 --verbose --resource-group bagbysg02202019
Microsoft application id not passed as a parameter. Provisioning a new Microsoft application.
To sign in, use a web browser to open the pag

[2019-02-20 23:02] v-kydela opened #979 "bugbash - az bot create does not open browser window"
## Tool
Name: az bot
Version: 2.0.58
OS: Windows 10

## Describe the bug

Running this command:

`C:\Users\v-kydela>az bot create --kind webapp --name KyleEchoBotCSharp --location westus --version v4 --lang Csharp --verbose --resource-group KyleEchoBot`

I saw this in the output:

[code]

## Expected behavior

I expect the tool to open a browser window automatically

[bug]

[2019-02-20 23:11] mdrichardson opened #980 "bugbash - Kudu resources not being deleted before zip deployment"
## Information:
* Tools Libraries: AZ CLI
* Libraries' Versions: Latest everything. AZ CLI from bug bash
* OS: Win 10

## Issue Description:
Resources in Kudu (wwwroot) are not deleted before zip deployment. If everything else works, this isn't a big deal. But if something else breaks and the default echo bot stays in there, it will confuse users.

## Reproduction Steps:
1. From bug bash, run scen

[2019-02-20 23:14] mdrichardson opened #981 "bugbash - Zip deployment failed"
## Information:
* Tools Libraries: AZ CLI
* Libraries' Versions: Latest everything. AZ CLI from bug bash
* OS: Win 10

## Issue Description:
Zip deployment is reported as failing, although it appears to work.

## Reproduction Steps:
1. From bug bash, run scenario 1 with yeoman/Typescript
2. Run the `az bot publish...` command towards the end

Adding the `--debug` flag didn't really help:

![image]

[2019-02-20 23:17] mdrichardson opened #982 "bugbash - Post deployment script not firing"
## Information:
* Tools Libraries: AZ CLI
* Libraries' Versions: Latest everything. AZ CLI from bug bash
* OS: Win 10

## Issue Description:
The post-install script `webConfigPrep.js` is not being fired after zip deployment. I believe `npm run build` isn't being executed, in general. You can verify this because `web.config` still points to `index.js` and not `lib/index.js`.

This may be related to

[2019-02-20 23:17] v-kydela opened #983 "bugbash - az bot create says it's using the default resource group"
## Tool
Name: az bot
Version: 2.0.58
OS: Windows 10

## Describe the bug

Running this command:

`C:\Users\v-kydela>az bot create --kind webapp --name KyleEchoBotCSharp --location westus --version v4 --lang Csharp --verbose --resource-group KyleEchoBot`

I saw this in the output:

`Configured default 'v-kydela_ResourceGroup' for arg resource_group_name`

However, I also saw

  "resourceGroup": "Ky

[2019-02-20 23:40] mdrichardson commented on #981
JS Sample 12. NLP-with-LUIS worked fine. I wonder if it's an issue with the generator and the post-install-script that's causing issues, since this sample does not have a post-install script.

[2019-02-20 23:46] EricDahlvang opened #984 "bugbash - az bot publish is not overwriting the code in Azure"
## Tool
Name: AZ CLI
Version: 2.0
OS: windows

## Describe the bug
Deployment succeeded, but the old code is still in the App Service Editor.

## To Reproduce
Steps to reproduce the behavior:
az bot publish a v4 Echo bot

## Expected behavior
Successful deployment should change the executing code in the web app

## Screenshots
![image](https://user-images.githubusercontent.com/11055362/53132998-79

[2019-02-20 23:49] EricDahlvang opened #985 "bugbash - az bot publish should not require --proj-file-path AND --code-dir"
## Tool
Name: AZ CLI
Version: 2.0
OS: windows

## Describe the bug
When publishing a .net bot, providing the .csproj should be enough.  I don't see why --code-dir is necessary

## Expected behavior
only the .csproj should be required for c# deployments

[bug]

[2019-02-21 00:10] Kaiqb opened #986 "bugbash - az bot create fails"
## Tool
Name: AZ CLI (bug bash build)
Version: *2.0.58*
OS: *Windows 10*

## az bot create fails when using MVC bot
Use the MVC Test Bot that has no .bot file.

## To Reproduce
1. Run this command:
_C:\testdeployment\MVCTestBot>az bot create --kind webapp --name "MVCTestBot-KI" --location westus --version v4 --lang Csharp --verbose --resource-group azbotrg_
You get this error:
Configured default '

[2019-02-21 00:36] Zerryth opened #987 "Zip deployment failed using "az bot publish" command for MVCTestBot project"
## Tool
- az cli 2.0.58
- Windows 10

## Describe the bug
Following the steps in Scenario 2 of the az cli bug bash, results in "`Zip deployment failed`" when attempting to deploy the downloaded code of `MVCTestBot`.

## To Reproduce
Steps to reproduce the behavior:
Following
1. Download MVCTestBot code
2. Added `SimpleCredentialIProvider` to bot adapter
[code]

and `appsettings.json`:

[code]

Lea

[2019-02-21 03:03] brisebois commented on #633
I added a few steps to to my workflow.

I start by pulling from luis:
[code]
Then I make local changes and push back
[code]
Publish bot, test then delete previous version
[code]

[2019-02-21 03:33] brisebois opened #988 "msbot creates an Application Insights resource and should configure it on the qnahost Web App"
## Tool
Name: Msbot

## Describe the problem
msbot creates an Application Insights resource, but does not configure it on the **qnahost** Web App when using **msbot clone services** with the **Enterprise Bot Template**.

Installing and linking the Application Insights site extension to the Application Insights resource enables us to leverage [queries for analytics on our QnA Maker knowledge bases]

[2019-02-21 03:47] brisebois opened #989 "msbot clone services multi-language support"
## Tool
Name: Msbot

## Describe the problem
When deploying **Enterprise Bot Template** in scenarios where we need to support multiple languages we can't use **msbot clone services** since we must provide a language specific folder.

Deploying more or more language for a single bot is not uncommon in countries that have more than one official language.

## Describe the solution you'd like
I would

[2019-02-21 17:06] tdurnford commented on #862
Per the [BotBuilder Tools Readme](https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Dispatch), the .NET Core runtime needs to be installed before installing botdispatch on Linux computers. It appears this is also true for Macs.

![1af88937-2758-424c-accd-ea7f81dfa60c png](https://user-images.githubusercontent.com/17039790/53187309-b399d000-35b7-11e9-9e39-bb356e7976db.jpg)

[2019-02-21 17:18] ctstone commented on #862
Sorry, to be clear `dotnet` was already working from the command line when I hit this issue.

[2019-02-21 17:28] Zerryth commented on #989
@brisebois have you taken a look at the Virtual Assistant template that our team is working on?
* [Template Overview](https://github.com/Microsoft/AI/tree/master/solutions/Virtual-Assistant)
* [Actual Code](https://github.com/Microsoft/AI/tree/master/solutions/Virtual-Assistant/src/csharp/assistant)

Essentially the idea is that you build two different LUIS models that can expertly handle each lan

[2019-02-21 18:54] daveta commented on #976
The hot fix was deployed today..

[2019-02-21 19:41] ikendall commented on #596
Same problem, struggled for ages with this same error, but further abstracted as was using the deploy_bot.ps1 script for the Virtual Assistant solution. Work around by provisioning the app manually in apps.dev.microsoft.com and modifying the deploy_bot.ps1 script to ask for user input of AppID and AppSecret copied and pasted from apps.dev.microsoft.com. Is there any sign of a proper fix for this i

[2019-02-21 21:21] sgellock commented on #976
@AmirGeorge fixed this in the REST layer.  Closing as fixed.  To be verified as part of RC-1 testing

[2019-02-21 21:21] #976 closed

[2019-02-21 21:44] tdurnford commented on #862
@ctstone, are you saying that installing the dotnet-2.1 package locally should be a prereq for install botdispatch globally?

[2019-02-21 21:50] ctstone commented on #862
If anything, it feels like a workaround, and I don't understand the problem enough to say why it works. At this point i can `npm uninstall -g dotnet-2.1` and then `npn install -g dotnet-2.1` without issue, so I'm not really sure how to fully repro it.

[2019-02-21 22:13] stevengum commented on #979
Closed, this is a feature of msbot, not az bot

[2019-02-21 22:13] #979 closed

[2019-02-21 22:38] stevengum commented on #983
I'm pretty sure this is in the underlying azure cli or one of its dependencies; we don't explicitly log these default argument messages. I'll dig into it and see what I find.

[2019-02-22 10:30] hansmbakker opened #990 "environment names end up in Dispatch when using dispatch refresh"
## Tool
Name: Dispatch

## Describe the problem
I would like to create several environments of the same solution (say dev and test). LUIS does not allow having apps with the same name in different Azure resource groups as QnA Maker does. Therefore, to create separate LUIS apps per environment one would need to e.g. suffix the LUIS app names with the environment (e.g. `general_dev`, `general_test`)

[2019-02-22 11:01] hansmbakker commented on #990
I understand you can use a generated `.dispatch` file to keep the correct Intent names, but that is not a file that should be checked in to version control since it contains all secrets in plaintext.

[2019-02-22 12:15] vishnu2017 commented on #937
Same issue. Looking for resolution

[2019-02-22 16:34] hansmbakker commented on #563
I have the same issue.

What do you mean? If I do `npm install msbot` and `npm install dispatch` this should be the same registry automatically, right?

[2019-02-22 19:32] Kaiqb commented on #986
This is a duplicate of [issue# 978](https://github.com/Microsoft/botbuilder-tools/issues/978).

[2019-02-22 19:32] #986 closed

[2019-02-22 22:33] tsuwandy commented on #563
@Zerryth, would you have some time to try to repro this?

[2019-02-22 22:38] Zerryth commented on #563
@tsuwandy sure, I'll look into it

[2019-02-25 09:48] hansmbakker commented on #843
@tsuwandy @sgellock could you share what the status of this issue is, and what the current dispatch behavior is?

Is there any way, today, to automatically move `None` utterances from children to the parent Dispatch model?

[2019-02-25 12:52] hansmbakker opened #991 "LUIS app containing patterns creates malformed JSON utterances in generated dispatch app"
## Tool
Name: Dispatch
Version: 1.2.3
OS: Windows 10 build 17763

## Describe the bug
Having a LUIS app containing patterns creates malformed JSON utterances in generated dispatch app (see screenshot)

## To Reproduce
Steps to reproduce the behavior:
1. Set up LUIS app + Dispatch app in bot file
2. Make sure the LUIS app contains only "pattern utterances" and no "direct utterances"
2. Call `dispat

[2019-02-25 13:51] hansmbakker opened #992 "The generated class does not contain the detected pattern information (but only the matched entities)."
## Tool
Name: LuisGen

## Describe the problem
The generated class does not contain the detected pattern information (but only the matched entities).

## Describe the solution you'd like
- Have the `LuisRecognizer.RecognizeAsync` method in `Microsoft.Bot.Builder.AI.Luis` return the Pattern property
- Deserialize the detected pattern information in the generated class

## Describe alternatives you'

[2019-02-25 19:12] tsuwandy commented on #843
@hansmbakker, this is actually on the latest Dispatch CLI.   All the None intents from child LUIS apps are combined (after conflicts are resolved) into Dispatch app.
@genbod, you could also be add explicit None intent to Dispatch.  Create a file with all the utterances for the Dispatch None add, add it to Dispatch as source with "--intentName None" parameter to the "dispatch add" command

[2019-02-25 19:12] #843 closed

[2019-02-25 19:23] hansmbakker commented on #843
Using the Dispatch CLI I do not see the behavior that it generates a `None` intent based on the utterances in the child apps!

[2019-02-25 19:24] tsuwandy commented on #843
@hansmbakker, do your child LUIS apps have specific utterances in their None intents?

[2019-02-25 19:42] hansmbakker commented on #843
What do you mean with “specific”?

Yes, one or two of my LUIS apps have a None intent with utterances.

When I do `dispatch refresh` the None intent in my dispatch app is removed

[2019-02-25 20:23] Zerryth commented on #563
@tsuwandy I'm getting the same error as well
____
Using sample `14.nlp-with-dispatch` from the botbuilder-samples repo, C# sample

### Repro Steps

I made sure to create the services that I am adding to dispatch prior to following the steps below.

#### Create `.dispatch` file

- `dispatch init`, then added `luisAuthoringKey` and `luisAuthoringRegion`

#### Add services to dispatch (2 LUIS, 1 QnA

[2019-02-25 21:12] tsuwandy commented on #843
@hcyang is checking on this...  Will update this thread.

[2019-02-25 22:44] tsuwandy commented on #843
@hansmbakker, we found a regression.  Working on the fix...

[2019-02-26 12:12] hansmbakker opened #994 "Open source Dispatch"
## Tool
Name: [Dispatch]

## Describe the problem
Currently the binaries of Dispatch CLI are checked in to this repository, but I cannot find the sources

## Describe the solution you'd like
Put the sources in the repository.

[enhancement]

[2019-02-26 12:16] hansmbakker opened #995 "Distribute Dispatch CLI as dotnet tool instead of npm package"
## Tool
Name: [Dispatch]

## Describe the problem
I see Dispatch CLI is a .net core application. Could you please distribute it as a `dotnet tool` just like LUISGen?

## Describe the solution you'd like
Let us download Dispatch CLI as `dotnet tool`

## Describe alternatives you've considered
Let us build something ourselves using a Nuget package (see #345) or https://github.com/Azure/azure-sdk-for

[2019-02-26 12:21] hansmbakker commented on #345
@tsuwandy can you please give a status update of this?

Also, this feature request is related: https://github.com/Azure/azure-sdk-for-net/issues/5278

[2019-02-26 15:28] n01d opened #996 "MSBot CLI documentation lacks examples for adding AppInsights and Blob storage"
## Tool
Name: MSBot documentation

https://github.com/Microsoft/botbuilder-tools/blob/master/packages/MSBot/docs/add-services.md

## Describe the problem
MSBot CLI documentation lacks examples for adding AppInsights and Blob storage which makes it hard to understand which options to use.

## Describe the solution you'd like
Add examples for the CLI commands similar to the example for "Connecting t

[2019-02-26 20:45] tsuwandy commented on #994
@hansmbakker, this is in the plan.

[2019-02-26 20:49] tsuwandy commented on #990
@hansmbakker, Dispatch CLI has no way of knowing if env name is in the app name.  Did you try using --intentName parameter and control the intent names that way?  ie --intentName l_general

dispatch refresh uses the configuration in .dispatch file to generated the intent names.  If --intentName command was previously set, then it should be honored.

[2019-02-26 22:27] tsuwandy commented on #843
@hansmbakker , latest version of Dispatch CLI with the fix for None intents is deployed.

[2019-02-26 23:42] sgellock commented on #843
@hansmbakker this fix is in the newly published 1.3.0 version

[2019-02-27 00:55] Zerryth opened #997 "msbot clone command creates malformed bot file"
## Tool
Name: msbot 4.3.3

## Describe the bug
Running `msbot clone` to start up a sample creates broken bot file, with `services` malformed

## To Reproduce
Steps to reproduce the behavior:
1. `git clone https://github.com/Microsoft/BotBuilder-Samples.git`
2. Navigate to a sample. For me, I did `14.nlp-with-dispatch` and `13.basic-bot` in node
3. Run clone command provided in readme to provision

[2019-02-27 01:18] Zerryth commented on #991
@hansmbakker I tried going down the path of repro-ing this issue, but unfortunately 2 other issues are hindering me from getting a dispatch model created, to even get to the point of trying to `dispatch refresh`:

1. Having problems with `dispatch create` command not creating (issue https://github.com/Microsoft/botbuilder-tools/issues/563#issuecomment-467168661)
  * for this current GH issue you p

[2019-02-27 08:19] hansmbakker commented on #990
@tsuwandy yes I did that, so it did get stored in .dispatch, but how can I share that in a proper way with other developers?

I do not want plaintext secrets in my git repository.

This is similar to the feedback Microsoft got in https://github.com/Microsoft/BotBuilder/issues/5273#issuecomment-459134879

[2019-02-27 09:08] tsuwandy commented on #990
Ah, I see.   We actually had similar issue for enterprise bot scenario, and since there is no property intentName in msbot schema, we came up with the workaround using the "id" property of the bot connected service.   Take the your example, name of the LUIS source could be "general_dev", but set the id property to "general".  Dispatch CLI will detect this and use the id field and create the intent

[2019-02-28 00:42] CoHealer commented on #862
So it seems as though dotnet 2.1 must be installed locally before installing botdispatch globally but at that point dotnet 2.1 can be installed globally without affecting the botdispatch installation. @sgellock, I'm going to close this as there's a functioning work around. I'm not sure there's further investigation warranted here.

[2019-02-28 00:42] #862 closed

[2019-02-28 00:48] daden-ms opened #998 "LUDown Refresh Doesn't Support Regex Entities"
## Tool
Name: Ludown
Version: 1.1.0
OS: Windows 10 Enterprise Version 1809, OS build 17763.316

## Describe the bug
When LUIS Model JSON file contains regex entity, LUDown tool gives error message as
"Sorry, input LUIS JSON file has references to regular expression entities. Cannot convert to .lu file.
Stopping further processing."

## To Reproduce
Steps to reproduce the behavior:
1. add this to a

[2019-02-28 01:23] sgellock commented on #862
I agree.  Thanks for helping the customer and thanks for getting to the root of the issue.

From: Cory Healey <notifications@github.com>
Reply-To: Microsoft/botbuilder-tools <reply@reply.github.com>
Date: Wednesday, February 27, 2019 at 4:42 PM
To: Microsoft/botbuilder-tools <botbuilder-tools@noreply.github.com>
Cc: Scott Gellock <Scott.Gellock@microsoft.com>, Mention <mention@noreply.github.com>

[2019-02-28 14:49] daden-ms opened #999 "Support of Custom Translate and Transliteration in LUDown Translate"
## Tool
Name: Ludown
## Describe the problem
Currently, LUDown translate uses the standard Microsoft Translator API.  There are scenarios where a custom translator performs better and needed. The same applies to custom transliteration.

## Describe the solution you'd like
Provide in the "ludown translate" an option where a custom translator and transliteration web endpoint
can be used for translat

[2019-03-01 00:57] cleemullins commented on #981
Dupe of #987

[2019-03-01 00:57] #981 closed

[2019-03-01 15:09] hansmbakker opened #1000 "Synonyms in Dispatch"
## Tool
Name: Dispatch

## Describe the problem
I'm using word alterations in QnA Maker. To keep the QnA KBs clean I type questions only containing one of these synonyms. I want Dispatch to refer to the correct QnA KB even when the user enters a synonym of the word that is used as direct question in QnA Maker

## Describe the solution you'd like
Have the QnA Maker word alterations as phrase lists

[2019-03-01 20:40] roalexan opened #1001 "[ludown] Example usage doesn't work as-is"
## Tool
Name: Ludown
Version: 1.1.0
OS: Windows

## Describe the bug
The example usage says to run:
ludown ./Examples/all.lu
This didn't work for me, just says:
Unknown command: ./examples/all.lu

Does it auto-detect what to do? I could get it to work if I did something like:
ludown parse ToLuis --in ./Examples/all.lu

## To Reproduce
clone repo
cd to [repo]/packages/Ludown
ludown ./Examples/all.l

[2019-03-01 21:26] cahann commented on #992
LUISgen parses the endpoint response which doesnt include patterns only the top scoring intent and entities cause patterns are only signals to the ML model

[2019-03-01 22:16] tsuwandy commented on #563
msbot connect dispatch fails, reopening...

[2019-03-01 22:55] hansmbakker commented on #992
I see this output in the `test -> inspect` view in the Luis portal so I expect it should be in the endpoint response.

This is needed because LUIS Dispatch shows strange behavior sometimes where a certain intent (of QnA maker) is returned even when a pattern is 100% matched from another LUIS app (which has no utterances, but only patterns).
In this case I need to know the information about that ma

[2019-03-01 23:00] cahann commented on #992
You see this output while testing the trained model as we should it for debugging reasons but at runtime this information is not surfaced. We can extend the LUIS response to include this info but it will be a feature request for LUIS :)

[2019-03-02 10:16] hansmbakker commented on #992
Ok, where can I file such a feature request? Or can you convert this issue into a feature request?

[2019-03-03 15:56] cahann commented on #992
I added it to the LUIS backlog and it will get priotrized with our next release cycle.

[2019-03-03 15:56] #992 closed

[2019-03-03 16:02] hansmbakker commented on #992
Thank you!

[2019-03-04 09:09] tsuwandy commented on #991
@hansmbakker, do you mind sharing your LUIS app (exported as json file)? You could email it to tiens@microsoft.com.

I assume you have a dispatch with only 1 app?  Trying to figure out how to get a repro.  Thanks!

[2019-03-04 12:37] AndyCW opened #1002 "[ludown] List entities not output as testable entities when writing batch test file"
## Tool
Name: Ludown
Version: 1.1.0
OS: Windows 10 v1809

## Describe the bug
If you create a .lu file with a simple entity and a list entity, define an utterance that includes a value from the list entity and then use ludown to generate a batch test file, the output file does not include the list entities in the Entities array for that utterance. As a consequence the batch test fails.

## To Repr

[2019-03-04 15:29] hansmbakker opened #1003 "Dispatch CLI cannot generate dispatch app when it is based only on pattern-only app"
## Tool
Name: Dispatch
Version: 1.3.0
OS: Windows 10 17763

## Describe the bug
When creating a dispatch app that bases only on a LUIS app that contains only patterns, Dispatch CLI returns:
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Extract [bugrepro.zip](https://github.com/Microsoft/botbuilder-tools/files/2926974/bugrepro.zip). It contains the required luis apps and `bugrepro.ps1

[2019-03-04 15:33] hansmbakker commented on #991
@tsuwandy although I tried a lot, unfortunately I cannot reproduce the “patterns JSON appearing as utterances” scenario in a blank environment ☹ however I can reproduce it in a running environment. Would sharing my screen help?

[2019-03-05 11:07] joetossell29 opened #1005 "AZ CLI: az bot publish does not include referenced class libraries in solution"
## Tool
Name: AZ CLI botservice
Version: AZ CLI: 2.0.59
OS: Windows 10

## Describe the bug
Referenced class libraries are not included in the deployment when using az bot publish command as generated by msbot clone

## To Reproduce
Steps to reproduce the behavior:
1. msbot clone to setup up resources
2. Create class library and reference from bot
3. Run generated publish.cmd
4. Deployment fails:

[2019-03-05 21:37] lauren-mills opened #1007 "[Ludown][LUIS] Prebuilt entities for German causes parsing issues"
## Tool
Name: Ludown & LUIS
Version: Ludown 1.2.0, luis 2.2.0
OS: Windows

## Describe the bug
Cannot add datetimeV2 entity to German .luis file using ludown parse. Ludown parse converts the entity from "datetimeV2" to "datetime" and luis import throws the following error:
[code]

I am able to add the datetimeV2 entity directly to the German app in the LUIS portal.

## To Reproduce
Steps to reprod

[2019-03-06 15:44] hansmbakker commented on #990
Yes, setting the id manually in the bot file works.

It just does not work when creating a luis app and piping that to `msbot connect luis --stdin` I believe; by default msbot generates a number id.

[2019-03-07 02:24] omarsourour commented on #998
After investigations, this issue has already been resolved, and should be available with the next release.

@sgellock Do we have any patch deployments (bug fix releases) planned before 4.4?

[2019-03-07 03:19] sgellock commented on #998
@omarsourour we can push something out whenever you're ready.

[2019-03-07 13:13] darrenj opened #1008 "luisgen generates incorrect class when the geographyV2 pre-built entity is used"
## Tool
Name: luisgen
Version: 2.0.2.0
OS: Windows 10

## Describe the bug

When running luisgen against a LUIS file which users the geographyV2 pre-built entity

[code]
It generates a C# file that has this entry for the entity

[code]

However at runtime if I say "book a restaurant in london at 4pm" the geography element is always NULL despite being present in the JSON response.

Debugged further

[2019-03-07 17:57] vishwacsena opened #1009 "[Ludown, Spec] Support for composite entities in LU files and ludown tool."
## Tool
Name: Ludown

## Describe the problem
LU files and LUDown tool do not support LUIS composite entities

## Describe the solution you'd like
Support for composite entities in LU and LUDown

## Proposal
### Definition of composite entity
[code]

### Validation rules (matches LUIS UX)
- Child entities for composites must have valid type definition. If no type definition is found an error will

[2019-03-08 08:57] Murthy582 commented on #512
@mickallen, getting same error for javascript (node) version of "NLP with Dispatch" sample. Were you able to resolve?

[2019-03-08 13:26] darrenj commented on #1009
Perfect timing :-) I just ran into this issue with a LUIS model that we have which uses composite entities.

[2019-03-08 17:24] tsuwandy commented on #990
This is correct, there is no option to set the id from msbot parameter.  Regardless, you could control the intent name in Dispatch via the optional "--intentName" parameter, or if you are using msbot, you could use update the "id" field.   Closing this.  Let me know if you need anything else.  Thank you!

[2019-03-08 17:24] #990 closed

[2019-03-12 17:56] daden-ms opened #1010 "LU File Should Support Prebuilt Domain"
## Tool
Name: Ludown

## Describe the problem
We want to use LU file format in our project but just found it doesn't have syntax to support prebuilt-domain

## Describe the solution you'd like
In .LU file,  use "##[PREBUILT] Communication.Dial"
so it maps to the following in the LUIS model file in JSON format:

{
      "name": "Communication.Dial",
      "inherits": {
        "domain_name": "Commu

[2019-03-13 04:24] toddwhitehead opened #1013 "MSBot Azure services deployed in default region rather then specified location"
## Tool
Name: Msbot
Version: 4.3.4
OS: Windows 10

## Describe the bug
Some of the services are deployed into a default region rather than the location specified in the --location parameter even though they are available in that region.

## To Reproduce
Steps to reproduce the behavior:
1. Deploy bot to Australia eg --australiaeast
2. Some resources are deployed to australiaeast but other eg search

[2019-03-13 06:45] tsuwandy commented on #1010
@vishwacsena, @sgellock who should take a look at this one?  Thank you!

[2019-03-13 08:05] cahann commented on #1010
Composite entities and prebuilt domains are two features that need to be support in LUDown @omarsourour will pick this work after BUILD.

[2019-03-13 15:41] sgellock commented on #1010
@vishwacsena has a spec, if you haven't sync'ed on this, please connect with him

[2019-03-13 18:44] omarsourour commented on #1010
Sounds good! I will reach out to @vishwacsena to discuss the spec. There are some subtleties like making sure a conventions is followed, how prebuilt domain entities will be supported, ensuring prebuilt domain entities and prebuilt entities are not confused, etc.

[2019-03-13 21:09] lauren-mills opened #1015 "az bot create fails when existing storage account provided"
## Tool
Name: az bot cli
Version: azure-cli 2.0.60, botservice 0.1.8
OS: Windows

## Describe the bug
When running az bot create command with `--storage` parameter, I get this error:
[code]

Original command:
[code]
[bug]

[2019-03-14 00:11] scheyal opened #1016 "az cli bot creates v3 by default (should be v4)"
## Tool
AZ CLI BOT CREATE

## Describe the bug
The default bot created using az cli bot create is v3 and should be latest v4, aligned with ABS.

## To Reproduce
Steps to reproduce the behavior:
az bot create --verbose --output json  -g EyalTmpRG --name EyalTmpBot --description "A cli bot" --display-name "EyalTmpBot Display Name" -k webapp

## Expected behavior
A clear and concise description of wh

[2019-03-14 15:28] jbinard commented on #937
This error is a real issue when trying to automate the luis app creation. Can you release a new version of luis-apis tool considering that the fix was merged to master a month ago ?

[2019-03-14 20:13] yochay commented on #1015
We are planning on moving all-in to ARM, as as we already know, some parts, like LUIS need special care for data (also QnA), which means using scripts. Therefore I would suggest the following:

- use  az bot create to generate AppID and Password
- use ARM template for everything (including resource group, storage, web app plan, web app , etc...)

@stevengum @scheyal

[2019-03-14 20:17] lauren-mills commented on #1015
Since az bot creates the bot, app plan, web app, appinsights, and storage by default (and I can't provide my own) I'm using it for those services and using ARM for everything else.

The only downside with this approach for the moment is that I don't get any response with the ids for the services created by az bot beyond the bot itself, so I can't reliably do things like using the same app plan for

[2019-03-14 20:18] lauren-mills commented on #1015
az bot attempts to name all the services the same name as the bot, in which case its easy to just hook up the qna app to the app plan and app insights. But if there happens to already be services of the same name in the group, az bot generated unique names and doesn't send them back in the output.

[2019-03-14 20:32] munozemilio commented on #997
I was not able to reproduce this issue.
Ashley's issue got fixed by upgrading cli tools.
 Closing this bug.

[2019-03-14 20:32] #997 closed

[2019-03-14 20:48] yochay commented on #1015
You should be able to use  _az bot create --kind registration_ to create just the AppID and Password and everything else with the ARM template.

[2019-03-15 10:08] artemvalmus commented on #989
@Zerryth thanks for the links. I had the same problem and your solution is really helpful. Could you please tell me how you generated dispatch.lu file? Is there a command or PS script generating this file taking other .lu files as an argument?

[2019-03-15 12:30] tiagodenoronha opened #1017 "MSBot clone created .bot file in wrong directory"
## Tool
Name: [Msbot]
Version: 4.3.4
OS: Windows 10

## Describe the bug
While trying to clone the Enterprise Bot Template, the bot file is created on wrong directory. If the deployment scripts are in C:\Users\myuser\EnterpriseTemplate\EnterpriseTemplate, the bot file gets created in C:\Users\myuser.

## To Reproduce
Steps to reproduce the behavior:
1. Navigate to DeploymentScripts folder in Enter

[2019-03-15 13:28] hansmbakker opened #1018 "Dispatch refresh does not include reading characters (question mark, dot)"
## Tool
Name: Dispatch
Version: 1.3.0
OS: Windows 10 build 17763

## Describe the bug
Dispatch CLI does not export characters like ? and . in `dispatch refresh`. However it seems to have an impact on the dispatch intent matching when the user does use this question mark when there is a similar question in another app.

Example (translated into English):
question "With whom should I sign a contract

[2019-03-15 21:45] dmvtech commented on #1005
@joetossell29  I'm taking a look.

[2019-03-15 21:58] stevengum commented on #1015
@lauren-mills @yochay, I spoke with @scheyal today to fill him in on my WIP.

1. `az ad app create` - This creates an AppId and Password (of the user's choosing, provided it meets criteria)
2. `az group deployment` - ARM deployment, contains BotServices schema with user decided type (e.g. webapp, registration/bot)

I have the completed the two of them **separately** and have rough instructions as

[2019-03-15 22:40] lauren-mills commented on #1015
Meaning the user needs to provide their own password to the az ad app create command, right?

[2019-03-16 00:18] Zerryth commented on #989
@artemvalmus you can find more information regarding .lu files in the botbuilder-tools repo here:
* [ludown package](https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Ludown)

[2019-03-16 04:16] stevengum commented on #1015
That's correct, I believe the password requirements are:
 - 16 characters or more
 - 1 Uppercase Char
 - 1 Lowercase Char
 - 1 Special Char

[2019-03-16 05:52] stevengum commented on #1015
@swagatmishra2007, the template I provided above worked last week, but now I get this error message:
[code]

Any ideas?

[2019-03-18 20:42] johnataylor commented on #1009
I think this should really be a high priority item. Most non-trivial LUIS models are going to make use of Composite Entities, in core bot we used Composites to alias Lists. They can be used in a similar manner for builtins. LUIS can be a very effective tool when you make use of Lists and builtins.

[2019-03-18 22:52] dmvtech commented on #1005
@joetossell29 I am unable to reproduce the failure. I'm not sure what I'm doing different. How are you referencing the class library? Are you just referencing the project using `Dependencies->Add Reference-> Solution`?

[2019-03-19 17:30] tsuwandy commented on #1003
Issue understood from Dispatch CLI side.  Targeting end of March.

[2019-03-19 22:06] stevengum opened #1020 "az bot create -k registration should not require endpoint"
## Tool
Name: `az bot`
Version: `.0.1.9`

## Describe the bug
`az bot create -k registration` should not require an endpoint as this is not required in the portal.

[bug]

[2019-03-19 22:07] stevengum opened #1021 "az bot create -k registration should output password if password is not provided"
## Tool
Name: `az bot`
Version: `0.1.9`

## Describe the bug
az bot create -k registration does not output password when it auto provisions a password

## Expected behavior
It prints out the password for the user to copy for use
[bug]

[2019-03-20 05:17] vishwacsena commented on #1010
Support for prebuilt domains is tracked via #606. Closing this in favor of that older issue tracking this.

[2019-03-20 05:17] #1010 closed

[2019-03-20 19:13] vishwacsena commented on #998
This is fixed and available in the latest ludown CLI available on npmjs.
Verified with Ludown tool version 1.2.0.
You can get to the latest ludown tool via
[code]

[2019-03-20 19:13] #998 closed

[2019-03-21 19:36] lauren-mills opened #1027 "az bot update --set not updating properties"
## Tool
Name: az cli
Version: 2.0.60
OS: Windows

## Describe the bug
Running `az bot update --set properties.description="<value>" ` does not update the value in the output or the Azure portal.

## To Reproduce
Steps to reproduce the behavior:
1. Run `az bot update --set properties.description="<value>" `
2. Verify that the output json description is unchanged

[bug]

[2019-03-21 19:56] #1001 closed

[2019-03-21 19:57] #864 closed

[2019-03-21 21:42] stevengum commented on #1021
Closing via Azure/azure-cli#8834

[2019-03-21 21:42] #1021 closed

[2019-03-21 21:42] stevengum commented on #1020
Closed via Azure/azure-cli#8834

[2019-03-21 21:42] #1020 closed

[2019-03-21 21:54] stevengum commented on #917
Closing via Azure/Azure-cli#8445

[2019-03-21 21:54] #917 closed

[2019-03-21 21:56] stevengum commented on #876
Closing via Azure/Azure-cli#8445 and Azure/Azure-cli#8711

[2019-03-21 21:56] #876 closed

[2019-03-21 21:57] stevengum commented on #953
Closing via Azure/azure-cli#8711

[2019-03-21 21:57] #953 closed

[2019-03-21 22:00] stevengum commented on #983
This message isn't logged by `az bot` but by a lower-level piece of code. Closing as won't fix.

[2019-03-21 22:00] #983 closed

[2019-03-21 22:01] stevengum commented on #889
@nitinpokharna can you provide the commands you used to try and update the bot tags?

[2019-03-21 22:33] CoHealer commented on #1005
@joetossell29, do you still require assistance? You haven't followed up on this in 16 days.

[2019-03-21 22:36] stevengum commented on #982
@mdrichardson do you have the publish command you were using to publish your local bot? Were you using the flag --keep-node-modules?

[2019-03-21 22:37] stevengum commented on #987
@zerryth, can you share your source code? (zip your entire code directory if possible and send it to me)

[2019-03-21 22:42] mdrichardson commented on #982
@stevengum 	I used [the BugBash instructions](https://microsoft-my.sharepoint.com/:w:/p/kamrani/Eb_grxvMTdJCgp7hr5Az734BHPUFX0mZU3-XzrpKYBtRpw?rtime=o1DlLE6u1kg), which had:

[code]

So no, no `--keep-node-modules` flag. I could try again with it (I still have the files for that bot), if you want. Let me know.

[2019-03-21 22:42] Zerryth commented on #987
@stevengum Done. Emailed to you

[2019-03-21 22:54] #950 closed

[2019-03-21 23:34] stevengum opened #1028 "az bot: download should fetch Application Settings and generate a .env or appsettings.json"
## Tool
Name: az bot
Version: 2.0.60

## Describe the bug
az bot download should offer a three-state flag to download the Application Settings of a bot

[bug]

[2019-03-22 00:05] mdrichardson commented on #987
After digging into this due to my related, closed issue above, I think it [might have something to do with this](https://docs.microsoft.com/en-us/azure/app-service/deploy-zip#what-happens-to-my-app-during-deployment). If I specify `--keep-node-modules`, the CLI reports that everything except `node_modules` was deleted, but if I check, *nothing* is deleted. Easy to verify since it creates a C# echo

[2019-03-22 17:19] cleemullins opened #1029 "Cherrypick PR 1012 from 4.3 into master"
This PR #1012 is against the 4.3 branch.

It needs to ALSO be applied to master.

[2019-03-22 22:29] AmirGeorge commented on #1029
The PR is already on master, it has been merged to master on 9 March.

[2019-03-22 22:29] #1029 closed

[2019-03-24 19:10] omega1119 commented on #596
Hi there,

I'm also having this issue. Just wanted to find out if there is any news on a fix?

Thanks!

[2019-03-25 16:30] ikendall commented on #596
Once you "get" it - the work around is easy for this one ... just make sure that you register the app name on https://apps.dev.microsoft.com/ ... note the App Id GUID and the App Password, and pass these in to msbot clone on the command line, with --appId and --appSecret. If you are using the pre-built Virtual Assistant solution, there is a Powershell script called deploy_bot.ps1 which you can edi

[2019-03-25 16:55] dmvtech commented on #1005
Closing due to no action on this. If still an issue, please reopen.

[2019-03-25 16:55] #1005 closed

[2019-03-25 21:25] adamlash opened #1032 ""msbot update generic" adding raw CLI commands to Structure"
## Tool
Name: Msbot
Version: 4.3.4
OS: Windows 10

## Describe the bug
When running the command `msbot update generic` to a generic type object in the .bot file, it seems to pipe in the Command itself into a 'Options' Key alongside other values related to the command run.

This is similar to the issue found in: https://github.com/Microsoft/botbuilder-tools/issues/943

## To Reproduce
Steps to repr

[2019-03-25 21:40] adamlash commented on #1032
As a workaround, i am running `msbot disconnect "SERVICENAME"` and then `msbot connect generic --url "SERVICENAME"` in my CI/CD to 'update' this value.

[2019-03-26 05:39] dawwa opened #1034 "LUIS Publish --Staging switch is broken"
## Tool
Name: LUIS
Version: *2.2.0*

## Describe the bug
luis publish version --in "general.luis" --appId XXX --authoringKey=XXX --versionId 0.1 --publishRegion westus --staging

The CLI only honor the iStaging property in luis json file, but not the "--staging" switch.
If the  **"isStaging":true,** is absence in the input json, it always publish to production endpoint with/without the switch.

[2019-03-26 13:26] omega1119 commented on #596
Our team has been using the manual work around for a while now. However, satisfying our requirements are based on this fix becoming available at some point, which is why we are quite eager to find out if there are any indications of when this may be done.

[2019-03-26 16:40] tsuwandy commented on #1034
The above command should have been:
luis publish version --in "general.luis" --appId XXX --authoringKey=XXX --versionId 0.1 --publishRegion westus --staging true

[2019-03-26 16:40] #1034 closed

[2019-03-26 18:27] lauren-mills opened #1036 "luis add appazureaccount should not require separate json file"
## Tool
Name: LUIS

## Describe the problem
When adding an azure subscription key to my LUIS app via the `luis add appazureaccount` command, I should be able to pass in the azureSubscriptionId, resourceGroup, and accountName via parameters rather than as a json file. This makes it more difficult to script this command as part of an overall deployment.

[enhancement]

[2019-03-26 19:40] dawwa commented on #1034
Current Behavior: If the --in argument is in use, --staging argument is ignored.
So two options:  Either use the --staging true OR make sure the "isStaging" : true property present in the input file supplied through --in argument.

[2019-03-26 22:30] omarsourour commented on #1009
@vishwacsena
I recommend we follow the same markdown listing pattern we have for list entities for composite entities as well. Even more, with the advent of roles, composite entities can also have roles assigned to it.

There is benefit in taxonomizing our explicit entity definition. For example:
[code]

[2019-03-27 16:36] vishwacsena commented on #1009
@omarsourour - IMHO, this would bloat up authoring when adding roles to non-list entities as well as possibly bloats up how you specify composites. I'd recommend that start with the current proposal and expand it to include your suggestion in a future update should there be strong feedback on the current notation causing confusion/ degraded readability

[2019-03-27 16:45] cahann commented on #1009
Don't you think that if this is the path we will pursue anyway then it might be better to do those suggestions in the first version?Or do you want to avoid breaking changes?

[2019-03-27 17:12] vishwacsena commented on #1009
@cahann - To be clear, the suggestion if taken as is would introduce a breaking change to how list entities are defined today. We can do this for composites but that wold cause inconsistencies across entity definitions in .lu file format. If we have strong feedback on the need to break down lists, composites and roles into markdown sub-lists that we should take that as an additive and separate wor

[2019-03-27 17:23] stevengum opened #1037 "[az bot]: prepare-deploy does not output a success message or return any values"
## Information:
* Tools Libraries: az bot  v2.0.61

## Issue Description:
`az bot prepare-deploy` does not follow Azure CLI guidellines in returning output for the command. We can also log a success message that is only triggered when `--verbose` is added to the command.

For the command output, we would return a dict:

[code]

[code]

## Commands Example:
[code]

@scheyal FYI

[2019-03-28 01:26] ikendall opened #1038 "msbot create doesn't work"
## Tool
Name: Msbot
Version: 4.3.4
OS: Windows 7 Enterprise SP1

## Describe the bug
I have a bot created locally (EnterpriseBot template created in VS), with all the required services defined and deployed in Azure, so the bot works successfully running locally using the Emulator (V4). I want to deploy into Azure as a "production" endpoint. msbot create should do this but just returns with a messa

[2019-03-28 10:48] montacerdk opened #1039 "How to change LUIS application for a chatbot in the .BOT file?"
I am developing a bot using botbuilder SDK V4 for Node.js and Microsoft Azure services …
In the **.bot** file, we find the encrypted LUIS app informations.
[code]
My question is how to change the LUIS app used by my bot in the .bot file?
in the LUIS endpoint, there is a parameter called staging, which will specify if I am using the LUIS app in staging or production mode.
So, how to specify the sta

[2019-03-28 14:27] SiddharthSunchu commented on #862
Downgrade your dotnet version to 2.2.103 and write npm install bot dispatch and than try to install globally. It worked for me.

[2019-03-28 16:01] jwiley84 commented on #1039
Hi @montacerdk!
I see that you've opened this exact question on Stack Overflow [here](https://stackoverflow.com/questions/55395397/how-to-change-luis-application-for-a-chatbot-in-the-bot-file). The Bot Framework Team prefers that **how-to** questions be asked on Stack Overflow, as you've done, so I'm going to close this so the community can better assist you with this.

[2019-03-28 16:01] #1039 closed

[2019-03-28 21:03] anusharavindrar commented on #1038
Just for clarification, can you post a screenshot of the error?

[2019-03-28 21:24] munozemilio commented on #1013
Hi @stevengum , PR submitted by @toddwhitehead is a partial solution to this issue.
There are some changes needed on _**az bot create**_ to fix this issue. Otherwise this error is thrown in msbot: ERROR: az bot create: 'Australia East' is not a valid value for '--insights-location'. See 'az bot create --help'.

Can you please take a look?

[2019-03-28 22:27] ikendall commented on #1038
Sorry, I can't I deleted the whole app and started again to try to find another work around (which I just succeeded by creating a basic Bot in the Azure Portal, downloading source and copying just the abs and production endpoint services manually into my .bot file and then publishing back from Visual Studio ... messy, but works. Using the CLI tools I just couldn't move my local .bot file to Azure

[2019-03-29 15:40] rob-derosa opened #1040 "luisgen errs out when using stdin"
## Tool
Name: luisgen
Version: 2.0.2
OS: MacOS 10.14.4

## Describe the bug
luisgen throws err when input is from stdin

## To Reproduce
Steps to reproduce the behavior:
1. Ran this command:

luis export version --appId 8f4....42-e2df-49ae-a941-2527653ac841 --versionId 0.2 --authoringKey b95b75f1b7d...cb90e25ca758008cc | luisgen --stdin -cs

2. Received this error:

192-168-0-46:RocketInsurance.Bo

[2019-03-29 16:25] anusharavindrar commented on #1038
I am glad that you found a work around for this issue. As you already have a ticket opened for the other issue, I am going ahead and closing this ticket.

[2019-03-29 16:48] #1038 closed

[2019-03-29 19:09] RobinRobinG commented on #596
Maybe the workaround should be added to the documentation.

[2019-03-29 20:27] vishwacsena opened #1042 "[Ludown, spec] Support for roles in labelled utterances"
# Support for Roles

.lu file format supports roles already in patterns. This specification outlines support for roles in labelled utterances in the .lu file format.

# Entity definition with Roles

List of roles for an entity can be added to the entity definition using Roles='roleName1','roleName2',... notation.

[code]

Note that ludown parser does not require you to specify a list of roles for

[2019-03-29 22:25] jameslew opened #1043 "[ARM Bugbash] ARM Template Deploy instructions should indicate where application will be installed (subscription)"
## Information:
AZ CLI 61; dotnet corebot template

## Issue Description:
Trying to run through the instructions to deploy via ARM template and running into surprises:

1. We introduce a password, but don't describe what the password does/is used for in the docs
2. We don't remind people to specify subscription which could cause some enterprise devs some surprises when they deploy into their prod

[2019-03-31 04:06] HarlowBurgess commented on #588
I am getting the same error. It would be helpful to know what "user error" yochay was making so that I might be able to avoid the same fate.

[2019-04-01 14:12] joseques opened #1044 "Make chatdown support comments like ludown"
## Tool
Name: Chatdown

## Describe the problem
Chatdown doesn't parse comment lines like ludown does using the <kbd>></kbd> character. Chatdown parses these lines as if they were part of the content of the chat file instead of ignoring it.

## Describe the solution you'd like
Implement built-in comments parsing as part of chatdown as is implemented in ludown

[enhancement]

[2019-04-01 15:21] sgellock commented on #727
Since we are deprecating msbot as a provisioning and deployment option, replaced with ARM template support, I'm going to resolve this issue as "won't fix"

[2019-04-01 15:21] #727 closed

[2019-04-01 15:22] sgellock commented on #1006
Since we are deprecating msbot as a provisioning and deployment option, replaced with ARM template support, I'm going to resolve this issue as "won't fix"

[2019-04-01 15:22] #1006 closed

[2019-04-01 15:22] sgellock commented on #783
Since we are deprecating msbot as a provisioning and deployment option, replaced with ARM template support, I'm going to resolve this issue as "won't fix"

[2019-04-01 15:22] #783 closed

[2019-04-01 15:24] sgellock commented on #897
Since we are deprecating msbot as a provisioning and deployment option, replaced with ARM template support, I'm going to resolve this issue as "won't fix"

[2019-04-01 15:24] #897 closed

[2019-04-01 15:24] sgellock commented on #984
Since we are deprecating msbot as a provisioning and deployment option, replaced with ARM template support, I'm going to resolve this issue as "won't fix"

[2019-04-01 15:24] #984 closed

[2019-04-01 15:25] sgellock commented on #985
Since we are deprecating msbot as a provisioning and deployment option, replaced with ARM template support, I'm going to resolve this issue as "won't fix"

[2019-04-01 15:25] #985 closed

[2019-04-01 15:26] sgellock commented on #987
Since we are deprecating msbot as a provisioning and deployment option, replaced with ARM template support, I'm going to resolve this issue as "won't fix"

[2019-04-01 15:26] #987 closed

[2019-04-01 15:30] sgellock commented on #988
@brisebois, we will be releasing ARM template support for all provisioning and configuration activities for Bot Framework.  This will show up in all the samples, all our code generators, and documentation.  We will be deprecating the use of .recipe files, and msbot clone functionality once we release these updates.

Since we are deprecating msbot as a provisioning and deployment option, replaced w

[2019-04-01 15:30] #988 closed

[2019-04-01 15:30] sgellock commented on #989
Since we are deprecating msbot as a provisioning and deployment option, replaced with ARM template support, I'm going to resolve this issue as "won't fix"

[2019-04-01 15:30] #989 closed

[2019-04-01 15:31] sgellock commented on #1013
Since we are deprecating msbot as a provisioning and deployment option, replaced with ARM template support, I'm going to resolve this issue as "won't fix"

[2019-04-01 15:31] #1013 closed

[2019-04-01 16:12] AndreMantas opened #1045 "cosmosdb fails with "Bad or missing --key" when it is missing the endpoint parameter"
## Tool
Name: Msbot
Version: 4.3.4
OS: *Windows 10*

## Describe the bug

connect cosmosdb fails with "Bad or missing --key" when it is missing the endpoint parameter.

## To Reproduce
Steps to reproduce the behavior:
1. Try to run ``msbot connect cosmosdb -n Name --serviceName ServiceName -t TenantId -s SubscriptionId -r ResourceGroupName -k "AzurePrimaryKey" --database MyDb --collection MyColl``

[2019-04-01 16:54] scheyal commented on #1043
Moved to
https://github.com/Microsoft/BotBuilder-Samples/issues/1374

[2019-04-01 16:54] #1043 closed

[2019-04-01 18:46] swagatmishra2007 commented on #1027
Any updates ?

[2019-04-01 18:58] stevengum commented on #1027
Not yet, we're planning on fixing this for //Build.

[2019-04-02 01:12] #1042 closed

[2019-04-02 01:12] #1009 closed

[2019-04-02 13:17] NoPinky commented on #512
got the same issue after following this tutorial:

[Tutorial: Create and deploy a basic bot](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-basic-deploy?view=azure-bot-service-4.0&tabs=javascript)

[2019-04-02 17:50] Kaiqb commented on #923
We are moving away  from the msbot clone command. Updates to the deployment scenario will either use  az cli specific command or ARM templates. As these updates are made to the tooling, the docs will be updated.

[2019-04-02 17:50] #923 closed

[2019-04-02 19:55] stevengum commented on #889
Currently investigating, I've reached out to the Azure CLI team for assistance.

[2019-04-03 11:04] saurav2107 commented on #1040
I am facing the same issue, please help.

[2019-04-03 11:17] luisdiogo2071317 opened #1049 "Ludown: Can I use a faq link to fullfil the qna maker in a .lu file"
Is it possible to use links to fullfil a qna maker in a .lu file?. It's because I want to use  that when I deploy with msbot and that would create the qna maker with only a link. Instead of do it by myself or in the lu file or manually in the site

[2019-04-03 11:26] #1049 closed

[2019-04-03 16:53] sgellock commented on #1032
We are moving away from .bot files as a mechanism to store bot configuration data.  We are instead using existing platform mechanisms, appsettings.json and .env

[2019-04-03 16:53] #1032 closed

[2019-04-03 16:54] sgellock commented on #1017
we are moving away from using .bot files for configuration data.  instead we will be advocating configuration data be stored in appsettings.json or .env files

[2019-04-03 16:54] #1017 closed

[2019-04-03 20:18] sgellock commented on #795
with the de-emphasis of .bot files, I don't see us addressing this.

[2019-04-03 20:18] #795 closed

[2019-04-03 20:31] sgellock commented on #1045
we are de-emphasizing msbot's usage.  we are moving bot configuration data into existing platform configuration files, e.g. appsettings.json and .env

[2019-04-03 20:31] #1045 closed

[2019-04-03 20:33] Kaiqb commented on #996
We are moving away from msbot cli. The approach to is to use appsettings.json or .env file for service references.

[2019-04-03 20:33] #996 closed

[2019-04-03 21:12] SiddharthSunchu opened #1050 "Composite entity in lu file not working with ludown tool"
the following error comes up:
[ERROR] Invalid entity definition for $deviceTemperature: [device, customDevice, temperature]
Stopping further processing.

[2019-04-03 23:33] CoHealer commented on #588
Triage and assigning tomorrow am

[2019-04-04 19:34] stevengum commented on #797
We're going to stop provisoning/accepting App Insights by default when creating an WebApp Bot. Instead we're going to have documentation and ARM templates that have App Insights.

A simple ARM template would like this:

New resources provisioned through ARM:
- App Service Plan (optional)
- Web App
- Registration Bot
- Application Insights

[2019-04-05 13:21] sgellock commented on #789
Given we're moving away from msbot-cli, I'm closing as won't fix.

[2019-04-05 13:21] #789 closed

[2019-04-05 15:14] SiddharthSunchu commented on #662
Why this error occurs ?

[2019-04-05 18:05] mishrapratyush opened #1051 "luis import version cli command is failing"
## Tool
Name: [LUIS]
Version: 2.4.0
OS: Windows 10

## luis import version command on a specific luis model fails.
Error: Missing prebuilt domain model name in entity 1.

## To Reproduce
Steps to reproduce the behavior:
luis import version --in _L_Productivity.json --appId <your app id> --authoringKey <your key here> --region westeurope --quiet

## Expected behavior
Luis should import this as a ne

[2019-04-05 22:12] anusharavindrar commented on #588
@cahann I tried recreating the issue and got the same error "applicationPublishObject cannot be null or undefined."  when I run this command ```luis suggest intents  --intentId <string> --appId <string> --versionId <string>```.
I tried adding the parameters for ApplicationPublishObject ( isStaging ,region, versionId ) in the command ```luis suggest intents --intentId <string> --appId <string> --ve

[2019-04-07 20:40] #961 closed

[2019-04-07 20:41] #1007 closed

[2019-04-07 20:41] #1002 closed

[2019-04-08 08:00] sachinhebbale opened #1053 "Automate Refreshing LUIS Dispatcher Model"
How do we automate the Refreshing of Dispatcher?

## Information:
Is there a library where we can use the Dispatcher Refreshing Command in Windows Console Application.

## Issue Description:
1. I want to train and publish the dispatcher the same way as Luis Model using API.
2. I want to refresh the Parent Luis Dipatacher Model whenever the child LUIS Model gets updated.
3. I want alternative solut

[2019-04-08 14:19] #972 closed

[2019-04-08 20:44] chrimc62 commented on #1040
If you look at the documentation in your bug, you will see that it does not list --stdin as a flag, it is just "-".  Maybe we should add it, but this should work for you:
luis - -cs

[2019-04-08 20:49] sgellock commented on #1053
How to questions should be vectored to Stack Overflow.

[2019-04-08 20:52] sgellock commented on #1050
This has been addressed by #1041.  The nightly builds of which can be found on botbuilder.myget.org.

[2019-04-08 20:52] #1050 closed

[2019-04-08 21:09] #943 closed

[2019-04-09 09:37] sachinhebbale commented on #1053
Sure @sgellock . I will raise How to questions elsewhere.
Could you please help me with DLLs or a packages which can be used for Dispatcher CLI Tool usage?
So that I can use this and form a solution/API.

[2019-04-09 16:39] jwiley84 commented on #1053
Hi Sachin! I see that you already have this exact question on Stack Overflow [here](https://stackoverflow.com/questions/55572615/how-do-we-automate-the-refreshing-of-luis-dispatcher-model), and it's gaining traction from the bot framework community (as well as myself). I'm going to go ahead and close this issue so you can continue to receive assistance there.

[2019-04-09 16:39] #1053 closed

[2019-04-09 21:22] #588 closed

[2019-04-09 21:22] #977 closed

[2019-04-09 21:26] cleemullins commented on #619
As we look to aggressively combine & deprecate tools a clearly decoupled design is in the works.

[2019-04-09 21:26] #619 closed

[2019-04-09 21:27] cleemullins commented on #822
Assigning to @tsuwandy

[2019-04-09 21:31] cleemullins commented on #970
Closing for now, as we refactor our tooling suite. As part of the very concrete "Publish and Test Bots" work we're doing, we may revisit this.

[2019-04-09 21:31] #970 closed

[2019-04-09 22:32] AmirGeorge commented on #926
Hi Denis,

The functionality to just update the name/ description of the application is by design. We outline that in the Readme to avoid the confusion.

Regarding your suggestion to display a warning, this is not conventional. Traditionally you can always send extra JSON properties in a request body and they would get silently dropped if the API does not need them. You wouldn't expect an API acce

[2019-04-09 22:32] #926 closed

[2019-04-09 22:46] AmirGeorge commented on #633
@ikivanc as Gary mentioned, the `luis update version` command is what you are looking for.

@dkisselev deleting an application version does not delete the published app. Training is invalidated because it is wrong for the new changed app version to have the same training state as the old app version. If you are concerned about changing model IDs, you can consider doing more fine-grained operations

[2019-04-09 22:46] #633 closed

[2019-04-09 23:55] #1051 closed

[2019-04-10 18:07] ocasiom opened #1059 "npm install -g luisgen fails"
## Tool
Name: LuisGen
Version: 2.0.2
OS: Windows 10

## Describe the bug
Installing LuisGen with npm fails on Windows 10.

## To Reproduce
Steps to reproduce the behavior:
1. Run npm install -g luisgen
2. Results in error (see screenshot)

## Expected behavior
Installation is successful

## Screenshots
If applicable, add screenshots to help explain your problem.

![luisgenerror](https://user-image

[2019-04-10 19:47] stevengum commented on #978
We're going to require that users pass in the App ID and App Secret, so this bug will not occur in the //BUILD release.

Closing as wontfix.

[2019-04-10 19:47] #978 closed

[2019-04-10 22:28] mekinney commented on #390
Is this official packaged released yet?  It's still broken in 2.0.2.0...

[2019-04-10 22:29] mekinney opened #1060 "LUISGen creates incorrect package names"
## Tool
Name: LuisGen
Version: 2.0.2.0

## Describe the bug
Clearly, I'm doing something wrong because this is too obvious not to have been fixed.

I'm building the VirtualAssistant and LUISGen creates the incorrect CS files for Intents and Entities.

Correct Code included with VirtualAssistant project:
[code]

Code generated by LuisGen 2.0.2.0 has a number of errors:
Using statements are missing.

[2019-04-11 10:06] #951 closed

[2019-04-11 15:27] #1036 closed

[2019-04-11 16:08] Dewain27 opened #1096 "Override Dispatch training with customer provided training"
**Is your feature request related to a problem? Please describe.**
When a user trains in utterances to skill bots or QnA Maker, many times the dispatcher guesses wrong at the correct path to dispatch the utterance.  In this case, the user has to go to LUIS and train the dispatcher to the correct way to route, however this is lost every time the dispatcher is updated.

Example: Trained QnA Maker to

[2019-04-12 06:26] sachinhebbale commented on #1053
@jwiley84 Yes the same question I have asked over here, you can close this thread. Although I was looking for a library or dll for the Dispatcher Tool to use in .NET framework here.
Anyways I am getting responses for "How to" here: https://stackoverflow.com/questions/55572615/how-do-we-automate-the-refreshing-of-luis-dispatcher-model . If it helps for anyone.

Thanks

[2019-04-12 16:21] tsuwandy commented on #991
@hansmbakker , sorry for the delay.  I'm going to close this as we couldn't repro.  Please let me know if you have some time to share your screen, feel free to send invite to tiens.suwandy@microsoft.com when you get a chance.  Thank you!

[2019-04-12 16:21] #991 closed

[2019-04-12 16:28] tsuwandy commented on #1000
Dispatch will be pulling synonyms from QnA maker.  Thanks for reporting this issue, Hans!

[2019-04-13 00:06] bumblebee333 opened #1063 "luis import throws error resource is missing"
## Tool
Name: [LUIS]
Version: *2.4.0*

## Describe the bug
I am trying to import a JSON file into an existing empty luis app, it keeps generating the error resource is missing.  The json file does  have entities in it. I tried upgrading the version in the command line or json file but that didn't help.
## To Reproduce
Steps to reproduce the behavior:
1. Export an existing luis model using luis exp

[2019-04-13 09:56] darrenj opened #1064 "Dispatch doesn't enable the same file to be used across multiple dispatch intents"
## Tool
Dispatch
Version: 1.3.0
OS: Windows 10

## Describe the bug
We would like to use the same calendar.luis source file across multiple dispatch intents, e.g.:

[code]

However Dispatch reports that the source file has already beeen added to dispatch:

![image](https://user-images.githubusercontent.com/33519520/56077998-89f06e80-5dda-11e9-8fb2-c0966934d6a8.png)

## To Reproduce
Steps to reprod

[2019-04-13 22:54] compulim opened #1065 "Update bot endpoint URL using az bot failed"
## Tool
Name: azure-cli
Version: 0.1.8
OS: Windows 10 18H2

## Describe the bug
When I run `az bot show ...`, it dump a JSON of information related to my bot. So I am pretty sure my subscription ID and resource group are correct.

When I run the following command to update the endpoint for the bot, it failed.

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Run the command forementione

[2019-04-15 05:56] tsuwandy commented on #1064
This is merger to master.  @darrenj, you should be able to get it from myget when daily build is deployed.

[2019-04-15 05:56] #1064 closed

[2019-04-15 08:04] tsuwandy commented on #1000
Merged with master, will be in npm end of April.  Thanks!

[2019-04-15 08:04] #1000 closed

[2019-04-15 14:14] hansmbakker commented on #991
I have not run into the issue for some time now; I'm using a `.dispatch` configuration file now to refresh my Dispatch app.

Thank you for the offer, if I run into the issue again I'll let you know!

[2019-04-15 16:32] daveta commented on #919
Hi @seank-com : As a workaround, can you modify your Dockerfile to not install globally:
[code]
Appears to be a [known thing with dotnet](https://github.com/fearthecowboy/dotnet/issues/2).
Thanks.

[2019-04-15 17:34] AmirGeorge commented on #1040
Fix to this issue has already been committed some time ago. @cleemullins when are we expected to release a new version of luisgen?

[2019-04-15 17:38] cleemullins commented on #1040
+Chris McConnell

The Release of LuisGen is up to the LUIS team. 😊

//Chris

From: AmirGeorge <notifications@github.com>
Sent: Monday, April 15, 2019 10:34 AM
To: Microsoft/botbuilder-tools <botbuilder-tools@noreply.github.com>
Cc: Chris Mullins <Chris.Mullins@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/botbuilder-tools] luisgen errs out when using stdin (#1040)

F

[2019-04-15 18:03] tsuwandy commented on #919
@daveta tested this and it worked for him.  We'll close this and let us know if you are still running into the same issue after following Dave's instruction.  Thanks!

[2019-04-15 18:03] #919 closed

[2019-04-15 18:51] stevengum commented on #1016
Fixed via commit [stevengum/azure-cli#f9469d8287d8c4e32c11c7e8cbe9b4a5d0831b4e](https://github.com/stevengum/azure-cli/commit/f9469d8287d8c4e32c11c7e8cbe9b4a5d0831b4e)

[2019-04-15 18:51] #1016 closed

[2019-04-15 19:06] stevengum commented on #756
Done via [stevengum/Azure-cli#65209a0423f301c88236a7a24dce596d50591372](https://github.com/stevengum/azure-cli/commit/65209a0423f301c88236a7a24dce596d50591372).

[2019-04-15 19:06] #756 closed

[2019-04-15 19:15] stevengum commented on #982
I'm going to close this as we want users to use `az webapp` for their deployments. If they are using zipdeploy which is what we use in `az bot publish`, they should build their code before deploying, and therefore not use the webConfigPrep.js script.

(My goal is to eventually remove that or document how users should configure their Web App for deployment if they for some reason want to use it.)

[2019-04-15 19:15] #982 closed

[2019-04-15 19:32] stevengum commented on #1037
Closing via [stevengum/Azure-cli#a7b5baf6d9a10a64c6cd2d788ace8b7aad84631a](https://github.com/stevengum/azure-cli/commit/a7b5baf6d9a10a64c6cd2d788ace8b7aad84631a)

[2019-04-15 19:32] #1037 closed

[2019-04-15 19:36] stevengum commented on #841
Closing via [stevengum/Azure-Cli#f9469d8287d8c4e32c11c7e8cbe9b4a5d0831b4e](https://github.com/Azure/azure-cli/commit/f9469d8287d8c4e32c11c7e8cbe9b4a5d0831b4e).

`--appId` and `-p/--password` are now required for `az bot create` and can be provisioned via Azure CLI (`az ad app create`).

[2019-04-15 19:36] #841 closed

[2019-04-15 19:36] stevengum commented on #833
Closing via [stevengum/Azure-Cli#f9469d8287d8c4e32c11c7e8cbe9b4a5d0831b4e](https://github.com/Azure/azure-cli/commit/f9469d8287d8c4e32c11c7e8cbe9b4a5d0831b4e).

`--appId` and `-p/--password` are now required for `az bot create` and can be provisioned via Azure CLI (`az ad app create`).

This code will be removed.

[2019-04-15 19:36] #833 closed

[2019-04-15 19:36] stevengum commented on #813
Closing via [stevengum/Azure-Cli#f9469d8287d8c4e32c11c7e8cbe9b4a5d0831b4e](https://github.com/Azure/azure-cli/commit/f9469d8287d8c4e32c11c7e8cbe9b4a5d0831b4e).

`--appId` and `-p/--password` are now required for `az bot create` and can be provisioned via Azure CLI (`az ad app create`).

[2019-04-15 19:36] #813 closed

[2019-04-15 19:36] stevengum commented on #393
Closing via [stevengum/Azure-Cli#f9469d8287d8c4e32c11c7e8cbe9b4a5d0831b4e](https://github.com/Azure/azure-cli/commit/f9469d8287d8c4e32c11c7e8cbe9b4a5d0831b4e).

`--appId` and `-p/--password` are now required for `az bot create` and can be provisioned via Azure CLI (`az ad app create`).

[2019-04-15 19:36] #393 closed

[2019-04-16 12:31] AmirGeorge commented on #1040
Fix already committed and will be pushed with the next release.

[2019-04-16 12:31] #1040 closed

[2019-04-16 13:52] sgellock commented on #919
@Kaiqb you should consider if it's helpful to document this.  we could add it to the tools readme as an option

[2019-04-17 04:29] dmvtech commented on #1063
hi @bumblebee333

The resource in question is either a LUIS `application`, or a `version`. You need to either specify that you are importing a new application or a new version (to an existing app). For example:

`luis import application `
OR
`luis import version`

 For you, sounds like you want the latter. Here are more full examples on what you _could_ use:

`luis import application --in c:\sourc

[2019-04-17 20:48] gabog commented on #797
Closing as per @stevengum comment above (won't be relevant in the future).

[2019-04-17 20:48] #797 closed

[2019-04-17 20:50] gabog commented on #912
Hey @cahann, can you please chime into the thread?

Thanks

[2019-04-17 20:50] gabog commented on #1015
@stevengum checked and this is resolved

[2019-04-17 20:50] #1015 closed

[2019-04-17 21:24] a-hohaze commented on #912
the ms-rest-js version was updated with PR #1004 which includes a fix for this issue.

[2019-04-18 01:29] lauren-mills opened #1070 "LuisGen or Dispatch: Error when LUIS file does not have "patternAnyEntities" property"
## Tool
Name: LuisGen or Dispatch
Version: 2.0.2.0
OS: Windows

## Describe the bug
When running LuisGen against the luis .json file generated by Dispatch tool, the .json file is missing the patternAnyEntities property. This causes the following error:

[code]

If I add the property manually, LuisGen succeeds

[2019-04-18 07:04] tsuwandy commented on #1070
Should be fixed with tomorrow's am build.

[2019-04-18 07:04] #1070 closed

[2019-04-18 09:46] matthew-clark02 opened #1072 "ludown parse does not preserve special characters"
## Tool
Name: Ludown
Version: 1.2.0
OS: Mac OS 10.14.3

## Describe the bug
When running `luis parse toluis --in file.lu` on a file containing special characters, the outputted JSON file contained incorrect encodings.

## To Reproduce
Steps to reproduce the behavior:
1. Create a `file.lu` containing the following:
[code]
2. Run `ludown parse toluis --in file.lu`
3. Inspect the file.json which will

[2019-04-18 12:01] AmirGeorge commented on #1059
Hi @ocasiom ,

This is not a problem with the luisgen tool. The `npm install` command is trying to restore the NuGets from all the sources you have defined, and for some reason you have an access issue with the source mentioned in the error message.

The issue can be solved by either:
1) Solving the access issue
2) Or if you do not want that package source you can remove it by running:
`nuget sour

[2019-04-18 12:01] #1059 closed

[2019-04-18 13:34] AmirGeorge commented on #1060
It doesn't seem like the output from LuisGen has recently changed. The using statements are still there. @cahann please assign someone from the VA team to take a look.

[2019-04-18 14:00] cahann commented on #1060
@darrenj who is the right person in your team to look into this issue?

[2019-04-18 14:11] darrenj commented on #1060
Don't think it's an issue on our side?  I've just re-run luisgen for the attached Calendar.json file and it matches the original example given, I can't repro the 2nd example?

This is on version 2.0.2.0

[code]

[calendar.zip](https://github.com/Microsoft/botbuilder-tools/files/3094738/calendar.zip)

[2019-04-18 15:43] dmvtech commented on #1063
Closing this as it should be answered/resolved. Please reopen if still having the issue.

[2019-04-18 15:43] #1063 closed

[2019-04-18 20:58] mekinney commented on #1060
On vacation, so slow response and can’t retest. Daily build worked for me. Seems to be a release issue, if that helps.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Darren Jefford <notifications@github.com>
Sent: Thursday, April 18, 2019 4:11:32 AM
To: Microsoft/botbuilder-tools
Cc: Mike Kinney; Author
Subject: Re: [Microsoft/botbuilder-tools] LUISGen creates i

[2019-04-18 21:02] tsuwandy commented on #944
We need to add a flag to the ConnectedService item to specify whether or not a bot service will participate in Dispatch.

[2019-04-19 14:12] hansmbakker commented on #985
@sgellock I believe this is related to `az bot` (AZ CLI), not to `msbot`.

Does this have impact on people who are currently deploying using `az bot publish`?

[2019-04-19 14:29] sgellock commented on #985
@hansmbakker we're suggesting customer use Zip deploy to deploy their bots to Azure.  So for C# bots it would look like the following:
for C#

1. `az bot prepare-deploy --lang Csharp --code-dir "." --proj-file-path "MyBot.csproj"`
2. `zip your bot (next cli command assumes a zip named code.zip):  it is the folder that has the .csproj file`
3. `az webapp deployment source config-zip --resource-grou

[2019-04-19 14:34] hansmbakker commented on #985
@sgellock thank you for the clarification!

Besides whether this works, could you explain how the bot builder team see this fit into a CI/CD pipeline where one deployment package (artifact) is created that is deployed to multiple environments?

Currently that does not work because of different bot files being needed for different environments.

[2019-04-19 14:40] hansmbakker commented on #985
@sgellock if you use `--code-dir "."` and zip the folder that has the `.csproj` file, does that still work if there is a project in `..\DependencyProject`?

E.g. if you have
- the head project in `BotSolutionFolder\WebAppBot\WebAppBot.csproj`
- business logic in `BotSolutionFolder\BusinessLogic\BusinessLogic.csproj`

And you make `BotSolutionFolder\WebAppBot` your working folder and only supply `-

[2019-04-19 16:21] sgellock commented on #985
@hansmbakker I haven't tried the dependency project scenario you've raised.  should be easy to test.  basically zip deployment is simply taking a compiled structure, packaging it up, and then unzipping it on the azure server.  if you want help here, I can ask our support team to work the issue with you.

[2019-04-19 16:27] stevengum commented on #985
@hansmbakker, when you use the zipdeploy api via [`az webapp deployment source config-zip`][zipdeploy], the API is designed to take a ready-to-go website/app/bot. The code should already be built and working.

This is scenario is applicable if you have not configured your App Service to build on deployment; meaning you haven't set `SCM_DO_BUILD_DURING_DEPLOYMENT` to true on your App Service's Appl

[2019-04-19 16:27] martinlarosa opened #1073 "When creating a dispatch model, sources get published to production."
## Tool
Name: [Dispatch]
Version: *1.3.0*
OS: *macOS 10.14.2 & Windows 10*

## Describe the bug
When I create a dispatch model with _dispatch create_ the LUIS sources get moves to production. This makes it hard to manage my versions and test a new change without disrupting production

## To Reproduce
Steps to reproduce the behavior:
1. Have 2 LUIS apps with version 0.1 in production and 0.2 as Act

[2019-04-19 17:24] hansmbakker commented on #985
@sgellock Thank you for thinking along! I'll try it next Tuesday as the Easter weekend already started here :)

[2019-04-19 18:43] scheyal opened #1074 "Feature Request: Create an automated cognitive KBs, dispatch-integrated update mechanism"
As bots development grows, so is the variety of roles/personas participating in the development. We'll have content "conversation" AI producers, and backend developers for example.
Content producers should be able to trigger update and push new models to production using automated refresh mechanism, e.g. dispatch will pull in updated models, re-train, and push out.

[2019-04-20 03:49] anthonyrs06 commented on #1059
@ocasiom did you ever solve this? I am getting the same issue.

[2019-04-20 13:23] martinlarosa commented on #1073
If dispatch needs and endpoint that is not the authoring key/ starter key endpoint, then I think a good solution would be that instead of indicating a version number when adding a Luis resource to the dispatch we would indicate the slot (Production/Staging). That way the dispatch tool will use whatever version is in that slot.
I think that would make managing the versions more intuitive. I mean, i

[2019-04-22 03:04] yochay opened #1078 "[Adaptive] LUBuild: run regression testing before publishing new LUIS models"
## Tool
Name: [lubuild]

## Describe the problem
enable lubuild to perform regression testing prior to publishing a new LUIS mdoel.

## Describe the solution you'd like
lubild needs to evaluate whether the change made to LUIS models introduces regression in model quality

[enhancement]

[2019-04-22 12:56] AmirGeorge commented on #1060
Closing as we can't reproduce the issue. @mekinney feel free to reopen if you have repro steps to follow. Thanks!

[2019-04-22 12:56] #1060 closed

[2019-04-22 20:32] gabog commented on #889
This is tentativelly fixed and we are testing it today.

[2019-04-22 20:34] gabog commented on #1027
This is tentativelly fixed and we are testing it today.

[2019-04-22 20:34] gabog commented on #1065
This is tentativelly fixed and we are testing it today.

[2019-04-22 21:45] ryanlengel opened #1080 "Region typos in LUIS CLI"
## Tool
Name: LUIS
Version: 2.4.0
OS: Windows

## Describe the bug
There are typos in the valid LUIS regions:
`eastus is not a valid authoring region.  Valid values are [westus|westeuerope|australiaest]`

## To Reproduce
Try deploying LUIS app on an invalid region and get the error response.

## Expected behavior
Regions should be `westeurope`, `australiaeast`?

## Screenshots
If applicable, add s

[2019-04-22 22:37] angie4u opened #1081 "Dispatch refresh fails with 401 error with newly assigned subscription key"
## Tool
Name: Dispatch
Version: *1.3.0*
OS: *1809*

## Describe the bug
https://stackoverflow.com/questions/55124676/azure-bot-builder-dispatch-refresh-fails-with-401-error
As this describes, we cannot update our dispatch model with newly assigned LUIS key. When I want to update dispatch model, I need to change temporarily with original authoring key -> refresh dispatch model -> change again to us

[2019-04-23 16:01] scheyal opened #1084 "[az bot, CLI/Docs Bugbash] az cli spews warning when invoked."
## Tool
Name: az
Version: private build
OS: Win10

## Describe the bug
During bugbash the tool spews warning. Make sure it is cleared prior to release:
[code]

## To Reproduce
Run bugbash tool

## Expected behavior
no warning

[bug]

[2019-04-23 16:20] scheyal opened #1085 "[az bot, CLI/Docs Bugbash] Prepare-Deploy: Either ensure the current directory or at least add warning/usage to tell where it should run."
## Tool
Name: az cli
Version: private build
OS: win10

## Describe the bug
It's easy to make a mistake when running prepare-deploy (e.g. run in the wrong directory), and there's no clear correction path.
Corrections:
* Validations: Ensure the tool is run in the expected folder
* Improve help text to include pre-conditions/run usage directions

## To Reproduce
Run the tool

## Expected behavior
Avo

[2019-04-23 16:34] scheyal opened #1086 "[az bot, CLI/Docs Bugbash] Default az cli create command should create an empty webapp."
## Tool
Name: az cli
Version: private build
OS: win 10

## Describe the bug
The default behavior for az cli command should create an empty webapp. Add a new option --echo to provision the webapp with echo bot.
Reasoning: az cli is primarily used in advanced flow where devs would be starting from generators or samples. We should optimize for that flow (as opposed to using ABS as code generator).

[2019-04-23 16:51] stevengum commented on #1084
@yugangw-msft, @marstr any ideas? I built this private cut in a virtual environment that was setup using `pip install azdev`.

[2019-04-23 17:51] mdrichardson commented on #1080
@ryanlengel Thanks for bringing this to our attention! I've filed a PR that will fix this and close this issue.

[2019-04-23 18:00] tsuwandy opened #1089 "Dispatch CLI - expand QnA utterances using QnA word alterations"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Dispatch
Version: *tool version*
OS: *os version*

## Describe the bug
QnA maker service has up to 10,000 word alteration lists, each could have up to 20 words.  They are basically a list of synonyms.  When QnA maker kb is added to Dispatch, we need to take this into account and unfortunately, due to the limit of phrase lists in

[2019-04-23 18:02] tsuwandy opened #1090 "Dispatch CLI - formalize down sampling feature"
## Tool
Name: Dispatch
Version: *tool version*
OS: *os version*

## Describe the bug
1.  Expose this feature
2.  Update documentation

## To Reproduce
Steps to reproduce the behavior:
1. ...
2. ...
3. ...
4. ...

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to help explain your problem.

## Additional context
Ad

[2019-04-23 22:23] yugangw-msft commented on #1084
@stevengum, this will be fixed by https://github.com/kennethreitz/requests/pull/5063

[2019-04-23 22:41] stevengum commented on #1084
Perfect, thanks Yugang!

Closing as this is in a dependency and should be fixed by the above linked PR.

[2019-04-23 22:41] #1084 closed

[2019-04-24 00:28] lauren-mills opened #1091 "dispatch remove not working for file sources"
## Tool
Name: Dispatch
Version: 1.3.0
OS: Windows

## Describe the bug
When trying to run dispatch rremove with a file source, I can't get it to remove. If I do the following:

[code]
Nothing happens in my .dispatch file.

If I include the '-name' parameter, I get this error:

[code]

## Expected behavior
I would expect that if I provide the name of the service I want to remove, regardless of type

[2019-04-24 06:01] stevengum commented on #1065
Closing as bugbash was successful and the PR with the fix has been approved.

https://github.com/Azure/azure-cli/pull/9152

[2019-04-24 06:01] #1065 closed

[2019-04-24 06:02] stevengum commented on #1027
Closing as bugbash was successful and the PR with the fix has been approved.

https://github.com/Azure/azure-cli/pull/9152

[2019-04-24 06:02] #1027 closed

[2019-04-24 06:03] stevengum commented on #575
Closing as we’re moving away from msbot

[2019-04-24 06:03] #575 closed

[2019-04-24 06:03] stevengum commented on #889
Closing as bugbash was successful and the PR with the fix has been approved.

https://github.com/Azure/azure-cli/pull/9152

[2019-04-24 06:03] #889 closed

[2019-04-24 10:02] sachabruttin opened #1092 "LuisGen Export raise an exception"
## Tool
Name: LuisGen
Version: 2.0.2
OS: Windows 10 17763

## Describe the bug
When LUIS Model JSON file contains regex entity, LuisGen tool gives error :
[code]

## To Reproduce
Steps to reproduce the behavior:
1. msbot get dispatch --bot [bot-file] --secret [xxx] | luis export version --stdin > dispatch.json
2. luisgen disptach.json -cs Dispatch -o "c:\temp"

## Expected behavior
A CS code file

[2019-04-24 16:24] #1080 closed

[2019-04-24 18:26] tsuwandy commented on #1091
@lauren-mills, couldn't repro with "-t file -n {name}" args or "-t file -f {path}".  I'll close this out for now, please reactivate if you still getting an error.

[2019-04-24 19:35] lauren-mills opened #1094 "Daily builds are failing"
## Tool
Name: Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen

## Describe the bug
The daily build pipeline is failing, so I can't test the latest versions of the tools. Not quite sure what the issue is.

[2019-04-24 20:17] tsuwandy commented on #1003
Fixed and will be deployed along with other botbuilder-tools by //build.

[2019-04-24 20:17] #1003 closed

[2019-04-24 21:02] tsuwandy commented on #1091
Thanks @lauren-mills!  This is now fixed and will be available with next private build.

[2019-04-24 21:02] #1091 closed

[2019-04-25 07:24] darrenj commented on #1096
@tsuwandy Would appreciate your thoughts on this requirement. Effectively if there is "nudging" required for certain utterances to help the dispatcher better route how can we provide this to dispatch on refresh operations to apply each time and not use. Whilst edge scenarios can be be added to the respective luis models or qna I think an "alteration" file step could still be required.

[2019-04-25 14:06] tsuwandy commented on #1096
@Dewain27 and @darrenj , this is already possible today.  Provide the utterances to override in a file (one per line), add this to Dispatch with the same intent name as the QnAMaker, is “add -t file -f {filePath} -intentName q_{QnAMakerName}”.

This will persist over refresh, and there is no need to have to go to luis to update.

Could you please share your dispatch sources with me so we could ana

[2019-04-25 14:06] #1096 closed

[2019-04-25 18:13] scheyal opened #1097 "MsBot: Add deprecation warning statement in prep for sunsetting of the tool"
## Tool: MsBot

## Describe the bug
MsBot is about to get deprecated, and replaced with common Azure practices (e.g. az cli, ARM).  We need to add a corresponding message to that effect.

###Sample Message
[code]

[2019-04-26 14:57] daden-ms commented on #606
Is this going to be resolved in the next release? What's the time line for it? Thanks!

[2019-04-26 20:36] lauren-mills commented on #1094
All working now.

[2019-04-26 20:36] #1094 closed

[2019-04-26 23:18] hcyang commented on #865
functionality has been added, but pending release review

[2019-04-26 23:18] #865 closed

[2019-04-26 23:21] hcyang commented on #1090
Added an auto active learning feature that can down sample a large intent/utterance set exceeding LUIS
's 15000 limit. Auto active learning will scan through a large training set and intelligently down sample it before creating a LUIS app.

[2019-04-26 23:21] #1090 closed

[2019-04-26 23:24] hcyang commented on #994
Dispatch uses some LUIS internal features, so it's not proper to open source it unless LUIS becomes open source itself.

[2019-04-26 23:32] #994 closed

[2019-04-27 01:07] tomlm opened #1099 "DialogSchema: IfCondition says $copy is missing"
[code]

[2019-04-27 01:46] chrimc62 commented on #1099
The issue is in the IfCondition schema which is fixed in botbuilder 4.next.

[2019-04-27 01:46] #1099 closed

[2019-04-27 11:00] darrenj opened #1101 "Potential Dispatch regression - QnA overly weighted against LUIS?"
## Tool
Name: Dispatch
Version:1.4.4-preview-190425-01
OS: Windows

## Describe the bug
I think we might have a regression with Dispatch evaluation with the latest build (1.4.4-preview-190425-01). We have changed our use of Dispatch so not ruling that out but suspect it might be in how Dispatch is working (or LUIS of course!). Instead of grouping all utterances into “l_Calendar” or l_Email we now

[2019-04-27 13:28] johnwildes commented on #1097
Wow any timing on this?  By next release you mean next AZ CLI release?

[2019-04-28 13:26] mitkodi opened #1102 "Can't install lubuild"
I tried `npm install -g lubuild` with the default `https://registry.npmjs.org/` and with `https://botbuilder.myget.org/F/botbuilder-tools-daily/npm` registry but always receive `Error: 404 Not Found`.

[2019-04-29 06:48] tsuwandy commented on #1101
@darrenj, added Hung-chih's comment below.

Short summary:
------------------
For the first 2 utterances ("what meetings do i have", "what meetings") the models do not have confidence in their predictions, so please add them or some similar utterances to one of the intent training set.

For the third, the apostrophe is more prevalent in q_chitchat than in other intents. Since apostrophe is not rea

[2019-04-29 06:57] tsuwandy commented on #1073
@martinlarosa , you could use the optional parameter "--publishToStaging true" if you don't want Dispatch CLI to publish to production slot.  "dispatch create" command creates, train and publish LUIS Dispatch app to production slot by default. With the combined prediction is now enabled on LUIS (calling prediction on LUIS Dispatch app will also return prediction for the source LUIS app if the sour

[2019-04-29 06:57] #1073 closed

[2019-04-29 08:08] tsuwandy commented on #1089
Checking in to Dispatch source...

[2019-04-29 08:08] #1089 closed

[2019-04-29 08:28] phenixita opened #1105 "Install CLI tools - Dialogtracker"
## Tool
OS: Windows 10 1903
![image](https://user-images.githubusercontent.com/17789308/56884250-76473800-6a69-11e9-8b00-0e9d41ee520e.png)

## Describe the bug
If I execute the command line of the README

![image](https://user-images.githubusercontent.com/17789308/56884170-3da75e80-6a69-11e9-9463-90f2b3a52530.png)

I get  _Not Found: dialogtracker@latest_

![image](https://user-images.githubuserco

[2019-04-29 08:29] phenixita commented on #1105
The same applies with the dialogschema and dialoglint packages

[2019-04-29 08:29] matthew-clark02 opened #1106 "Dispatch refresh results in new dispatch model"
## Tool
Name: Dispatch
Version: 1.3
OS: Mac 10.14.3

## Describe the bug
When calling `dispatch refresh` using a .dispatch file for a model that already exists a new model is created instead. This happens when the authoring key used is that of a collaborator on the original dispatch model instead of the creator.

The result is the owner of the authoring key is removed as a collaborator from the or

[2019-04-29 08:32] phenixita commented on #1105
I think the README can be updated with this:

`npm install -g ludown luis-apis qnamaker botdispatch msbot chatdown`

Reference: [Azure Enterprise Bot Docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-enterprise-template-getting-started?view=azure-bot-service-4.0#prerequisites)

[2019-04-29 09:54] Adityagrao opened #1107 "LuisGen RuntimeBinderException: Cannot perform runtime binding on a null reference"
## Tool
Name: LuisGen
Version: 2.0.2
OS: Win 10x64
## Describe the bug

RuntimeBinderException on json file

## To Reproduce
Steps to reproduce the behavior:
1. "luis export version --appId xxx --versionId "0.1" --authoringKey xxxx > general.json" this i have run on the general Luis app created using enterprise template bot
2.  luisgen general.json -cs general

Which is giving me an error of

Gene

[2019-04-29 17:40] mdrichardson commented on #1105
@phenixita Thanks for bringing this to our attention. Those dialog* tools are in internal preview and not on npm yet. I think the README may have gotten updated by mistake. There will be some discussion today on whether to update/fix the README or push the tools.

[2019-04-29 17:40] #1105 closed

[2019-04-29 19:23] v-kydela commented on #1102
@mitkodi - Thanks for your question.

It looks like lubuild is a preview tool and may not be published yet.

[2019-04-29 19:24] cleemullins opened #1110 "Don't create a new GitHub Release with each build"
Every build is creating a GitHub release:
https://github.com/Microsoft/botbuilder-tools/releases

We need to clean this up.

[2019-04-29 21:47] tsuwandy commented on #1018
@hansmbakker , dispatch create command has the optional parameter "--dontReviseUtterance", which will keep the utterances from LUIS/QnA maker apps as is.  This behavior is added to make sure that that utterances with ? won't be heavily skewed toward QnA intent since most QnA questions end with ?.

Dispatch documentation:
https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Dispatch

[2019-04-29 22:01] tsuwandy commented on #1018
@hansmbakker, if don't mind sharing the source LUIS/QnA maker, that'll be great.  As Dispatch strips the character from both LUIS/QnA sources, the character '?' shouldn't have any weight in the prediction.

[2019-04-29 22:26] stevengum commented on #1086
Closing as Azure/Azure-CLI#9231 has been merged.

[2019-04-29 22:26] #1086 closed

[2019-04-29 22:26] stevengum commented on #1085
Closing as Azure/Azure-CLI#9231 has been merged.

[2019-04-29 22:26] #1085 closed

[2019-04-29 22:27] stevengum commented on #1028
Closing as Azure/Azure-CLI#9231 has been merged.

[2019-04-29 22:27] #1028 closed

[2019-04-30 10:30] joetossell29 opened #1111 "QnA Maker mangles special characters"
## Tool
Name: QnAMaker
Version: 1.2.0
OS: Windows 10

## Describe the bug
Special characters such as é of fiancé and £6,500 are exported by the qnamaker tool as
fianc├®
and ┬ú6,500

## To Reproduce
Steps to reproduce the behavior:
1. Create a knowledge base
2. Use the special characters in the Answer field
3. Export using the qnamaker tool
4. Inspect the resultant .qna export

## Expected behavior

[2019-04-30 16:17] v-kydela commented on #1102
@mitkodi - I have verified that LUBuild is currently unavailable and I have submitted a PR to change the README

[2019-04-30 16:17] #1102 closed

[2019-04-30 16:43] tsuwandy commented on #1101
Not Dispatch regression, closing.

[2019-04-30 16:43] #1101 closed

[2019-05-01 15:36] martinlarosa commented on #1073
Oh I completely missed that one. Thanks.
Would that also work with the refresh command? I don't see it in the documentation.

[2019-05-01 16:05] tsuwandy commented on #1073
It should, please reactivate this if it doesn’t work with refresh.  😃

[2019-05-01 18:41] martinlarosa commented on #1073
Ok, it works!
The only weird thing is that it seems to recreate the version, at least if I don't put a new version number.
![image](https://user-images.githubusercontent.com/7032277/57035018-6b3a0680-6c27-11e9-9f9c-0d393596433f.png)
The created date is updated with today's date. And it only says Active & Staging next to the version. The Production label was removed, although it keeps working with

[2019-05-01 19:30] hansmbakker commented on #1018
@tsuwandy thank you very much for getting back to me!

We do not have the utterances in QnA Maker anymore so unfortunately I cannot quickly re-test this - we use LUIS exclusively for utterance recognition now to improve the performance on Dutch sentences containing jargon.

After we moved to this architecture, the QnA Maker team released a custom Dutch ranker to us as a preview, which seems to sig

[2019-05-01 19:30] #1018 closed

[2019-05-01 20:20] waqarghani opened #1113 "IntroCard Speak with Emulator v4"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on Stack Overflow
https://stackoverflow.com/questions/tagged/botframework

[question]

Hi Team Microsoft / Virtual Assistant,

I am having issues with Virtual Assistant speak Capabilities with Emulator V4. The IntroCard (New / Old User) should not only be displayed but have a part that needs to be spoken to the user.

[2019-05-01 20:22] tsuwandy commented on #1073
@martinlarosa, Dispatch always create/refresh the app with the version ("Dispatch") unless version is specified.   To be safe, specify a version when using the --publishToStaging parameter.

[2019-05-02 04:28] vishwacsena opened #1114 "[LUIS CLI] does not support entity labels in utterances with roles"
## Tool
Name: LUIS
Version: master
OS: Win10

## Describe the bug
LUIS portal can import and export applications with role labels in utterances.
LUIS CLI - can export a model with role definition corectly
LUIS CLI - drops role definition in labelled utterances on the floor and imports the model without roles.

## To Reproduce
Import the LUIS model via the LUIS portal - you will see roles for utter

[2019-05-02 04:51] chrimc62 commented on #1114
I tried also doing luis import version as well with the same issue.  I also used the REST API through the LUIS REST portal UI to directly create an application and I got an empty application with no intents, entities or utterances.  I got a 201 created as a response.  This is most likely a service issue--what is the difference between UI import, luis cli import and REST API create application?

[2019-05-02 19:46] stevengum opened #1115 "AZ CLI: Update description text"
## Tool
Version: `<= 2.0.64`

## Describe the bug
Help text should be updated to "**_Manage Microsoft Azure Bot Service_**" instead of "_Manage Microsoft Bot Services_"

## To Reproduce
Steps to reproduce the behavior:
- Visit https://docs.microsoft.com/en-us/cli/azure/bot?view=azure-cli-latest & see the following:
![botservice-ref-docs-root](https://user-images.githubusercontent.com/14935595/5710

[2019-05-02 21:24] anusharavindrar commented on #779
I recreated the behavior and it successfully created the SMS Channel and it was enabled within the Web App Bot . I used the current version of Azure CLI i.e., 2.0.63

[2019-05-02 21:26] CoHealer commented on #779
Closing, repaired in subsequent CLI build.

[2019-05-02 21:26] #779 closed

[2019-05-03 18:25] stevengum commented on #980
Closing this as we've added a deprecation message for `az bot publish -v v4` which tells users to use `az webapp` to publish their bot and points to our docs that illustrate how to do this.

[2019-05-03 18:25] #980 closed

[2019-05-03 19:07] BruceHaley commented on #1110
Fixed.

[2019-05-03 19:07] #1110 closed

[2019-05-03 21:21] EPinci opened #1118 "Dispatch fails to setup intents to child services mapping"
## Tool
Name: Dispatch
Version: 1.4.5
OS: Windows 10.0.18362.86

## Describe the bug
```dispatch create``` and ```dispatch refresh``` always throws this exception:
[code]
After the the command completes but then the bot get null references on the ```.ConnectedService``` property.

Note that I'm running against westeurope LUIS.

[2019-05-03 23:13] BruceHaley opened #1122 "ChatDown tests failing"
See npm coveralls task log in build 134 at https://fuselabs.visualstudio.com/SDK_v4/_build/results?buildId=57942&view=logs

lerna ERR! npm run test stderr:
internal/modules/cjs/loader.js:584
    throw err;
    ^

Error: Cannot find module 'request-promise-core/configure/request2'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:582:15)
    at Function.Module._load (internal/

[2019-05-03 23:17] BruceHaley opened #1123 "Three MSLG tests failing"
See npm run coveralls task in build 135 at https://fuselabs.visualstudio.com/SDK_v4/_build/results?buildId=57963&view=logs

 13 passing (29s)
  3 failing

  1) The mslg cli tool
       should output correctly
         should collate templates successfully:
     Error: ENOENT: no such file or directory, unlink '/Users/vsts/agent/2.150.3/work/1/s/packages/MSLG/finalResult_mslg.lg'
      at Object.un

[2019-05-03 23:20] BruceHaley opened #1124 "lubuild tests failing"
See npm run coveralls task in build 137 at https://fuselabs.visualstudio.com/SDK_v4/_build/results?buildId=57972&_a=summary&view=logs

lerna ERR! npm run test stderr:
Warning: Could not find any test files matching pattern: test
No test files found

[2019-05-03 23:25] BruceHaley opened #1125 "dialoglint tests failing"
See npm run coveralls task in build 140 at https://fuselabs.visualstudio.com/SDK_v4/_build/results?buildId=57986&_a=summary&view=logs

lerna ERR! npm run test exited 1 in 'dialoglint'
lerna ERR! npm run test stdout:

lerna ERR! npm run test stderr:
Warning: Could not find any test files matching pattern: test/*.ts
No test files found

[2019-05-04 13:04] EPinci commented on #1118
For some unknown reasons, retraining and republishing the referenced bot (not the dispatch), fixed the thing...

[2019-05-04 13:04] #1118 closed

[2019-05-05 12:21] tiagodenoronha commented on #1105
Would suggest fixing the readme just to prevent users (like me :)) to hit their head when trying to install the tools.

[2019-05-05 17:33] jurfalino opened #1127 "Failed importing latest version of ...._Dispatch app"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: 1.4.5
OS: Windows 10 Pro

## Describe the bug
I downloaded the [Chatbot Enterprise Template](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-enterprise-template-customize?view=azure-bot-service-4.0), and started customizing the solution, among other things I need to add a new language to the LUIS model.

#

[2019-05-05 22:57] jurfalino commented on #1127
FIXED. I was missing the -v parameter... even though it's optional that seems to have caused the error.

[2019-05-05 22:57] #1127 closed

[2019-05-06 14:51] roalexan opened #1129 "Composite entity labelling parse error with ludown"
## Tool
Name: Ludown
Version: 1.3.0
OS: Windows 10

## Describe the bug
It appears that the parsed output of my labelled composite and simple entity is incorrect. The text field seems out of order, and the startPos/endPos for the composite entity seems off as well.

## To Reproduce
Steps to reproduce the behavior:

Consider the utterance "I want to order a shirt please". I want to create a composi

[2019-05-07 04:45] #475 closed

[2019-05-07 04:46] #240 closed

[2019-05-07 04:46] #422 closed

[2019-05-07 14:14] darrenj opened #1132 "ludown reporting undefined when refreshing from qnamaker JSON to LU"
## Tool
Name: ludown
Version: 1.2.0
OS: Windows

## Describe the bug
When exporting a JSON QnAMaker file from portal (imported via a TSV personality chat file) I need to go to a LU file but when running ludown refresh I get an empty file (and no error/warning). When running in --verbose it reports undefined.

## To Reproduce
Steps to reproduce the behavior:
1. ...> ludown refresh -in QnaProfession

[2019-05-07 16:44] vishwacsena commented on #1132
Could not repro on 1.2.0, 1.3.0 as well as what's in master .. one thing i noticed is that you are trying to pass in a qna json with --in option but you need to use -q for qna json and -l for luis json. that said, when i try with --in, i see the correct behavior ..

[code]

[2019-05-07 16:44] vishwacsena commented on #1132
And with -q option, all 3 json QnA models in the example parse into LU files without any errors. 

[2019-05-08 03:13] vishwacsena commented on #1132
Closing as no repro per our chat. @darrenj -please reactivate should you continue to hit this.

[2019-05-08 03:13] #1132 closed

[2019-05-08 03:15] vishwacsena commented on #1129
Fixed via #1130 ; should be available shortly via the [botbuilder myget feed](https://botbuilder.myget.org/gallery/botbuilder-tools-daily) and pushed up to npm on the next publishing cycle.

[2019-05-08 03:15] #1129 closed

[2019-05-08 08:19] feich-ms commented on #1123
Fixed here https://github.com/microsoft/botbuilder-tools/pull/1133

[2019-05-09 04:31] #1123 closed

[2019-05-09 04:33] feich-ms commented on #1123
The PR #1133 fixed the three tests failure issue, so I closed this issue.

[2019-05-09 10:50] DingmaomaoBJTU opened #1135 "[Ludown] Failed to parse .lu file back to .json when using the latest luis"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: *tool version*
OS: *os version*

## Describe the bug
Fail to parse .lu file back .json, after generate the .lu file from .json from the latest luis app.
1. A.json => A.lu
2. A.lu => A.json (failed!)

## To Reproduce
Steps to reproduce the behavior:
1. ludown refresh -i "Email_enus_official.json"
2. ludown parse toluis --

[2019-05-09 17:27] dmvtech commented on #1135
@DingmaomaoBJTU Does this reproduce in cmd (as apposed to in PowerShell) as well?

[2019-05-09 17:27] vishwacsena commented on #1135
I verified that this is fixed via #1130

[2019-05-09 17:43] #1135 closed

[2019-05-13 10:18] AndyCW opened #1137 "Ludown parse error in List Entity where PhraseList name matches that of a Simple Entity"
## Tool
Name: Ludown
Version: 1.3.1
OS: Windows 10 v1903

## Describe the bug
Note that this is related to #605 . This is a separate issue.
Ludown errors trying to parse an lu file that has a PhraseList that has the same name as a Simple entity, and where it also has a List Entity defined.

## To Reproduce
Steps to reproduce the behavior:
1. I exported my Luis json file on the portal.
2. I used th

[2019-05-13 21:11] Stikemanley opened #1138 "Dispatch Refresh working Locally on Windows10 but not on Windows Server 2016"
## Tool
name: dispatch
version: 4.6.1 (both OSes)
OSes: Windows 10, Windows Server 2016

## Issue Description:
I have a bot utilizing both QnA and LUIS models with a dispatcher. I am able to run a dispatch refresh command on Windows 10 successfully.  It Exports all models, then updates, imports, and trains all models including the new Dispatch model.

I am attempting to set up a scheduled refresh

[2019-05-14 09:35] Diruuo opened #1140 "The DialogSchema, DialogLint and DialogTracker appear to be down"
## Tool
Name: DialogSchema, DialogLint and DialogTracker
Version: any
OS: *Windows Enterprise 64bit*

## Describe the bug
npm returns a 404, npmjs.com doesn't have the packages

## To Reproduce
Steps to reproduce the behavior:
1. ...Try to install the current string of tools on the main readme via npm, observe 404 error
[code]
## Expected behavior
The tools should either be accessible or should be

[2019-05-14 15:09] ayanez17 commented on #1118
I'm having the same issue. I've tried to retain and republish and that doesn't help.

[2019-05-14 17:55] mdrichardson commented on #1140
Those tools are in preview and not ready for production. There's been discussion about what to do about them in the README.

Related: https://github.com/Microsoft/botbuilder-tools/issues/1105

@sgellock, @EricDahlvang mentioned you have an opinion on this. I'd be happy to submit a PR to remove them, but I spoke with @chrimc62 a couple weeks ago and it sounded like there was some ongoing discussion

[2019-05-15 09:38] Diruuo commented on #1140
I'd be willing to experiment with them! 😄

I'm aware that they're likely not intended for public use, but people less familiar with the repository might be more confused than me, as such I think they should either be added for public use, even when very experimental, or they should be removed from the README until they are actually deemed stable enough for public testing.

Feel free to close this

[2019-05-15 20:02] tsuwandy commented on #1138
@Stikemanley, what's in dispatch.cmd script?  Could you make sure that it has the "--dataFolder {dispatchWorkingFolder}" for all the commands?

Alternatively, if you only need to refresh previously create Dispatch in the Win Server 2016, you could put the .dispatch file in the same folder as dispatch.cmd script (where the only thing in it is the "dispatch refresh" command) and it should work.    I

[2019-05-15 20:02] #1138 closed

[2019-05-15 20:32] tsuwandy commented on #1106
Trying to repro...

[2019-05-15 20:41] tsuwandy commented on #1081
@angie4u , this is by design at the moment.

There are two different keys being used to use Dispatch CLI tool. Authoring key and subscription key. Authoring key is the key from luis.ai portal and needed to export the LUIS sources for Dispatch and to upload the newly created Dispatch app to luis portal. Subscription key is optional and is used for hitting luis endpoint/prediction API. If subscripti

[2019-05-15 20:41] #1081 closed

[2019-05-15 20:44] tsuwandy commented on #995
@hansmbakker , there's work going on to consolidate all the tools one or two tools so stay tuned.

[2019-05-15 20:46] tsuwandy commented on #822
We have stopped checking in binaries to GitHub (@cleemullins we still need to delete existing ones) and unfortunately we can't open source it due to CLI using private LUIS APIs.

[2019-05-15 20:46] #822 closed

[2019-05-15 20:47] tsuwandy commented on #646
Closing this for now, will reevaluate with new tool work.

[2019-05-15 20:47] #646 closed

[2019-05-15 23:03] cleemullins commented on #1140
@diruuo Those tools have been removed from master and are found in the V.Future branch. You can clone that branch and build / use the tools.

[2019-05-15 23:03] #1140 closed

[2019-05-15 23:04] cleemullins commented on #1125
PR #1143 removes this tool from master.

[2019-05-15 23:04] #1125 closed

[2019-05-15 23:04] cleemullins commented on #1124
PR #1143 removes this tool from master.

[2019-05-15 23:04] #1124 closed

[2019-05-15 23:15] cleemullins commented on #1092
@sachabruttin Up for submitting a PR? :)

[2019-05-16 01:59] Stikemanley commented on #1138
Hi Tien!

Nothing in the dispatch.cmd script. That’s just the path to the dispatch executable. We haven’t installed the dispatch globally on the windows 2016 server. It behaves the same with the same path and just <path>/dispatch as it does <path>/dispatch.cmd

Another note, we manually imported the .dispatch file into LUIS and it worked perfectly, therefore I don’t believe it’s a conflict of enti

[2019-05-16 02:10] tsuwandy commented on #1138
Thanks Mike.  .dispatch file is a dispatch configuration file, not LUIS json file.  Did you meant importing {DispatchName}.json file to LUIS?

Back to the "refresh" issue, did you try copying the {DispatchName}.dispatch file to where the dispatch executable is and run the command "dispatch.cmd refresh"?  This should work.  The refresh command needs existing .dispatch file since it needs to figure

[2019-05-16 02:45] tsuwandy commented on #1106
@matthew-clark02 I can't repro this.  Created a dispatch app, add a collaborator, then replace the authoring key in the .dispatch file (authoring key for Dispatch, not the keys under services array) to the collaborator authoring key and the dispatch is updated.

Did you get an error?  As long as the .dispatch file (with everything populated from the "create" command) is in the same place as where

[2019-05-16 16:08] stevengum commented on #1115
Closing via Azure/azure-cli#9412.

[2019-05-16 16:08] #1115 closed

[2019-05-16 18:53] dawwa opened #1147 "Consider update the doc to make sure people not using newer Azure CLI which breaks msbot"
Related reported issue in Azure CLI

https://github.com/Azure/azure-cli/issues/9414
https://github.com/Azure/azure-cli/issues/9363

https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md
•	[BREAKING CHANGE] Changed bot create -v v4 -k webapp to create an empty Web App Bot by default (i.e. no bot is deployed to the App Service)
•	Added --echo flag

[2019-05-20 02:58] daden-ms opened #1151 "LUDown cannot "parse toluis" for output files from command "ludown refresh""
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: 1.3.1
OS:  Windows 10

## Describe the bug
I have a luis file which contains a phraselist "project" and a simple entity "project". After I converted luis json model file to .lu format, my attempt to convert the exact lu file that's generated from ludown refresh cannot be converted back to json format.

## To Reproduce
St

[2019-05-20 10:12] chrisdromey opened #1152 "Dispatch apps no longer running in docker containers"
## Tool
Name: Dispatch
Version: 1.4.5
OS: macOS 10.14.4
mcr.microsoft.com/azure-cognitive-services/luis IMAGE_ID: d9e5f60e0f80

## Describe the bug
We noticed on 16/5/19 that we were no longer able to run dispatch apps in docker containers.

When querying a running dispatch app in a docker container we receive a 500 response and see the following error in the docker containers log files:

[code]

[2019-05-20 13:36] Diruuo commented on #1097
Hey everyone, is there any update on this?

There is still no indication that msbot is being deprecated, the only documentation that mentions .bot file deprecation is incomplete and not particularly useful (https://docs.microsoft.com/en-us/azure/bot-service/bot-file-basics?view=azure-bot-service-4.0&tabs=csharp).

Related: MicrosoftDocs/bot-docs/issues/1150

[2019-05-20 18:28] Stikemanley commented on #1138
Hello Tien,

Thank you for getting back to me. I've tried moving the .dispatch file to
the same directory as dispatch.cmd. I receive the same error message:

[image: image.png]

I didn't expect this to be the issue as it was able to export all the
necessary services previously as well.

Any other thoughts?

I know its not an issue with the different models themselves as I was able
to manually impo

[2019-05-20 19:00] Stikemanley commented on #1138
Hi Tien,

What was happening was I was using an older .json file to import. When I
found the latest version inside the data folder created by dispatch.cmd It
gave me another message which was in essense "You don't have entities with
the same name". What had happened was we used datetimeV2 in patterns in two
different models.

This seems like something that should absolutely be covered. We should b

[2019-05-20 19:47] tsuwandy commented on #1138
@Stikemanley I can't see the [image: image.png], I think it's not linked?

Where were the errors?  Could you copy and paste the errors instead?  I'm not sure what the issue is as you shouldn't need to import the json file yourself (cli will do it).

[2019-05-20 20:30] sgellock commented on #1152
@CezaryMarcjan can you track this one down?

[2019-05-20 20:38] sgellock commented on #1151
We need to consider this in the context of bf-cli

[2019-05-20 21:53] sgellock commented on #1097
@johnwildes @Diruuo let me set some context regarding msbot and how we think about our CLI tooling strategy.  We started in our 4.3 release and continued in our 4.4 release to embrace existing Azure tooling in the areas of provisioning and deployment.  In the 4.4 release we fully embraced ARM templates for provisioning, an Azure-cli for control plane provisioning where possible.  There are many fe

[2019-05-20 21:55] sgellock commented on #1147
@dawwa thank you for logging the issue.  Here is some additional information regarding msbot and it's future:

Stepping back a bit, we have a number of CLI tools that we feel complication the experience for developers.  In our 4.5 release (our next scheduled release), we will be releasing a single CLI tool, bot Framework CLI, that is modeled in much the same way as the Azure CLI (command groups/co

[2019-05-20 21:55] #1147 closed

[2019-05-21 05:51] tsuwandy commented on #1152
Not a Dispatch cli issue but a prediction in LUIS container issue.  There is a new fix for LUIS container coming next week.

[2019-05-23 09:00] aforank commented on #1151
I am facing the same issue. However, if I pluralize the phraselist name as mentioned in the bug description then it works.

[2019-05-24 02:34] PurnaChandraPanda opened #1156 "enterprise bot template (C#) app deployment fails"
We have bot applications based on "Enterprise Bot Template". It's been developed and deployed using "msbot" CLI options. As per the recent changes, "msbot" seems to be deprecated. Upon trying the "msbot clone services" command, it failed at the steps of "az bot create". With the “msbot clone services” tried out, just had app service and app service plan created, but not bot or any other resources.

[2019-05-24 13:26] MCKRUZ opened #1155 "Better .bot file documentation"
## Tool
.Bot file

## Describe the problem
There needs to be better documentation on what the .bot file can read, for example you make reference to the fact that it can connect to Azure blob storage...but there is no example of that anywhere.  I have no idea what parameters to use and where to place it.  There should be a clear example of everything you can do with the .bot file somewhere.

I have

[2019-05-24 13:48] sgellock commented on #1156
@mailforsachin thank you for opening the issue.  starting with the 4.3 release of the Bot Framework SDK we have made significant investments in supporting existing Azure resource provisioning and deployment mechanisms.  Specifically ARM templates for resource provisioning, and Azure-CLI for provisioning and deployments.  as such, msbot, which had a minor subset of Azure-CLI functionality, is being

[2019-05-24 17:40] mdrichardson commented on #1155
The `.bot` file has been deprecated. You can use [this resource](https://docs.microsoft.com/en-us/azure/bot-service/bot-file-basics?view=azure-bot-service-4.0&tabs=csharp) to help you migrate away from the `.bot` file.

Specifically for Azure Blob Storage, you can use these for guidance:

* [C#-Scaleout Sample](https://github.com/microsoft/BotBuilder-Samples/blob/3cfb7eec6a11f653203781c652245a6288

[2019-05-24 17:40] #1155 closed

[2019-05-24 17:46] MCKRUZ commented on #1155
Doesn’t the bot file still get used for the emulator?  That’s what I’m referring to.

From: Michael Richardson <notifications@github.com>
Sent: Friday, May 24, 2019 1:40 PM
To: microsoft/botbuilder-tools <botbuilder-tools@noreply.github.com>
Cc: MCKRUZ <kruz79@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/botbuilder-tools] Better .bot file documentation (#1155)

The .bot f

[2019-05-24 17:51] mdrichardson commented on #1155
The bot file *can* still get used by the emulator, but the convention now is to use the Open Bot dialog in Emulator. I sometimes use a bot file just to keep the endpoints saved as it makes loading the bot in the Emulator easier. However, api keys should be stored in `appsettings.json`/`.env`

[2019-05-24 20:08] chrimc62 commented on #1107
I have been unable to repro this issue.  If it still happens for you after making sure you have the latest luisgen package could you share your general.json?

[2019-05-24 20:38] chrimc62 commented on #1107
I found an original file and the issue was a missing property which the service has fixed.  The next version of LUISGen 2.1.1 will include a fix to make it more robust.  Thanks for bringing up the issue.

[2019-05-24 21:51] #1107 closed

[2019-05-24 23:24] CoHealer commented on #1156
@jwiley84 , please assist @mailforsachin in transitioning to ARM

[2019-05-26 15:28] aforank commented on #606
Is this issue resolved?

[2019-05-27 22:50] kwiknick opened #1160 "botbuilder npm packages don't exist in the npm registry"
## Information:
* Tools Libraries:
* Libraries' Versions:
* OS:  Windows

## Issue Description:

It seems the install instructions aren't up to date.  The required npm packages are missing from the public npm registry.  All available links to the packages in the Readme also show a 404.

The missing packages are dialogtracker, dialoglint, dialogschema, and qnmaker.  The others in the install comman

[2019-05-27 23:35] mdrichardson commented on #1160
See: https://github.com/microsoft/botbuilder-tools/issues/1140

[2019-05-27 23:39] kwiknick commented on #1160
Well, shoot.  I swear I searched for an existing issue before submitting this new one.  Thanks for pointing out it's already been answered @mdrichardson

[2019-05-27 23:40] mdrichardson commented on #1160
No problem! That issue was closed, so you may have missed it. Submitted a PR to update the README, too.

[2019-05-28 21:46] tsuwandy commented on #1152
@AmirGeorge, has the container update been released to address this issue?

[2019-05-29 06:10] tsuwandy commented on #1106
@matthew-clark02, please let us know if issue still persists for you as I couldn't repro it (see my previous comment).

[2019-05-29 06:10] #1106 closed

[2019-05-29 10:09] AmirGeorge commented on #1152
@chrisdromey fix deployed. Please pull the latest container image.

[2019-05-29 10:09] #1152 closed

[2019-05-29 12:07] hansmbakker opened #1162 "Why is Kudu build advised over uploading prebuilt binaries?"
(Not sure whether this should be a docs issue or a botbuilder-tools issue. Also asked at https://github.com/MicrosoftDocs/bot-docs/issues/1169)

It looks like the Bot Framework suggests letting App Service build the bot logic from source using Kudu (using `az bot prepare-deploy` + `az webapp deployment source config-zip`) rather than have the user / CICD upload prebuilt binaries.

Personally I tho

[2019-05-29 14:26] grumm90 opened #1163 "Deploy on Cortana doesnt talks"
Hello,

I created a QNA (qnamaker.ai) and a chatbot in Azure. They connected and doing what they should do. I activated Cortana channel on azure than if I use the right invocation method its giving the right feedback just it doesn’t talk at all. I saw that Cortana will answer verbally if you invoked or queried with speech but seems not working.

I tried to recreate the whole app but it doesn’t res

[2019-05-29 15:46] tdurnford commented on #1163
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

It appears you have already asked this [question](https://st

[2019-05-29 15:46] #1163 closed

[2019-05-30 16:58] #1160 closed

[2019-05-31 21:22] #1122 closed

[2019-06-01 17:59] AndyCW opened #1164 "[Ludown CLI] Utterances with labelled Roles on List Entities cause Ludown parse toluis to fail"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: *tool version*
OS: *os version*

## Describe the bug
Entity roles can now be used with list entities and builtin entities. However ludown parse toluis cannot handle utterances labelled with roles on list entities and fails with an error.

## To Reproduce
Steps to reproduce the behavior:
1. Model json (save as rolesBug.js

[2019-06-01 18:07] AndyCW opened #1165 "[Ludown CLI] ludown parse toluis fails with Composite entity that has a entity with role defined as a child"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: 1.3.1
OS: Windows 10 1903

## Describe the bug
Entities with roles can be set as a child in a composite entity. After exporting to json and converting to .lu, ludown parsetoluis fails when converting back.

## To Reproduce
Steps to reproduce the behavior:
1. Create a model with a composite that includes an entity with a

[2019-06-03 13:15] pawett opened #1166 "Error parsing double colons in Entity List values"
## Tool
Name: Ludown|LuisGen
Version: *1.3.1*
OS: *Windows 10*

## Describe the bug
Parse command does not parse correctly entity values with double colon.
Example:
$Country|Office:Argentina|ar::chc=
- Chaco
- chaco
This is perfectly valid in LUIS and should be able to parse correctlly these values to a valid entity.
## To Reproduce
Steps to reproduce the behavior:
1. ... Define an entity with dou

[2019-06-03 17:28] AndyCW opened #1167 "[Ludown CLI] ludown parse toluis wrongly reports error for utterance containing composite around nested simple entities"
## Tool
Name: Ludown
Version: 1.3.1
OS: Windows 10 1903

## Describe the bug
It is legal for one simple entity to cover the same tokens as another. If a composite is defined over the same range as nested simple entities, Ludown cannot parse the .lu file and wrongle reports an error for nested coomposite values.

## To Reproduce
Steps to reproduce the behavior:
1. Using a ludown file such as this:

[2019-06-03 20:06] jwiley84 commented on #1156
Just as an aside, I'm running into ARM deployments of my own. As soon as I get them solved, I'll ping here.

[2019-06-04 02:47] mailforsachin commented on #1156
Guys, let me know if you have an update yet.

[2019-06-05 16:58] AndyCW commented on #1137
This issue may be erroneous. The List Entity sublist canonical forms in this example include double colons and this is not currently supported by ludown parse. Existing issue for this: #1166

[2019-06-05 23:14] vishwacsena commented on #999
@daden-ms this can be very tricky in that utterances with labelled entity values need to translated and mapped back correctly. E.g. There is explicit dependency on [word alignment](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-translate?tabs=curl#obtain-alignment-information) available as part of the translate service call that needs to be mapped back.

Do not

[2019-06-05 23:14] #999 closed

[2019-06-06 09:30] mailforsachin commented on #1156
Hi @jwiley84, please let me know if you have an update.

[2019-06-07 15:19] jwiley84 commented on #1156
Hi @mailforsachin!

Sorry for the massive delay, I hit some major hiccups of my own when trying to deploy via ARM. First question: are you proficient with powershell? The simpler version of deploying a VA/Enterprise  bot with powershell, though very much possible to simply use windows command line as well.

[2019-06-10 04:16] mailforsachin commented on #1156
Yes, please. I am able to push the code using the deploy strategy of the new template.

But we need to push an existing Enterprise template code . Here is what I have done.

I copied the deployment scripts to my existent code and when I execute, I get the following message

PS C:\Users\124708\Desktop\intermediator-bot-sample\ibs> .\Deployment\Scripts\deploy.ps1
? Bot Name (used as default name for

[2019-06-10 17:29] rob-derosa opened #1170 "Dispatch seems to be returning the wrong top intent"
## Tool
Name: [Dispatch]
Version: 1.4.5
OS: MacOS 10.14.5

## Describe the bug
Dispatch model is returning incorrect top intents with a very low confidence score. For instance, when I type "billing history", Dispatch returns the top intent as l_General with a confidence score of .300 as seen in the screenshot below.
<img width="889" alt="Screen Shot 2019-06-10 at 11 23 23 AM" src="https://user-ima

[2019-06-11 07:17] armstrong-charles commented on #738
@vasavenk, Is nightly build fix the problem?

[2019-06-11 07:36] armstrong-charles commented on #738
Yes, nightly build fix the problem, thanks

[2019-06-11 11:17] huislaw commented on #1008
Need this in my project. Any estimated date to add geographyv2 in?
Thanks.

[2019-06-11 16:47] tsuwandy commented on #1092
This is fixed, there was a service error (LUIS server).  See comments on this PR: https://github.com/microsoft/botbuilder-tools/pull/1149

[2019-06-11 16:47] #1092 closed

[2019-06-11 18:23] jwiley84 commented on #1156
Your process there (Steps A, B, C) all look to good to me, which is why the error you're getting on the validate step is so strange. I don't commonly do validations prior to deployment, but I know that is not the norm.

Try logging into the portal, navigating over to the resource group, and checking the activity logs:
![image](https://user-images.githubusercontent.com/17333688/59296608-3adc8380-8c

[2019-06-12 09:19] gpsarkar opened #1176 "[Azure cli] Create msteams channel in bot using azure bot cli throws error"
## Tool
Name: Msbot
Version:
azure-cli (2.0.47)
botservice (0.1.1)

OS: Win10

## Describe the bug
Unable to add `msteams` channel to a bot using azure cli.
throw error :
`Error occurred in sending request. Please file an issue on https://github.com/Microsoft/botbuilder-tools/issues
`
## To Reproduce

`az bot msteams create --name nicebot1172 --resource-group devresource`

## Expected behavior
MST

[2019-06-12 10:15] mailforsachin commented on #1156
@jwiley84

Could you explain?

a) How to use the erstwhile enterprise bot template to push code to a new azure tenant, pushing the same code?
b) How to publish the EB template code, using the same technique ?

[2019-06-12 14:42] outofthecave opened #1177 "Ludown fails to convert regex entities containing a slash followed by a colon"
## Tool
Name: Ludown
Version: 1.3.1
OS: Windows 10 Enterprise (Microsoft-internal version)

## Describe the bug
If a LUIS JSON file contains a regex entity whose regex contains a slash followed by a colon (`/:`), then Ludown either exits prematurely or truncates the regex just before the slash.

## To Reproduce
Steps to reproduce the behavior:
1. Create a LUIS JSON file called `Slash.json` with a

[2019-06-12 16:44] jwiley84 commented on #1156
Of course!

To deploy and publish, using an ARM template on an Enterprise bot, you're going to take the steps you outlined above:

**a)** `az ad app create --display-name <ENTERPRISE_BOT_NAME> --password "1234567890ABCDEF" --available-to-other-tenants` Make sure you write down the 'AppId' that will come up in the JSON upon success.

**b)** `az group create --name <ENTERPRISE_RESOURCEGROUP_NAME> --

[2019-06-12 21:09] dmvtech commented on #1176
I was able to reproduce the error. But the result is actually that Teams _does_ get connected as a channel. It's just reporting an error, due to some failures, but does not mean complete failure.

@gpsarkar Can you confirm that it did/did not create the channel connection? (through the portal UI)

This needs to be triaged and reviewed by SDK/Tools team.

[2019-06-12 21:55] gpsarkar commented on #1176
@dmvtech you are right. i just noticed that. The channel does gets connected. It just that the cli throws the error.

[2019-06-13 15:49] negativeeddy opened #1179 "LUIS tool help for permissions has incorrect json example"
## Tool
Name: LUIS
Version: 2.5.1
OS: Windows 10

## Describe the bug
The user is prompted with a json example when modifying the collaborators when the LUIS tool. The sample json is incorrect. The "emails" array is incorrectly labeled "email"

It shows
[code]

when it should be
[code]
## To Reproduce
Steps to reproduce the behavior:
1. run "luis update permissions"
2. look at the help prompt

##

[2019-06-14 18:01] garypretty commented on #205
@cahann @vishwacsena Did this happen? Can you now set the subscription key via the CLI?

Thanks.

[2019-06-17 20:23] tsuwandy commented on #1170
@rob-DeRosa, could you share the exported General LUIS model and the QnA FAQ kb?  You could email it to tiens@microsoft.com. Thanks!

[2019-06-17 20:26] tsuwandy commented on #1170
@rob-derosa , could you try creating a new dispatch with both LUIS/QnA models, but when adding qna kb, use the optional "includeAnswersForTraining true" parameter and see if this resolves the issue with the dispatch prediction?

ie

dispatch add -t qna -i 2ec0dff0-ff8a-4be3-b451-4abc520ee04e -n Faq -k xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx --includeAnswersForTraining

[2019-06-17 20:54] rob-derosa commented on #1170
I created a new dispatch model with the instructions above. I wasn't sure if I should include "true" as the param value so I tried both but the json data it adds to the dispatch file is identical to what I had before.  I tested in the new dispatch model but got the same result. I'm guessing the `--includeAnswersForTraining` arg didn't take.

[2019-06-17 21:28] tsuwandy commented on #1170
What's your Dispatch CLI version?  I just tried with latest version 1.4.7, used "--includeAnswersForTraining true" when adding qna source and I see the answers getting added to the qna intent.

[2019-06-18 00:41] vishwacsena commented on #1177
@munozemilio - There already is an outstanding PR for this that @outofthecave submitted. I have reviewed and approved it but is pending CI issues in general that are impacting several outstanding PRs - just FYI.

[2019-06-18 02:03] xieofxie opened #1181 "dispatch refresh is blocked on Expanding kb * with word alterations"
## Tool
Name: Dispatch

## Describe the problem
The following runs forever:
[code]

## Describe the solution you'd like
Provide a verbose mode to indicate what is happening or some sanity checks to find wrong configurations.

[2019-06-18 08:14] xieofxie commented on #1008
Will the [Subtypes](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-reference-prebuilt-geographyv2) be preserved in version 3?

[2019-06-18 17:36] tsuwandy commented on #1170
@rob-derosa, let me know if you are able to use the optional "--includeAnswersForTraining true" using the latest Dispatch CLI when adding qna source .  More importantly, if that fixes the intent dispatch to Qna at the dispatch level.  Thanks!

[2019-06-18 19:32] rob-derosa commented on #1170
After upgrading, I can see the new config setting in the dispatch file. It is also returning the correct FAQ intent now .80 confidence. Appreciate the help.

[2019-06-18 19:56] tsuwandy commented on #1170
@rob-derosa, thanks for letting us know!

[2019-06-18 19:56] #1170 closed

[2019-06-18 22:18] cleemullins commented on #803
I don't think this is something we're going to take with this iteration of the tool. As we migrate ludown (assuming we do, which is somewhat in flux) we could do it then.

@vishwacsena Can you confirm, and if so we'll close this out?

[2019-06-20 21:27] cleemullins commented on #1008
@chrimc62 Another LuisGen one for you.

[2019-06-21 14:47] tsuwandy commented on #1181
@xieofxie, would you mind sharing your dispatch file (tiens@microsoft.com) so I could take a look?  Thanks for reporting this issue!

[2019-06-23 13:11] FreddyAyala opened #1184 "Error add remote skill 'luisgen : The term 'luisgen' is not recognized as the name of a cmdlet'"
## Project

**Name** Skills

**Language**:  C#

## Description

When using the script add_remote_skill.ps1 we got the following error message in powershell:

[code]
## To Reproduce

- Deploy an existing main azure bot
- Create a new Assistant Skill
- Deploy azure bot skill and get manifest url
- Execute script add_remote_skill.ps1 using manifest url

## Expected behavior
The skill should be added

[2019-06-23 13:12] darrenj commented on #1184
luisgen not installing at "gobal" scope on a mac and usable from powershell. Oddly, I can't repro on my mac so something else at play here.

[2019-06-24 15:02] cahann commented on #798
Backend work in-progress for more descriptive error messages in-case of file import

[2019-06-24 17:15] #1177 closed

[2019-06-25 08:23] tsuwandy commented on #1181
Thanks @xieofxie, figured out the issue.  Deploying a new version by end of today (6/25/19)

[2019-06-25 08:23] #1181 closed

[2019-06-25 16:07] vishwacsena commented on #1137
Fixed via #1168

[2019-06-25 16:07] #1137 closed

[2019-06-25 16:08] vishwacsena commented on #1164
Fixed via #1168

[2019-06-25 16:08] #1164 closed

[2019-06-25 16:08] vishwacsena commented on #1165
Fixed via #1168

[2019-06-25 16:08] #1165 closed

[2019-06-25 16:08] vishwacsena commented on #1167
Fixed via #1168

[2019-06-25 16:08] #1167 closed

[2019-06-25 16:08] vishwacsena commented on #1166
Fixed via #1168

[2019-06-25 16:08] #1166 closed

[2019-06-25 21:55] vishwacsena commented on #803
@cleemullins - yes agreed. There already are layers of validations at the LU level. The service of course does additional validation at model creation/ train/ publish time which cannot be brought down to CLI level.

I'll go ahead and close this. @lzc850612 - could you please file individual tickets for any missing validations in particular that you would like to see added? We will need to make a p

[2019-06-25 21:55] #803 closed

[2019-06-25 21:56] vishwacsena commented on #1044
@munozemilio - giving this one to you for consideration in the new CLI work for Chatdown.

[2019-06-25 22:06] tsuwandy opened #1187 "Dispatch should include QnA kb metadata as Dispatch training data"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]

## Describe the problem
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Describe alternatives you've considered
A clear and concise description of any alternative solutions or features

[2019-06-26 13:05] darrenj opened #1188 "luisgen generating poorly formatted class"
## Tool
Name: LuisGen
Version: 2.1.2
OS: Windows 10

## Describe the bug
LuisGen generated class generates source code files that don't meet foundational code style rules (including those used by BF/Samples).

For example
[code]

## To Reproduce
Steps to reproduce the behavior:
1. ... luisgen pointofinterest.lu -cs PointOfInterest
[pointofinterest.zip](https://github.com/microsoft/botbuilder-tools

[2019-06-26 13:50] xieofxie commented on #1181
Cool, botdispatch@1.5.0 works!

[2019-06-26 16:40] tsuwandy commented on #1181
Awesome, thank you!!

[2019-06-26 20:45] lshade commented on #1184
We are seeing the same issue on a Mac. Is there any update? Thanks

[2019-06-27 01:11] chrimc62 commented on #1188
The bug does not repro.  If you are using the standard StyleCop.Analyzers, they will not apply rules to any file that has <auto-generated> in the header which these do.

[2019-06-27 01:11] #1188 closed

[2019-06-27 01:11] chrimc62 commented on #1188
Sorry auto-generated in the header.

[2019-06-27 16:33] mekinney opened #1191 "[ludown] translate fails with meta tags"
## Tool
Name: [Ludown]
Version: 1.3.2-preview-190627-01 (nightly build)
OS: Windows 10

## Describe the bug
Ludown translates to the meta tag entries which then causes the ludown parse toqna to fail.  I believe I'm using the correct process to get the latest version of ludown.

## To Reproduce

1. Start with the english lu file in the attached zip.  I would typically get this by exporting the kb w

[2019-06-27 19:12] #1114 closed

[2019-06-27 21:37] cleemullins commented on #912
Closed by #1116

[2019-06-27 21:37] #912 closed

[2019-06-28 01:23] #1008 closed

[2019-06-28 19:57] munozemilio commented on #1044
This will be supported in new CLI.
Already added

[2019-06-28 19:57] #1044 closed

[2019-07-01 17:24] Kaiqb commented on #775
We have deprecated the use of .bot files. The deployment topics were updated to reflect this change.

[2019-07-01 17:24] #775 closed

[2019-07-01 20:30] sgellock commented on #1072
@vishwacsena bumping this to P0 (data loss)

[2019-07-01 22:15] jwiley84 commented on #1156
Hi @mailforsachin @PurnaChandraPanda

I'm going to close this, as I assume the above steps solved your issues. If it did not, please email me at v-jewail@microsoft.com and I'll reopen it.

[2019-07-01 22:15] #1156 closed

[2019-07-02 21:13] ericchansen commented on #608
Any updates on this issue? I'm facing the same problem.

[2019-07-03 15:23] #1097 closed

[2019-07-03 19:53] stevengum opened #1198 "az bot: Update bot's icon URL"
## Tool
Name: `az bot`

## Describe the bug
Users are unable to update the bot's icon URL via the Azure CLI, a feature available in the Azure Portal.

## Expected behavior
Users should be able to update the icon URL.

## Additional context
This feature would go into `az bot update` to avoid overloading `az bot create` further.

[bug]

[2019-07-05 15:55] managedcoder opened #1199 "Dispatcher does not appear to be able to target Azure Government"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: *tool version*
OS: *os version*

## Describe the bug
Trying to create a dispatcher that targets Azure Government using the dispatch tool but it won’t initialize it.
I run the command

`dispatch init -n /c/Users/.../chatbot/code/Dispatch/myBot.dispatch --luisAuthoringKey "<key>" --luisAuthoringRegion usgovvirginia`

and i

[2019-07-05 21:02] ericchansen commented on #1199
Could be related to issue #608. Still awaiting a resolution there for months.

[2019-07-08 07:27] tsuwandy commented on #608
@ericchansen, is the issue is with regard to remote execution or to target Azure government, more specifically for luis apps in azure government?  To target Azure government, we could set the endpoint in the json setting file.  Will follow up with the file name and the specifics property to update tomorrow.

[2019-07-08 10:00] SatyaPavanKumar opened #1201 "Generate .lu file from JSON file"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: *tool version*
OS: *os version*

## Describe the bug
How do i generate .LU file from .JSON file of luis

## To Reproduce
I have .lu file, using LUDOWN tool i generated JSON file but i am not able to do same vice versa

## Expected behavior
I want to generate .lu file using .json file

[2019-07-08 10:02] SatyaPavanKumar commented on #1135
@DingmaomaoBJTU , How you generated .lu file from json file?

[2019-07-08 10:16] DingmaomaoBJTU commented on #1135
ludown refresh -i "Email_enus_official.json"

[2019-07-08 10:18] ooorndtski opened #1202 "dispatch command arguments don't accept absolute paths"
## Tool
Name: [Dispatch]
Version: 1.5.0
OS: Windows 10

## Describe the bug
The dispatch command does not accept absolute paths that are passed as value of the --dataFolder arguments. It only works using relative paths.

## To Reproduce
1. Create a dispatch model, e.g. at c:\User\<username>\dispatch\
2. Open PowerShell and go to any location, e.g. c:\User\<username>\Documents\
3. Execute the comma

[2019-07-08 10:28] #1201 closed

[2019-07-08 14:45] #1072 closed

[2019-07-08 14:46] #1111 closed

[2019-07-08 15:02] ericchansen commented on #608
@tsuwandy No. I'll explain my specific scenario.

In Azure DevOps, I'm running an Azure CLI task. This executes as batch. The batch script calls a PowerShell 6 script (https://github.com/microsoft/botframework-solutions/blob/master/templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/deploy.ps1), which then calls another PowerShell 6 script (https://github.c

[2019-07-08 16:08] tsuwandy commented on #608
@ericchansen, what's in deploy_cognitive_models.ps1?  dispatch init along with dispatch add and dispatch create commands?

regarding running dispatch to target Azure government, you could update the endpoints in (find where dispatch cli is installed via "npm root", if globally "npm root -g".

\node_modules\botdispatch\bin\netcoreapp2.1\AugmentLuisModelSettings.json

The settings file look like the

[2019-07-08 17:04] FirebornX commented on #1199
![20190708](https://user-images.githubusercontent.com/4278203/60828576-9bda7700-a167-11e9-8181-d0022896022c.PNG)

doesn't seem to be able to recognize the Azure government regions

[2019-07-08 18:03] ericchansen commented on #608
@tsuwandy There's a direct link to the full contents of `deploy_cognitive_models.ps1` in my previous comment. It's on Microsoft's https://github.com/microsoft/botframework-solutions/.

I don't believe your suggestion for Azure government is relevant here in particular.

[2019-07-08 20:32] tsuwandy commented on #608
Thanks, will take a look and see if I could repro.

[2019-07-08 20:54] ericchansen commented on #608
@tsuwandy Thanks! Let me know if there's anything I can do to help. I'm very much invested in being able to completely deploy a bot from a single click in an Azure DevOps pipeline. This is the only blocker I'm facing before completion.

[2019-07-08 21:15] tsuwandy commented on #608
@ericchansen, will definitely do, thanks!  I have one thing to finish soon but this is the next priority.  I might need you to test out some changes but hopefully I could set up a similar environment to repro.

[2019-07-08 21:32] ericchansen commented on #608
@tsuwandy Here's a bit more help if you're trying to recreate the same setup.

- Start off by creating a solution using the [virtual assistant v4 template](https://marketplace.visualstudio.com/items?itemName=BotBuilder.VirtualAssistantTemplate).
- Commit your solution code in Azure DevOps.
- Create an app registration for your bot.
  - Make note of the application ID.
  - Create a secret on your a

[2019-07-08 23:34] FirebornX commented on #608
@tsuwandy in regards to

I modified this file per your suggestion to point the Urls to .api.cognitive.microsoft.us which is the azure government api endpoint for LUIS. Even having done that you still can't get it to accept the region, virginia / usgovvirginia which to my knowledge is the only datacenter setup to provide LUIS services for Azure government... looks like there's some validation going

[2019-07-09 00:25] FirebornX commented on #608
Just downloaded the bot tools and decompiled Dispatch.dll
I can confirm that it is not setup to work with Azure government regions.

Class : CreateLuisDispatchCommands
Method : TryGetLuisRegion

It only accepts Authoring regions from LuisAuthoringRegions if isAuthoring is true or LuisSubscriptionRegions if isAuthoring is false

LuisAuthoringRegions and LuisSubscriptionRegions are hard coded HashSe

[2019-07-09 00:27] tsuwandy commented on #608
@FirebornX, good catch.  Work around would be to finish “dispatch init” command with one of those valid regions, then manually update them in .dispatch file before running “dispatch create” command.  Let me know if you are still having trouble with it.  I’ll add the valid gov regions for the next cli update.  Thanks.

[2019-07-09 00:28] FirebornX commented on #608
@tsuwandy I'll try that tomorrow and see if it works. Thanks for your help!

[2019-07-09 03:57] tsuwandy commented on #1199
This is not related to 608, which is running dispatch command in remote execution script.

Work around to target Azure government:
1.  Finish “dispatch init” command with one of those valid regions, then manually update them in .dispatch file before running “dispatch create” command.

2.  Update the endpoints in settings file (find where dispatch cli is installed via "npm root", if globally "npm r

[2019-07-09 13:54] ericchansen commented on #608
@FirebornX nice ideas with the gov issue!

I think the issue in #608 (here) is a bit different though.

[2019-07-09 15:59] tejasvinishelar opened #1203 "Can I have multiple Intents in LUIS for the same knowledge base."
## Issue Description:

I'm referring below github code:

https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/14.nlp-with-dispatch/

I am having trouble to access multiple knowledge bases using LUIS and Dispatcher tool.

Below are my issues:
1. 	Can I have multiple Intents in LUIS for the same knowledge base.
2. 	How to create intent per question in LUIS when you h

[2019-07-09 19:13] FirebornX commented on #608
@tsuwandy I was able to complete the "dispatch init" successfully when I use one of the valid regions.
I then edit the resulting .dispatch file to have virginia for the regions.
I also edit AugmentLuisModelSettings.json to point to the .api.cognitive.microsoft.us endpoints for Azure gov.
Then I "dispatch add" LUIS apps to the dispatch file. It succeeds.
Then I "dispatch create" it hangs on one app

[2019-07-09 19:18] FirebornX commented on #608
@ericchansen you may be right, I don't want to hijack this thread if it is different. I do however think that the issues I'm having might be causing the underlying hang-up issue that you're having.

[2019-07-09 19:23] tsuwandy commented on #608
@FirebornX thanks for the update.  Did you try adding a few utterances to the problematic intent?  I agree with @ericchansen we should discuss the gov issue in https://github.com/microsoft/botbuilder-tools/issues/608.  I don’t think they are related, i’m trying out script with just init in it.

[2019-07-09 19:35] FirebornX commented on #1199
@tsuwandy I was able to complete the "dispatch init" successfully when I use one of the valid regions.
I then edit the resulting .dispatch file to have virginia for the regions.
I also edit AugmentLuisModelSettings.json to point to the .api.cognitive.microsoft.us endpoints for Azure gov.
Then I "dispatch add" LUIS apps to the dispatch file. It succeeds.
Then I "dispatch create" it hangs on one app

[2019-07-09 19:37] FirebornX commented on #608
Since the consensus is that the two issues aren't related I'll keep my comments in #1199 rather than muddying the waters here. : )

[2019-07-09 19:39] FirebornX commented on #1199
@tsuwandy I did add utterances to the problematic intents. That allowed me to get the point in the screenshot above.

[2019-07-09 21:07] stevkan commented on #1203
Hi @tejasvinishelar, can you post your code so I can better advise you? Please don't include any keys.

[2019-07-09 21:35] tsuwandy commented on #1199
@firebornx, could you zipped up the data folder (inside the folder where you run the cli) and email me at tiens@microsoft.com?  Trying to figure out what in the json file causing import to fail.  I don't think this is specific to Azure gov environment.  I'm guessing if you use other LUIS file which works in the regular Azure environment, dispatch create will finish. Thank you!

[2019-07-09 22:44] tsuwandy commented on #608
@ericchansen , got a repro following original repro steps from jeff, debugging it now and trying to narrow down the offending code.

[2019-07-10 14:23] tejasvinishelar commented on #1203
Hello Sir,
I can't post my code publicly.
Is there any other way to send you my code?

[2019-07-10 20:12] msimecek opened #1209 "[ludown] Why is --Version with capital V?"
## Tool
Name: Ludown
Version: 1.3.1
OS: Windows 10 1903

## Describe the bug
The long variant of the global "version" parameter in Ludown is `--Version`. Every CLI tool I have ever encountered uses `--version`. Is there a reason why Ludown went the capital V way? Or is it just a typo?

## To Reproduce
Steps to reproduce the behavior:
1. run `ludown --version`
2. see error that this argument is unk

[2019-07-10 20:39] ericchansen commented on #608
@tsuwandy Keep me posted. Glad you found the offending code! It would be great if an update was pushed soon!

[2019-07-10 22:37] tsuwandy commented on #608
The offending code is needed to handle input from pipe (output from msbot), ie:

type foo.bot | dispatch create

Unfortunately, we couldn't distinguish between standard input redirection from pipe or when cli is executed remotely (anonymous vs named pipe).  To support both, there is now an optional parameter for running remotely "--remote true".  If piping in input in remote execution, no need to

[2019-07-11 16:40] ericchansen commented on #608
That's excellent news. Let me know when the update is live and the version number. If I'm understanding correctly, once I use the updated version, I can use `dispatch init` as before but add in `--remote true`, so `dispatch init --all-my-other-arguments-here --remote true`?

[2019-07-11 17:09] tsuwandy commented on #608
Yes, exactly!   Just trying to see if I could bundle the fix with issue @FirebornX found with running in azure gov.  If this takes too long then i’ll just split the two fixes.  Version 1.5.1.

[2019-07-11 17:37] ericchansen commented on #608
@tsuwandy This is one of the last deliverables that I have for one of my clients, but don't let me sway you. 😛

[2019-07-11 23:32] tsuwandy commented on #608
Latest cli is deployed to npmjs.  Please let me know if you are seeing other errors.  Thank you!!

[2019-07-11 23:48] tsuwandy commented on #1199
Latest cli is deployed to npmjs. Please let me know if you are seeing other errors.  Still need to update the settings file above to point to gov endpoint to target Azure gov environment.  Thanks!

[2019-07-11 23:48] #608 closed

[2019-07-11 23:49] #1199 closed

[2019-07-12 00:05] FirebornX commented on #1199
This issue is resolved as of v1.5.1 of the dispatch cli.
Note that you must still modify AugmentLuisModelSettings.json (inside of the dispatch cli install directory) to point to the Azure government endpoints (.us instead of .com), you will also have to re-modify this file after upgrading the botdispatch package
{
"LuisApi": {
"DispatchVersion": "1.5.1",
"AuthoringBaseUrl": "https://{0}.api.cognit

[2019-07-12 10:33] msimecek opened #1211 "[ludown] translate ignores --lu_File argument"
## Tool
Name: Ludown
Version: 1.3.2-preview-190711-01
OS: Windows 10 1903

## Describe the bug
The `ludown translate` command has an argument `lu_File` (not sure why the capital F, btw) to specify output filename, but this parameter is ignored and original filename is always used instead.

https://github.com/microsoft/botbuilder-tools/blob/e9b9f07cabdc895fabfdae94c5a69c41d920ae5e/packages/Ludown/l

[2019-07-15 11:56] msimecek opened #1213 "[ludown] Incorrectly calculated entity start and end index in translate"
## Tool
Name: Ludown
Version: 1.3.2
OS: Windows 10 1903

## Describe the bug
When .lu utterance starts with entity definition and this entity has 1 character example (such as `- {Number:numberOfAdults=2} vuxna`) the start and end indexes for first entity are calculated as -1 which which results in incorrect entity parsing: `-  {Number:numberOfAdults=} 2 vuxna` and therefore invalid translation: `-

[2019-07-16 09:04] stevkan commented on #1203
@tejasvinishelar, apologies for the delay. You can send the code via email to me. My email is in my profile. Please reference this issue (#, link, etc.) so I can easily find.

[2019-07-16 22:53] cleemullins opened #1219 "LuisGen during build published recognizers-text"
The build is incorrectly picking up a LuisGen dependenciy, and trying to publish it to build artifacts. We need to remove this from the build.

[code]

[2019-07-18 14:18] BasSmuldersCZ opened #1220 "luis list userazureaccounts -> client.azureAccounts.getUserLUISAccounts is not a function"
## Tool
Name: LUIS
Version: 2.6.0
OS: Windows 10

## Describe the bug
After update to 2.6.0 i get error "client.azureAccounts.getUserLUISAccounts is not a function"
when calling luis list userazureaccounts

## To Reproduce
Steps to reproduce the behavior:
Run luis list userazureaccounts with a given authorkey, armToken, region and applicationId

## Expected behavior
Return an account
## Screenshot

[2019-07-18 14:42] BasSmuldersCZ commented on #1220
Caused by commit 205736908fd382f3480a2d7a7f43db5653353341

[2019-07-18 16:22] sgellock commented on #1209
C# engineer not necessarily familiar with what the community has come to expect.  given that we are in the process of moving all the classic CLI tools into a more comprehensive tool, BF-CLI, we won't fix this issue.

[2019-07-18 16:22] #1209 closed

[2019-07-18 16:28] sgellock commented on #1203
@tejasvinishelar, in the future if you can use GitHub issues for product defect or product enhancement requests that would be aligned to the community's exceptions.  How-to questions should be vectored to Stackoverflow where we have an active community.  https://stackoverflow.com/search?q=bot+framework

Support, continue helping.  thank you

[2019-07-18 21:00] tsuwandy commented on #1202
@ooorndtski , I was able to run dispatch create command successfully from a different folder via powershell.  What was the error you were seeing?

[2019-07-19 12:37] FreddyAyala opened #1221 "Error add remote skill 'luisgen : The term 'luisgen' is not recognized as the name of a cmdlet'"
## Project

**Name** Skills

**Language**:  C#

## Description

When using the script add_remote_skill.ps1 we got the following error message in powershell:

[code]
## To Reproduce

- Deploy an existing main azure bot
- Create a new Assistant Skill
- Deploy azure bot skill and get manifest url
- Execute script add_remote_skill.ps1 using manifest url

## Expected behavior
The skill should be added

[2019-07-19 16:22] darrenj commented on #1221
I’ve done some further investigation on a Mac and the root cause appears to be [discussed here](https://github.com/dotnet/sdk/issues/2998) whereby powershell isn’t expanding the ~ in the path.

If you run `$env:PATH` within Powershell on your Mac you’ll see `~/.dotnet/tools`in the path which is where luisgen will have been installed. In fact if you run `~/.dotnet/tools/luisgen` within powershell y

[2019-07-22 16:43] CoHealer commented on #1203
@stevkan, do you have any updates?

[2019-07-22 23:30] stevengum commented on #1162
The steps outlined under the [**"Deploy your bot"**](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=newrg) article are for a quick-start method to get a local bot deployed to Azure.

This is correct. There's nothing inherently special about deploying a bot.

For advanced users who already have their own CI/CD pipelines setup, we don't a

[2019-07-23 17:38] tsuwandy commented on #1202
@ooorndtski , closing this issue as dispatch takes absolute path (in addition to relative) for the data folder or dispatch file. Let us know if you are getting errors for some reason.

[2019-07-23 17:38] #1202 closed

[2019-07-25 00:44] ToddN opened #1224 "[Adaptive] no need to create luis app if using import"
## Tool
Name: LUBuild
Version: *tool version*
OS: *os version*

## Describe the bug
LUBuild calls createApplication (from processLUVariants). But the luis import() api always creates a new LUIS application.  The parameter that you can pass is the application name, not the application ID.  So calling createApplication actually leaks a LUIS application.

## To Reproduce
By code inspection

[bug]

[2019-07-26 08:16] DingmaomaoBJTU opened #1225 "[Ludown] Patten.Any stop working while ludown parse in 1.3.2"
## Tool
Name: Ludown
Version: 1.3.2
OS: windows

## Describe the bug
Parse a .lu file with patten.any entity to .luis, the patten.any entity will be lost.

## To Reproduce
Steps to reproduce the behavior:
1. Pase the following json file (contains TaskContent.Any entities) to .lu file with commond: ludown refresh -i TestTodoBoten_todo.json
[TestTodoBoten_todo.json.txt](https://github.com/microsoft/

[2019-07-26 15:10] Santhosh0505 commented on #1074
Actually, I was trying to automate dispatch refresh command using a console application in azure portal, and I have tried to install the botdispatch but I am not able to run the "dispatch init" and other dispatch commands in the azure directory using that console application. Please suggest me that is there any thing other than botdispatch to be installed to make the commands run.

[2019-07-26 23:40] til10 opened #1227 "Virtual Assistant deployment error while executing the ‘luis add appazureaccount’ command"
#### What project is affected?

Virtual Assistant template

#### What language is this in?

C#

#### What happens?

There are errors generated during the deployment of a Virtual Assistant, which leads to a non-functional VA.

#### What are the steps to reproduce this issue?

- Create a new project based on the latest VSIX template from master.
- Run `.\Deployment\Scripts\deploy.ps1 -parametersFile

[2019-07-29 17:56] Batta32 opened #1226 "[Ludown] Change the update version output message"
## Tool
Name: [Ludown]

## Describe the problem
We are executing `ludown` commands in [Botskills CLI Tool](https://github.com/microsoft/botframework-solutions/tree/master/tools/botskills) for automating the connection of a Virtual Assistant and a Skill; if during the execution it is discovered that the user's `ludown` version is not the latest, throws the respective informative message contained i

[2019-07-29 19:50] vishwacsena opened #1228 "[Ludown] Use default sort on utterances, intents, closed lists, phrase lists on ludown refresh"
## Tool
Name: Ludown

## Describe the problem
Ludown today does not use any technique to sort lists contained withing a LUIS app definition. This is directly reflective of the fact that the LUIS service does not sort these lists in any form.

## Describe the solution you'd like
Ludown refresh should use a default sort order for utterances, intents, closed lists, phrase lists. This is especially im

[2019-07-29 20:00] vishwacsena opened #1229 "[Ludown] Support for LUIS/ QnA application level meta-data information in the .lu file format"
## Tool
Name: Ludown

## Describe the problem
Today, the .lu file format does not support application level meta-data information like application name, version, locale, description etc. This is true for both LUIS and QnA. As a result this information included when a model is exported via the LUIS/ QnA Maker CLI results in a lossy transformation into the .lu file.

## Describe the solution you'd l

[2019-07-29 20:39] SpaceKatt opened #1230 "LUDown CLI generates bad URL"
URL in autogenerated output leads to a `404` page.

https://github.com/microsoft/botbuilder-tools/blob/6a4101b962b3da5c2cfea5bdbc7836034d1841dc/packages/Ludown/lib/toLU-helpers.js#L224

URL should be `https://github.com/microsoft/botbuilder-tools/tree/master/packages/Ludown`, instead of `https://github.com/Microsoft/botbuilder-tools/tree/master/Ludown`.

[2019-07-29 22:44] litofish opened #1231 "luisgen: list entities parsed into a 2d array of strings"
## Tool
Name: LuisGen

## Describe the problem
Why are list entities parsed into a 2d array of strings rather than a 1d array? It seems like it could make sense to have a 2d array if it contained both the entity from the utterance and the value it was resolved to, but right now it seems to just give the resolved value.

![parsed_result](https://user-images.githubusercontent.com/39777667/62087216-d

[2019-07-30 01:12] vishwacsena opened #1232 "[Ludown] Validation API should not include logic to remove pattern.any entities"
## Tool
Name: Ludown
Version: 1.3.2

## Describe the bug
ValidateLUISBlob at the moment includes code that does things beyond validation - e.g. it attempts to clean up pattern.any entities. This functionality does not belong in validation and needs to be moved into the right home.

[bug]

[2019-07-31 00:02] litofish commented on #1151
I'm still having this issue when a phraselist and simple entity have the same name. I've gotten it to work by pluralizing the phraselist, but should it also work without making this change?

[2019-07-31 21:42] vishwacsena commented on #1151
@litofish - can you verify that you are on ludown version 1.3.2? You can verify version via ```ludown -v``` and upgrade to the latest via ```npm i -g ludown```

The fix that went in to 1.3.2 should enable you to have the same name for a phrase list as well as a simple entity.

As an example, this successfully parsed -

[code]

[code]

[2019-07-31 21:58] litofish commented on #1151
I am on the latest version and still seem to be getting the error
![ludownerror](https://user-images.githubusercontent.com/39777667/62250794-c1435500-b3a2-11e9-9f6f-d2c1d466b031.PNG)

This is what I am doing:
[code]

[2019-08-01 02:46] stevkan commented on #1203
@tejasvinishelar, thank you for sending your code. I will take a look at respond as soon as possible with any other solutions/questions.

[2019-08-01 08:06] KayMKM opened #1234 "[Adaptive] [VS code extension] vs code no responding when open a .lg file"
## Version
v4.6.0-Daily-2019-07-31-01

## Describe the bug
When I open this lg file and try to edit the last function vs code will have no responding.
[Shared.txt](https://github.com/microsoft/botbuilder-dotnet/files/3455585/Shared.txt)

## To Reproduce
1. open this .lg file with vs code
2. edit the last function
3. vs code will have no responding

## Expected behavior
vs code works well.

## Scre

[2019-08-01 16:49] DingmaomaoBJTU opened #1235 "[Adaptive] [LG] Create tooling to auto generate LG Template constants from LG files"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0-Daily-2019-07-17-01

## Describe the bug
While using LG template in legacy dialogs like waterfall dialogs, incorrect/missing template name
could only b

[2019-08-01 18:15] vishwacsena commented on #1235
@boydc2014 - in a spirit similar to LUISGen, we should consider adding this capability to the MSLG CLI - ability to generate a C#/ TS/ JS variants.

[2019-08-01 18:17] vishwacsena commented on #1234
@boydc2014 - FYI.

[2019-08-02 19:36] #1225 closed

[2019-08-05 16:50] CoHealer commented on #1203
@stevkan please provide an update

[2019-08-05 18:31] #1151 closed

[2019-08-05 22:15] #1226 closed

[2019-08-06 02:51] stevkan commented on #1203
Hi @tejasvinishelar, I believe the following example should help.

Essentially, I have two LUIS intents that have similar yet distinct utterances: home and vehicle automation (and movie times and list). Dispatcher first processes which LUIS app it belongs to and returns a value which is then mapped to a process (e.g "turn my Xbox on" => "l_HomeAutomation"). "l_HomeAutomation" and "l_VehicleAutomat

[2019-08-06 10:18] SreekanthOAuth opened #1246 "Create Dispatch out of Dispatch"
## Tool
Name: [Msbot|Ludown|LUIS|QnAMaker|Chatdown|Dispatch|LuisGen]
Version: *tool version*
OS: *os version*

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. ...
2. ...
3. ...
4. ...

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to hel

[2019-08-06 16:54] #1228 closed

[2019-08-06 17:08] #1213 closed

[2019-08-06 17:10] CoHealer commented on #1246
Closing as not enough information to even reply to this.

[2019-08-06 17:10] #1246 closed

[2019-08-07 04:54] SreekanthOAuth opened #1248 "Create Root Dispatch from multiple Dispatchers"
## Tool
Name: Dispatch - LUIS
Version: *1.5.1*
OS: *Windows 10*

## Describe the bug
Trying to create root dispatch from sub dispatches

## To Reproduce
Steps to reproduce the behavior:
1. Create LUIS and QnA models
2. Generate Dispatch from Step1
3. Create LUIS and QnA models
4. Generate Dispatch from Step3
5.Generate root Dispatch from Step2 and Step4

## Expected behavior
A root Dispatcher has

[2019-08-07 04:54] SreekanthOAuth commented on #1246
My Bad, the details not saved. So created another ticket for the same. You can find the link below for that ticket,

https://github.com/microsoft/botbuilder-tools/issues/1248

[2019-08-07 12:18] ionut-matei opened #1250 "Wrong JSON output when parsing intents with prebuild entities with roles and patterns."
## Tool
Name: Ludown
Version: 1.3.2
OS: Windows 10

## Describe the bug
Wrong LUIS application JSON file when parsing intents containing prebuild entities with roles and patterns.

## To Reproduce
Steps to reproduce the behavior:
1. Run the ludown parse command on this .lu file
[code]

2. The generated JSON file contains duplicate role names for the datetimeV2 entity
[code]

3. Trying to import th

[2019-08-07 21:00] Zerryth commented on #1248
Please note that the Bot Framework's GitHub repositories are for feature requests or as a means to file bugs. **For how-to questions, please post on [StackOverflow](https://stackoverflow.com/search?q=%23botframework), so the community could help you.**

___

If this is a question as to whether or not creating nested dispatches is possible, the TL;DR answer is: yes, it is possible. Dispatch allows

[2019-08-07 21:00] #1248 closed

[2019-08-08 00:01] Zerryth commented on #1250
@munozemilio repro'd the issue @ionut-matei was having, and get the same thing when I ran `ludown parse ToLuis --in ionut.lu` (I named my file `ionut.lu`)

In the `prebuiltEntities` value, it has "`to`" role duplicated twice

[2019-08-08 01:09] #1250 closed

[2019-08-08 02:17] SreekanthOAuth commented on #1248
Zerryth, thanks for providing steps.
We followed the same steps,
1. Created childDispatch
2. While creating rootDispatch
- dispatch init -n rootDispatch --luisAuthoringKey xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx--luisAuthoringRegion westus
- dispatch add -t luis --id A1xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxB1 -n childDispatch -v Dispatch --dispatch rootDispatch.dispatch
- dispatch create --dispatch rootDispatc

[2019-08-08 03:40] sgellock commented on #1227
@stevengum can you do some work to pinpoint where this is failing?  It's largely been routed without much help.

[2019-08-08 03:44] sgellock commented on #1230
@SpaceKatt thanks for opening the issue.  We'll take a look at it.  I would expect a fix to land in our 4.6 release (oct 31)

[2019-08-08 03:50] sgellock commented on #1220
@chrimc62 since your commit created the fun here, can you work on fixing this for me?

[2019-08-08 03:57] sgellock commented on #1162
Given the feedback from the team and no additional customer feedback, I'm closing this issue.

[2019-08-08 03:57] #1162 closed

[2019-08-08 04:03] sgellock commented on #836
msbot is deprecated.  we won't make any new fixes or changes to this tool unless they are Pro-0 (data lose or security related).

[2019-08-08 04:03] #836 closed

[2019-08-08 04:04] sgellock commented on #826
msbot is deprecated.  we won't add any new features and will on fix Pri0 bugs

[2019-08-08 04:04] #826 closed

[2019-08-08 04:10] sgellock commented on #733
We are working on design tooling that will aid in visually designing conversations and bots.  There will be some functionality in that tool that will start to address this feature request.

[2019-08-08 04:10] #733 closed

[2019-08-08 04:11] #725 closed

[2019-08-08 04:12] sgellock commented on #679
Thanks for opening an issue to call this out.  Given that we are investing a majority of our effort into growing the feature set in bf-cli, I won't address this issue.

[2019-08-08 04:12] #679 closed

[2019-08-08 04:13] sgellock commented on #620
msbot is deprecated.

[2019-08-08 04:13] #620 closed

[2019-08-08 04:14] sgellock commented on #618
we are investing a majority of our cli tooling energy into bf-cli.  as part of this investment, code coverage and unit test coverage is mandatory.

[2019-08-08 04:14] #618 closed

[2019-08-08 04:15] sgellock commented on #563
msbot is deprecated

[2019-08-08 04:15] #563 closed

[2019-08-08 04:16] sgellock commented on #497
msbot is deprecated

[2019-08-08 04:16] #497 closed

[2019-08-08 04:16] sgellock commented on #538
msbot is deprecated

[2019-08-08 04:16] #538 closed

[2019-08-08 04:17] sgellock commented on #340
bot files are deprecated.

[2019-08-08 04:17] #340 closed

[2019-08-08 04:17] sgellock commented on #384
bot files are deprectated

[2019-08-08 04:17] #384 closed

[2019-08-08 04:18] sgellock commented on #571
bot files are deprecated

[2019-08-08 04:18] #571 closed

[2019-08-08 14:49] tejasvinishelar commented on #1203
Thank you Stevan for your reply.
But this is not my problem.

**1]** I want to handle multiple intents for the same QnA maker in dispatch LUIS app.

While creating dispatch app we use below command:
dispatch add -t qna -i "QNA_ID" -n "KBNAME" -k "KBID" --intentName **name_of_intent**

Here **name_of_intent** will be the only one intent for full knowledge base in **dispatch LUIS app**.
How to distr

[2019-08-08 18:20] stevengum commented on #1227
Generating a token via `az account get-access-token` returns a token is ~1900 characters, which is well short of the 8000 characters noted in the original issue.

I'll see if I can get a reproduction with the VSIX for the Virtual Assistant.

[2019-08-08 21:32] vishwacsena commented on #948
The core issue here is that the commander CLI framework library does not work well with powershell.

Unfortunately the workaround for now is to not include trailing slashes or use cmd.exe or use cmd.exe within powershell.

We will continue to explore the possibility of moving to a different CLI framework in the future.

[2019-08-08 21:32] #948 closed

[2019-08-09 18:31] cleemullins commented on #1191
Thanks for reporting this. We've got PR #1255 that addresses this. This will release as part of the 4.6 release in October.

[2019-08-09 18:46] #1211 closed

[2019-08-09 19:38] mekinney commented on #1191
Thank you for the update.

[2019-08-09 19:39] #1191 closed

[2019-08-11 23:16] vishwacsena commented on #1234
Fixed via #1241

[2019-08-11 23:16] #1234 closed

[2019-08-12 15:34] ionut-matei opened #1258 "OrdinalV2 prebuild entity type not supported"
## Tool
Name: Ludown
Version: 1.3.2
OS: Windows 10

## Describe the bug
If I have a .lu file which contains an OrdinalV2 entity type, the _ludown parse toluis_ command fails.

## To Reproduce
1. Run the _ludown parse toluis_ command on this .lu file
[code]
2. The output will be
[code]

## Expected behavior
Parser needs to support ordinalV2 prebuilt entity type.

[2019-08-12 15:48] ionut-matei opened #1259 "Outdated luis_schema_version when parsing .lu file"
## Tool
Name: Ludown
Version: 1.3.2
OS: Windows 10

## Describe the bug
The JSON output from _ludown parse toluis_ command contains an outdated value for the _luis_schema_version_ property.
## To Reproduce
1. Run the _ludown parse toluis_ command on this .lu file
[code]
2. The generated JSON file contains an outdated value for the _luis_schema_version_ property. It should be 3.2.0, not 3.0.0
[code

[2019-08-14 10:04] xieofxie opened #1260 "unify ludown's output for different locales"
## Tool
Name: Ludown

## Describe the problem
Due to https://github.com/microsoft/botbuilder-tools/blob/master/packages/Ludown/lib/enums/luisbuiltintypes.js, some entities are ignored or renamed according to different locales.
However, it causes troubles in compiling apps for multiple languages (when used together with luisgen).

## Describe the solution you'd like
Always return all detected entit

[2019-08-14 21:01] stevengum opened #1261 "AZ CLI: Remove --version flag from az bot create"
## Information:
* Tools Libraries: Azure CLI

## Issue Description:
Remove `--version` from az bot create (users are only able to create v4 bots with the latest CLI so the flag doesn't add value)

The flag was originally left for future proofing for v5, but since there is no timeline for that, it's not necessary.

[2019-08-15 07:27] mbwatty opened #1266 "Luisgen not adding new KB to DispatchLuis.ts on mac"
#### What project is affected?
luisgen

#### What language is this in?
Typescript

#### What happens?
When trying to add a new knowledgebase to the dispatch model luisgen generates an empty DispatchLuis.ts file.

#### What are the steps to reproduce this issue?
I initially had issues getting luisgen working on my mac but this solved it [2075](https://github.com/microsoft/botframework-solutions/iss

[2019-08-15 18:00] sgellock commented on #1258
@ionut-matei thanks for creating an issue.  We'll work to get this addressed in our 4.6 release.  we are also doing work to add ludown functionality into our new bf-cli

[2019-08-15 18:28] sgellock commented on #1259
@ionut-matei thank you for opening the issue.  we'll work to fix this in our 4.6 release.

[2019-08-15 18:28] sgellock commented on #1259
@munozemilio @vishwacsena when we fix this lets put the fix into the Bf-CLI extension

[2019-08-16 15:40] #1229 closed

[2019-08-16 17:20] til10 commented on #1227
Group memberships seem to influence token size the most. The size can be under 2000 characters with relatively few entries in the 'groups' section.

[2019-08-16 17:54] #606 closed

[2019-08-16 17:58] #1258 closed

[2019-08-16 20:22] vishwacsena commented on #1260
This is by design. If you keep in-compatible pre-built types for a locale, then LUIS will throw an error when you try to import that model. e.g. with this lu content

[code]

And if you try to parse this to `culture=de-de`, ludown will skip geographyV2 today which is by design.

If ludown didnt do this, you wouldnt be able to import the model with geographyV2 configured for `de-de`.

[2019-08-16 20:22] #1260 closed

[2019-08-19 07:55] SreekanthOAuth opened #1265 "Create Root Dispatch from multiple Dispatchers"
For the previous conversation, please refer https://github.com/microsoft/botbuilder-tools/issues/1248.

thanks for providing steps.
We followed the same steps,
1. Created childDispatch
2. While creating rootDispatch
- dispatch init -n rootDispatch --luisAuthoringKey xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx--luisAuthoringRegion westus
- dispatch add -t luis --id A1xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxB1 -n chil

[2019-08-19 18:10] BruceHaley commented on #1219
completed

[2019-08-19 18:10] #1219 closed

[2019-08-19 18:21] axelsrz commented on #1265
Hey @daveta could you drive this please?

[2019-08-19 18:22] Zerryth commented on #1265
@daveta @axelsrz

I was actually able to repro the user's error this time around just now. Per @tsuwandy, writing email to LUIS team and including Kareem

[2019-08-19 19:21] Zerryth commented on #1265
Hi again @SreekanthOAuth!

Alright, so spoke to an authoritative voice on the LUIS team regarding the  "'Maximum number of references reached`" error. **Turns out that right now, that is the intended behavior; by design a dispatch app cannot be the intent of another dispatch app**.

And it seems that as for now, the nested dispatch scenario is not a feature that the team will implement at this tim

[2019-08-19 19:21] #1265 closed

[2019-08-19 23:35] #1259 closed

[2019-08-20 00:09] #1232 closed

[2019-08-20 00:09] vishwacsena commented on #1230
Closed via #1254

[2019-08-20 00:09] #1230 closed

[2019-08-20 11:46] darrenj commented on #1227
@til10 can you confirm the size of the token that you get when running `az account get-access-token`

For reference this is the command being used in the deployment script.

[code]

[2019-08-20 16:29] stevengum commented on #1227
@til10 for reproduction purposes, how many groups are you a member/owner of in AAD?

[2019-08-20 16:38] Zerryth commented on #1265
@SreekanthOAuth, there's an offline discussion about whether or not we should expand to more than 2-layer limit for Dispatch for our newer Adaptive Dialogs (which is currently in experimental phase).

In the discussion, the team was wondering, as a user, if the connected services portion was toggled out, ** if you minded not having the combined prediction at runtime (call resulting child LUIS app